[2020-05-20 20:32] #1850 closed

[2020-05-20 22:57] 1ntEgr8 commented on #1860
Just wanted to make sure I understand this:
if we have the following `startup`:
[code]
attempting to create a new alias `alias say-hi [] ....` should replace the one in the pipeline?

[2020-05-21 07:59] jonathandturner commented on #1860
Right. It can get pretty complicated to find all of them and also to change the one the user wants to change.  Are you thinking we should just not try to replace the ones in the example?  That could make sense I guess.

Just my feeling: for now, I think putting it last will have the effect: it will save that alias so they can use it later. It's not as fancy, but I think users could see it and unde

[2020-05-21 08:01] jonathandturner commented on #1847
I'd definitely like to see this.  I agree it's a bit odd that it's hard to go from rows back to a string.  Maybe we need a `to string` command.

[2020-05-21 08:01] Woomy4680-exe opened #1862 "Recursive delete works not for .git on Windows"
**Describe the bug**
Hello, on my Windows computer I have NuShell version 0.14.0. When I try to delete folders that contain a .git folder, it's impossible even with the `-r` options. I think the .git folder is the problem because if y try to do `rm -r $name/*`all folders is deleted but .git is not deleted.
**To Reproduce**
Steps to reproduce the behavior:
1. Clone any git repository
2. try to use

[2020-05-21 08:09] elichai commented on #1795
FYI, How do I pass multiple variables to `with-env`?

[2020-05-21 12:34] bwinton commented on #1847
This might be scope creep, but it may also be interesting to have `to txt` take the separator as a flag (defaulting to `\n`), so you can smush everything on one line if that's what you wanted to do…

[2020-05-21 13:17] filalex77 commented on #1862
Reproduced on Windows 10 Pro (10.0.18363.836).

<details>
<summary>Testing logs</summary>

[code]

</details>

Seems like with `repo/*` can't delete `.git`, and with `--trash` flag it works.

[2020-05-21 13:20] filalex77 commented on #1843
https://github.com/kkawakam/rustyline/pull/389 was merged. Do we wait for a release?

[2020-05-21 13:27] filalex77 commented on #1859
Seems like `winget` only supports `exe`/`msi`/`appx` installers for now.

Issues to watch:
- https://github.com/microsoft/winget-cli/issues/194
- https://github.com/microsoft/winget-cli/issues/182
- https://github.com/microsoft/winget-cli/issues/140

[2020-05-21 13:35] thegedge commented on #1843
I think so, @filalex77. As soon as they have a new release we can simply bump rustyline and voila ✨

[2020-05-21 14:24] fdncred commented on #1843
How do we talk them into making a release? It looks like it's been a while since there has been one.

[2020-05-21 14:34] thegedge commented on #1843
Looks like the last release was a month ago, which isn't too bad. @jonathandturner do we have a contact on the rustyline to look into getting a release out soon, perhaps before our next release?

[2020-05-21 15:09] empath-75 opened #1864 ""command not found" when any "from" or "to" command"
**Describe the bug**
just installed from homebrew:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Configuration (please complete the following information):**
 - OS (e.g. Windows):
 - Nu version (you can use the

[2020-05-21 15:13] filalex77 commented on #1864
In Nushell 0.14.0, `from-*` and `to-*` commands became subcommands, e.g. `from *` and `to *`. See [0.14.0 release announcement](https://www.nushell.sh/blog/2020/05/12/nushell_0_14_0.html#breaking-changes-renaming-some-commands-jonathandturner-andrasio).

[code]

[2020-05-21 15:16] thegedge commented on #1864
@empath-75 was there some documentation that referenced a `from-*` or `to-*` command?

[2020-05-21 15:28] filalex77 commented on #1856
Reproduced on Windows 10, Nu 0.14.0. `git` icon changed.

<details>
<summary>Testing logs</summary>

[code]

</details>

[2020-05-21 16:06] thegedge commented on #1793
Nothing at the moment, but this shouldn't be too difficult to either a) add to the `battery` crate, or b) disable in nushell until someone does (1) 🙂

[2020-05-21 22:52] ikopysov commented on #1862
It seems that's because there were some files flagged as read-only.
This can be reproduced by creating any file and marking it as "read-only" using the properties of the file.

Full test steps:
Create the file, and make it read-only
[code]

Now try to remove it in nu without flags: `rm test_file`
Result: `Could not delete <file_path>`
Add --trash flag and try again: `rm --trash test_file`
Result `

[2020-05-22 06:05] lightclient opened #1867 "`if-cfg` dependency conflict with new rustyline"
`Rustyline` [recently migrated](https://github.com/kkawakam/rustyline/commit/89a7930f5b65d1a5e5c104129d55ff359d4a729e) to `dirs-next` from `dirs`. This has created a conflict between `rustyline`'s `dirs-next` which is pinned to `=0.1.9` of `if-cfg` and `nushell`'s `ichwh` which requires `^0.1.10` of `cfg-if`.

[code]
It seems like there are a few routes that could be taken:

1. Ping the maintainer

[2020-05-22 06:08] lightclient commented on #1867
^^ It looks like someone is already requesting it be bumped to `0.1.10` and there is a PR that will hopefully be merged: https://github.com/xdg-rs/dirs/pull/26

[2020-05-22 13:48] fdncred opened #1868 "Error launching NuShell via CodeLLDB extension in vsCode"
**Describe the bug**
I get this when trying to debug code in vscode using CodeLLDB. I'm not sure how to troubleshoot this.
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Open nushell folder in vscode
2. Hit F5 in vscode

**Expected behavior**
I expect it to launch nu.exe so I can step into code.

**Screenshots**
N/A

**Configuration (please complete the following information):**
 - OS

[2020-05-22 14:13] #1831 closed

[2020-05-22 14:40] Kelli314 commented on #941
I'd like to work on this.

[2020-05-22 15:11] bltavares commented on #512
I have just faced this limitation today, and the workaround felt a bit wasteful, reading the table twice. It was a small `csv` file, but I wonder how it would deal if it was bigger.

I'm posting to document the workaround in case someone faces this need of deriving column data.

[code]

[2020-05-22 15:57] thegedge commented on #512
👍

I could see the `insert` command being updated to support a block, which would then make it equivalent to the `insert-dependent-column` mentioned in the original description.

@andrasio do you know if there's a better alternative at the moment, than what @bltavares described?

[2020-05-22 16:18] filalex77 commented on #941
Hey @Kelli314, sorry - I didn't see your comment when I started working on #1869.
Please feel free to add any input on my PR - I'd be more than happy to add you as a co-author.
Sorry once again, didn't mean to steal it from you 😅

[2020-05-22 17:09] Kelli314 commented on #1806
I'd like to work on this

[2020-05-22 17:33] Kelli314 opened #1870 "Mutually exclusive Signature switches"
It doesn't look like the Signature implementation currently allows for defining mutually exclusive arguments. For example, in #1869 the `rm -t` and `rm -p` switches should never be specified together as one sends files to trash and the other removes them permanently.  The alternative solution is to just do manual error checking in the related functions, but it would be nice to have this built-in.

[2020-05-22 17:58] thegedge commented on #1806
There you go, @Kelli314.

[2020-05-22 18:04] thegedge commented on #1870
Great idea!

One nice side effect of doing this kind of thing, though, is that we could paint flags in an error state (e.g., `--trash` would be coloured red if one already provided `--permanent`).

Let's put this on the side for now, though, but try to keep track of some examples (like what you provided) of cases where a `Signature` may want to handle constraints on flags. The reason for this is t

[2020-05-22 20:55] thegedge commented on #941
I've thought about this more, and I don't think we should do this. Should we add a config value so that `ls` is always `--full` by default? Maybe `which` should always have `--all`? You can see where I'm going with this. By adding a config value here, we're setting a precedent, which I think is the wrong one.

So what _should_ we do?

What I'd really love to be able to do is alias an builtin comma

[2020-05-23 01:12] #1806 closed

[2020-05-23 01:59] klnusbaum commented on #1798
#1873 for initial them JSON shape support

[2020-05-23 09:11] jzaefferer commented on #1826
@thegedge since you added that checklist - where in 'Nushell' should this get documented?

`help config` doesn't have a list of available config variables - maybe that's the part that's missing?

[2020-05-23 13:09] filalex77 commented on #1771
I'll check what I can do.

[2020-05-23 14:09] #1867 closed

[2020-05-23 14:09] lightclient commented on #1867
Fixed with https://github.com/xdg-rs/dirs/pull/32

[2020-05-23 18:25] thegedge commented on #1771
I'll assign it to you, @filalex77, so that people know you're looking into it. Let me know if you want to hand it off to someone else 🙂

[2020-05-23 18:26] thegedge commented on #1826
I was thinking here: https://github.com/nushell/nushell/blob/ae8c8649345b85c05fe69c210fedbc1f7417ce76/docs/commands/config.md

Looks like it's already done!

[2020-05-23 18:26] #1826 closed

[2020-05-23 18:51] JosephTLyons commented on #1771
I was working on this at one point.  I gave up because though I had it doing case insensitive sorts for columns with strings, as soon as I’d do a sort-by that had any non-string columns, it would blow up.  The way I coded it, I didn’t have a good way around it.  So yeah, make sure to try some sort-bys that include non-string columns to ensure it still sorts normally on those.

[2020-05-23 22:50] notryanb opened #1877 "Windows - Error piping string values with multi-byte characters into stdin of external process"
**Describe the bug**
The test `takes_rows_of_nu_value_strings_and_pipes_it_to_stdin_of_external` is consistently failing on my Windows machine, but not my MacOS machine. This particular test case is piping the string `Andrés` into `chop`, but `Andrés` is being omitted.

I was able to verify this by writing the `line` variable seen [here](https://github.com/nushell/nushell/blob/master/crates/nu-cli

[2020-05-24 00:08] #1603 closed

[2020-05-24 11:16] shaaraddalvi commented on #1176
HI @thegedge, I have gone ahead and tried to fix this as a first contribution. I am pretty new to Rust and nushell both, so feedback is welcome! 😄

[2020-05-24 11:53] Br1ght0ne opened #1881 "Implement OpenAutoComplete for command completions"
**Is your feature request related to a problem? Please describe.**
- There should be a standard way for external commands to provide completions to Nu.
- All Nu commands/plugins should provide completions

**Describe the solution you'd like**
Implement [OpenAutoComplete](https://github.com/openautocomplete/openautocomplete) in Nu.
This would allow for both external commands *and* Nu commands/plugi

[2020-05-24 17:07] thegedge commented on #1881
We definitely need to think more broadly about completions.

I figure @jonathandturner and @wycats have stronger opinions here than me, but here's my two cents worth right now:

- OAC is incredibly immature, so it's hard to say if it will be a good fit for nushell. My major concern is that it's likely being modeled in the context of existing shells, and nushell is trying to be something totally di

[2020-05-24 17:48] shaaraddalvi commented on #1784
I can give it a try if that's fine! :smile:

[2020-05-24 19:41] filalex77 commented on #1881
@thegedge Thanks for a detailed answer! I definitely agree with your points.

 Should I keep this issue open as a reminder until later?

[2020-05-24 20:25] jonathandturner commented on #1784
@shaaraddalvi - yup, I'll assign it to you

[2020-05-24 21:37] mardukbp opened #1882 "Add min and max commands"
They take a column as input. Similar to `average` and `sum`.

[2020-05-24 21:55] jonathandturner commented on #1882
@mardukbp - this sounds good.

Any interest in trying to work on the idea, too?

[2020-05-24 22:11] #1354 closed

[2020-05-24 22:13] thegedge commented on #1881
It's not a bad idea to keep this on our radar, so let's keep it open 🙂

I'll add the `investigate` tag.

[2020-05-24 23:04] mardukbp commented on #1882
Yeah, I will take a look at the implementation of average and try to implement these functions myself.

[2020-05-24 23:26] #1795 closed

[2020-05-24 23:31] DangerFunPants opened #1883 "`sum` doesn't handle mismatched types correctly"
**Describe the bug**
`sum` doesn't handle mismatched types correctly.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Nu should report an error indicating that the user attempted to sum two values for which the sum operation is not defined. Instead Nu treats the non-numeric values as an inverse for add (i.e. forall v \in  `Value`, v + t = 0 where t is a non-numeric

[2020-05-24 23:34] jonathandturner commented on #1882
@mardukbp sounds good. If you have any questions, feel free to ask here or in the discord.

[2020-05-24 23:39] thegedge opened #1884 "Arbitrary args/flags argument for aliases"
**Is your feature request related to a problem? Please describe.**

Currently there's no way to specify a "variable arguments" or "variable flags" argument in an alias.

**Describe the solution you'd like**

[code]

In the above, `$args` could potentially be any flags or arguments that `ls` supports. This makes for easier alias development.

I think we may need a special syntax for this, so the ab

[2020-05-24 23:41] thegedge opened #1885 "Ability to explicitly request running an internal command"
**Is your feature request related to a problem? Please describe.**

If we were to alias a builtin command, it would be recursive (I think?):

[code]

**Describe the solution you'd like**

Just like we have `^ex` to force running an external command, some kind of syntax to force a builtin command would be useful.

**Describe alternatives you've considered**

I can't think of any alternative for thi

[2020-05-24 23:41] thegedge commented on #941
I've created https://github.com/nushell/nushell/issues/1884 and https://github.com/nushell/nushell/issues/1885 to work towards the suggestion above. I think those are the key pieces that are currently missing.

[2020-05-25 00:03] thegedge commented on #1883
I joined the project after decisions were made here, but I have a hunch to the answer here. `Value` is the main piece of data used as part of the nu protocol. It's what internals and plugins use to communicate. Plugins unfortunately can't return a `Result` 🙂

That being said, there's no reason we couldn't have something special for plugins (e.g., an enum with either a value or the error), and inte

[2020-05-25 05:34] shaaraddalvi commented on #1176
Should we close this issue?

[2020-05-25 05:53] JosephTLyons opened #1887 "Provide VS Code debug support for Nushell"
**Is your feature request related to a problem? Please describe.**
I would love to be able to use VS Code to debug Nushell code.  It is mostly currently possible, aside from an error thrown by Nushell:

[code]

**Additional context**

Here is the the way I set up VS Code in order to debug Nushell/Rust code:

1. Open the Nushell project in VS Code
2. Install [Rust Analyzer extension](https://market

[2020-05-25 15:11] thegedge commented on #1176
Ah, yes. Closed by https://github.com/nushell/nushell/pull/1880

[2020-05-25 15:11] #1176 closed

[2020-05-25 15:35] mardukbp opened #1889 "Implement from-x509"
**Use case**
Nushell can be used as a tool for inspecting X.509 certificates, providing a more efficient interface than `openssl`.

**Describe the solution you'd like**
Using the `native_tls` crate one can import DEM- and PER-formatted X.509 certificates without requiring a third-party C library. The resulting string has to be parsed as a nested structure of Nu Shell-tables.

**Describe alternativ

[2020-05-25 15:57] mardukbp opened #1890 "Implement from and to functions for bibliographic formats"
**Is your feature request related to a problem? Please describe.**
The citation information for scholarly articles is made available by journal publishers using different data formats, like RIS and BibTeX. Article authors need a simple and effective tool for converting between these formats, batch processing, etc. This is where Nu Shell comes in.

**Describe the solution you'd like**
The [nom-bibt

[2020-05-25 15:58] thegedge commented on #385
I can see one of two approaches:

1. Allow this character to be configured.
2. Have some command that acts as an escape (e.g., other shells have `builtin` and `command`).

I don't have a strong opinion on configuring the syntax dynamically, so I'm uncertain about (1).

(2) should be possible.

[2020-05-25 16:06] thegedge opened #1891 "Inconsistencies in parse plugin"
**Is your feature request related to a problem? Please describe.**

`parse` currently has two inconsistencies:

1. `{{` will escape an opening curly brace, but there's no symmetry with a closing brace (always a single `}`).
2. `--regex` yields all non-overlapping results in the source string, but the "simple" mode will only do a full match.

**Describe the solution you'd like**

For (1), I think a

[2020-05-25 16:13] mardukbp opened #1892 "Implement from and to functions for email formats"
**Is your feature request related to a problem? Please describe.**
Sometimes one needs to extract attachments from an Outlook .msg file or an Apple Mail .mbox file.
Nu Shell could be the tool for doing that and more.

**Describe the solution you'd like**
The [mailbox](https://github.com/meh/rust-mailbox) crate parses emails stored in MBOX format. The [mailparse](https://github.com/staktrace/mailpa

[2020-05-25 18:19] #1857 closed

[2020-05-25 20:51] JosephTLyons opened #1893 "Discuss the Possibility of Adding a Mechanism to Allow Colors to be Applied to Data"
**Is your feature request related to a problem? Please describe.**
In some commands, being able to apply color to the data may be desired.  Specifically, this came up in the discussion of how to show the current day in the `cal` command (some details [here](https://github.com/nushell/nushell/issues/1740)) and the idea of providing some way to color the data came up.  I think this could be useful i

[2020-05-25 21:28] fdncred commented on #1893
@JosephTLyons Hopefully we can make these configurable parameters. Maybe a specific `[colors]` section in the `config.toml` with something like `app`:`key`:`color`.
Example:
[code]

[2020-05-25 21:32] JosephTLyons commented on #1893
That seems like a good idea.

[2020-05-25 22:50] #1877 closed

[2020-05-26 11:34] thegedge opened #1896 "Improve architecture of nu-cli"
`nu-cli` has a lot of coupling, which makes it hard to make certain kinds of changes without changing large portions of the codebase. I'd like to investigate the existing structure and find ways to improve our architecture.

- [ ] Graph existing coupling between structures / modules.

<details>
<summary><b>Previous description</b></summary>
`nu-cli` is quite a large crate. I envision it to be ligh

[2020-05-26 14:06] schoetbi opened #1898 "Break out of long running command with CTRL+C"
I did `open 200MbFile.dat`. It ran very long and pressing Ctrl+C did not work. I did not find a way to get back to the command prompt.

For me pressing CTRL+C would be the most natural way.

[2020-05-26 14:16] thegedge commented on #1898
Yeah, we have Ctrl-C in some places and not in others. We probably want it everywhere, ideally in a way that Just Works™ for most commands (that lazily compute values in the pipeline).

[2020-05-26 17:44] thegedge commented on #1896
I've tossed around this decomposition in my head, and instead of worrying about whether or not it's perfect, I figure it's best to have some kind of decomposition. It'll be easy to merge crates into others if we think they're too small or it's a pain to maintain so many.

[2020-05-26 18:03] thegedge commented on #1896
Just learned from @jonathandturner that we're publishing all of our subcrates. Given that, I think the crates themselves should be useful on their own, and I don't think the decomposition I gave above achieves that.

I'll instead switch this issue to better decoupling our existing modules in `nu-cli` so that a future crate refactor will be far simpler.

[2020-05-26 19:03] #1764 closed

[2020-05-26 21:49] JosephTLyons commented on #1844
I pretty much have this working, but I may need a bit more guidance before it is finished up.  Unless anyone objects, I could officially take this issue.

[2020-05-27 04:52] #1844 closed

[2020-05-27 05:17] JosephTLyons commented on #1898
I just finished working on adding ctrl+c support for the `du` command here, https://github.com/nushell/nushell/issues/1844, so since its fresh in my mind, I could probably take this one.

[2020-05-27 08:04] jonathandturner commented on #1898
This is related to https://github.com/nushell/nushell/issues/1448

The issue is that the current open is synchronous and does not stream blocks of data through the pipeline.  Ideally, `open`, `fetch`, and `post` would all stream their contents into the pipeline just like external commands do.  This would allow use to not only process them incrementally, but also to allow for ctrl-c breaking.

[2020-05-27 15:40] elichai commented on #1565
Another related feature request is passing a UNIX timestamp as an input to `date` so it will print it in human readable time

[2020-05-27 17:57] devurandom commented on #1565
Thanks for that suggestion. I extended my proposal with an example of how this could look like.

[2020-05-27 18:07] Yam76 opened #1906 "Can't reopen saved toml file"
**Describe the bug**
`open` fails to parse a toml file saved with `save`.

**To Reproduce**
Steps to reproduce the behavior:
1. `ls | get modified | save temp.toml`
2. `open temp.toml`

e.g.
[code]
**Expected behavior**
Toml file is correctly parsed.

**Configuration (please complete the following information):**
 - OS (e.g. Windows): Using WSL, Ubuntu.
 - Nu version (you can use the `version` com

[2020-05-27 20:59] filalex77 commented on #1906
As you can see with `open --raw`, an array of strings gets saved to the TOML file. TOML actually doesn't support any top-level data structure except a table, so the resulting file is not valid.

Behaviour of `open` is thus as intended, but `save` should've given you an error trying to save a top-level array into a TOML file.

I'll create a separate issue for this fix.

[2020-05-27 21:05] filalex77 opened #1907 "`save` allows arbitrary top-level values in TOML"
**Describe the bug**
Split from #1906.
`save` shouldn't allow writing any top-level values other than a table to a TOML file, and should give a proper error message.

**To Reproduce**
Steps to reproduce the behavior:
1. Construct a value other than a table (e.g. `ls | get modified` is an array of strings)
2. `save` the value to a TOML file
3. Try to `open` the resulting file, get an error.

**Expe

[2020-05-28 01:04] JosephTLyons commented on #1898
Ahhh, I didn’t realize the issue was more involved, I suppose I should leave this one for someone who knows what they are doing here.

[2020-05-28 17:24] he4d commented on #1734
I would like to implement this!

[2020-05-28 18:16] Cykooz opened #1909 "Error: Unable to read from stdout (incomplete utf-8 byte sequence from index 8191)"
[code]

This command stuck after I run it. The error shown above has appeared after I press Ctrl+C.

----
Ubuntu 19.10
Nushell 0.14.0

[2020-05-29 04:26] arashout commented on #1744
So I looked a little bit into this and since I'm new to the project I'm not quite sure what the correct next steps for the implementation should be:
I see the [`parse_filenames` function](https://github.com/nushell/nushell/blob/fbc0dd57e956e03ea2ccb77d88eceb42c11cc3ec/crates/nu_plugin_start/src/start.rs#L45)
And I think if I could somehow expand the globs then just pass the filenames to that funct

[2020-05-29 04:37] jonathandturner commented on #1744
@arashout we use the `glob` crate. If you look for `glob::glob`, you should find some examples.

[2020-05-29 04:43] arashout commented on #1744
Okay I was looking into another issue, and I see we already use a globbing library

[2020-05-29 08:00] jonathandturner commented on #1909
@Cykooz - are you able to share the "data.csv" file you're reading from?

[2020-05-29 08:48] Cykooz commented on #1909
@jonathandturner
[data.zip](https://github.com/nushell/nushell/files/4700674/data.zip)

[2020-05-29 23:22] #1734 closed

[2020-05-30 05:05] JosephTLyons commented on #1800
I suppose that if this sort of idea was considered, there would need to be an inverse function to take data within some columns and push it into a nested structure somehow.  If your goal is to be able to pull nested tables out directly into a table to manipulate it, you maybe want to be able to put it back to its original structure.  I can see situations where a user would be bringing some nested

[2020-05-30 06:28] arashout commented on #1907
I'm going to try and tackle this

[2020-05-30 06:36] arashout commented on #1887
That error message comes from the [`table.rs`](https://github.com/arashout/nushell/blob/d0f17bbe5893d8534f9551a03bd5c2eaad95045a/crates/nu-cli/src/format/table.rs#L406)

I'm not familiar enough with nu to think about possible workarounds or solutions.
Does it work if you comment out that line? I guess you just would not have any outputs for tables

[2020-05-30 18:31] #941 closed

[2020-05-30 18:48] arashout commented on #1744
I believe this can be resolved after my PR @thegedge , please give it a try when you get a chance

[2020-05-30 21:08] jgtaylor opened #1922 "chars in output that shouldn't be"
**Describe the bug**
On Debian, trying to parse dpkg-query output with:
[code]
produces output with the $ (dollar sign):
[code]
In bash/ksh, (without the lines, split-column, etc,) the output is as follows:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  run: `sudo dpkg-query -W -f='${Package}#${Version}\n' | lines | split-column -c "#" package version`

**Expected behavior**
Expecte

[2020-05-31 22:03] thegedge commented on #1744
Works for me. Great work, @arashout!

[2020-05-31 22:03] #1744 closed

[2020-06-01 06:37] jonathandturner commented on #1922
@jgtaylor - before you do the `split column`, can you show what the output looks like? That could help us see what might be going wrong.

[2020-06-01 10:58] jgtaylor commented on #1922
`sudo dpkg-query -W -f='${Package}#${Version}\n' | lines`
produces:
... snipped ...
[code]
And without the `lines`:
[code]

[2020-06-01 17:21] jonathandturner opened #1925 "`str to-float` should probably be `str to-decimal`"
**Is your feature request related to a problem? Please describe.**
We should keep our naming consistent where possible. The recent `str to-float` should probably called `str to-decimal` to keep with the naming convention for decimals in other parts of the project.

**Describe the solution you'd like**
Rename the sub-command to `to-decimal`

**Describe alternatives you've considered**
We can keep i

[2020-06-01 17:50] jonathandturner commented on #1925
@routrohan yes! will assign it to you

[2020-06-01 17:52] routrohan commented on #1925
Thank you @jonathandturner
could you please specify the location of the sub-command?
like the file/ directory name?

[2020-06-01 17:56] jonathandturner commented on #1925
If you search for `to-float`, you'll see the places that will need to change:

[code]

[2020-06-01 18:01] andrasio commented on #1925
@routrohan You may want to rename the file `to_float.rs` as `to_decimal.rs`, too. Then, in that same directory `str_` find the file `mod.rs` and rename the re-export `StrToFloat` to `StrToDecimal`. Continue with the replacement on `StrToDecimal` as well in the files at `crates/nu-cli/src/commands.rs` and `crates/nu-cli/src/cli.rs` and you should be ready to go.

Don't forget to run the tests (`car

[2020-06-01 18:04] routrohan commented on #1925
@andrasio Alright! will do

[2020-06-01 19:03] routrohan commented on #1925
It has been done. I am open to other basic fixes / contributions if needed.

[2020-06-01 19:29] andrasio commented on #1925
@routrohan Great! Are you in the Discord chat btw?

[2020-06-01 19:36] routrohan commented on #1925
No
I would love to join for more opportunities

[2020-06-01 19:48] IovoslavIovchev opened #1927 "Implement history navigation with j and k when in vi mode"
**Is your feature request related to a problem? Please describe.**
Currently, when `vi` mode is enabled, the `j` and `k` keys are not used for navigating the command history. While the arrow keys do the job, it would be more comfortable if the `j` and `k` keys could be used as well.

**Describe the solution you'd like**
- Pressing `j` does the same thing as arrow key down.
- Pressing `k` does the

[2020-06-01 20:49] johnterickson commented on #1925
Haha I just asked about this morning - glad to see it making progress!

[2020-06-02 02:06] JosephTLyons commented on #1925
https://github.com/nushell/nushell/pull/1926

[2020-06-02 02:35] jonathandturner commented on #1925
It does, thanks for the reminder

[2020-06-02 02:35] #1925 closed

[2020-06-02 15:47] trolleyman opened #1929 "Garbled output on Windows when ls is run in C:\"
**Describe the bug**
When I run `ls` on Windows in `C:\`, the result appears garbled

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to `C:\`
2. Run `ls`
3. Garbled output

**Screenshots**
Garbed output:
![image](https://user-images.githubusercontent.com/4435960/83540531-631a5d80-a4f0-11ea-9127-3c55173a6999.png)

![image](https://user-images.githubusercontent.com/4435960/83540725-96

[2020-06-03 13:53] thegedge commented on #1922
If I had to guess, this is similar to https://github.com/nushell/nushell/issues/1439. Fix one bug, introduce others 😭

[2020-06-03 13:55] thegedge commented on #1929
I thought we recently made `ls` always include the size column, but maybe I'm wrong there.

There's also the issue with the `sys` files not having any type.

[2020-06-03 17:52] kubouch opened #1933 "Starship symbols not showing properly"
[EDIT: Adjusted the description to match the actual problem after installing emoji fonts]

**Describe the bug**
Starship launched from within `nu` has a different icon for Git branch than `starship` launched from a terminal.

**To Reproduce**
Steps to reproduce missing git branch symbol:
1. `git clone https://github.com/nushell/nushell.git`
2. cd nushell
3. see the screenshot

**Expected behavior*

[2020-06-03 18:00] jonathandturner commented on #1929
There may be some improvements in master, but I tried a recent master and still seeing some of this behavior where a column is left out.

I wonder if we should updated TaggedDictBuilder to take the columns first, so that it will automatically fill Nothing in for you if you don't provide it.

[2020-06-03 18:32] jgtaylor commented on #1922
for what it's worth (though, it may be an entirely separate issue) - when one `| to json` or `| to yaml`, the `\n` is printed as well.

e.g.
[code]

[2020-06-03 23:50] samhedin commented on #86
I would like to give this a try, if it's alright!

[2020-06-04 06:52] jonathandturner commented on #86
@samhedin - please do! Feel free to reach out on discord if you have questions or want to brainstorm.

[2020-06-04 07:45] kubouch commented on #1864
@thegedge In [Quick command references](https://www.nushell.sh/documentation.html#quick-command-references) the from*/to*  commands are still listed with dashes `-`. It confused me as well.

[2020-06-04 08:31] jonathanpallant opened #1935 "Can't run winget (or other WindowsApps)"
**Describe the bug**

Running `winget` or `python` or any other EXE from the `%APPDATA%\Local\Microsoft\WindowsApps` directory produces `error: Command not found`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a nushell
2. Enter "winget"
3. Get error

**Expected behavior**

winget should run.

**Screenshots**

![image](https://user-images.githubusercontent.com/18005923/83733613-adf9b9

[2020-06-04 12:33] IovoslavIovchev commented on #1927
This is actually something that `rustyline` offers out of the box, however the feature is currently only available on the latest master, as it was committed after v6.1.2 was released.

[2020-06-04 12:47] daschl opened #1936 "Allow to clear history"
I tried to implement `history --clear` which clears out the history file, but it wasn't as easy as I thought. Truncating the file int he history command is not enough, since after some digging I saw that the history is managed in rustyline and it just writes back the history afterwards.

Unfortunately I was not able to get access to rustyline from the history command itself, so I'm creating this t

[2020-06-04 13:32] jonathanpallant commented on #1935
This is apparently a "reparse point".

[code]

[2020-06-04 13:36] jonathanpallant commented on #1935
Sorry, just to add, see also https://devblogs.microsoft.com/python/python-in-the-windows-10-may-2019-update/

[2020-06-04 13:41] thegedge commented on #1864
👍 I can see two things we could improve here:

1. Update the documentation (what I think will close this issue), and
2. maybe try to implement a "did you mean" message whenever a command is not found.

How does that sound?

[2020-06-04 13:46] thegedge commented on #1927
Oh, great to hear. Then that means we can wait until the next release of rustyline, bump it in nushell, and call it a day 🙂

[2020-06-04 13:52] thegedge commented on #1935
From that data, looks like a fancy kind of symbolic link. My hunch is that we can simply execute `winget`, we just need to improve the "can I execute this?" check in `classified/external.rs`.

[2020-06-04 17:14] IovoslavIovchev commented on #1927
Yep, I guess this can be closed now.

[2020-06-04 17:34] thegedge commented on #1927
I'll keep it open as a reminder to bump rustyline asap.

[2020-06-04 18:34] jonathandturner commented on #1927
Bumped, should be working in master. If it isn't, please let us or rustyline know.

[2020-06-04 18:34] #1927 closed

[2020-06-04 21:01] jonathandturner commented on #1843
We've updated to the latest rustyline, so this should be fixed now. I'll go ahead and close.

[2020-06-04 21:01] #1843 closed

[2020-06-04 21:31] stuartclayman opened #1939 "Character encoding in files with open and save"
I have had some issues with a file recently.   I spent ages on it until I realised the real issue.

I have a big CSV file which uses ';' separators, so I was hoping that nushell would be useful.
But when I tried to process it in any way I got strange messages:

[code]

When I tried to just open it

`❯ open nilg.csv  --raw `

I got this:

[code]

After a bit of scratching around I tried this:

[cod

[2020-06-04 21:34] andrasio commented on #1939
@stuartclayman THANK YOU. I faced this exact problem and stop digging into it. We figured it was an encoding issue.

[2020-06-04 22:00] andrasio commented on #1939
@stuartclayman If your data is not sensitive or if you have other ways to provide us a file like it. Can you supply it to us so we can download and investigate?

[2020-06-04 22:21] stuartclayman commented on #1939
Here is the file.  It's zipped up as CSV is not a supported file type apparently.

Note there are not so many special characters, but this is an example person name to look out for:
Cllr,Caoimhín,Mac Giolla Mhín
    see the special í

[nilg.zip](https://github.com/nushell/nushell/files/4732957/nilg.zip)

[2020-06-04 22:29] stuartclayman commented on #1939
Having thought about it some more, I think that the current default way of showing such a file as 'binary' is not correct.
It would be better to send it onto the pipeline as text, and have the special characters shown as \0xED or \xED.
That way

[2020-06-04 22:38] stuartclayman commented on #1939
Still trying .....

Anyway I found a half way solution.  This works for me:

`❯ iconv -f iso-8859-1 -t utf-8 nilg.csv | from csv --separator ';' `

but you do need iconv to be installed

[2020-06-04 23:22] jonathandturner commented on #1939
Seems like we should add iso-8859-1 support to `open` and to the `MaybeTextCodec` (or better yet, have open use the codec, so we can share the codec across all input streams)

[2020-06-05 08:16] jonathanpallant commented on #1935
This Python thread seems relevant too: https://bugs.python.org/issue37834

[2020-06-05 08:54] aborruso opened #1941 "Is it possible to use nu command from another shell?"
Hi,
probably this is a stupid question: if I'm in example I use zsh, is it possible tu run something like `nu ls | pivot`? If yes, how to do it?

Thank you

[2020-06-05 09:07] stuartclayman commented on #1939
For generality you should do more than just iso-8859-1.
Also have the same options in `save`

I did a bit of searching.   It seems this package has the necessary functionality  [https://github.com/lifthrasiir/rust-encoding](https://github.com/lifthrasiir/rust-encoding)

Then we can do:
`open nilg.csv --encoding iso-8859-1 | some_processing | save new_file.csv --encoding windows-1252`

Dealing with

[2020-06-05 09:51] kubouch commented on #1864
1. Just removing `-` from the doc is the most straightforward. However, I've been thinking that since _subcommands_ are now a thing, perhaps the quick reference could only list _commands_ to avoid clutter. _Commands_ like `from` or `to` could have a small `+` next to them where you could unroll its _subcommands_. Or an asterisk indicating they have _subcommands_ which would be listed on the _comma

[2020-06-05 12:30] thegedge commented on #1941
Yep, you can use `-c` to use nushell to run a pipeline:

[code]

Two other ways are via stdin (I think this works):

[code]

or in a script:

[code]

[2020-06-05 12:32] thegedge commented on #1864
+1 for this. To start, we could just make all the subcommands render on the page for the root command, later adding the `[+]` to expand on the index page (depending on how much work is involved to do that).

Yep, I think we have a crate that does "did you mean" functionality, so I'm thinking it could be easy to adapt. The only problem is that we don't collect all external executables, so we could

[2020-06-05 13:02] aborruso commented on #1941
Great, thank you

[2020-06-05 13:02] #1941 closed

[2020-06-05 13:14] aborruso opened #1942 "Linux installation using pre-built binaries"
Hi,
is it ok to install it using Linux pre-built binaries?
Unzip it and put the output in the PATH is it the right way to install it via binaries?

I'm asking it because in the documentation there is not this kind of installation for Linux and maybe it is not recommended.

Thank you

[2020-06-05 13:22] fdncred commented on #1942
I think the key on any operating system is to have all the executables in your path and it should work. We recommend certain ways to install but there are certainly other ways, as you suggest.

[2020-06-05 13:50] aborruso commented on #1942
Thank you very much @fdncred

Can I do a PR and add this way also for a generic linux disto?

[2020-06-05 13:50] #1942 closed

[2020-06-05 14:01] fdncred commented on #1942
Sure. Thanks.

[2020-06-05 16:05] arashout commented on #1887
Odd, just tried this and I can't reproduce it.
My debug seems to work fine, thanks for the detailed write-up on the process because I actually didn't know the debugging worked in Rust yet!

[2020-06-06 00:22] chipbuster commented on #1933
Hey @kubouch, starship maintainer here.

Do you have an [emoji font](https://wiki.archlinux.org/index.php/fonts#Emoji_and_symbols) like ttf-joypixels or noto-font-emoji installed? This seems to be the most common issue with emojis on Arch--they aren't packaged into the rest of the system fonts like they are in other places.

[2020-06-06 06:56] kubouch commented on #1933
Yes, I didn't have an emoji font installed. That solved the missing boxes. However, nu still shows a book instead of a branch icon:
![starship_bug_emoji](https://user-images.githubusercontent.com/25571562/83938294-a4a25580-a7db-11ea-81b8-0a90472238ef.png)

[2020-06-06 08:17] chipbuster commented on #1933
Hmm, that's strange. The powerline fonts use a reserved area of the Unicode spec, so there shouldn't be *wrong* emojis.

Have you modified `alacritty.yml` at all? If so, could you post the contents of `alacritty.yml` here?

[2020-06-06 08:49] kubouch commented on #1933
I don't recall touching alacritty config. I deleted the local config file just to be sure and the problem still persists, also on a different PC.

[2020-06-07 04:25] JosephTLyons commented on #1523
This seems to be resolved

[2020-06-07 16:37] jonathandturner opened #1948 "Licenses we use"
**Describe the bug**
We currently don't know the licenses we transitively use. It'd be good to have a way to collect these for the current snapshot of Nu.

**To Reproduce**
Steps to reproduce the behavior:
1. Build Nu
2. Sit in confusion wondering what the actual license is for that binary

**Expected behavior**
Having a list of the licenses used so that someone who consumes Nu for other projects

[2020-06-07 17:24] jonathandturner commented on #1948
Looks like there are some `cargo` plugins for this, like: https://crates.io/crates/cargo-about

[2020-06-07 17:52] fdncred commented on #1948
Summary from my local fork. At least it's a good inventory to start with. Now, we just need to decide what is good and what is bad, if any.
![Screen Shot 2020-06-07 at 12 48 15 PM](https://user-images.githubusercontent.com/343840/83976111-962c6a80-a8bd-11ea-9e34-0c3c416ee773.PNG)

[2020-06-08 00:03] chipbuster commented on #1933
Hmm, I'm at a loss then. Powerline uses the private area of the Unicode space for symbols, so it shouldn't be misinterpreted like that, but the only thing I can think of is that it's somehow incorrectly interpreting the emoji alongside some other escape.

Could you confirm that this still happens in a different terminal emulator (say, something VTE-based?) If so, then I'm unfortunately out of idea

[2020-06-08 00:13] jonathandturner opened #1950 "Argument invocation needs more context"
**Describe the bug**
I'm seeing an issue where if I run `shells` directly, I see two rows, but if instead I run:

[code]

I only see one row

**To Reproduce**
Steps to reproduce the behavior:
1. Have two directory shells
2. In the 0th shell, do `echo $(shells)`

**Expected behavior**
This should list all shells

**Configuration (please complete the following information):**
 - OS (e.g. Windows): W

[2020-06-08 04:18] jonathandturner commented on #1950
Figured out the root issue not didn't do a fix, yet. Invocation starts with a fresh Context, which means we can't see the current shells

[2020-06-08 12:12] invis87 commented on #1101
don't work for me. Nu version 0.14.0

[code]

[2020-06-08 12:30] kubouch commented on #1933
I tried Termite, same issue.

[2020-06-08 12:35] kubouch commented on #1933
Actually, from a Discord discussion I now recall that Nushell uses its own icon set so that's probably why it shows different icons.

So probably not an issue after all but I still keep it open as it might be a good point to add to the documentation (along with installing emoji fonts).

[2020-06-08 14:19] thegedge commented on #1523
☝️ yep, verified it works

[2020-06-08 14:19] #1523 closed

[2020-06-08 14:21] quebin31 commented on #1733
Shouldn't be clearer and shorter to be `bench` instead of `benchmark`?

[2020-06-08 14:29] thegedge commented on #1733
I think `bench` is less clear when considering an ESL (english as a second language) perspective, so I'd rather stick to full words and people can always alias to shorter names, if they so desire 🙂

Another option is `time`, which is pretty common in shells (and there's a `/usr/bin/time` on a lot of UNIX-y platforms).

[2020-06-08 18:52] quebin31 commented on #1733
Yea, I guess `time` would be even better, but it's clearly open to consensus.

[2020-06-08 21:13] chipbuster commented on #1933
I think the emoji font thing should be documented on the Starship side as well--you're not the first person to have this issue, and I doubt you'll be the last.

[2020-06-09 03:10] arashout commented on #1907
@thegedge I think I have resolved this in my PR

[2020-06-09 13:10] fdncred commented on #1882
It would be nice to combine all these math plugins into one so one could do `ls | get size | math sum` or something like that. But that would probably take it from a `good first issue` to something more complicated.

[2020-06-09 13:48] thegedge commented on #1907
Closed by https://github.com/nushell/nushell/pull/1946

[2020-06-09 13:48] #1907 closed

[2020-06-09 17:29] arashout commented on #1882
currently I don't think average is a plug-in, it was recently moved I think.
Either would I would be interested in working on this, I was looking into this issue previously as well.
Maybe after I figure out how to do min/max I can work on making a plug-in to combine them all?

[2020-06-09 18:11] fdncred commented on #1882
@arashout I'm cool with that or even if you and @mardukbp want to combine efforts in some way. I'd just like to declutter the bin folder. the more plugins we have the slower starting up nushell will be - although that speed has been radically increased lately.

[2020-06-10 06:14] taylorthurlow opened #1957 "Quotes in external command string parameter being escaped when they shouldn't be"
Using string command parameters (`--thing="value"`) is escaping the quotes in the value.

**To Reproduce**
[code]
Note the double quotes surrounding the `--git-dir` parameter in the second example.

**Expected behavior**
Both examples are functionally the same - I should be able to surround the string with quotes, and they should not be escaped (included as part of the value itself).

**Configurat

[2020-06-10 06:31] HarrisonB opened #1958 "User-definable custom keybindings to run arbitrary commands"
Bash and other shells allow custom keymappings to run specific programs. E.g. I have <kbd>CTRL</kbd>+<kbd>T</kbd> set up to run a function that pipes `fd` into `fzf`.

It doesn't appear that this is currently possible to configure by an end user.

I'm not sure how this configuration would be managed--it could be a new command (e.g. like `alias`) or saved via `config`.

I don't know if there are an

[2020-06-10 09:45] ottosson opened #1959 "Gets Coercion error when using "where" in system folders on Windows"
**Describe the bug**
When running the command ls | where size > 0, or ls | where type == Dir I get "Coercion error". Seems to happen in system folders and not regular folders.

**To Reproduce**
Steps to reproduce the behavior:
1. just run the command ls | where size > 0 on a windows machine in C:\ root or any system folder.

**Expected behavior**
Should work the same as in any other folder.

**Scr

[2020-06-10 15:41] mackinleysmith opened #1960 "Support switching Ruby versions using RVM or similar"
**The problem**

I am loving nushell and would very much like to use it as my default shell. One of the final barriers in my way is that I cannot seem to get the RVM installation on my machine to work within nushell.

When I run `rvm list`, I can see my installed Rubies:
[code]

Ruby 2.5.1 is clearly selected when I open a fresh terminal with nushell:
[code]

However, if I try to _set_ my current

[2020-06-10 22:12] ghost opened #1962 ""open", the -g flag "Do not bring the application to the foreground""
**Is your feature request related to a problem? Please describe.**
when i open links in my rss reader (which is a terminal application, by the way), sequentially, one by one, every time my browser pops up, and i have to click the terminal with the rss reader in order to continue to use it and open the next link. i would like this flag to behave the same as it does on macos. when it is used on maco

[2020-06-10 22:21] #1962 closed, assigned to nobody

[2020-06-10 22:53] arashout commented on #1882
Also for the overarching plug-in name, what about `stats`?

[2020-06-10 22:57] jonathandturner commented on #1882
Agreed with @fdncred that something like min/max wants to be built-in internal commands I think.

As for the name of the command, I'm starting to wonder if we want to start a `math` command. That'd give you `math min`, `math max`, `math average`, etc.  @arashout `stats` could also work, though when I first read that I thought it meant stats on the file rather than mathematical statistics.

[2020-06-10 23:00] arashout commented on #1882
Okay I'll stick with `math`.
I'm working on getting the max plugin working right now

[2020-06-10 23:19] smit1625 commented on #1960
Okay I think you're onto something there, @sollyucko.

Trying to follow the instructions to set up per-directory environment variables, I think the guide may be missing an ending square bracket for its example command, `config --set [nu_env_dirs ["/home/sam", "/home/sam/github", "/home/sam/github/test"]`. However, even with that square bracket in place and some manual adjustments made, I still can

[2020-06-10 23:24] jonathandturner commented on #1960
@smit1625 to see into the values of the current environment, use `$nu.env` instead of `config`.  The former is the current variables and their values, and the latter is the environment that's been saved into the permanent storage via `config`.

In theory, you should be able to do:

[code]

And see the new value.

[2020-06-10 23:55] smit1625 commented on #1960
@jonathandturner that's pretty slick, but still unfortunately does not find `SOMETHING_NEW`.

[code]

[2020-06-11 06:45] nprindle opened #1963 "Can't start nu if config file is readonly"
**Describe the bug**

If the `config.toml` file is readonly, then nushell fails to start.

**To Reproduce**

Steps to reproduce the behavior:
1. Create an empty `~/.config/nu/config.toml`
2. Remove write permissions, e.g. `chmod -w ~/.config/nu/config.toml`
3. Try to start `nu`

Sample output:
[code]

**Expected behavior**

`nu` should be able to start normally even if it can't write to the config

[2020-06-11 13:12] thegedge commented on #1963
Sounds like we're trying to write to the config file on boot 🤔

[2020-06-11 13:22] thegedge commented on #1936
I'm worried that `CommandArgs` has already grown too big, so maybe there's something else we can do.

I haven't thought about this too deeply, but I'm thinking a good direction would be to make `HistoryManager` an attribute of the `History` command struct, which we can then supply here: https://github.com/nushell/nushell/blob/3bb2c9beedc1feff72b08ebb28467957c00c2f70/crates/nu-cli/src/cli.rs#L255-L

[2020-06-11 15:26] larry0220 opened #1964 "Question in math mode"
nushell version: 0.14.0

❯ = 2 / 2 / 2
0.5

❯ = 2 / 2 / 2 + 1
0.3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333

[2020-06-11 15:30] uberjay commented on #1885
Other shells typically use the `builtin` builtin for this. e.g.,
[code]

[2020-06-11 15:37] smit1625 commented on #1960
Okay, here's a few more discoveries to throw onto the pile.

I hadn't realized how new this per-directory environment stuff is (released 3 days ago). I was previously on 0.14.0, and have now upgraded to 0.15.0 which is the one with the per-directory env feature.

Upon upgrading, I found that my `config --path` changed from `/Users/mackinley/Library/Application\ Support/nu/config.toml` to `/Users/m

[2020-06-11 16:54] jntrnr opened #1965 "Added security for per-directory environment"
**Is your feature request related to a problem? Please describe.**
From Reddit, someone mentioned some additional security we could put on per-directory environments to harden them a bit further.

" Without that, it won't pick up the .nu-env file

I would be also check that file is not writable (and may be even not readble) by group and others. Like ssh do for some files inside ~/.ssh"

From: http

[2020-06-11 17:00] jonathandturner commented on #1964
Wow, good catch. A bit embarrassing :)

Looks like we were missing a line that was causing us to forget the last operator we save, so we missed that addition as lower precedence. I've put a fix in #1966

[2020-06-11 17:17] #1964 closed

[2020-06-11 17:50] #1963 closed

[2020-06-11 18:12] jonathandturner commented on #1960
@smit1625 - admittedly a bit confusing, the current list syntax will not properly handle the commas. We really should fix that.

So yeah, the last thing you show is correct, without using any commas.  That looks right to me.

With that, are you able to us a .nu-env in those directories to get further?

[2020-06-11 18:34] ErikDeSmedt commented on #1936
I see your point in avoiding to extend the `CommandArgs` because it is already quite big. However, I have been struggling a bit to come up with a good solution.

### Naive Approach
The main challenge is that `rustyline::Editor` should be aware of all changes to the history. A naive approach is to create a `HistoryManager` which carries a mutable reference to `rustyline` which is used to send the u

[2020-06-11 21:24] philip-peterson opened #1968 "Shell quoting seems broken"
**Describe the bug**
I was attempting to create a file with a newline in it, because while such situations have plagued shell scripts with bugs for years, nushell seems like with its structured data setup, might be able to handle it well. Unfortunately I found out there's seemingly no way to create a newline without using a literal newline character (what about other non-printables like 0x02 in a

[2020-06-11 22:13] smit1625 commented on #1960
Unfortunately no. Here's my `.nu-env`:
[code]

And still,
[code]

[2020-06-11 22:34] jonathandturner commented on #1960
@smit1625 - just to verify. After you added directories to the allowed list in the config, did you also restart `nu`?

[2020-06-12 00:03] smit1625 commented on #1960
Yes, that was from a fresh shell.

[2020-06-12 00:37] #1939 closed

[2020-06-12 07:38] arashout commented on #1906
Can be closed I believe @thegedge
I addressed issue 1907, which maybe addresses the root cause of this one?

[2020-06-12 08:47] samhedin commented on #1965
This is a good idea. It shouldn't be more work than confirming file permissions before opening the file, I guess?

I would like to make a PR with this change along with other code changes I have been working on, but I don't know if I'll have time to finish those other changes this coming week (or if they end up being sensible at all). If not, I'll just make a PR with this alone unless someone else

[2020-06-12 10:38] coolshaurya commented on #1731
Shouldn't this be closed as it has been resolved by #1852 ?

[2020-06-12 10:50] coolshaurya commented on #1731
Shouldn't this be closed as its been fixed by #1852 ?

[2020-06-12 15:03] thegedge commented on #1936
@ErikDeSmedt "Alternative implementation" looks good to me. You can simplify it further by only using an `Arc<AtomicBool>` (like what we use for `ctrl_c`).

[2020-06-12 15:12] thegedge commented on #1906
Error message could perhaps be improved with more specifics, but I think you're right @arashout:

[code]

[2020-06-12 15:12] thegedge commented on #1906
Closed by https://github.com/nushell/nushell/pull/1946

[2020-06-12 15:12] #1906 closed

[2020-06-12 15:13] thegedge commented on #1731
Not sure if we have the "extra", but we can also open another issue for that 🙂

[2020-06-12 15:13] thegedge commented on #1731
Closed by https://github.com/nushell/nushell/pull/1852

[2020-06-12 15:13] Kelli314 commented on #1832
I'd like to work on this

[2020-06-12 15:16] thegedge commented on #1965
We could also take the approach that direnv and many other similar technologies take: a "trust" subcommand for some other thing:

[code]

That would update the config for the current directory with a timestamp and/or hash of the file contents. If it differs from the current values, we don't "source" it. The benefit here is that it may be more compatible when nushell is integrated with systems that

[2020-06-12 15:17] thegedge commented on #1832
There you go, @Kelli314. It's yours 🙂

[2020-06-12 15:35] fpatwa commented on #1585
I would like to work on this issue - could you please assign it to me? Thanks!

[2020-06-12 16:40] fdncred commented on #1935
Can we just check `FileType` and use it? Reparse is mentioned several times here but I'm not sure how to use it https://github.com/rust-lang/rust/blob/c354509343b0a3a9b935cc18b2d4aa07da8d4261/src/libstd/sys/windows/fs.rs

[2020-06-12 16:47] jonathanpallant commented on #1935
[code]
[code]

[2020-06-12 16:50] jonathanpallant commented on #1935
2147483675 is 0x8000001B which is IO_REPARSE_TAG_APPEXECLINK (https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-fscc/c8e77b37-3909-4fe6-a4ea-2b9d423b1ee4). So you could call symlink_metadata, check for that, and if you find it ... then ... umm .. throw it at `CreateProcessW` (https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessw)?

[2020-06-12 16:59] jonathanpallant commented on #1935
Hmm, actually `std::process::Command` handles this just fine:

[code]

[code]

[2020-06-12 19:02] jonathandturner commented on #1585
@fpatwa - sure thing, it's yours

[2020-06-12 19:43] fdncred commented on #1935
Looks to me like `which::which(name).is_ok()` is failing to find it. So, we're not even getting to try and execute it here in `external.rs`.
[code]

[2020-06-12 21:50] steven807 commented on #1847
I spent quite a while today trying to figure out how to take `ls | get name` to output a single line.  (For 30+ years, I've had `l` alias to `echo *` in bash/csh/etc -- I like the compact output).  It finally occurred to me to just say `alias l [] = { ^echo * }`.
I'd love to stay within `nu` and just say `ls | get name | to txt ' '` (per @bwinton's above suggestion)

[2020-06-12 22:49] andrasio commented on #1847
Does that `format` or interpolation work for you?

Try?:

[code]

or string interpolation

[code]

[2020-06-12 22:53] andrasio commented on #1847
@steven807 `ls | format "{name}"` / `ls | format "{$it.name}"` / `ls | echo `{{$it.name}}`` /

[2020-06-12 23:13] steven807 commented on #1847
These don't seem to put the output on a single line for me (version `0.15.0`).  It seems to be exactly the same as `ls | get name`, i.e. a table with one file per line.

[2020-06-13 00:50] bwinton commented on #1847
Doesn't seem like they do.

That returns a table of 30 blank lines…

That returns "\`{{$it}}`".

¯\\\_(ツ)\_/¯

[2020-06-13 09:45] HiranmayaGundu commented on #1732
Hey @jonathandturner ! I'd like to learn Rust, and wanted to do that by contributing here and picking this issue up. I've been exploring the codebase and my understanding is that you want a test case in `crates/nu-cli/tests/commands/cd.rs` ? And the test case should do the following:-
[code]
And then assert that it echos "some text"?

[2020-06-13 15:57] samhedin commented on #1965
Yes, that approach sounds good too. Is that how https://direnv.net/ does it?

[2020-06-13 17:21] avsej opened #1977 "nushell corrupts the history"
nushell overwrites the history file instead of appending commands from current session.

Steps to reproduce

1. reset history `truncate -s 0 ~/.local/share/nu/history.txt`
2. start `session #1` (I'm using `kitty` as emulator): `kitty target/debug/nu &`
3. start `session #1` kitty target/debug/nu &`
4. in `session #1` type `echo first`, and exit
5. in `session #2` type `echo second`, and exit
6. ou

[2020-06-13 19:18] jonathandturner commented on #1960
@samhedin - do you know what might be causing this issue?

@smit1625 - you're using a macOS setup? Trying to guess from the paths, but not 100% sure

[2020-06-13 20:17] samhedin commented on #1960
I am also thinking that this might be a macOS thing. Do we know if anyone has been able to run this on mac?

If you set an environment variable through the env var in the config file, the one listed here: https://www.nushell.sh/book/en/configuration.html - does it work?

Maybe we can make this into a separate issue and try to figure out when it happens? I sadly have no way to access a mac, so I ca

[2020-06-13 20:20] pka commented on #1960
I'm having the same problem on Linux. I'll debug a bit.

[2020-06-13 20:20] samhedin commented on #1960
Exciting times!

[2020-06-13 20:23] jonathandturner commented on #1960
For folks helping us debug what's going on:

Key logic lives in: https://github.com/nushell/nushell/blob/master/crates/nu-cli/src/env/directory_specific_environment.rs

Specifically, is this .nu-env file opened correctly, and can the variables be seen?  Here's where the variables are read in: https://github.com/nushell/nushell/blob/master/crates/nu-cli/src/env/directory_specific_environment.rs#L12

[2020-06-13 20:29] samhedin commented on #1960
Advice if you want to try some things out, inside `environment.maintain_directory_environment` there are three main sections - one to delete vars, one to restore vars, and one to add vars.
If your issue is vars not being added, I suggest commenting out the other two sections.

Also for good measure, you can hardcode a call to add an environment variable in that function.
`self.add_env("test_env_va

[2020-06-13 20:55] pka commented on #1960
`env_vars_to_add` is not called when I `cd` to my test dir . `sync_env_vars` gets called, but `environment.env()` (line 47) seems to be None.

[2020-06-13 21:25] pka commented on #1960
@samhedin are there other infos that would help you?

[2020-06-13 21:45] samhedin opened #1980 "directory specific env vars not always being added"
**Describe the bug**
Some users are reporting issues with having directory env vars not being applied.

**To Reproduce**
Trying to figure out how to reproduce

**Expected behavior**
Environment variables in .nu-env should be applied

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Configuration (please complete the following information):**
 - OS (e.g. Windows): Iss

[2020-06-13 21:48] fdncred commented on #1929
@jonathandturner, @thegedge My vote, for file system listing, is that we should have a fixed number of columns for `ls` and another set of fixed columns for `ls -f`, per platform, and then populate `Unknown` where nu doesn't have permissions or whatever is going on. Not to get on a soapbox or anything but, for me, this greatly affects the usability. I also relate this to reading csv files where th

[2020-06-13 22:01] samhedin commented on #1980
@samhedin are there other infos that would help you?

_Originally posted by @pka in https://github.com/nushell/nushell/issues/1960#issuecomment-643680407_

Interesting that environment.env() is None - if this means that the environment was created with the use of `Environment::new()` then there is the issue. The environment needs to be created
with the use of `Environment::from_config` to make use

[2020-06-14 00:30] krooq commented on #291
I totally agree with @jeffparsons and @tfga.
I'm also not sure why @Southclaws comment got a thumbsdown, the implications of what he said isn't obscene, its no different to using something like `awk` or `python` or even a binary.

One of my first comments to @jonathandturner was expressing my desire for scripting but I think I have matured since then and see that there are probably better, more re

[2020-06-14 06:51] arashout commented on #1882
@jonathandturner Can be closed

[2020-06-14 07:02] #1882 closed

[2020-06-14 08:49] mardukbp commented on #1882
Thank you @arashout!

[2020-06-14 09:10] jonathandturner commented on #291
@krooq - we still definitely see Nu as a full language. The root of it is that we want to make an interactive language, like a *truly* interactive language that's intended to allow developers to explore their systems, data, files, services, whatever, in real-time. And preferably, in a relaxed, enjoyable way.

Like @tfga points out, this means the language has to feel natural inside the shell. It's

[2020-06-14 18:56] ErikDeSmedt commented on #1977
The history is managed using the `rustyline`-crate. It might be a better to fix this in the `rustyline` instead.

[2020-06-14 19:08] thegedge commented on #1965
Yep, looks like it stores an "allow" file with a hash of the file contents:

https://github.com/direnv/direnv/blob/5f56f8dea66623dd05a85c9711e5a99f63194be5/rc.go#L42

[2020-06-14 23:06] fdncred commented on #1909
A couple interesting things here.
1. That it's exactly 8191, which on a 0 indexed file is 8192 aka exactly 8k.
2. That byte's text is on row 161 and looks weird.
`259318,2020-03-01T11:46:36.774000+00:00,,–ò–†–ò–ù–ê-HP (Windows 10) v1.9.3.16` (with mac roman encoding)
`259318,2020-03-01T11:46:36.774000+00:00,,╨ÿ╨á╨ÿ╨¥╨É-HP (Windows 10) v1.9.3.16`(with cp437 encoding)
`259318,2020-03-01T11:46:36.774

[2020-06-15 00:47] jonathandturner opened #1985 "Regression: `ls` without permissions causes error"
**Describe the bug**
I fixed some warnings in `ls` as I moved it away from async_stream, and I suspect I broke how `ls` would list files even if the permissions weren't available.

**To Reproduce**
Steps to reproduce the behavior:
1. `ls` inside a directory with permission restrictions, like C:\Windows on Windows

**Expected behavior**
We should do a full listing and skip or blank-out things we do

[2020-06-15 06:34] Cykooz commented on #1909
The example CSV-file is a text with UTF-8 encoding.

[2020-06-15 07:55] schoetbi commented on #290
I saw that the git branch is displayed in the command prompt but when I enter git checkout branch_name_start and press Tab nothing happens. Is Git branch completion implemented?

[2020-06-15 08:11] jonathandturner commented on #290
@schoetbi not yet, but it's something we'd like to add

[2020-06-15 13:19] samhedin commented on #1965
Great, I'll get to it!

[2020-06-15 17:18] arashout commented on #1332
I can start looking into this

[2020-06-15 17:37] jonathandturner commented on #1332
@arashout - great, it's yours

[2020-06-15 17:49] arashout commented on #1332
I think the issue is the output we get from Serde on the line `value: {{ index .Values "aad-pod-identity" "azureIdentity" "clientID" | quote }}`
e.g. If I put a print statement at [this point](https://github.com/arashout/nushell/blob/d7b1480ad04e5deb43728a69b3bc399a63188044/crates/nu-cli/src/commands/from_yaml.rs#L95)
`println!("{:?} -> {:?}")`
I get this:
`"value" -> Mapping(Mapping { map: {Mappi

[2020-06-15 17:52] casidiablo opened #1987 "Regression on parsing"
**Describe the bug**

This used to work:

[code]

Now I get:

[code]

**Expected behavior**

It should work

**Configuration (please complete the following information):**
 - OS (e.g. Windows): NixOS
 - Nu version: 0.15.0

[2020-06-15 17:58] jonathandturner commented on #1987
I suspect the `(` needs to be properly escaped before we call out to `jq`. If that's what it is, the fix shouldn't be too bad.

I'll flag this as "Good First Issue". If someone picks this up and turns out it's more complicated, just tag me and we'll figure out what it is.

[2020-06-15 18:10] smit1625 commented on #1960
Sorry for going dark there, I was traveling this weekend. It is indeed happening on macOS for me and I'm happy to test things on this machine.

@samhedin yes, my config.toml specifies several env vars inside the `[env]` section and those get loaded just fine. It's just the per-directory ones that don't get set.

[2020-06-15 18:47] samhedin commented on #1960
@smit1625 @pka
If you have tho time, could you open `environment_syncer.rs` and change `new()` to look like this:

[code]

Try again with that version installed. Does it work now?

[2020-06-15 19:17] pka commented on #1960
@samhedin: environment.env() in sync_env_vars still None for me.

[2020-06-15 19:18] pka commented on #1960
@samhedin : I would be available for a debgging session for the next hour...

[2020-06-15 19:20] samhedin commented on #1960
Are you on the nushell discord https://discord.com/invite/NtAbbGn ?
Send me a message there and we can talk, both over voice and chat. I'm JustSam

[2020-06-15 22:58] arashout commented on #1332
I have a PR doing option 1

[2020-06-15 23:36] arashout opened #1989 "Make`sum` a sub-command of `math`"
**Describe the bug**
Currently to sum numbers, you call
`echo [1 2 3] | sum`
However, after this PR: https://github.com/nushell/nushell/pull/1969, there is a `math` command which contains the `min`, `max` and `average` sub-commands.
Used like so:
`echo [1 2 3] | math max`

I think it would make sense to move `sum` to be a `math` sub-command.

**Expected behavior**
`sum` should be a sub-command of

[2020-06-16 01:05] bailey-layzer commented on #1987
@jonathandturner I'm new to this project (and Rust) and took a run at this. It looks like jq expects the argument quoted, but the quotes (single or double) are stripped off by the new parser here:
https://github.com/nushell/nushell/blob/831111edec221fddb2549f079170c3451e06a8cb/crates/nu-parser/src/parse.rs#L565
I "fixed" this by just cloning `lite_arg` into `trimmed` and commenting out this line (

[2020-06-16 03:00] JosephTLyons commented on #1989
I could take a crack at this.

[2020-06-16 07:12] schoetbi commented on #290
@jonathandturner This is great.

Another question: It seems that the completion for e.g. filenames works with tab. Instead when a command from the history is shown as a suggestion the completion is done with the key "arrow right" Why is there this difference?

[2020-06-16 13:04] ProgrammingLife opened #1991 "Failed to install nu with cargo"
Trying to install nu with: `cargo install nu` command but failed with the error message:

[code]

What do I do wrong?

**Configuration (please complete the following information):**
 - OS: Linux Mint 19.1
 - Nu: the latest
- Cargo: 1.41.0
- rustc: 1.41.0

[2020-06-16 17:09] jonathandturner commented on #290
@schoetbi - these settings come from [rustyline](https://github.com/kkawakam/rustyline), which we use to do the line editing. There may be a way to configure the keybindings. It's something we still need to explore futher.

[2020-06-16 17:09] jonathandturner commented on #1991
@ProgrammingLife - you'll need to update your `rustc` to the latest stable version. They recently fixed the limits to make it work better with async Rust code.

[2020-06-16 17:17] samhedin commented on #1960
@pka seems to have figured out the reason for this.
It happens if there is no env-section in `.config/nu/config.toml`.
This results in
[code]
returning `None`, which completely skips running the code for dealing with directory specific environment variables. I will add it to the list of things to fix.

For now, it seems like it is enough to add `[env]` to the bottom of `config.toml` to make the pr

[2020-06-16 17:34] thegedge commented on #290
Follow https://github.com/nushell/nushell/issues/1958 for updates on any progress on user-configurable key bindings 🙂

[2020-06-16 19:24] ErikDeSmedt commented on #1936
I tried walking the path of inserting a history-manager here

https://github.com/nushell/nushell/blob/3bb2c9beedc1feff72b08ebb28467957c00c2f70/crates/nu-cli/src/cli.rs#L255-L257

but got stuck.

The idea is that we change the `History` command so it hold an `Arc<Bool>`. To edit this atomic bool I need a mutable reference to it. However, the `run`-function has the following signature.

To clear the

[2020-06-16 19:53] thegedge commented on #1936
Hey, @ErikDeSmedt. You shouldn't need a mutable reference, as the signature of [`store`](https://doc.rust-lang.org/std/sync/atomic/struct.AtomicBool.html#method.store) only needs a `&self`. Does that help?

[2020-06-16 20:32] arashout commented on #1985
What is the problem?
Mine seems to work okay?

![image](https://user-images.githubusercontent.com/10860860/84825149-d71b3200-afd5-11ea-8ac3-04b1d6e0f308.png)

[2020-06-16 20:34] jonathandturner commented on #1985
Hmm, I can't repro it. I'll close and re-open if I can find a repro

[2020-06-16 20:47] fdncred commented on #1985
@jonathandturner `ls -f \Windows`
![image](https://user-images.githubusercontent.com/343840/84826511-a8f31d80-afe8-11ea-8026-5ea939b7688f.png)

[2020-06-16 20:50] thegedge commented on #1985
Looks like another case of having a `Nothing` when we can't get metadata:

https://github.com/nushell/nushell/blob/49b0592e3c509e4ada038f4cd7088e845305405b/crates/nu-cli/src/data/files.rs#L71-L85

[2020-06-16 20:59] jonathandturner commented on #1985
As a side thought: we should stuff an empty column in there if it's not available rather than not having the column.  That would allow the table to stay aligned.

[2020-06-16 20:59] jonathandturner commented on #1985
Lol, what @thegedge said :D

[2020-06-16 21:12] fdncred commented on #1948
Windows `less.exe` uses MIT found [here](https://github.com/jftuga/less-Windows/blob/master/LICENSE)

http://www.greenwoodsoftware.com/less/download.html#binaries

[2020-06-16 21:15] fdncred commented on #1929
Related to #1985

[2020-06-16 23:02] jonathandturner opened #1994 "Redo the animated gif in the README"
**Is your feature request related to a problem? Please describe.**
The current gif is ancient :)

**Describe the solution you'd like**
A fresh, new gif that show the last look and features

**Describe alternatives you've considered**
Leaving it seems... less good, but that's an option

**Additional context**

https://github.com/nushell/nushell/blob/master/images/nushell-autocomplete.gif

[2020-06-16 23:09] arashout commented on #1332
@jonathandturner can be closed

[2020-06-16 23:41] pontaoski opened #1995 "Split monorepo structure into multiple repos"
Currently, nu is a monorepo structure, which poses a problem for packaging. The major ones being:
1) Massive packages generally aren't fun to maintain (an extreme example is LaTeX)
2) Dependency autogeneration for multiple Cargo.tomls in a single repo becomes a hard task when Cargo.tomls interdepend on eachother
3) This can lead to impossible constraints for a package needing to build (e.g. when t

[2020-06-17 05:47] jonathandturner commented on #1332
@arashout thanks!

[2020-06-17 05:47] #1332 closed

[2020-06-17 07:56] arashout commented on #1989
Sounds good, let me know if you need any help!

[2020-06-17 09:10] chirao237 commented on #1936
I think that way is better because the plain `history` command can just iterate over the history directly rather than parsing the history file.

The problem is that `rustyline::Editor` is created after `History`

Would it be okay to create `History` in `cli` instead?

[2020-06-17 09:25] tionis commented on #1960
I'm experiencing the same problem, environment variables defined in config.toml in the [env] section work, but .nu-env doesnt. Also I tried to use an eval value in the environment variable and the shell refused to start.

[2020-06-17 10:32] ErikDeSmedt commented on #1936
I fully agree with @chirao237 that just iterating over the history is a good approach for the plain `history`-command.

I feel uncomfortable with instantiating the `History`-command in the `cli`-function. However, I do believe this is the best approach and I cannot come up with a nice alternative.

The approach in my [previous comment](https://github.com/nushell/nushell/issues/1936#issuecomment-64

[2020-06-17 10:37] samhedin commented on #1960
Hmm, I am happy that we added this early version of the code - it's been good to receive feedback and issue reports.
Something this has shown me is that this really needs some better errors, so we can exclude some potential issues right from the get-go.

Until then: How does your `config.toml` look, how does a `.nu-env` file look? What is your setup?

[2020-06-17 13:09] tionis commented on #1960
My .nu-env in /home/tionis looks like this:
[code]
My config.toml like this:
[code]

and i would like to be able to write a .nu-env like this:
[code]

[2020-06-17 13:18] smit1625 commented on #1960
The format of my setup matches the above. As far as I know, I can't put a second `[env]` into the config.toml file, so I don't think that is a solution that works for me. My config.toml has contained a `[env]` line the whole time.

[2020-06-17 13:26] samhedin commented on #1960
Hmm, No need to add extra `[env]` sections if there's one already there. Clearly something else is going wrong. There will be some changes to how all of this works anyway quite soon, partly because of https://github.com/nushell/nushell/issues/1965 and partly because I just re-wrote most things.
Is it alright if we let this issue be for now, and then see if it's still here when the new version is o

[2020-06-17 13:33] samhedin commented on #1960
No need to add an extra `[env]` section if it's already there. I am working on a new version, partly because of https://github.com/nushell/nushell/issues/1965, so maybe some of these issues will disappear by itself... Maybe. Is it ok if we let this rest for now, and then we can revisit it in the PR for the new version?

I hadn't even considered that you might want to evaluate vars like that in the

[2020-06-17 13:37] tionis commented on #1960
Yeah, I've been using this in ssh for a long time, as my ssh keys are encrypted and managed by gpg.
This is also very useful in combination with gnu/pass (or in my case gopass) to set environment variables without saving them in the clear somewhere.
Together with the .nu-env implementation this would make environment variables very dynamic and secure.

[2020-06-17 13:56] thegedge commented on #1936
Although I suggested it, the `Arc<RwLockrustyline::Editor>` unfortunately doesn't make sense when we're not in an interactive mode (e.g., `nu -c '...'`). Given that, I could see some other options being:

1. `AtomicBool`, clear when it's set to true (and reset after).
2. Some kind of enum / trait object (similar to `HistoryManager`). In this solution we'd have one for interactive (clears out rusty

[2020-06-17 17:29] jonathandturner commented on #1936
@thegedge - I think your 3rd point helps fix an on-going issue we're seeing, where multiple instances of the shell (like running one inside another) causes issues with the history as it ends up getting overwritten and you lost part of the history. If we reloaded the history before we saved what we had, we might have a chance to work around that issue.

This isn't to say it needs to all be part of

[2020-06-17 17:36] jonathandturner commented on #1995
@pontaoski - might be good to explore why your 3rd point happens, and how it's related to a monorepo. The case I'm thinking of: let's say we split up the monorepo into multiple repos. We'd keep the files we have now, without changing them, including the Cargo.toml files. Being in multiple repos doesn't change how the project is built, in that each sub-crate still builds itself and its dependencies

[2020-06-17 17:41] ErikDeSmedt commented on #1936
@jonathandturner I really like the idea of creating a new `LineResult`.

I'll try to that implementation and see how that works out

1. It is explicit and easy to implement.
1. It does not leak the `rustyline` to our commands and avoids decoupling.
1. It allows all commands to be instantiated in the same place
1. It does not require to extend `Context` or `CommandArgs`. In the `HistoryManager` and

[2020-06-18 01:13] JosephTLyons commented on #1989
Thanks, I started this the other day and feel like it isn't far, but I'm stuck a little bit.  Might take me a bit longer to figure a few things out.

[2020-06-18 03:51] JosephTLyons commented on #1702
Had a short conversation with someone who uses `jwalk` here in their application and they mention it being much faster than `walkdir`

https://github.com/imsnif/diskonaut/issues/20#issuecomment-645749574

Seems like another vote for `jwalk`

[2020-06-18 05:09] arashout commented on #1448
I would like to work on this because I want to learn more about Streams/Streaming.
I'll probably need lot of help with this

[2020-06-18 14:57] fdncred commented on #1935
Added PR https://github.com/harryfei/which-rs/pull/23 to support this functionality. Hopefully it gets accepted.

[2020-06-18 17:30] kstrohbeck commented on #1957
When processing a command, it looks like the [remove_quotes](https://github.com/nushell/nushell/blob/master/crates/nu-cli/src/commands/classified/external.rs#L462) function is used to remove quotes from arguments, but it only strips them from the outside. From testing, most other shells (testing PowerShell, sh, bash, csh, and zsh) allow quotes in any part of the argument to be stripped (so even so

[2020-06-18 22:12] andrasio opened #2000 "Make absolute value subcommand: math abs"
That takes the absolute value of the input.

Example: `echo [-1 -1] | math abs` => `[1 1]`. This issue is already assigned.

[2020-06-18 22:14] bedomax commented on #2000
👌

[2020-06-18 22:17] andrasio opened #2001 "Make mode subcommand: math mode"
`math mode` to get the value that [appears most often](https://en.wikipedia.org/wiki/Mode_(statistics)).

[2020-06-18 22:20] andrasio opened #2002 "Division by zero crashes Nu."
We need to report the ShellError error that a division by zero was attempted instead of letting Nu panic.

`= 10 / 0`

[2020-06-18 22:23] andrasio opened #2003 "Incorrect configuration file will crash Nu on startup."
If a manual change is made in the Nu configuration file that can be located at `echo $nu.config-path` and it's not valid `toml` format, Nu will panic.

We need to report an error instead and let Nu continue working.

[2020-06-18 23:42] bailey-layzer commented on #2002
I can give this a shot tomorrow.

[2020-06-19 00:15] andrasio commented on #2002
@bailey-layzer Great!

[2020-06-19 00:26] bedomax commented on #2003
👌

[2020-06-19 01:27] JosephTLyons opened #2005 "Add median documentation and tests to math command"
This PR added a new math subcommand for calculating medians:

https://github.com/nushell/nushell/pull/1999

The math command has its own set of documentation and its own testing structure and I think that math average should probably be added there in order to keep it consistent with the other math subcommands:

https://github.com/nushell/nushell/blob/master/docs/commands/math.md
https://github.co

[2020-06-19 02:02] #1989 closed

[2020-06-19 02:56] JosephTLyons commented on #2005
I'm adding a few things, including this, right now.

[2020-06-19 03:05] JosephTLyons opened #2006 "math median calculating incorrect answer"
**Describe the bug**

[code]

**Configuration (please complete the following information):**
 - macOS 10.15.5:
 - 15.1

[2020-06-19 03:15] JosephTLyons commented on #2005
On hold until this is done, as I'm adding examples and tests based around median and want the values to be correct:

https://github.com/nushell/nushell/issues/2006

[2020-06-19 13:22] fdncred commented on #1985
@jonathandturner You closed this. Does that means it's fixed?

[2020-06-19 18:34] jonathandturner opened #2009 "Rename `math average` to `math avg`"
**Is your feature request related to a problem? Please describe.**
The current `math average` is a bit long to type.

**Describe the solution you'd like**
 We already abbreviate `math min` and `math max`, so let's abbreviate average also to avg.  This would give us `math avg`.

**Describe alternatives you've considered**
We could keep it the full name and ask people to use aliases. Changing it has

[2020-06-19 21:31] jonathandturner opened #2013 "Bump `heim` dependency to 0.1.0-beta.3"
**Is your feature request related to a problem? Please describe.**
There are some bugfixes for macOS that we'd like to pick up. The fixes are in the latest heim. We just need to upgrade to get them.

**Describe the solution you'd like**
Update `ps` and `sys` to use the latest `heim`.

[2020-06-19 23:00] JosephTLyons commented on #2009
What about `math median` then?

[2020-06-19 23:07] amousa11 commented on #2001
I'd like to take a stab at this

[2020-06-20 04:47] JosephTLyons commented on #2006
https://github.com/nushell/nushell/pull/2016

[2020-06-20 04:47] #2006 closed

[2020-06-20 04:59] JosephTLyons commented on #2009
Closed by https://github.com/nushell/nushell/pull/2014

[2020-06-20 05:12] JosephTLyons opened #2020 "Insert Newline After a ctrl-c is Performed to Keep Table Formatted Properly"
**Is your feature request related to a problem? Please describe.**
I'm not sure if all commands do this, but some commands print a table after performing a ctrl-c.  This is likely what Nu has already calculated.  After the ctrl-c is performed, and before the table is printed, `^C` is inserted into the terminal on the first line of the table.  This throws the table formatting off:

[code]

**Descri

[2020-06-20 05:14] JosephTLyons commented on #2020
I was directed to look here, but I wasn't able to figure it out:

https://github.com/nushell/nushell/blob/b0c30098e423fcfdbdcb1f5f987fe2a1b8f76ef0/crates/nu-cli/src/cli.rs#L698

[2020-06-20 05:15] JosephTLyons commented on #1771
@filalex77, curious if you are still interested in doing this.  If so, by all means, if not, I could take another stab at it.

[2020-06-20 05:28] #2005 closed

[2020-06-20 07:36] filalex77 commented on #1771
@JosephTLyons Thanks for asking. I'll be busy for a week or so, so please feel free to try if you want to. I can review your PR :)

[2020-06-20 07:41] JosephTLyons commented on #1771
I definitely don’t want to take this from you if you are still wanting to do it, just was offering in the case that you decided to not do it.

[2020-06-20 08:33] Philipp-M opened #2021 "cargo test fails with the argument --target"
**Describe the bug**

cargo test fails nearly all tests (1 passes), if the target is explicitly given.

**To Reproduce**
Steps to reproduce the behavior:
`cargo test  --target x86_64-unknown-linux-gnu`

**Expected behavior**
Non failing tests

Currently nixpkgs unstable fails to build using the default `buildRustPackage` `checkPhase`, which uses `--target`.
Here's the context: https://github.com/N

[2020-06-20 10:26] Aloso opened #2023 "Environment variable can't contain `=`"
**Describe the bug**
I tried to run the following:

[code]

**To Reproduce**

Try this command:

[code]

**Expected behavior**

The env variable `FOO` is set to `a=b`, like in every other shell.

Note that `❯ with-env [FOO "a=b"] { ls }` works, but this three times as long.

**Configuration**
 - OS:
 - Nu version: 0.15.0
 - Optional features: All

[2020-06-20 12:22] #2009 closed

[2020-06-20 18:55] #2013 closed

[2020-06-20 19:26] jonathandturner opened #2026 "`nu-table` needs better support for text with carriage returns"
**Describe the bug**
If you run `help commands` with the new nu-table support, the table comes out a bit wrong. It seems to be related to the carriage returns in the cell data.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `help commands` with the most recent source

**Expected behavior**
`nu-table` should be able to handle cells with carriage returns as part of the processing of lines

[2020-06-20 21:01] fdncred commented on #2001
And for more math enhancements, see the backlog https://github.com/nushell/nushell/projects/2#card-40409628

[2020-06-20 21:02] fdncred commented on #2000
And if you want to add more math enhancements, see the backlog https://github.com/nushell/nushell/projects/2#card-40409628

[2020-06-20 21:16] fdncred commented on #1859
Looks like we can make a yaml file and PR it [here](https://github.com/microsoft/winget-pkgs)

[2020-06-20 21:33] #2026 closed

[2020-06-20 22:05] fdncred commented on #601
Totally agree. I'd love to have all the ! commands implemented in NuShell. The ones I've used most are !!, !$, and !<history_index>. Although, this may be a rustyline thing. Not sure.

https://www.redhat.com/sysadmin/bash-bang-commands

[2020-06-20 22:12] fdncred commented on #389
@jonathandturner Is there a way to use the new bat textview to paginate tables? Seems like `ls /Applications | textview` or `ls /Applications | less` would work but it doesn't. Maybe we could treat textview like a generic pager in the future.

[2020-06-21 02:02] andrasio commented on #2001
@amousa11 Great! Just assigned it to you.

[2020-06-21 03:13] jonathandturner commented on #1859
Looks like we'll need to put Nu into a bundled installer. Not a bad idea.  Looks like the current set is:

exe, msi, msix, inno, wix, nullsoft, appx

[2020-06-21 03:15] jonathandturner commented on #1859
@filalex77 - those are great issues to watch. thanks!

[2020-06-21 07:57] rbtcollins opened #2029 "enh: Split-column support for whitespace vertically aligned data"
**Is your feature request related to a problem? Please describe.**
I'd like to bring Windows 'netstat' data into nu, but haven't found a way so far. The issue I'm having is that split-column seems to want a 'char' to split on, but the separate for netstat is a variable number of space characters. So a regex like " +" would be suitable, but [a] character isn't.

**Describe the solution you'd like**

[2020-06-21 16:23] SanchithHegde commented on #1713
@hedonhermdev In case you haven't started working on this yet, please let me know. I'd like to work on this.

[2020-06-21 20:50] #2002 closed

[2020-06-22 13:30] fdncred opened #2033 "Math precision & human readable numbers"
**Describe the bug**
I wouldn't necessarily call this a bug but maybe we should think about adding a precision flag and a human readable number flag, that isn't summarized, or configuration point so we don't have results like below.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
It would be nice seeing a human readable number with precision, assuming it's defined

[2020-06-22 17:26] johnterickson opened #2036 "Coercion error between bytes and integer"
**Describe the bug**
I can't do basic math between file size and integers because there isn't coercion.

**To Reproduce**
[code]

**Expected behavior**
`size` is coerced to `integer`

https://discordapp.com/channels/601130461678272522/614593951969574961/724675622030409768

[2020-06-22 17:58] #1935 closed

[2020-06-22 18:09] jonathandturner commented on #2036
`compute_values` in crates/nu-cli/src/data/value.rs needs a few more cases.

The one above is that we need to add a case for (Bytes, Int). I think multiple and divide make sense here.

Optionally: We might also want to add a case for (Bytes, Bytes) that allow you to divide, which would give you a plain decimal as a result (or, if you get fancy, use the same "divide and if it's a whole number, retu

[2020-06-22 19:13] jonathanpallant commented on #1935
WFM. Thanks!

![image](https://user-images.githubusercontent.com/18005923/85326196-ccc0d280-b4c4-11ea-819e-ad3e7a81254d.png)

[2020-06-22 20:55] fdncred commented on #2029
@rbtcollins Here's a painful start on the first one.
[code]

[2020-06-23 00:16] utam0k commented on #2036
Can I try this issue?

[2020-06-23 02:44] jonathandturner commented on #2036
@utam0k sure! It's yours

[2020-06-23 03:10] jonathandturner commented on #2029
I had an idea for how to do this the other day, but hadn't had a chance to implement it.

The algorithm goes something like this:
* For the first line, find where all the spaces are
* Then, for each line after the first line, make sure there's a space in this line in the same place. If not, remove it.
* At the end, we should know where there are spaces that fall in the same places in all the rows

[2020-06-23 04:14] rbtcollins commented on #2029
Thanks @fdncred I hadn't found parse, I guess I need to read the book more carefully :/. But even so -  the mental model of split-colums is I think rather better than a full language description in *most* cases like this.

@jonathandturner I think the second case will need the full parse support actually - variable number of lines per record means we can't just hack every Nth line to be folded wit

[2020-06-23 05:12] JosephTLyons commented on #2033
Very cool idea.  This could be useful for the `--human` flag:

https://crates.io/crates/num-format

[2020-06-23 12:40] fdncred commented on #2033
@JosephTLyons Nice crate. I do think we need `--human` in several places probably. Obviously, anywhere it's outputting numbers I think there should be a flag. Although, you don't want to automatically do the `human` thing because we can't be certain that someone's output isn't someone else's input via pipe.

Also, we'd need to get the localized character for digit separation. Oh wait, your crate s

[2020-06-23 13:07] fdncred commented on #2029
@rbtcollins Here's another run at it, `netstat -aon -p tcp | lines | skip 4 | split column "   " -c Proto Local_Address Foreign_Address State PID | trim`. The `secret sauce` is to split on 3 spaces and use `-c` to `--collapse-empty` columns, then name the column headers. Definitely easier to read than the regex one.

Output
[code]

[2020-06-23 14:35] fdncred opened #2038 "NuShell Crash on Ctrl-C"
**Describe the bug**
In Windows, when I hit `up arrow` and then `ctrl+c` nushell crashes with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start nu.exe
2. Hit up arrow to retrieve last command from history
3. Hit Ctrl-C

**Expected behavior**
I expect it to cancel the current command, which isn't running  yet, and return me to a new prompt without any text.

**Screenshots**
N/A

*

[2020-06-24 00:07] JosephTLyons opened #2041 "Piping nu command to output has issues"
**Describe the bug**
When calling a nu command as a bash command, then piping the output to a file, many things are included in the output that won't work in a file.  There is extra data surrounding the values.  Also the tables sometimes get horizontally truncated with the `...` symbols.

**To Reproduce**
Steps to reproduce the behavior:
1. run `nu -c ls > output.txt` inside of your terminal

[cod

[2020-06-24 00:18] jonathandturner opened #2042 "Automating the Nushell release process"
Below are the steps we do for the Nushell release process. These are currently done manually, which is error-prone and time-consuming, and we'd like to automate these steps as much as possible.

Below you'll see `<version>` as the stand-in for the version to be released. For example, `0.15.0`.

## Draft release on GitHub

* create a draft release for the upcoming release on GitHub
* name the relea

[2020-06-24 00:51] charlespierce commented on #2042
This looks pretty close to what we do for Volta, I can probably get a good start on most of it. I don't have any experience with GH Actions' secrets stuff, so I'm not sure how the `cargo publish` step will work. I believe you could store the token as a secret on the Repo, then fetch it in the action and run `cargo login` using it, then follow up with a script that does `cd <dir> && cargo publish`

[2020-06-24 01:18] jonathandturner commented on #2042
@charlespierce -

1. I've used both Manjaro and Pop! OS in the past. I'm sure an Ubuntu would be perfectly okay here.

2. I've been including the directory in the archive. You might want to check the archives in the latest release to see if I got the names right. I've been just copying the directories and filling them with the latest release assets.

3. There's a small text file I've been includin

[2020-06-24 01:32] fdncred commented on #2042
We're still validating the msi that Wix creates but from what I can tell, it seems done-ish. The missing part is how to automate with CI, i.e.
1. download the wix toolkit from https://github.com/wixtoolset/wix3/releases/download/wix3112rtm/wix311-binaries.zip
2. download `less` from https://github.com/jftuga/less-Windows/releases/download/less-v562.1/less.exe and put it in the wix folder
3. run `c

[2020-06-24 01:39] charlespierce commented on #2042
@fdncred I'm not sure about the `less` step, but the images provided by GH Actions already have the WiX Toolset available. On Volta we use `cargo wix` to create the installer and all we've needed to do is run `cargo install cargo-wix` and then `cargo wix` to create the MSI file.

@jonathandturner Great, I'll take a look at the last few releases and see if I can come up with something that matches.

[2020-06-24 02:16] fdncred commented on #2042
Great! Since GH Actions already have Wix then it should be easy. I'm guessing a `curl` command could download `less` and put it somewhere. Wherever that is, we just need to update the wix xml to point to that folder. Then all the exes will be contained in the msi.

[2020-06-24 05:53] charleschege opened #2044 "Move from glibc to musl for more stable binary releases"
there is an issue that I raised, on discord chat, where with every new release of nushell, once I download the release binaries from Github they don't work because of compiling with a different version of glib.  This apparently can be solved by using musl as a replacement for glibc and statically linking it. Read the article below for more information.
https://saarw.github.io/dev/2020/06/18/shippi

[2020-06-24 06:06] schoetbi opened #2045 "Fetch Plugin: Add NTLM authentication"
I like to use the fetch command for an api that uses ntlm authentication. To use fetch in this scenario there are some things missing:

- Option to add auth headers
- Even better add command line option to authenticate the fetch command using the same way as curl does it with the `--anyauth` option. This option tries to figure out how to authenticate and uses one of the following options `[--basic

[2020-06-24 09:12] jonathandturner opened #2046 "`ls` should be more forgiving"
**Describe the bug**
Seeing issues in Windows where `ls` doesn't give the full listing.

**To Reproduce**
Steps to reproduce the behavior:
1. `ls` from C:\

**Expected behavior**
Even if there are issues with permissions, it's okay to abbreviate that record and keep going.

**Screenshots**
![image](https://user-images.githubusercontent.com/547158/85527825-56a4a300-b65f-11ea-9d49-1a9993c5cd9c.png)

[2020-06-24 12:50] svartalf commented on #2044
Switching to `musl` can affect dependencies used by Nu, I personally can say that `heim` crate (used for `sys` and `ps` plugins) does not provides any guarantees for `-musl` targets right now; you can expect it to compile at most, but that's basically it.

Another notable issue is that `sys | get host.users` command will stop working for `musl` builds, see https://wiki.musl-libc.org/faq.html#Q:-Wh

[2020-06-24 13:01] thegedge commented on #2046
Could we tag rows with some kind of "error" metadata? The table view code could read that metadata and decide to perhaps color it differently, or do something to indicate to the user that the row failed in some capacity.

[2020-06-24 13:05] thegedge commented on #2044
I can see a couple of options here:

1. Provide a musl build (as well as a glibc build) in the release, making sure we mention that there will likely be issues (like the one @svartalf mentioned above).
2. Provide documentation on how a user can manually build without the correct glibc. This will primarily impact Linux users, I think, and I believe they are pretty familiar with having to manually b

[2020-06-24 13:42] samhedin commented on #1960
@smit1625 there is a new PR up: https://github.com/nushell/nushell/pull/2034
Could you give it a try and see if your problem is still there?

I've been thinking about scripting. We can probably do what @tionis suggested. In addition I thought that there should be a section for general scripts to run when you enter a directory. There could also be an on-exit section where people can create clean-up

[2020-06-24 14:16] fdncred commented on #2042
@jonathandturner caught that starship is not being included in the build so we'll have to tweak the wix part to something like this.

0. my plan is to commit `less.exe` to the source tree in the `wix` folder so we don't have to download anything but i haven't discussed this with anyone yet.
1. `cargo install cargo-wix`
2. `cargo build` is already ran previously so we don't need to run it again.
3.

[2020-06-24 14:24] tionis commented on #1960
I tried the code in the pull request and can report that it works on my machine.
I really like @Samboy218 suggestions, this could come in quite handy!
Some more details about the hashing algorithm used would be nice, for automated script edits and such.

[2020-06-24 14:42] samhedin commented on #1960
Great!

Cool. I want to get the current PR merged first - there are some things left to do. After that, this will be my next priority.

It is unspecified: https://doc.rust-lang.org/std/collections/hash_map/struct.DefaultHasher.html
I suppose there should be no issues with changing it to something more concrete.

[2020-06-24 14:59] tionis commented on #1960
It would also be very helpful if the error message of the .nu-env parser were a bit more explicit about where the parsing failed.

[2020-06-24 16:41] charleschege commented on #2044
How about creating binaries using a glibc version that has been available to all LTS releases of Debian and Ubuntu, like Ubuntu 20.04 and 18.04.
this could be helpful unlike the current release that jturner had said is compiled on manjaro Linux and from my knowledge, manjaro uses the newer releases of software probably including glibc

[2020-06-24 16:56] charleschege opened #2047 "Autocomplete does not work with sudo"
For example when I want to autocomplete nautilus file manager,
[code]
If I press tab to autocomplete `naut` to `nautilus` it won't work. But autocomplete without `sudo` works fine

[2020-06-24 16:57] thegedge commented on #2044
@charleschege If that would also solve this issue, sounds like a great solution. Targeting LTS releases seems like a good thing to be doing.

[2020-06-24 18:16] hedonhermdev commented on #1713
Hey @SanchithHegde you can go ahead I am not working on this

[2020-06-24 18:51] bailey-layzer commented on #2033
Would it make sense to implement this as a command? That way it could be used for any decimal output without having to add `--human` to existing/future commands (plus math expressions), and could be expanded to other number formatting.

[2020-06-24 18:59] fdncred commented on #2033
I'm up for wherever it fits best and can be used with every place numbers are used. I assigned it to you @bailey-layzer. I'd like to see `precision` and `human` implemented but if you only want to work on one of them, that's fine too. Thanks for the help!

[2020-06-24 19:04] fdncred commented on #1985
I think this was perhaps closed by mistake.

[2020-06-24 19:09] fdncred commented on #2046
Piling on here. These issues are somewhat related #1929, #1985 #1785 (closed by related)

[2020-06-24 19:21] fdncred commented on #2041
That `...` drives me crazy.  In case you didn't realize it, that funky text is the ANSI escape codes that create color. I agree, color should be stripped on a `>`, or `>>`, or maybe `tee`, or maybe `|`. And the `...` should be removed altogether and auto-pivoted, which I tried to do but that stinking `...` still gets in the way. :(

[2020-06-24 19:27] jonathandturner commented on #2041
Yeah, what we should be doing is to check if stdout is being redirected, and if so, to not output tables with ansi.

[2020-06-24 20:40] charlespierce commented on #2042
Created #2048 (nice power of 2!) with a GH Workflow set up to create a Release whenever a tag in the form of a version is pushed into the repo.

[2020-06-24 20:43] fdncred commented on #2042
Sweet! Thanks @charlespierce !!!

[2020-06-25 00:24] JosephTLyons commented on #2041
I sort of figured it was the coloring data, but wasn't sure.

[2020-06-25 00:26] JosephTLyons commented on #2033
I was sort of thinking the same with it possibly being a command, so it could be used everywhere without it being re-implemented for each command.

[2020-06-25 01:19] fdncred commented on #1889
Posted in r/rust https://dev.to/wayofthepie/decode-a-certificate-5903

[2020-06-25 05:41] rrichardson commented on #1960
What about setting a default filename in a script for the specified dirs?  Maybe even default it to .envrc and bash as the scripts that are run by default.  Otherwise, we could rely on the `#!` at the top of a file in order to execute the file with the appropriate interpreter.

Or if the file specified in the config is a binary in a directory, then execute it directly. Then we can collect its envi

[2020-06-25 06:16] JosephTLyons opened #2051 "Add other uuid versions as flags on random uuid"
**Is your feature request related to a problem? Please describe.**
[This PR](https://github.com/nushell/nushell/pull/2050) added a `random` command and a `uuid`subcommand.  The uuid subcommand only adds in uuid4, but there exists 5 other versions of uuid, and each one works differently than the last and uses a different method to create the uuid.  By default, were using uuid4, but others may have

[2020-06-25 06:23] JosephTLyons opened #2052 "Add other random subcommands"
**Is your feature request related to a problem? Please describe.**
[This PR](https://github.com/nushell/nushell/pull/2050) added a `random` command and a `uuid` subcommand.  I originally mentioned having a `number` subcommand, but @jonathandturner mentioned having a `bool`, `decimal` and `integer` subcommands, which makes more sense to me, personally.  These should probably be made into separate i

[2020-06-25 12:21] samhedin commented on #1960
I assume that this is fine, but isn't it easier to just have a section in the already existing `.nu-env` and run the scripts listed there? Less configuration, and one less file per directory. I would guess that many people already have scripts ready, and the major use of this "nu script" file would be to just call out and run some other scripts.

Yeah, for sure. The scripts would be unmanaged by d

[2020-06-25 14:02] smit1625 commented on #1960
This is probably a silly question... but what is the best way to try out someone's pull request for this project? Docker?

[2020-06-25 14:22] thegedge commented on #1960
There's two options:

1. You'll see a Gitpod check under PRs. If you click the details link, it'll take you to an online editor where you can also build and run the code. I haven't used it, but I think it should work 🙂
2. Locally, you need to take a few steps:
   - `git remote add` the PR author's fork (let's assume you call the remote `myremote`)
   - `git fetch myremote`
   - `git checkout myrem

[2020-06-25 14:44] samhedin commented on #1960
I tried to make it a bit better now. The actual line it fails on is available, but in the short time I spent looking at it I could not find a way to show it as a nice user-facing error. Only a more programmer-oriented "failed on Some(<line>) expected" etc..

I'll look more into it.

[2020-06-25 16:47] bailey-layzer commented on #2052
`random normal` would also be pretty cool (or maybe sampling from common distributions would be better as a separate command).

[2020-06-25 18:59] samhedin commented on #1960
@tionis it now uses sha256 https://docs.rs/sha2/0.9.1/sha2/ for hashing. Is this satisfactory for your use case?

[2020-06-25 19:23] tionis commented on #1960
With those two problems addressed the only thing remaining would be evaluation of environment variables as stated above and I could port all my workflow to nu!
Awesome!  - I'm stoked to see this merged!

[2020-06-26 03:43] JosephTLyons opened #2062 "Nushell throwing error when parsing SyntaxShape::Number on a subcommand flag"
**Describe the bug**
Here is the signature:

[code]

Here are the args:

[code]

When I try to pass in a decimal, I get this:

[code]

**Expected behavior**
I expect Nu to understand that the value being passed in is a decimal

**Configuration (please complete the following information):**
 - OS: macOS 10.15.5
 - Version: 0.15.1

[2020-06-26 04:51] #2062 closed

[2020-06-27 01:01] #2001 closed

[2020-06-27 04:47] JosephTLyons commented on #2051
After looking further into what the other uuid versions off, I don't think it makes sense to add them to nushell.  Apparently version 2 is skipped in many librarys because it isn't secure.. it is not here in the rust crate either:

https://docs.rs/uuid/0.8.1/uuid/

The other uuid versions take multiple bits of input, such as some data used used for a "namespace" and information used by the hashing

[2020-06-27 05:25] jonathandturner commented on #2052
@bailey-layzer - sounds interesting. what kind of things did you have in mind?

[2020-06-27 13:05] jonmast commented on #2044
In my (limited) experience binaries built on older versions of glibc run fine on newer distros, it's the reverse that causes problems. The new automated build in https://github.com/nushell/nushell/pull/2048 is set up to use "ubuntu-latest", which is currently 18.04, so this may be largely solved now?

Providing musl builds doesn't seem worth the overhead given the drawbacks mentioned, to my knowle

[2020-06-27 14:51] thegedge commented on #2051
I'm not opposed to adding in the others. Do you have a use case in mind?

[2020-06-27 16:29] JosephTLyons commented on #2051
I don't have a specific use case, I only ever use uuid4 since it doesn't require data to be passed in, I originally suggested adding in the others just in case other individuals preferred them, but I don't know how feasible it is now, considered the fact the other uuid versions require multiple inputs, not just one.

[2020-06-27 17:51] BKDaugherty opened #2069 "Problems with redirection when handling $() with `tty`"
**Describe the bug**
A clear and concise description of what the bug is.

For some reason, when using `$(tty)` I get an output of nothing.

[code]

This is most visible when doing something like this command

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `echo $nu.env | insert GPG_TTY $(tty) | config --set_into env`

**Expected behavior**
A clear and concise description of what you

[2020-06-27 21:08] jonathandturner opened #2071 "Random test failures with redirected `with-env`"
**Describe the bug**
Follow-up for: https://github.com/nushell/nushell/pull/2070

If you also update `with-env` to use `set_is_last` to properly control the redirection of the block, we get random test failures. I was able to reproduce the random failure, but was unable to discover the cause. Filing this issue for further exploration.

**To Reproduce**
Steps to reproduce the behavior:
1. Update `w

[2020-06-28 16:34] bailey-layzer commented on #2052
I didn't have a use case in mind, and on further reading it would be less straightforward than I'd thought. Honestly to get much out of it you'd need a lot of other functionality that's probably better left in statistical programming.

[2020-06-28 18:29] jonathandturner opened #2076 "Commands can ignore their input stream and lose effects/errors"
**Describe the bug**
As part of https://github.com/nushell/nushell/pull/1668, we moved to a new model where commands had full control over the streams they were given and could process them as they wish.

This is great, in theory. Unfortunately, this means that we now have a set of commands that *never* consume their input streams. While efficient, it means that none of the effects and errors from

[2020-06-28 21:05] jonathandturner commented on #2052
@bailey-layzer - Nu should be usable for data processing, too, so (at least in theory) it will grow some statistics functionality over time. Would be curious to learn more about the gaps there. Mostly just waiting for people with the background in it.

[2020-06-28 23:54] jonathandturner commented on #356
For those finding this later, we did end up implementing configuring the internal prompt: https://github.com/nushell/nushell/pull/2064

It should be part of the 0.16.0 release.

[2020-06-28 23:55] jonathandturner commented on #1695
We did end up implementing configuring the internal prompt: https://github.com/nushell/nushell/pull/2064

It should be part of the 0.16.0 release.

If there are additional features you need, let us know.

[2020-06-29 03:31] reillysiemens opened #2078 "Unable to Launch Python 3.8"
**Describe the bug**
Python 3.8 cannot be launched from `nu`. Attempting to launch it results in
[code]

It _can_, however, be launched from PowerShell, which leads me to believe there's something amiss here.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Nu on Windows with `cargo install -f nu --features=stable`.
2. Install [Python 3.8 from the Microsoft Store](https://www.microsof

[2020-06-29 05:00] jonathandturner commented on #2076
As strange as it sounds, this might actually be correct on some level. Still trying to think through what makes sense, but looking through what bash does:

[code]

It doesn't consume the input stream at all for the left-hand side.

[code]

But it's not totally ignored. It will still notify you if the command isn't found.

[2020-06-29 08:22] jonathandturner commented on #2076
Dug a bit further: looks like the issue is that the error is being detected, but we're converting the error into a value in the stream, so it's not being seen (since the stream isn't drained). From: crates/nu-cli/src/commands/commands.rs:354

I wonder if we should wait a bit longer, maybe have `run` return a Result instead of OutputStream. Would need to experiment to see if we can get the error to

[2020-06-29 15:41] yanganto opened #2079 "echo does not support special characters"
**Describe the bug**
The echo in nushell is not support the special character, such as `\n`

**To Reproduce**
Steps to reproduce the behavior:
1. open nushell, `nu`
2. echo string with newline character, `echo "111\n222"`
3. it prints `111\n222`

**Expected behavior**
The expected output is
[code]

**Screenshots**
The different output from nushell and zshell
![snapshot](https://www.ant-lab.tw/img/

[2020-06-29 17:28] jonathandturner commented on #2079
We added support for special characters in the upcoming 0.16 release. We don't use the escape character (\n) but instead use a function call:

[code]

[2020-06-29 17:34] jonathandturner commented on #2078
I believe this is fixed in the upcoming 0.16.0 release as part of https://github.com/nushell/nushell/pull/2035

The 0.16.0 release should be out tomorrow, or you could try the latest source.

[2020-06-29 17:36] jonathandturner opened #2081 "`math product` to multiply a list of numbers"
**Is your feature request related to a problem? Please describe.**
We currently have `math sum` to sum a list of numbers together. Might be nice to have a way to multiple a list of numbers, too.

**Describe the solution you'd like**
We could add a `math product` command that works like `math sum`, but instead multiplies all the numbers together.

**Describe alternatives you've considered**
We coul

[2020-06-29 17:39] #2076 closed

[2020-06-29 17:44] jonathandturner commented on #1987
@bailey-layzer - sorry, didn't see this comment earlier.

So you're saying that by us making sure the output has quotes in it, we're causing the issue? Interesting. When I first read it, it seemed like we weren't adding quotes when we should be.

We used to have different logic for when quotes where automatically added to arguments for external commands. I wonder if we should make that logic a lit

[2020-06-29 18:56] bailey-layzer commented on #1987
@jonathandturner the quotes are added back to external command arguments containing a space:
`cat test.json | jq -r ".users | sort_by(.firstName)"` and `cat test.json | jq -r ".users|sort_by( .firstName)"` work, but
`cat test.json | jq -r ".users|sort_by(.firstName)` gives me
<pre>sh: -c: line 0: syntax error near unexpected token `.firstName&apos;
sh: -c: line 0: `jq -r .users|sort_by(.firstName)

[2020-06-29 23:50] rokopt commented on #446
I'm hearing the bell after, for example, hitting Tab when there's no way to complete the current string, on nushell 0.15.0 as installed by homebrew in a WSL 2 Ubuntu distribution on Windows 10 Pro 2004.  Is that expected (a version that doesn't have the fix yet), or should I re-open?

[2020-06-30 01:08] yanganto commented on #2079
Got it, thanks.

[2020-06-30 04:55] samhedin commented on #1960
New PR is up, more changes and scripting added: https://github.com/nushell/nushell/pull/2083
Give it a try, I would love to hear your opinions!

[2020-07-01 12:14] bailey-layzer commented on #2033
I'm wrapping up `human` and `precision` as commands but had a thought - what if they were combined into something like `print`? That would leave room to expand the command to other types of output and/or fancier formatting.

[2020-07-01 12:55] fdncred commented on #2033
I'd rather have `human` and `precision` landed first and then if we want to tweak it into `print` we can later. `print` also has a connotation of printing to a printer. I guess I'm down with `some_alternate_name_to_print` if it has `--human` and `--precision` as arguments.

[2020-07-02 09:52] lesurp opened #2089 "Whitespaces in latest Windows Terminal are ignored"
**Describe the bug**
When typing a space (or even copying one from clipboard), all whitespaces / tabs are simply not pasted. This happens in Windows Terminal but not in regular cmd.exe (terminal emulator).
Note that the problem does not occur with powershell nor cmd.exe (shell) which is why I presume it comes from nushell.

**To Reproduce**
Steps to reproduce the behavior:
1.  Open Windows Termina

[2020-07-02 11:07] reillysiemens commented on #2078
Huzzah! It works! Thanks! 🎉

<img width="676" alt="nushell-python" src="https://user-images.githubusercontent.com/3084059/86351652-74eb3f80-bc19-11ea-9bf8-3ce0a5f04956.png">

[2020-07-02 11:07] #2078 closed

[2020-07-02 16:16] ryanpcmcquen opened #2090 "Thank you!"
I just wanted to say thank you for this awesome project! I tried Nushell a long time ago, and could see the potential but there were too many bugs or oddities at that time, I just tried it again yesterday, and the project has come a long way, and will now be replacing `fish` as my default shell.

Bravo to the team for this fantastic shell.

[2020-07-02 16:16] #2090 closed

[2020-07-02 16:34] yanganto opened #2091 "Ctrl + Z in editor will also trigger the nushell"
**Describe the bug**\
A signal trigger in editor will also trigger on nushell

**To Reproduce**
Steps to reproduce the behavior:
1.  start in zsh
2. use nushell by following command `nu`
3. open a file with neovim by following command `nvim /tmp/test_file`
4. press `ctrl` + `Z` in neovim to suspend the editor to go back to shell
5. now in zsh but not nushell

**Expected behavior**
1.  start in zsh

[2020-07-02 17:06] rrichardson opened #2092 "Additional subcommands for str (length, camelCase, etc)"
List of String Methods:

- [x] len
- [x] reverse
- [x] ltrim --char_to_trim
- [x] rtrim --char_to_trim
- [x] contains
- [x] ends-with
- [x] starts-with
- [x] index-of
- [x] split
- [ ] camelCase
- [ ] snake_case
- [ ] kebab-case
- [ ] PascalCase
- [ ] SHOUTY_SNAKE_CASE
- [ ] slice (substring.. can we alias this to slice?)
- [ ] replace slice
- [x] replace substr (find-replace)
- [x] replace regex

[2020-07-02 17:27] charleschege commented on #2044
Thanks for making this possible. Version 0.16 now works out of the box with Linux binaries downloaded from Github releases.

[2020-07-02 17:27] #2044 closed

[2020-07-02 17:45] thegedge commented on #1585
@fpatwa Still working on this? Need any help, or should we unassign?

[2020-07-02 18:12] Knarkzel commented on #2091
Add `nu` in your zshrc, or zsh config file. This way, whenever zsh is launched, nu is then launched. This issue occurs with any shell launched like nushell.

[2020-07-02 18:15] kuchta opened #2094 "Meta + key not working as expected in vi edit mode"
Unix terminals usually generate [Escape sequences](https://en.wikipedia.org/wiki/Escape_sequence) on Meta (Alt on Linux/Option on macOS) + some other Key which other programs that use vi edit mode (vi/bash/zsh) interpret as the Esc key BEFORE other Key, making it basically unnecessary to use Esc key in itself and given usually bad placement of the Esc key on today's keyboard, this is something I c

[2020-07-02 18:22] jonathandturner commented on #2090
@ryanpcmcquen - thanks! much appreciated :)

[2020-07-02 18:47] jonathandturner commented on #2089
I just tried the latest using 1.0.1811.0 from the Windows Store and I'm not able to reproduce this issue. Can you say a bit more about your configuration? Are you using different fonts that the default Windows Terminal font? Is your Windows localized for a region of the world?

Trying to think of other things that might cause space to fail.

[2020-07-02 19:12] peterallin commented on #2003
This seems to work as requested for me. Running on Ubuntu 20.04, git SHA 7813063c938c6c517aca47afa5f75d081ca42e4c. I get the following message on start up:

  Config could not be loaded.
  Couldn't parse config file:
  expected an equals, found a newline at line 1 column 14

and then get a nu prompt.

[2020-07-02 19:56] fdncred opened #2096 "Make echo implicit"
**Is your feature request related to a problem? Please describe.**
While writing aliases I found out it's a pain to have write `echo $var` instead of just `$var` when I need to get the contents of `$var`

**Describe the solution you'd like**
As an example, this alias:
`alias lstrip [ arg ] { echo $arg | str substring '1,' }`
could be:
`alias lstrip [ arg ] { $arg | str substring '1,' }`

**Describ

[2020-07-02 22:20] rrichardson commented on #2092
Collecting additional feature requests here:
len
reverse
 ltrim --char_to_trim
rtrim --char_to_trim
contains
ends-with
starts-with
index-of
split

[2020-07-02 22:24] rrichardson commented on #2092
Also, change the comma parameters of subcommands like `substr` back into a table,  so
`substring "3, 6"  foo`
becomes
`substr foo 3 6`  (i think?)

[2020-07-02 22:46] andrasio commented on #2090
@ryanpcmcquen <3 <3 <3 <3

[2020-07-02 23:29] #1957 closed

[2020-07-03 01:28] yanganto commented on #2091
Yup, this use case is not usual.

I do this because I hope that if I got some trouble in nushell,  I can Ctrl + d then quick back to the shell I am familiar with.

Besides,  I test a similar scenario to call bash in zsh, then try to Ctrl + z in an editor, it will back to bash.  It works fine.

I will try to use nushell as a login shell to avoid this problem.

[2020-07-03 08:03] ProgrammingLife opened #2098 "<Tab> for autocomplete current word"
When I type:  ```l```  it suggest to autocomplete it with my previous command:
[code]
I want to complete current typing word with ```<Tab>``` key until a following whitespace like this done in zsh. How to get it?

[2020-07-03 08:06] ProgrammingLife opened #2099 "Why I can't pipe any command?"
For example:
[code]
I want to just send all the output of ```ps``` to next program. Why not?

[2020-07-03 09:04] lesurp commented on #2089
Thanks for the quick answer! And sorry for the inconvenience you were right...

I use the [eurkey](https://eurkey.steffen.bruentjen.eu/) keyboard layout, and it turns out that opening Windows Terminal + NuShell while the layout is active reproduces the bug.
However, if I switch to any other layout before opening the shell, the space bar works as usual (and I can even go back to eurkey once it's be

[2020-07-03 09:04] #2089 closed

[2020-07-03 09:13] lesurp commented on #2089
In the unlikely case someone else encounters the problem (e.g. future me), here's an autohotkey script that changes the layout, open the shell, then changes back...

[code]

[2020-07-03 13:37] thegedge commented on #1730
Fixed by https://github.com/nushell/nushell/pull/2095

[2020-07-03 13:37] #1730 closed

[2020-07-03 13:38] thegedge commented on #877
@jonathandturner would this be the `startup` config?

[2020-07-03 13:58] thegedge commented on #2099
`ps` is a builtin command, so it emits structured data. We don't have an easy way of automatically selecting what format we should feed into an external program. For example, `more` would probably just want something tabular, like what we display normally, but some other external may want json.

So that's the reasoning why this doesn't work right now. For now, you can manually convert it:

[code]

[2020-07-03 19:20] jonathandturner commented on #2092
Adding `str length` with #2102
I also added `split chars` to split a string into its chars with #2101

Happy to help review if anyone wants to take some of the above

[2020-07-03 19:21] jonathandturner commented on #2092
Was thinking of adding `str width` to output the likely display width of the string (accounting for things like CJK characters to be double sized, etc)

[2020-07-03 20:29] arashout commented on #2003
Resolved with:
https://github.com/nushell/nushell/pull/2077

[2020-07-04 01:06] #2003 closed

[2020-07-04 01:06] arashout commented on #2003
Closing since I believe it is resolved via https://github.com/nushell/nushell/pull/2077.

[2020-07-04 01:10] arashout commented on #86
This can probably be closed with @samhedin PRs

[2020-07-04 01:10] #86 closed

[2020-07-04 01:32] arashout commented on #195
Would it work to have some type of optional method/field on `WholeStreamCommand`?
So you would specify what Value variant the command expects like have it be automatically type-checked that way?

[2020-07-04 01:38] arashout commented on #1448
Resolved by the above PR.
Still need to work on https://github.com/nushell/nushell/issues/1898

[2020-07-04 01:38] #1448 closed

[2020-07-04 01:42] arashout commented on #222
Is `paint_textview` still a thing? Couldn't grep for it in the codebase

[2020-07-04 01:52] arashout commented on #395
👍  @wycats idea

[2020-07-04 04:18] philip-peterson opened #2104 "Sometimes quotes are not removed before interpretation"
**Describe the bug**
Putting quotes in the middle of a bareword leads to the quotes being included in the output

**To Reproduce**

To establish how most shells work, and also nushell in this case,
[code]

This is expected, but...

[code]

This is pretty nonstandard.

**Expected behavior**
Same output in both circumstances.

**Configuration (please complete the following information):**
 - OS (e.g

[2020-07-04 04:21] jonathandturner commented on #222
We switched to using `bat` so we can close this now.

[2020-07-04 04:21] #222 closed

[2020-07-04 05:14] #1968 closed

[2020-07-04 05:58] ProgrammingLife commented on #2099
@thegedge I think it could solve the problem.

[2020-07-04 06:22] JosephTLyons commented on #1991
@ProgrammingLife, were you able to get Nu installed?

[2020-07-04 07:39] arashout commented on #2042
Can this task be closed with the merging of @charlespierce ?
Are are we creating an additional PR for the wix functionality and actual publishing before closing?

[2020-07-04 08:05] jonathandturner commented on #2042
@arashout - I think we're good now. Wix is in and we successfully did a release with automation. @fdncred is working on some updates, but we can file other issues for those and any additional features we want to add.

For now, I'll probably keep doing the crate release by hand, though we may want to write a script to make that easier (another thing we could write a separate issue for)

Going ahead

[2020-07-04 08:05] #2042 closed

[2020-07-04 16:08] thegedge commented on #2099
Perfect. If those two will address the issue, then I recommend you subscribe to those issues to see progress. If you still feel like something is missing after they've been closed, please reopen this issue or create a new one 🙂

I'm going to close this one in favour of those two.

[2020-07-04 16:08] #2099 closed

[2020-07-04 16:56] thegedge commented on #195
Great idea, @arashout. That could definitely work, but I still think encoding this in the `Signature` is potentially the better solution here. I see two advantages:

1. We can statically analyze a pipeline without even having to construct and feed values through it.
2. We can emit this information in help docs for the command.

We actually already have `input` and `yields` in the `Signature`, but

[2020-07-04 17:23] thegedge commented on #2104
I took care of most odd quoting issues in https://github.com/nushell/nushell/pull/2095, but called out this is one that's not particularly easy to take care of 😞

My only intuition right now is that we'd have to implement custom parsing logic for this, which is a lot of work for something that I don't think is the right approach. I think the right approach is to work with nu's syntax to get the va

[2020-07-04 19:26] philip-peterson commented on #2104
I can think of a few examples where you would need this type of string concatenation. Setting the internal vs. external concern aside, since it's conceivable that for any external use case there is probably an internal use case as well...

One is just a productivity use case. You are typing what you think will be a one-word commit message, when you realize you want to turn it into a sentence

[cod

[2020-07-04 19:31] philip-peterson commented on #2104
I would think this probably deserves special parsing logic; if it requires an overhaul, I would be happy to take it on, and this might be a good opportunity to improve the special character handling as well such as metacharacters etc. which I know there's another issue out for: #1456 and some other related ones: #385 #1251

[2020-07-04 19:49] arashout commented on #2046
If all we want to do is swallow the error, sort of like what we already do for this type of permissions issue:
[code]
Then it is a easy fix. Just need a `match` statement instead of `if` (Also would be a "good first issue"). @jonathandturner

However @thegedge suggests seems like a more general solution that could be useful in other areas

[2020-07-04 20:01] jonathandturner opened #2107 "Crash with new `if` command"
**Describe the bug**
The new parser changes will crash in some conditions. Type typing `if $`

**To Reproduce**
Steps to reproduce the behavior:
1. Type `if $`
2. See crash
3. Cry

**Expected behavior**
Less crying

**Configuration (please complete the following information):**
 - OS (e.g. Windows): Manjaro latest
 - Nu version (you can use the `version` command to find out): latest source

[2020-07-04 20:45] arashout commented on #1929
I believe this has been resolved with the above PR.
Please Re-open if it's not the case!

[2020-07-04 20:45] #1929 closed

[2020-07-04 20:45] arashout commented on #1985
I believe this has been resolved with the above PR.
Please Re-open if it's not the case!

[2020-07-04 20:45] #1985 closed

[2020-07-04 20:56] #2107 closed

[2020-07-04 22:10] JosephTLyons opened #2110 "Ensure that all commands stream their results"
**Is your feature request related to a problem? Please describe.**
A few commands do not stream their results, while a majority of them do.  There may be others, but these ones for sure do not:

- [ ] `cal`
- [X] `drop`* https://github.com/nushell/nushell/pull/2114
- [X] `every` https://github.com/nushell/nushell/pull/2118, https://github.com/nushell/nushell/pull/2120
- [X] `from_vcf` https://gith

[2020-07-04 23:06] jonathandturner commented on #2110
Some I'd like to make more stream-y:

- [ ] fetch
- [ ] post
- [ ] lines

[2020-07-05 01:03] #1862 closed

[2020-07-05 01:26] arashout commented on #2110
I can look into `fetch` since I did open

[2020-07-05 03:07] arashout commented on #2110
I'm going to try my hand at `fetch`

[2020-07-05 03:35] JosephTLyons commented on #2110
I have  `every`, `from_vcf`, and `last`, aside from one error on each of them (the same error) that I can't get around current.

[2020-07-05 03:36] JosephTLyons commented on #2110
The `cal` one will be horrendous.  That was the first major thing I added to nushell and I passed a vec around to a bunch of functions and added the rows to it, so I have no idea how that will be converted.

[2020-07-05 15:04] thegedge commented on #1456
We added interpolation strings (backticks) and a character command (`char), which would be a start, but likely not entirely what we would want to end up with given it's lengthiness:

[code]

We should keep thinking about how to shorten that some more, without losing too much expressiveness.

[2020-07-05 15:08] thegedge commented on #2104
I played around some, and I think the biggest thing here is choosing how quoting works.

For example, zsh:

[code]

differs from sh/bash:

[code]

Most programming languages would be closer to sh/bash. For example, Ruby:

[code]
minus the fact that whitespace is ignored, and the strings are technically concatenated together:

[code]

I don't think we need an RFC here, but I would at least like a f

[2020-07-05 17:38] jonathandturner opened #2115 "Autoenv entryscripts/exitscripts for Nu"
**Is your feature request related to a problem? Please describe.**
The current entryscripts and exitscripts currently shell out and run commands with an external shell (eg https://github.com/nushell/nushell/blob/ee18f16378eeadf31b07c6813db2766f1851264c/crates/nu-cli/src/env/directory_specific_environment.rs#L128-L138)

Since Nu is growing into being a capable language itself, seems like we could e

[2020-07-05 18:14] samhedin commented on #2115
There could be a way to optionally define an executable that should be used for each script when you define it in `nu-env.toml`. Current defaults for running scripts are `cmd` if on windows and `sh` otherwise. If one is feeling particularly daring, this could be changed to `nu` to encourage migration.

[2020-07-05 18:26] samhedin commented on #1980
Should be fixed by https://github.com/nushell/nushell/pull/2083

[2020-07-05 18:26] #1980 closed

[2020-07-05 20:13] thegedge opened #2117 "Unify autoenv with config"
**Is your feature request related to a problem? Please describe.**

[Autoenv](https://github.com/nushell/nushell/pull/1943) is a relatively new feature in nushell that supports setting up a custom environment on a per-directory basis. The one issue we have currently is that it's a bit of a unique snowflake. It has some overlap with our regular configuration, but mostly does its own thing.

**Descr

[2020-07-05 20:18] thegedge commented on #2096
We've definitely chatted about this before, @jonathandturner. I think we were interested in simple values being able to be a pipeline source.

[2020-07-05 21:42] jonathandturner commented on #2096
Yeah, I think we should definitely consider it.

Something wycats wanted very early on was being able to use `$foo bar` to be able to run a command stored in the `$foo` variable. With @thegedge looking into how to make aliases better, I'm wondering if the alias path is the direction we want to go. Perhaps they could be scoped similarly to what a variable would be, with the end result that we're fr

[2020-07-05 22:15] thegedge commented on #2096
This is actually quite useful in scripting, but I can see it being in conflict with what @fdncred proposed. For example, if `$var` was the string `ps`, do we want to run `ps` or echo the value `"ps"` in `$var | ...`? I think we have to pick one or the other.

[2020-07-05 22:18] thegedge commented on #2117
Actually, why don't we name things in an event-y way? Something like `on_enter` and `on_exit`?

[2020-07-05 22:19] fdncred commented on #2096
How about evaluating `$var` to see if it contains internal commands or other aliases, if it does, execute them. if it doesn't echo it.

[2020-07-06 01:00] jonathandturner opened #2119 "Update `config` to use subcommands"
**Is your feature request related to a problem? Please describe.**
The original `config` command was made before we had support for subcommands. Now that we have them, we can update `config` to use them.

**Describe the solution you'd like**
Let's move all the commands of `config` into subcommands.

Before:
`config --set [variable value]`

After:
`config set variable value`

We can do this convers

[2020-07-06 01:06] philip-peterson commented on #2104
I agree with most of that, those seem like a reasonable set of rules. I'd add in that I'm not sure what the difference between a bareword and a string is; bare words including things like blocks delimited by `[` and `{` further complicates the definition. Would a bareword in a command like `ls foo` also be a string?

I actually couldn't reproduce this behavior. After looking into it, I found that

[2020-07-06 02:19] fpatwa commented on #1585
Sorry got delayed on this but would still like to keep working on it if its okay! Thanks.

[2020-07-06 07:17] jonathandturner commented on #2115
@samhedin - now that I think about it, standardizing on Nu doesn't sound *so* daring. Mostly because it's easy to make a nu script that says "cmd /C 'CALL <path to file>'"

At least I think that works :)

[2020-07-06 11:29] LiHRaM opened #2121 "Automatic path escaping is incorrect"
**Describe the bug**
I have a folder, `master's thesis`, which I frequently want to `cd` to.
When I use tab autocompletion in nu, it automatically escapes `'`, which is invalid syntax in nu.

**To Reproduce**
Steps to reproduce the behavior:
1. `mkdir test'`
2. `cd test` + <kbd>tab</kbd>
3. Observe the output, i.e. `cd test\'/`

Example output from my shell:
[code]

**Expected behavior**
Nu should

[2020-07-06 11:38] thegedge commented on #2096
That could world, @fdncred, but my vote would be against that. We'd be making an assumption about what the user wants, which would fail the principle of least surprise test (if it's not what they want).

I think the best of both worlds without surprise would be this:

- `$var` always echos
- `$var <args>` always runs a command

But I'm not super into that either. Personally, I'm leaning towards `$

[2020-07-06 11:41] thegedge commented on #2104
Ah, my bad. Looks like I have that one enabled. I should really understand my zsh setup 😅

That makes sense. I'll expand the rules to capture this.

[2020-07-06 11:54] thegedge commented on #2115
I think we should just use the same nu logic that we use to parse any line. If you run an external command in it, nu will shell out as necessary. Even better, it will shell out with the same logic as it does everywhere else 🙂

[2020-07-06 15:15] fdncred commented on #2119
And not eat comments during processing of config.

[2020-07-06 15:18] fdncred commented on #2096
All good information. I wanted to share some reasearch of PowerShell. It may be worth a deeper dive to see how they do this. Not that we have to do it like PowerShell does, but it may be helpful anyway.

1. [CommandType](https://github.com/PowerShell/PowerShell/blob/9212aac0fa020b657454ef4f9ff2fdd6fc6d759c/src/System.Management.Automation/engine/CommandInfo.cs
) Lines 23-86 list the type of comman

[2020-07-06 15:47] efx opened #2124 "documentation for `split-row` and `split-column` needs updated"
**Describe the bug**
The [documentation website](https://www.nushell.sh/documentation.html) for [split-row](https://www.nushell.sh/commands/split-row.html) is incorrect. The command syntax has changed to `split row`.

**To Reproduce**
Steps to reproduce the behavior:
1. install stable nu
2. `echo "4, 0, 2, 0, 7, 8" | split-row ','`
3. See error

**Expected behavior**
I expect the documentation to

[2020-07-06 15:59] bailey-layzer commented on #1987
This issue was fixed by #2095.

[2020-07-06 16:28] #1987 closed

[2020-07-06 18:31] almindor commented on #2121
This seems to be a bug in the parser not in the completion actually. The completion escapes `'` with `\'` properly but the basic lite parser seems incapable of escape sequences. I'll see if I can make a PR.

[2020-07-06 19:16] samhedin commented on #2117
I agree - closer integration between autoenv and existing functionality could simplify things in the future. This is a bit over my head, since I am not super familiar with the codebase. I like the idea of `LayeredContext` though.

Yes! A while back I thought of a more generalized system for adding event handlers. Maybe a simple generalization of some of autoenv's planned functionality could result

[2020-07-06 19:49] fdncred opened #2127 "LS support for other number formatting"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Current `ls` looks like this:
[code]
I'd like to be able to specify how the bytes are displayed whether it's `16.3 KB` or `16279` or `16,279` or even perhaps `15.9 KiB` or `0.015 MiB`. The point is, I'd like more control over how these numbers are represented.

**Describe alternatives you've

[2020-07-06 20:19] thegedge commented on #2117
No worries. This is quite a significant issue. It was something that came to my mind and I wanted to capture (before it left my mind, which happens more and more as I get older 😅)

Yesss! `before_command` and `after_command` would be amaze.

[2020-07-06 22:25] samhedin opened #2130 "Event handlers / hooks"
**Is your feature request related to a problem? Please describe.**
Event handlers are a great way to let users customize the behavior of some software. Fish appears to have a pretty sophisticated system, which can be used as a source of inspiration:
Documentation: https://fishshell.com/docs/current/index.html?highlight=event#event
Some explanation of how it's used in fish, along with functions: ht

[2020-07-07 03:43] jonathandturner commented on #2119
@fdncred - if you want, you could write up a second issue about moving to a better toml crate (maybe the one you found?). I think that should be doable as a `good first issue` also.

[2020-07-07 03:55] jonathandturner commented on #2096
I was just playing around with different cases, and I can't seem to come up with a way to disambiguate.

Say we did:

[code]

Do we send the string "foo" or run the `foo` command?  We allow you to call commands with quotes (if, say, they have spaces in the path).

I have a hunch for the simple case, we can't go implicit, though it's worth investigating when and how we can expand `$var` for running

[2020-07-07 12:40] fdncred opened #2132 "Better TOML handling"
**Is your feature request related to a problem? Please describe.**
For me, I like to edit the `config.toml` file manually and store alternate versions of aliases, prompts, env variables, etc. The only problem with this is the minute you do `config set [blah blah]` all your comments are gone because our current toml crate doesn't serialize comments.

**Describe the solution you'd like**
I'd like to

[2020-07-07 12:42] fdncred commented on #2119
@jonathandturner ok - I added #2132 and tagged it with `good first issue`.

[2020-07-07 12:58] fdncred commented on #2096
@jonathandturner Please excuse my ignorance of how nushell works under the hood but can you help me understand why it is difficult to disambiguate? Here is what I'm thinking.

Pseudo Code to try and express my thoughts. Why wouldn't this work?
[code]
Alternately, once we have some type of mem store for things perhaps we could do this.
[code]

I think the key is understanding what is in the variabl

[2020-07-07 13:34] thegedge commented on #2096
It works, but I would still argue it's confusing. Sometimes it runs a command, sometimes it echos the value. The semantics of when that happens may be pretty clear in the code, but I think as a user this has a high potential for confusion. A rule like "always runs the command" or "always is an implicit echo" is never confusing and has zero potential for error 🙂

Personally, I wouldn't want the beh

[2020-07-07 15:15] fdncred commented on #2096
@thegedge I'm happy to respectfully agree to disagree with you and move along. nu is already confusing because it's new and it does things differently. If we want to continue to do things different from every other shell that supports variables and execution of variables, I'm anxious to go along on that ride, but I can't conceive of what that would look like. :)

I do follow your points, as as @jo

[2020-07-07 15:59] ndarilek opened #2133 "Surprising alias behavior"
Trying to use Nu full-time, and am experiencing surprising behavior with some aliases. I have:

[code]

When I run those commands manually, they behave as I'd expect. But as aliases, I see the following:

* _gl_: Does not page output, and seems to attempt to make a table out of it somehow.
* _gps_ and _gpl_: Succeed, but report an error:

[code]

My expectation is that an alias would behave identi

[2020-07-07 16:03] ndarilek opened #2134 "`$*`, or some way to pass free-form arguments to aliases"
I'm a screen reader user who aliases _gl_ to _git log --abbrev-commit_ so that, when reading commit logs, I don't have to listen to complete SHA hashes. Sometimes I want to do _gl <other git log arguments here>_, which works in Fish and other shells.

I know I can add ignored arguments in the meantime, and in general like the system of explicitly specifying arguments. But having some sort of glob

[2020-07-07 16:18] thegedge commented on #2096
Just a note: there's a massive difference between "nu does things differently, which is confusing to users migrating to nu" than "nu is internally inconsistent / confusing". The former doesn't bother me, but not the latter 😉

What I'm proposing is actually more consistent with other shells, weirdly enough 😄

To get a variable's value into a pipeline, you `echo` it (e.g., `echo $foo | ...`). To int

[2020-07-07 16:22] thegedge commented on #2133
Thanks for the report!

This is covered in https://github.com/nushell/nushell/issues/389, so I'd recommend following that one to see progress 🙂

Interesting! Either there's a nonzero exit status (which means it didn't succeed, even if it appeared to succeed), or we're displaying an error because something was emitted to stderr (I don't think we do that). We'll have to investigate that one!

[2020-07-07 16:23] thegedge commented on #2134
Hey, @ndarilek. Is this what you're looking for: https://github.com/nushell/nushell/issues/1716?

If yes, we can close this one as a duplicate.

[2020-07-07 16:24] ndarilek commented on #2134
Looks like it. Sorry I missed that one.

[2020-07-07 16:24] #2134 closed

[2020-07-07 16:27] ndarilek commented on #2133
Not sure what specifically is happening with gps/gpl, but my expectation
is that aliases would behave identically to entering the command, and I
don't otherwise get that error indicator. Maybe git is sending something
to stderr for some reason, but even if it were, a feature calling itself
aliases shouldn't augment the output at all IMO.

Thanks for the other issue reference--I'll follow that one.

[2020-07-07 16:33] thegedge commented on #2134
No worries. We have a bit of a bug backlog, so it's very easy to not get the same terms as what someone else used. I struggle all the time to find an issue I'm fairly confident already exists 🙂

[2020-07-07 16:41] thegedge commented on #2133
Taking a look at the code, I think it's unlikely this is a `nu` error, but some error being emitted by the remote. Do you think that's possible?

Another issue I think you raised is that `stdout` is becoming a list of lines instead of simply being output on the screen? That is indeed kind of surprising.

[2020-07-07 16:48] ndarilek commented on #2133
If under Bash I do `git pull >/dev/null`, I get lots of output. Unless
I'm mistaken, it looks like git is dumping everything to stderr. If I do
the same for an up-to-date repo, I get no output, so assume the
"Everything is up to date" line goes to stdout.

If what's happening is that the alias is implicitly adding "| lines| or
something similar, eliminating that magic is probably the way forward.

[2020-07-07 18:19] ryanpcmcquen opened #2135 "Support partial completions"
Coming from `fish` shell, I miss the partial completion with <kbd>Alt</kbd> and arrow keys.

Here's an example of partial completion in action. I find this feature infinitely useful!
![partial_completion](https://user-images.githubusercontent.com/772937/86824811-7e264300-c043-11ea-9d66-af36ca7db681.gif)

Perhaps this could be part of the convo in this issue as well:
https://github.com/nushell/nush

[2020-07-07 21:16] thegedge opened #2136 "Filename completion with quoting characters not always working"
**Describe the bug**

When filenames contains quoting characters or other things that require the name to be surrounded by quotes (e.g., whitespace), tab completion isn't always producing the correct result.

**To Reproduce**

I have these files:

- `foo bar`
- `foo'bar`
- `abc"123'`

And this nested directory structure:
- `foo/bar spaces/a"b"c`

[code]

So we get the correct set, but here are som

[2020-07-08 06:18] JosephTLyons opened #2138 "Keep Nushell from Creating an Empty Table Initially"
**Describe the bug**
If you run certain commands that do not generate data, but simply filter data, on their own, sometimes, nushell will output an empty table.  Some commands `drop` and `first` demonstrate this.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `drop 0` or `first` without any piping
2. See the output of the empty table with 1 row

**Expected behavior**
I would expect nush

[2020-07-08 07:04] gdhuper commented on #2081
If this issue is up for grabs, I'd like to take a stab at it. Thanks

[2020-07-08 07:31] jonathandturner commented on #2081
@gdhuper sure thing. It's yours

[2020-07-08 09:55] warrenseine commented on #512
Thanks to @bltavares, I found a solution to a very common use case: converting files from a format to another. Here's the best one-liner I could find:

[code]

[2020-07-08 10:31] warrenseine opened #2141 "to xml"
**Is your feature request related to a problem? Please describe.**

`from json` has a symmetric `to json`, but `from xml` hasn't. Here's an example with `open | save` (which I believe uses `from | to` under the hood:
[code]

Saving with `--raw` just produces an empty file.

**Describe the solution you'd like**
It'd like XML to work similarly to JSON.

**Describe alternatives you've considered**
Op

[2020-07-08 10:31] warrenseine commented on #2141
I suppose it's a pretty simple "first issue" for anyone willing to contribute!

[2020-07-08 13:19] fdncred commented on #2133
@thegedge I was going to file an issue on this but it may be the same thing/or simlar. I do the command below, on Windows (not sure about other OS), and it pages with `less.exe`. It looks great but when I hit `q` to quit, there's an error. FWIW, if I do the exact same thing in PowerShell and there's no error.

git command:
`git log --graph --pretty='format:%Cred%h%Creset -%C(yellow)%d%Creset %s %C

[2020-07-08 13:26] thegedge commented on #2133
After running that command, @fdncred, I see this:

[code]

Looking into it, this is because pressing `q` closes the pipe before consuming everything, and `git` will report this as an error. If you scroll to the very end, you'll see that goes away. Rather unfortunate 😞

[2020-07-08 13:34] fdncred commented on #2133
hmmm, in powershell without any modules running I get the same result. It looks like less is returning this value on `q` for some reason. You're right again. :)
[code]

[2020-07-08 21:53] JosephTLyons commented on #2138
Another thing I've noticed is that this doesn't happen on 0.16.0 (the last release) (on right), but happens on master of 0.16.1 (on left), so it must've been a recent change that caused it:

<img width="828" alt="Screen Shot 2020-07-08 at 5 52 16 PM" src="https://user-images.githubusercontent.com/19867440/86974217-e9efd500-c143-11ea-8c4f-954df54ac32a.png">

[2020-07-09 06:17] samhedin commented on #2023
The offending line is `let assignment: Vec<_> = lite_pipeline.commands[0].name.split('=').collect();` inside `parse.rs`.
Changing it to `let assignment: Vec<_> = lite_pipeline.commands[0].name.splitn(2, '=').collect();` fixes it, but right before I submitted a PR wit the change I saw that it's very connected to https://github.com/nushell/nushell/issues/1832 so maybe it's better to wait.

[2020-07-09 15:56] fdncred opened #2144 "open --raw is no longer raw"
**Describe the bug**
It appears that something, maybe #2028, changed `open --raw`. It seems to go through `bat` or some other process to display a file. Maybe this is a `textview` change. I'm not sure. I found it by looking at @arashout 's `summaries.md` file. If you look at the one without stripping the ANSI sequences.

**To Reproduce**
Steps to reproduce the behavior:
1. open --raw summaries.md

[2020-07-09 17:05] arashout commented on #2144
I probably introduced this bug in my pr for open.
I'll take a look

[2020-07-09 19:41] warrenseine commented on #2141
@thegedge I see that [roxmltree](https://github.com/RazrFalcon/roxmltree/blob/master/README.md), the library used to parse XML in `from xml`, can only read XML, not write it. If I want to output XML, I can either:
1. integrate another XML library ([xmltree](https://docs.rs/xmltree/0.10.1/xmltree/index.html) looks ok)
2. add the write capability to roxmltree (which, considering the name of the libr

[2020-07-09 19:53] thegedge commented on #2141
I think regardless of what you do, you'll likely end up having to do (3) to some extent, because you need to find a mapping between a nushell `Value` and whatever crate you use.

I think there are two options:

1. Follow something like our `to json` method, and make use of a serde thing (e.g., https://docs.rs/serde-xml-rs/0.4.0/serde_xml_rs)
2. Follow something like out `to html` method, and manua

[2020-07-09 19:54] thegedge commented on #2141
By the way, if you're interested in working on this, I'd be happy to assign the issue to you, @warrenseine

[2020-07-09 20:01] warrenseine commented on #2141
I do. I have no previous Rust experience, so I can't commit to anything, but I think it'd be a good issue to learn the language (and the project architecture as well).

[2020-07-09 20:16] ritobanrc commented on #2119
I'd like to work on this.

[2020-07-09 20:28] fdncred commented on #2119
@ritobanrc I assigned this issue to you. Have at it! Thanks for your help!

[2020-07-09 20:52] thegedge commented on #2141
It's yours! Let us know if you have any questions. You can join us in #developing on discord, or just ask in here 🙂

[2020-07-09 21:25] fdncred opened #2145 "FilePath handling as builtin"
**Is your feature request related to a problem? Please describe.**
It would be nice if Nu had a path builtin for dealing with file paths. Maybe a command called path with subcommands.

**Describe the solution you'd like**
- [ ] path basename
- [ ] path extension
- [ ] path directory_name
- [ ] path get_fullpath
- [ ] path filename
- [ ] ?
- [ ] ?

**Describe alternatives you've considered**
Parsin

[2020-07-09 23:58] arashout commented on #2144
So I may need some help with this. @jonathandturner
The `raw` functionality is working correctly, but what we are seeing in the screenshot is the Streaming "packets"/"frames"? from `MaybeTextCodec`.
I don't really know how to make the numbers go away...

[2020-07-10 17:47] arashout commented on #2144
Just to add more context to this issue, from discord:
[code]

I also think this issue and https://github.com/nushell/nushell/issues/2138 are related

[2020-07-11 10:11] warrenseine commented on #2141
I've submitted a first incomplete PR (#2155). I'd appreciate if someone could have a look and answer a few questions.

[2020-07-12 04:30] jonathandturner commented on #587
Since we're using Ubuntu 18.04 as one of our release pipelines now, I think we can close this.

[2020-07-12 04:30] #587 closed

[2020-07-12 04:32] jonathandturner commented on #636
@Porges - if you're still using Nu, do you know if this still an issue with more recent Nushell versions?

[2020-07-12 04:33] jonathandturner commented on #701
I think I still need to figure out how to get access to the quay.io account. Should we just create a new one?

[2020-07-12 04:35] jonathandturner commented on #709
I think we want that to have a better suggestion. Let them know that everything needs spaces (so they don't get used to not using them and then get confused when they're required)

@olamiko - sorry for the long delay, if you're still interested in this I'd be happy to help you with it.

[2020-07-12 04:35] jonathandturner commented on #711
@andrasio - is there a way to get the latest list of commands that need docs?

[2020-07-12 04:39] jonathandturner commented on #715
@jonmast - we switched how we were doing the builds. Is this still an issue with more recent releases?

I saw that Arch has AUR for nushell, too, which is another possibility.

[2020-07-12 13:29] jonmast commented on #715
@jonathandturner  This hasn't been an issue for quite some time, recent releases work fine on Arch even without using the bundled SSL lib.

 I'm the maintainer of nushell-bin on the AUR, it relies on these binaries for a speedier install than the build from source variant.

Thanks for all your hard work on this, I'll close this out now.

[2020-07-12 13:29] #715 closed

[2020-07-12 17:43] kubouch opened #2161 "Alias to an existing command overflows the stack"
**Describe the bug**
Creating an alias with the same name as an existing command overflows the stack - I think it just recursively calls itself.

**To Reproduce**
Steps to reproduce the behavior:
1. `alias ls [] { ls }`
2.  `ls`
3.
[code]
**Expected behavior**
I think, it would be usefuls to overwrite existing commands with aliases to provide default options, e.g., `alias cal [] { cal --week-start

[2020-07-12 23:16] jonathandturner commented on #715
Great to hear. And thanks for working on the AUR :)

[2020-07-13 03:50] yanganto commented on #933
I got a similar issue with round brackets

OS: Archlinux
Version: 0.16.0

[code]

[2020-07-13 10:32] DrSensor commented on #701
What about using hub.docker.com?
(seems the username already [reserved](https://hub.docker.com/u/nushell) 😣)

[2020-07-13 12:07] olamiko commented on #709
@jonathandturner, I am still interested. I will have a look at the error reporting module. Do you know where it is located?

[2020-07-13 12:36] thegedge commented on #2161
Duplicate of https://github.com/nushell/nushell/issues/1885

Currently not supported, but definitely something we want to support 🙂

[2020-07-13 12:36] #2161 closed

[2020-07-13 12:38] thegedge commented on #933
I believe 0.17.0 will fix this issue.

[2020-07-13 17:22] fdncred opened #2166 "config documentation update"
**Describe the bug**
I noticed there are a few places that `config --set` is referenced in the documentation. Config has recently changed and doesn't have flag like it used to. So, it would be nice to get these occurences updated from `config --set` to `config set`. I think this is a complete list of config subcommands that need to be changed.
* clear
* get
* load
* path
* remove
* set
* set_into

[2020-07-14 01:48] thegedge opened #2169 "Expand a list of primitives into separate positional arguments for externals"
**Is your feature request related to a problem? Please describe.**
I'd like an easy way to "splat" a nu list into separate positional arguments for an external command. For example, `vim $(ls | where type == File | get name)` would open all of the files in the current directory with vim.

**Describe the solution you'd like**
I think it makes sense to have `external <list>` evaluate as `external li

[2020-07-14 04:23] jonathandturner commented on #2069
I thought I'd fixed this, but I'm still seeing the old behavior. Reopening for more investigation.

[2020-07-14 18:44] andrasio commented on #711
@jonathandturner Afraid not.

[2020-07-14 20:02] ajeetdsouza opened #2174 "Command substitution not interoperable with inbuilt commands"
**Is your feature request related to a problem? Please describe.**
I'm the author of [zoxide](https://github.com/ajeetdsouza/zoxide), and I've been trying to integrate it with Nushell. zoxide allows a user to cd into a directory by using just a keyword. A simple way of doing this would be:

[code]

However, this is does not currently work in Nushell. However, something like this does work, presuma

[2020-07-14 20:13] thegedge commented on #2174
Possibly related: https://github.com/nushell/nushell/issues/2069

[2020-07-14 20:57] ajeetdsouza opened #2175 "Support for logical paths with pwd"
**Is your feature request related to a problem? Please describe.**
Most shells support two options with `pwd`:

- `-L` for the logical path (leaving symlinks in the path, removing `.` and `..`)
- `-P` for the physical path (similar to `canonicalize` in Rust)

Currently, Nushell only supports physical paths with `pwd`. This leads to an unintuitive experience, since `pwd` is used in the prompt:

[co

[2020-07-14 22:57] morrme commented on #2166
What about this one (from README): https://github.com/nushell/nushell/blob/main/README.md#configuration

[2020-07-14 23:00] fdncred commented on #2166
@morrme Good catch. There are several places where it needs updating like this.

[2020-07-14 23:01] morrme commented on #2166
@fdncred What about this table? https://github.com/nushell/nushell/blob/main/docs/commands/config.md#flags

[2020-07-14 23:03] fdncred commented on #2166
@morrme Yes, exactly!

[2020-07-14 23:03] morrme commented on #2166
Should the table be eliminated, or just updated without the ` --`

[2020-07-14 23:06] fdncred commented on #2166
I think all changes throughout the documentation should probably be just to remove the `--`'s. If you find something that you don't agree with, bring it up and we can discuss it.  Should I assign this to you? :)

[2020-07-14 23:06] morrme commented on #2166
sure. 🙂

[2020-07-14 23:07] fdncred commented on #2166
Done. Thanks for your help!!!

[2020-07-15 00:15] thegedge commented on #2175
This will be tougher than expected, because we [canonicalize the path](https://github.com/nushell/nushell/blob/8551e06d9ea1d25d97989bc4874571c0bcc7d410/crates/nu-cli/src/shell/filesystem_shell.rs#L213) whenever we cd, which will read the symlink and set the current working directory based on that result.

[2020-07-15 01:03] andrasio opened #2180 "Make keep a command and move keep-while and keep-until as sub commands."
With the move of `skip` as a command holding `skip-while` and `skip-until` as sub commands (`skip until` and `skip while`) [in this Pull Request](https://github.com/nushell/nushell/pull/2179) we need to do the same for `keep` and having `keep-while` turned to `keep while` and `keep-until` to `keep until` respectively.

The changes required are almost exactly the same steps as the linked Pull Reque

[2020-07-15 03:04] andrasio opened #2185 "config command suite reassessment"
`--set` takes the arguments as positionals and no longer a table.

`config set [table_mode light]` < no longer supported.
`config set table_mode light` < new way.

[2020-07-15 03:57] jonathandturner commented on #2185
@andrasio is this issue to change the docs or how `config set` works?

[2020-07-15 04:51] arashout commented on #1864
Addressed in documentation

[2020-07-15 04:51] #1864 closed

[2020-07-15 08:21] jonathandturner opened #2187 "`to html` should reset rather than use black"
**Describe the bug**
I tried moving the wasm playground to using the new `-t` flag, and got close but not quite what we want:

![Screenshot from 2020-07-15 20-12-43](https://user-images.githubusercontent.com/547158/87521518-98fa5680-c6d8-11ea-96fb-012b31da074b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Using `to html -s` and display the html inside of a website with a black backgro

[2020-07-15 08:21] jonathandturner commented on #2187
cc @fdncred

[2020-07-15 15:10] fdncred commented on #2187
@jonathandturner I've thought about this a little bit. Here's what I'm seeing as options. My vote is cast. Please let me know what you think.

- [ ] try and detect background color with techniques listed below and then change the text correspondingly:
`term_color` using `fn bg` or
`ansi_term` not sure if supports getting backgrounds
The problem with either of these solutions is the answer isn't ne

[2020-07-15 15:24] kfardanesh commented on #2169
**Posting my example from discord:**
Thought I'd offer some observations while trying to programmatically update python packages
```nu -c $(echo "python -m pip install --upgrade " $(python -m pip list | lines | skip 2 | parse "{package} {version}" | trim | = `{{$it.package}} `) | str collect)```

The above works, but displays awkwardly when set as an alias as follows:
```alias --save pip_upgrade_p

[2020-07-15 16:47] ryanpcmcquen opened #2188 "`open` does not work on directories"
Run `open .` in `nushell` to receive the following error:
[code]

In other shells, this would just open the current directory. Is there a workaround for this in nushell?

[2020-07-15 17:06] #2188 closed

[2020-07-15 17:40] ryanpcmcquen commented on #2188
I'm just going to set up a symlink for the standard one:
[code]

[2020-07-15 17:58] ryanpcmcquen opened #2190 "Allow defaults for `to json` and similar commands."
I'd like to set a default for `to json` to always use `-p 4`, I can't seem to find a way to accomplish this with configs I know I could just alias the command, but I am wondering if there is another way I am not aware of.

[2020-07-15 18:56] fdncred commented on #2187
#2189 Addresses  this by use of `dark_bg`

[2020-07-15 19:13] thegedge commented on #2190
Duplicate of https://github.com/nushell/nushell/issues/1885

Aliases are the way to go. One problem we have currently is that you can't create an alias that overrides a builtin command. For example, in another shell I may override `ls` to always use colors:

[code]

We have https://github.com/nushell/nushell/issues/1885 for that though, so subscribe to that one and hopefully we'll have something f

[2020-07-15 19:13] #2190 closed

[2020-07-15 19:19] thegedge commented on #1885
We'll need to consider subcommands too (for example, `to json`).

[2020-07-15 19:20] thegedge opened #2191 "Allow aliases to override subcommands"
**Is your feature request related to a problem? Please describe.**
The ability to override a builtin command that is actually a subcommand.

**Describe the solution you'd like**
No specifics here, but being able to override internal commands that are actually subcommands will be useful for overriding default flags and such. For example, in https://github.com/nushell/nushell/issues/2190, a default

[2020-07-15 19:26] ryanpcmcquen commented on #2190
Thanks!

[2020-07-15 19:41] thegedge commented on #2136
https://github.com/nushell/nushell/pull/2192 addresses most of this, but this one:

[code]

Seems to still exist. I think it could be a bug in rustyline itself, because the completion item and position is correct. Will investigate.

[2020-07-15 20:59] ryanpcmcquen opened #2193 "History not preserving across sessions."
I'm on nushell 0.16.0, Mac OS 10.15.x. My history isn't preserving across sessions, things I ran a day ago are already gone ... is there some special config I am missing? I looked at the code here and the default is 100,000 lines of history, but mine never seems to go too far beyond 100.

Here's my config:
[code]

[2020-07-16 02:56] andrasio commented on #2185
I think we can conclude this is resolved.

[2020-07-16 02:56] #2185 closed

[2020-07-16 17:23] ryanpcmcquen commented on #2193
I also tried manually setting `history_size` to `500000`, but that's not helping either.

[2020-07-16 18:06] ryanpcmcquen commented on #1834
It doesn't seem that `$HOME` expands either, when setting it for the path. Do all path values need to be absolute?

[2020-07-16 18:13] bailey-layzer commented on #1885
Could I claim this (and #2191)? I can implement it as a command `builtin` as @uberjay suggested. What about `_bi` for an abbreviated syntax to parallel `^ex`?

[2020-07-16 18:24] bailey-layzer commented on #2193
The history seems to gets munched down to 100 with/after the first command after running nu - calling `history` first will show a longer history from the last session, but upon calling it again there are 101 entries including the first `history`.

[2020-07-16 18:28] jonathandturner commented on #1885
I was thinking about this one recently. I think the way aliases are implemented is going to make it difficult, so the first thing we probably want to do is to perhaps change how those are implemented.

Currently, when an alias is created, we put it in the list of internal commands. This means if you alias an existing internal command, we'll remove the old one and put the alias in its place. This c

[2020-07-16 21:20] LiHRaM commented on #2121
Seems the changes broke something, now `mkdir test'` doesn't parse correctly. Unless that was intentional?

[2020-07-16 21:50] thegedge commented on #2121
I wonder if this is the problem, or at least part of it: https://github.com/nushell/nushell/blob/0f688d7da7481c78b54b280661930e0912e1b7b4/crates/nu-cli/src/commands/classified/internal.rs#L217

[2020-07-16 22:08] Tauheed-Elahee commented on #2166
@morrme I see that you made a pull request for README.md could you also update the [Nu book](https://www.nushell.sh/book/) as well?

[2020-07-17 19:06] #2180 closed

[2020-07-18 03:08] jonathandturner opened #2203 "Does `uniq` work for simple values?"
**Describe the bug**
I tried this:

[code]

I expected that since having two 1's wasn't unique, it'd remove one

**To Reproduce**
Steps to reproduce the behavior:
1. `echo [1 4 1 5 6] | uniq`

**Expected behavior**
Shouldn't one of the 1's get removed?

**Configuration (please complete the following information):**
 - OS (e.g. Windows): wasm
 - Nu version (you can use the `version` command to find

[2020-07-18 03:25] jonathandturner opened #2204 "`if` has wrong description"
**Describe the bug**
Currently, the description of `if` is: "Filter table to match the condition.", which seems like `where`

**To Reproduce**
Steps to reproduce the behavior:
1. help if

**Expected behavior**
`if` should probably "Run blocks if a condition is true or false".

[2020-07-18 03:26] #2193 closed

[2020-07-18 04:26] JosephTLyons opened #2206 "Improve Build Times"
**Is your feature request related to a problem? Please describe.**
I realize there isn't a clear solution to this, but I figure there should be some sort of official issue on this subject.  Build times in Nushell are pretty painful.  It makes the develop-test-debug cycle pretty slow.  We can use this issue as a place to discuss what can be done and compile a list of items to try to work on, in hop

[2020-07-18 06:28] ryanpcmcquen commented on #2193
@jonathandturner, thanks for the fast fix!

[2020-07-18 07:12] jzaefferer opened #2208 "to html: fix output for lists"
**Describe the bug**
When using `to html` to format a list, all values are joined without spaces (and no other formatting)

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I'd expect at least spaces between the list elements. Or a headerless table:
[code]

**Configuration (please complete the following information):**
 - OS (e.g. Windows): OSX (should be OS independ

[2020-07-18 08:49] jzaefferer opened #2210 "Error for `ps`"
**Describe the bug**
Using nu from latest main (0.16.1), `ps` fails with an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `ps`

It outputs this:

error: Error: Error while processing begin_filter response: Error("unknown variant `Filesize`, expected one of `Nothing`, `Int`, `Decimal`, `Bytes`, `String`, `Line`, `ColumnPath`, `Pattern`, `Boolean`, `Date`, `Duration`, `Range`, `Pa

[2020-07-18 09:14] jzaefferer opened #2211 "Incorrect group-by example (or implementation?)"
**Describe the bug**
`group-by --help` provides this example:

[code]
The description is "write pipelines for a more involved grouping key", which doesn't tell me what this is actually supposed to do.

**Configuration (please complete the following information):**
 - OS (e.g. Windows): OSX
 - Nu version (you can use the `version` command to find out): latest from main
 - Optional features (if any)

[2020-07-18 16:18] fdncred commented on #2210
@jzaefferer I'm guessing this is because @jonathandturner changed `Bytes` to `Filesize` recently in #2153. Maybe there is some place we missed.

[2020-07-18 16:31] k-brk commented on #2203
I did a little bit of digging in this out of curiosity and it looks like strings have same problem
[code]
will print `A B C D A` which is incorrect, but for example

[code]
will result in `1 2 3 4` which is correct.

So we need to dig deeper. I dumped `input` and `counter` content from `uniq` command
( https://github.com/nushell/nushell/blob/main/crates/nu-cli/src/commands/uniq.rs#L33 ) to CLI usi

[2020-07-18 16:56] lpil commented on #378
Hello! Is it possible to have variable numbers of args for aliases?

[code]

[2020-07-18 17:15] jonathandturner commented on #2210
@jzaefferer - you might have an older version of the plugin for `ps` installed. You could try installing from source `cargo install --path . --features=stable` to make sure you have a more up-to-date plugin.

[2020-07-18 17:16] #2204 closed

[2020-07-18 17:19] #2203 closed

[2020-07-18 22:59] lpil opened #2218 "Unable to start vi or nvim via alias"
**Describe the bug**

I am running nushell on Ubuntu within Windows 10 using WSL2 + Windows Terminal.

I have the following config:

[code]

When I then run `v` or `n` the terminal hangs without printing anything.

With nvim if I press `ctrl-c` nushell crashes and prints this:

![image](https://user-images.githubusercontent.com/6134406/87863344-154b9e80-c952-11ea-9272-ae6c2ca59ab3.png)

With vi th

[2020-07-19 00:10] JosephTLyons commented on #1991
I'm going to go ahead and close this issue for now.  @ProgrammingLife, if you are still having issues installing Nushell through `cargo install nu`, feel free to open up another issue.

[2020-07-19 00:10] #1991 closed

[2020-07-19 00:12] JosephTLyons commented on #2206
I didn't see this in my earlier searches, but I just now saw this, so maybe this can be closed up and the original issue can be used:

https://github.com/nushell/nushell/issues/621

[2020-07-19 00:15] JosephTLyons commented on #1762
Hey @tannakartikey, if you weren't able to find time to work on this issue, that is ok, we can remove you as the assignee, but if you're still interested in working on this, then that is ok too!

[2020-07-19 08:52] jzaefferer commented on #2211
I rebuilt my nu version after doing `cargo update` (I always assumed that `cargo install` will update implicitly) and now I get a different result, but it still looks wrong:
[code]
With `| get error` it looks like this:
[code]

[2020-07-19 08:54] jzaefferer commented on #2210
Yep, looks like I was building with outdated dependencies. https://www.nushell.sh/book/en/installation.html never mentions `cargo update`, even though that seems to be necessary when pulling updates (not when doing a fresh clone/initial install, I guess).

[2020-07-19 08:54] #2210 closed

[2020-07-19 08:57] andrasio commented on #2211
@jzaefferer Can't reproduce.

[code]

What is the output of: ```echo [1 3 1 3 2 1 1] | echo `({{$it}} - 1) % 3` | calc | str from | debug --raw``` in your build?

[2020-07-19 08:58] andrasio commented on #2211
@jzaefferer
Ohhhhhhh `calc` is now a subcommand of `math` and renamed as `eval`. Could you try:

[code]

[2020-07-19 10:07] jzaefferer commented on #2211
That works better, I guess?
[code]
I still don't understand what it does or is supposed to do.

[2020-07-19 10:32] andrasio commented on #2211
@jzaefferer I'ts not a great example but, the block is taking a value, computing it's modulus against 3 and that result is the key to store the value.

[2020-07-19 10:50] jzaefferer commented on #2211
Alright, so I guess the example needs an update (to use `math eval`). And you could add that description.

[2020-07-19 13:13] robyoung commented on #440
@andrasio your suggested sollutions don't seem to work for me.

[code]

[2020-07-19 13:17] andrasio commented on #440
Nu has changed a lot :)

`echo $nu.path`

[2020-07-19 17:49] #2133 closed

[2020-07-20 06:39] jzaefferer opened #2226 "Incorrect histogram usage example (or implementation)"
**Describe the bug**
`histogram --help` suggests this usage example:
[code]

But that doesn't work:
[code]

**Configuration (please complete the following information):**
 - OS (e.g. Windows): OSX
 - Nu version (you can use the `version` command to find out): latest from main
 - Optional features (if any): nope

I wonder if a CI job could extract all usage examples and try to run them, as a smoke

[2020-07-20 07:52] pegak opened #2227 "Git pretty example from documentation not working"
**Describe the bug**
I use example from [here](https://www.nushell.sh/cookbook/en/git.html) - Parse formatted commit messages. Output is `error: Error: sh: nu: No such file or directory`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `git log "--pretty=format:%h<nu>%aN<nu>%s<nu>%aD" | lines`
2. See `error: Error: sh: nu: No such file or directory`

**Expected behavior**
Output as shown

[2020-07-20 08:02] pegak opened #2228 "Empty lines when running lines command for parsing git log"
**Describe the bug**
I use example from [here](https://www.nushell.sh/cookbook/en/git.html) - Parse formatted commit messages. Output is table, but with wrong data (empty lines).

**To Reproduce**
Steps to reproduce the behavior:
1. Run `git log --pretty='format:%h<nu>%aN<nu>%s<nu>%aD' | lines | first 10`
2. See bad table with empty lines that shouldn't be there.

**Expected behavior**
Empty lines

[2020-07-20 09:54] robyoung opened #2229 "Add a limit to the `split` command"
**Is your feature request related to a problem? Please describe.**
When spliting rows by a character sometimes the split character is used multiple times in the last column. For example;
For example `apt list --installed` returns lines like `wget/focal,now 1.20.3-1ubuntu1 amd64 [installed]` and I would like to split on space. However, lines sometimes look like `update-manager-core/focal,now 1:20.0

[2020-07-20 10:03] warrenseine commented on #2141
I now realise that I can't simply convert any table to XML. I see at least 2 obvious issues:
- lists don't exist in XML
- XML files can't have multiple roots

You can't convert the following JSON file to XML without additional logic:
[code]

You would idiomatically write something like:

[code]

but `package` or `author` are new nodes I can't just invent.

I'm going to reject non-XML input. The ba

[2020-07-20 14:25] thegedge commented on #2218
Works fine for me outside of an alias, so this feels like a problem with aliases. Likely how we provide stdin into an alias doesn't use the special empty stream that we use elsewhere.

[2020-07-20 14:26] #2206 closed

[2020-07-20 18:04] aeshirey commented on #1892
I wrote the [.eml parser library](https://github.com/aeshirey/EmlParser/) that Nu uses as well as the `from-eml` command. Extracting attachments themselves from .eml files is [something I'd like to do](https://github.com/aeshirey/EmlParser/issues/2) at some point.

As for msg and mbox, it looks like there's [an mbox library](https://github.com/meh/rust-mailbox) that is roughly analogous to `EmlPar

[2020-07-20 21:11] JosephTLyons commented on #1771
Closed via: https://github.com/nushell/nushell/pull/2225

[2020-07-20 21:11] #1771 closed

[2020-07-20 21:12] JosephTLyons commented on #1151
I'm going to go ahead and close this, since the original request has been merged in (https://github.com/nushell/nushell/pull/2225), but feel free to open a new issue if there are additional sorts wanted

[2020-07-20 21:12] #1151 closed

[2020-07-20 21:15] JosephTLyons commented on #553
There hasn't been much activity on this issue.  We just landed case-insensitive sorting (https://github.com/nushell/nushell/pull/2225) and I think there is support for most of the other items being requested here.  i'm going to go ahead and close this, but feel free to open a new issue if there is some sort that is missing.  Thanks.

[2020-07-20 21:15] #553 closed

[2020-07-20 22:03] jgelens commented on #2218
Patch #2224 fixed it for me.

[2020-07-20 22:13] jonathandturner commented on #2218
@jgelens - that's good news.

@lpil - are you able to also test to see if the latest fixes have fixed your issue?

[2020-07-20 22:22] lpil commented on #2218
I'll have a test tomorrow, cheers :)

[2020-07-20 22:34] jgelens commented on #2218
@lpil I'm not sure if aliasing neovim works nicely yet until #1884 is implemented. e.g. `nvim file1.txt file2.txt` does not work. A symlink might be better until then.

[2020-07-20 22:35] lpil commented on #2218
@jgelens I was going to open an issue to how to do that very thing! I shall eagerly watch that issue. Thanks

[2020-07-21 05:47] JosephTLyons opened #2234 "The Nushell Test Suite Is Running Extremely Slow"
**Describe the bug**
In the past, the Nushell test suite would run fairly fast for me.  After it was done compiling, the tests would run in 5 or so seconds on my machine.  Today, the tests took 10-15 minutes to run.  At first, I thought it was a number of things, maybe my most recent upgrade to Rust 1.45.0, but after downgrading, I found that wasn't the case.  I had just upgraded my OS version as

[2020-07-21 07:22] #2234 closed

[2020-07-21 08:18] kubouch opened #2236 "Unable to edit or remove history file"
**Describe the bug**
I am unable to alter the history file manually.

**To Reproduce**
Steps to reproduce the behavior:
0. There is a history file at `$nu.history-path`
1. Edit `$nu.history-path`
2. The contents of the file get reset to the state at step 0.
3. Remove `$nu.history-path`
4. The history file re-appears in the state at step 0.

**Expected behavior**
I would expect it being possible to

[2020-07-21 08:21] kubouch commented on #2236
The reason I suspect window manager to be involved is that the commands passed to my launch-bar (e.g., libreoffice, I don't have any non-terminal text editors) get appended to the history file. So the dwm seems to pass that command into whatever shell I'm using. Then, nu probably copies that file into RAM and saves it back when the command is over. This would explain why my edits have no effect.

[2020-07-21 12:34] fdncred commented on #2234
I think https://github.com/nushell/nushell/pull/2235 should be rolled back. Please see that link for why.

[2020-07-21 16:01] thegedge commented on #2218
I think https://github.com/nushell/nushell/issues/1716 is the issue to watch for that. Closing this issue, since it's fixed (verified locally). If you want to open multiple files, for now you could do something like this:

[code]

We currently ignore empty values, so you could easily add more to that to work for most of your use cases 🙂

[2020-07-21 16:01] #2218 closed

[2020-07-21 20:32] georgeteo commented on #1275
With #1289, should fuzzy completion work today if when I configure `completion_mode=fuzzy`?

[code]

[2020-07-21 21:10] thegedge commented on #1275
Nope, not quite, @georgeteo. We parse the config value and only consider two values right now: `circular `and `list`. Should be easy to add, but apparently the fuzzy mode wasn't compatible across operating systems, so we held off. Not sure if this is still the case.

[2020-07-22 01:20] vlmutolo opened #2239 "Randomize environment length when benchmark command is used"
**Is your feature request related to a problem? Please describe.**
It's important to benchmark programs without seeing effects like "memory alignment due to stack size" make a big difference. Things like a user's account name can change this a lot.

**Describe the solution you'd like**
The `benchmark` function should add an environment variable of random length before running programs.

**Describe

[2020-07-22 08:27] djc commented on #1856
This is still happening with nu 0.17.0. 😞

[2020-07-22 08:44] jonathandturner commented on #1856
@djc - you can call out to starship now by configuring a custom prompt. I'd be curious if you see the same behavior calling out that way rather than using the built in.

That's let us know if it's something related to the embedding or not.

[2020-07-22 08:46] djc commented on #1856
Ah, is there any documentation on how to set that up? I skimmed over https://www.nushell.sh/book/en/configuration.html but didn't see anything that seemed related.

[2020-07-22 09:32] demilich1 opened #2240 "Cannot call .bat file on Windows"
When running nushell on Windows, I could not find any way to execute a batch file which resides in the current folder.

Steps to reproduce the behavior:
1. navigate to a folder which contains a batch file (or create a new batch file 'test.bat' in the current folder with the content
`echo "Hello, world"`
2. try calling test.bat, ^test.bat, ./test.bat etc
3. Notice the output 'command not found' no

[2020-07-22 11:11] TheMatten commented on #2119
Shouldn't this issue be closed as resolved?

[2020-07-22 15:45] thegedge commented on #2119
Yep, looks like it should! Thanks, @TheMatten.

[2020-07-22 15:45] #2119 closed

[2020-07-22 18:50] gerred opened #2241 "Nu does not resolve auto-completed files/folders paths with "\", and does not auto-complete paths with "/""
**Describe the bug**
When attempting to `open` a file in Nu to a valid path using `/` as a path separator, Nu works as expected. However, tab-based autocomplete of file paths does not work.

When attempting to `open` a file in Nu to an equally valid path using `\` as a separator, Nu's tab-based autocompletion works as expected. However, attempting to access the file results in the following error:

[2020-07-22 19:41] mattyhall commented on #2145
Hi, I was going to look into doing this (following roughly how str is worked out) but saw the extra context. Are the maintainers planning on using something other than std::path::Path as their representation? If so I suppose it is best I wait for such a decision

[2020-07-22 19:45] fdncred commented on #2241
In `0.16.1` and `0.17.0` I get
[code]

[2020-07-22 20:12] gerred commented on #2241
I've seen that too on certain outputs when I tried, not sure in some cases what I did differently (I was changing a lot of underlying env at the same time).

[2020-07-22 20:23] fdncred commented on #2145
@mattyhall I think you should run with it. I think the comments on UNC and *nix/Windows slashes are still valid. I think it's also probably a good idea to look at other path library crates - maybe std::path::Path is good, maybe there's something better/easier/more options. I'm not sure. @jonathandturner , @thegedge - any input on this?

[2020-07-22 20:43] thegedge commented on #2241
I'm (slowly) working on refactoring completion, with the intent to eventually write our own completer for nushell. I think this issue will eventually be resolved with that.

For now though, I can mention that we use `rustyline`'s completer, so it only works with `\` on Windows, and `/` elsewhere (because of https://doc.rust-lang.org/std/path/constant.MAIN_SEPARATOR.html). Since we have been holdin

[2020-07-22 21:41] #2169 closed

[2020-07-22 21:42] #2166 closed

[2020-07-22 22:16] gerred commented on #2241
I'd be happy to take a shot at the latter - while I know Rust, I haven't done any of it on Windows (and this seems decently platform specific enough) and some pointers of where I should look in the codebase / things that come to mind would be helpful.

[2020-07-23 10:39] fdncred commented on #2135
I would love to see this too.

[2020-07-23 14:55] thegedge commented on #2241
If the only issue right now is `canonicalize`, it's probably here: https://github.com/nushell/nushell/blob/a36d2a1586fda5f5f70c065e898455527d265512/crates/nu-cli/src/commands/open.rs#L195-L201

If it still has trouble opening the file, there's no clear location where that could be happening, but if I had to guess it would be https://github.com/nushell/nushell/blob/a36d2a1586fda5f5f70c065e898455527

[2020-07-23 18:26] fdncred commented on #1958
configurable keybinding is implemented in 0.17. however, i have not tested `skim` with it. Theoretically it should work on non-windows systems. I do not think `fzf` will work though as `rustyline` uses `skim`.

[2020-07-23 18:29] fdncred commented on #1162
customizable keybindings was implemented with the 0.17 release and may help this issue. please let us know.

[2020-07-23 18:30] jonathandturner commented on #1958
I wonder if rustyline would let us configure custom keybindings to call back into Nu. If so, we could call out into skim/fzf in the same way.

[2020-07-23 19:40] HarrisonB commented on #1958
Perhaps I should re-title this as the goal was execution of arbitrary commands via custom keybindings?

[2020-07-23 20:49] fdncred commented on #1958
Opened [this ](https://github.com/kkawakam/rustyline/issues/418)just now to see what the rustyline folks will say, or if they have any interest at all.

[2020-07-23 22:29] smaydew commented on #1470
I'm a Rust newbie, but really want to get involved. One of my co-workers is contributing to nushell and I thought this would be a good place to start. If the maintainers would like, I can pick up this issue as a starter.

[2020-07-23 23:56] ryanpcmcquen commented on #2193
This is broken again, I think because of changes for #2234.

[2020-07-24 01:34] JosephTLyons commented on #2193
Yes, I ended up reverting that one commit because it ended up causing our test suite to run extremely slow.  Normally, the suite runs in 5-10 seconds, but the commit that was reversed had an unintended side effect which caused our test suite to take 15-20 minutes to run, which slowed down development a lot.  I think some sort of alternative solution may be coming along at some point.

[2020-07-24 01:43] ryanpcmcquen commented on #2193
This bug should be reopened then. If you limit the default history size to something small like 1000, does that help with the test suite?

[2020-07-24 02:52] JosephTLyons commented on #1733
Closed by https://github.com/nushell/nushell/pull/2223

[2020-07-24 02:52] #1733 closed

[2020-07-24 14:48] smaydew commented on #2052
New to Rust, but I'd like to jump in and get my feet wet. This seems like a good one to start with if nobody has any objections.

[2020-07-24 15:38] thegedge commented on #2052
It's yours, @smaydew.

[2020-07-24 20:38] georgeteo commented on #1275
Oh great. #2238, `fuzzy` will work in 0.18 or I can compile from source if I'm impatient.

[2020-07-24 22:34] JosephTLyons commented on #2052
Absolutely, I think it was @jonathandturner who suggested some of these subcommands so there might be some implementation details for flags and default values.

[2020-07-25 16:36] JosephTLyons opened #2258 "Add `Tau` Constant to `Math Eval`"
According to the documentation:

https://doc.rust-lang.org/nightly/std/f64/consts/constant.TAU.html

The `Tau` constant will be stabilized in Rust 1.47.  We could add this to our list of constants (currently `pi` and `e`) in `Math Eval` when Rust 1.47 is officially released.

[2020-07-25 16:59] JosephTLyons commented on #2258
I realize Tau is 2pi, but I believe that some people prefer to use Tau over 2pi and also, if you check the source, the constants are slightly different - I assume from some sort of floating point rounding.

[2020-07-25 20:13] jonathandturner opened #2259 "Add optional redirection of stderr"
**Is your feature request related to a problem? Please describe.**
We currently don't have a way to redirect or quiet stderr messages. We removed redirecting stderr because external commands should be able to rely on Nu, by default, behaving similar to other shells.

For some cases, though, being able to control if stderr is redirected will help us build more interesting commands in the future.

F

[2020-07-25 20:13] jonathandturner commented on #2259
cc @thegedge

[2020-07-25 20:55] thegedge commented on #2259
Making it a command may come with difficulties, given how we parse externals differently. Another approach may be to take a block-based approach:

[code]

`redirect_stderr` would mutate the context in some way so that the external runner would know stderr should be redirected.

[2020-07-25 23:11] thegedge commented on #2258
Note, we use https://docs.rs/meval/0.2.0/meval/, so I think the work would actually have to be done on that crate and then updated here.

[2020-07-25 23:28] JosephTLyons commented on #2258
Ahh yeah.  I see that now.  I guess this can be used as a reminder to see if the crate maintainers over there end up adding it or not.

[2020-07-26 04:17] jonathandturner opened #2261 "`path` commands should point at the command when run by themselves"
**Describe the bug**
Run `path expand` by itself:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `path expand` by itself
2. Get curious error message
3.

**Expected behavior**
We should make sure the spans point to the correct locations for errors. Shouldn't be too bad, we get the name_tag passed in and could use that.

[2020-07-26 12:57] tannakartikey commented on #1762
Hey @JosephTLyons sorry for the delay

Somehow I missed @thegedge 's comment

[2020-07-26 16:55] vksdev opened #2263 "Add more possible key combinations in custom keybindings"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when ctrl+backspace dont work as expected by cmd.exe and pwsh.exe user. I expect alt+backspace functionality to work with ctrl+backspace.

**Describe the solution you'd like**
Either change default keybinding for windows user as they are expected to come from cmd and powershell OR allow ctrl to work with more

[2020-07-26 18:03] jonathandturner commented on #2259
@thegedge - along those lines, I wonder if the `is_last` feature we currently use is to help us know how to handle the redirects. I wonder if that should be an enum:

[code]

This would let folks also redirect *just* stderr if they wanted.

[2020-07-26 18:18] xolve commented on #2000
If its still open, would like to work in it.

[2020-07-26 18:20] bedomax commented on #2000
@andrasio could you assign @xolve ? Thanks.

[2020-07-26 19:01] mattyhall commented on #2145
As of #2255: basename, extension and expand (equivalent to "get_fullpath" I think) are done

[2020-07-26 20:08] fdncred commented on #2145
Just looked at the code @mattyhall. Good job! Thanks so much for adding this! Looking forward to your next one. :)

[2020-07-26 20:08] #2145 closed

[2020-07-27 03:12] JosephTLyons commented on #1157
This may no longer be an issue; some of the members worked on building a new nu table in the recent months.  The current behavior for me is that it never cuts off titles, no matter the terminal width, and instead, begins to wrap them down a line only if it absolutely needs to.

@djc, if you are still using Nushell, can you double check the behavior with the newest releases and see if your issue is

[2020-07-27 04:00] KSXGitHub commented on #1190
I want to add: It would be cool to have an [lsd](https://github.com/Peltoche/lsd)-like output when I type `ls` (it only appears like that when `autoview`, it is still a table underneath).

[2020-07-27 13:09] fdncred commented on #2263
Please help me understand. I live on Windows most of the time and I'm not familiar with Ctrl-BackSpace or Alt-Backspace. Can you explain and/or give examples of what they do?

Also, have you tried NuShell v0.17.0 that allows you to remap keybindings? If you haven't, there is an example file in the docs folder of this repo.

[2020-07-27 13:13] thegedge commented on #2259
Yeah, perhaps I should have made that change instead, and just make it alway have been `Stdout`. That way the plumbing would have been in place for when we have a way to redirect stderr.

[2020-07-27 13:30] fdncred commented on #2258
I'm still trying to learn rust but I thought one could implement an extension trait to add functionality to an external crate that you don't own. Is this not possible in this Tau example?

[2020-07-27 14:17] thegedge commented on #2258
Actually, now that you mention it @fdncred, there's a way to evaluate with a [`Context`](https://docs.rs/meval/0.2.0/meval/struct.Context.html), so perhaps we could just put the var in there and call it a day.

[2020-07-27 15:28] vksdev commented on #2263
Backspace deletes one character at a time, Alt-Backspace deletes one word at a time.

I am using `keybindings.yml` but it can't be used to set Ctrl-Backspace for now.

[2020-07-27 15:32] fdncred commented on #2229
How about this? `apt list --installed | lines |  parse "{pkg} {version} {platform} {status}"`

[2020-07-27 16:56] bailey-layzer opened #2267 "Fold/reduce command"
**Is your feature request related to a problem? Please describe.**
Similar to `each` and the `math` commands, I'd like to reduce a list with an arbitrary block.

**Describe the solution you'd like**
A `fold` (`reduce`, `agg`, ...?) command. Say I have a list of charges by month:
[code]
The `fold` command would allow summing these while applying interest to the total after each month:
``open exampl

[2020-07-27 16:59] thegedge commented on #2267
@andrasio you'd likely be interested here. I think I've brought up the idea of some command to fold, and perhaps express a lot of the aggregation methods we have in terms of that (instead of custom implementations in nushell).

[2020-07-27 17:44] bailey-layzer commented on #1885
This continues to bounce aorund my head. Question on expected behavior: say I create an `alias full-ls [] { ls -f }` and then a default `alias ls [] { ls -a }`. If I now call `full-ls`, should I see the hidden files (i.e. should the alias appear to "capture" commands in its block, however that's actually accomplished)?

[2020-07-27 18:02] thegedge commented on #1885
Great question, @bailey-layzer.

I think the most natural thing would be that aliases can call aliases. When we override a builtin name, I can see these two possibilities:

1. Try to be smart, analyze the pipeline to see if that builtin is called, and ensure the builtin is called instead of the alias being called recursively.
2. Assume the user forces it to be the builtin through some command that

[2020-07-27 18:09] robyoung commented on #2229
Oh yes! `parse` looks like exactly what I want. Thank you 🙇‍♂️

[2020-07-27 18:09] #2229 closed

[2020-07-27 18:36] jonathandturner commented on #2267
My one nit with having it is to use a more beginner-friendly name. @bailey-layzer mentioned `reduce` as one possibility.

[2020-07-27 18:56] gwenn commented on #1977
Could you please give a try to PR https://github.com/kkawakam/rustyline/pull/419 ?

[2020-07-27 19:39] bailey-layzer opened #2268 "Ignore non-numeric data for `math` operations"
This is an extension/update of #1883.

**Describe the bug**
Currently, the `math` subcommands behave unpredictably with non-numeric input. Using the table:
[code]
- `... | math sum` gives 63 (looks like it starts over after it encounters a string). Thus, `avg` gives 15.75.
- `median` and `mode` panic
- `min` and `max` raise an Unexpected
- `stddev` and `variance` raise a confusing coercion error:

[2020-07-27 20:14] thegedge commented on #2268
This has come up before in the context of how we should handle `Nothing` values in a stream. I believe we've come to the conclusion that we should always be strict about this, returning errors instead of coercing/ignoring. I believe @andrasio and @jonathandturner have opinions here also.

That being said, we should make it easy to filter things out with `where`, which I think is more flexible than

[2020-07-27 20:52] fdncred commented on #2263
@vksdev Thanks for the issue. I think I understand. I can't figure out how to get this to work, other than using nu inside of vscode terminal, which is weird that it just works there with ctrl+backspace.

I tried hard coding it too but couldn't get it to work. It may be a problem with me, so I've submitted [an issue](https://github.com/kkawakam/rustyline/issues/421) on rustyline to try to gain som

[2020-07-28 01:09] vksdev commented on #2263
Thank you for your efforts, I hope the issue will get resolved soon.

[2020-07-28 03:18] JosephTLyons commented on #2226
I'm not sure when this functionality changed, but you can use `wrap` to add a name to a column in a table:

[code]