[2019-09-10 21:09] androbtech commented on #638
@rrichardson I guess this is what you were asking. The flag is `--objects`, should we change it to `--per-line` @jonathandturner @wycats ?

What do you think? @rrichardson

[2019-09-10 21:59] rrichardson commented on #638
`--per-line`  is more clear to me than `--objects`

So this works for `open` but not for piping from stdout?   What is the disconnect there?

(I just tested this trying to pipe from my log source and it hung)

[2019-09-10 22:05] androbtech commented on #638
@rrichardson It should work for piping from stdout. Please, could you file a new issue with your message and, if you can, also paste the output from `kubectl logs mysvc` ?

[2019-09-10 22:07] androbtech commented on #638
@rrichardson also paste the output when running with `RUST_BACKTRACE=1` if you can. Thank you!

[2019-09-10 22:08] rrichardson commented on #638
@androbtech -  Actually, it's not as bad as I first thought.  I had some non-json lines in the log.  I filtered past those and  `| from-json --objects`  worked.

There is still an issue, though, and that is if JSON parsing fails,  the operation hangs.

[2019-09-10 22:15] rrichardson commented on #514
I have found (on Linux) that when JSON parsing fails, due to malformed JSON,  piping to `from-json` hangs indefinitely.  The error is :

[code]

[2019-09-10 22:15] rrichardson commented on #638
I have updated #514 , it seemed close enough
 https://github.com/nushell/nushell/issues/514#issuecomment-530141426

[2019-09-10 22:15] #638 closed

[2019-09-10 22:41] treeshateorcs commented on #636
first is when I am not running nush

[code]

stay tuned

[2019-09-10 22:44] treeshateorcs commented on #636
and this is when nush is the default shell

[code]

[2019-09-10 22:51] androbtech commented on #514
`--objects` was introduced after the release you are using. Try building from master and it should work.

[2019-09-10 22:52] androbtech commented on #514
Thanks!

Can you try `kubectl logs mysvc | from-json --objects | debug` and paste the output? It looks like it does the parsing correctly but it's failing when displaying the table (the pipeline ends implicitly with `autoview`)

[2019-09-10 23:07] rrichardson commented on #514
[code]

[code]

[2019-09-10 23:10] rrichardson commented on #514
interestingly...
[code]

It hangs, but it doesn't error..  I still hit ctrl-c... but there is no panic or backtrace, and foo.json is populated with what appears to be the expected data, including strings containing the invalid json

[2019-09-10 23:17] androbtech commented on #514
@rrichardson  How about now `> open foo.json` ?

[2019-09-10 23:42] Porges commented on #636
Great, that's probably the issue. Does setting `LANG=en_US.UTF-8` inside nushell make any difference? Otherwise it seems like it will need to be set before the shell launches, not sure what the moving parts are here...

[2019-09-10 23:58] treeshateorcs commented on #636
![image](https://user-images.githubusercontent.com/44036082/64658393-06e24b80-d440-11e9-8652-a0fd3325d8e9.png)

[2019-09-11 00:03] rrichardson commented on #514
opening results in the panic with the same error as above.

[code]

[2019-09-11 00:14] androbtech commented on #514
@rrichardson Thanks. The problem could be in the parsing of json in that case (and potentially the culprit of the hanging issue)

[2019-09-11 01:18] Porges commented on #636
Oh right 😅 nushell can’t yet set or read environment variables #440

[2019-09-11 02:02] bmurphy1976 opened #639 "No such file or directory (os error 2) scanning home"
I'm trying to find the largest files in my workspace directory with the following command:

[code]

However after waiting  about a minute with no output, I get the following error message:

[code]

I'm assuming there's an issue with one (or more) of the files in my workspace, but I don't know how to debug it.

OSX, running a build from git head as of 9/10/2019 (f47349c).

[2019-09-11 02:05] bmurphy1976 opened #640 "Excessive CPU and RAM usage scanning directories"
While trying to scan my home directory for the largest files using the following command:

[code]
One of my CPU cores gets pegged at 100% and after a couple minutes I had to kill the nu process as it was chewing up for 7gb of RAM and still growing.

OSX, running a build from git head as of 9/10/2019 (f47349c).

[2019-09-11 02:08] jonathandturner commented on #639
@bmurphy1976 - do you see the same error if you only do the `ls **/*` step?  If it doesn't, if you build the pipeline up one command at a time, at what point do you see the error?

[2019-09-11 02:10] bmurphy1976 opened #641 "Cannot abort long running commands"
If I'm running a command such as the following to scan a large number of folders:

[code]

I cannot abort the command by hitting ^C. I have to kill the entire nu process (usually by hitting ^Z and then killing it by pid).

[2019-09-11 02:10] jonathandturner commented on #640
Do you know about how many files this is iterating over?

[2019-09-11 02:10] androbtech commented on #639
@bmurphy1976 What OS are you using?

[2019-09-11 02:11] jonathandturner commented on #641
This seems to be a duplicate of https://github.com/nushell/nushell/issues/403, but please reopen if it's not.

[2019-09-11 02:11] #641 closed

[2019-09-11 02:25] jonathandturner opened #642 "Doing a large `ls` will die"
OS: Linux (Pop OS!)

Even though this machine has 32 gigs, I'm not able to get a full `ls` of the contents of the drive:

[code]

[2019-09-11 08:53] jeka opened #646 "broken docker image nushell/nu:devel"
In the last few days the docker image nushell/nu:devel is broken.
[code]

[2019-09-11 14:16] max-sixty opened #647 "rustfmt?"
Following on from https://github.com/nushell/nushell/pull/628, would you take a PR to enforce `rustfmt`? How about `clippy`?

[2019-09-11 15:53] joedborg opened #648 "Package `nu v0.2.0` does not have these features: `raw-key`"
Not sure why this is happening, because I can see the options in the cargo.toml.

[code]

[2019-09-11 17:00] jonathandturner commented on #648
These may have been added after the 0.2.0 release. Are you building the release or from github?

If it's the 0.2.0 release, you can do:

[code]

To get everything (and I think "raw-key" was "rawkey" in the release)

[2019-09-11 17:01] jonathandturner commented on #647
I'd would say yes to `rustfmt` though probably no to `clippy`, at least for right now.

[2019-09-11 17:03] jonathandturner commented on #646
Thanks for letting us know, we'll investigate.

[2019-09-11 17:47] bmurphy1976 commented on #639
Yes, still fails:

[code]

[2019-09-11 18:00] bmurphy1976 commented on #640
According to jDiskReport there's 825,073 files.  I tried running `find . | wc` and it's been running so long I doubt it's going to complete.

[2019-09-11 19:04] vsoch commented on #646
hey @jeka see https://github.com/nushell/nushell/pull/650 - I missed those dependencies in the README, sorry about that!

Also really cool you are using podman! :)

[2019-09-11 19:14] androbtech commented on #647
@max-sixty nor the `tests` directory please.

[2019-09-11 19:15] bmurphy1976 commented on #640
Find finally finished and reported the following:

[code]

I presume the delta is that jDiskReport wasn't counting directories.

[2019-09-11 19:22] #647 closed

[2019-09-11 21:10] joedborg commented on #648
That command works, thanks!

[2019-09-11 21:10] #648 closed

[2019-09-12 11:04] lienke opened #653 "Compiler panic, fixed by rust folks"
On a system like:
[code]
in which the kernel is too old for _getrandom_, the rustc (via cargo) paniced and stopped the compilation. I reported it to rustc folks (github) and they fixed it in the recent nightly build. Currently the rustc toolchain I am using is:
`rustc 1.39.0-nightly (34e82a7b7 2019-09-10)
`
cheers, drl

[2019-09-12 11:07] lienke opened #654 "Can't find help or discussion group"
You may not support a discussion group directly, but it would help if you mentioned some places that you may know about in the _book_, notes, etc.
For example, I dislike having the `nu` prompt being so long. Where do I find information on _preferences_ so that I can change that? ... cheers, drl

[2019-09-12 21:04] sophiajt opened #658 "Make it easier to find the discord chat"
A few people have mentioned not seeing the discord button. We should make it easier to find us.

[2019-09-13 02:44] #653 closed, assigned to nobody

[2019-09-13 03:09] #658 closed, assigned to nobody

[2019-09-13 03:09] #654 closed, assigned to nobody

[2019-09-13 09:36] jeka commented on #646
I am sorry but I am confused. What is the connection between Image pool in Azure Pipelines and base image for generated Docker images?

[2019-09-13 10:34] jankoprowski commented on #646
As far as I see you do not define Dockerfiles for Azure, just configure image you want to use in https://github.com/nushell/nushell/blob/master/.azure/azure-pipelines.yml

[2019-09-13 11:09] Southclaws commented on #356
I'd love to join this shell with the Starship prompt, both written in Rust, it's a match made in heaven!

https://github.com/starship/starship

I'm not certain on how starship is implemented under the hood though, so I'm not totally sure how easy it would be to integrate. But, it might be as simple as just importing the crate given it's Rust!

[2019-09-13 11:32] jeka commented on #646
@jankoprowski, I am still confused. This issue is not about Azure DevOps services. It's about the base image for generated Docker images.

[2019-09-13 12:56] vsoch commented on #646
@jeka there is no connection - I had tried to use the same base (16.04) but judging on the link shared (thank you @jankoprowski !) the choice simply seems to be because the better alterntive (18.04) isn't available. It's weird that the azure team maintains some set of special (modified) based images, but that's neither here nor there! I'm not completely happy with having nu-base and nu with two di

[2019-09-13 12:58] vsoch commented on #646
This issue is also fixed, there is no more libssl error. Thanks for reporting it @jeka and starting up conversation to make both bases better! Closing issue, PR coming in soon for the above.

[2019-09-13 12:58] #646 closed

[2019-09-13 17:30] jonathandturner commented on #595
@empath75 - that repro is very helpful. I'm using it now to see if I can track down where the limit is happening

[2019-09-13 18:39] jonathandturner commented on #514
@cdhunt - I just landed a fix that should help with the hangs you were seeing. I've tested it on Linux, and I'm hoping the same fix helps Windows also.

If you can, would you be able to checkout the latest Nu from master, build it, and try your example again?

[2019-09-13 20:55] wycats commented on #605
I added a `platform-tier2` tag for bugs that apply to platforms with best-effort support. I'm going to close the issue, but we would accept a PR that fixed the bug.

[2019-09-13 20:55] #605 closed

[2019-09-13 20:57] cdhunt commented on #514
I'm working on a Rustlang Windows container to run the build.

[2019-09-13 20:57] wycats commented on #636
How do other shells get the right locale when used with `chsh`?

[2019-09-13 21:05] wycats commented on #601
Are there common use-cases for `!!` other than "whoops! forgot sudo!"?

[2019-09-13 21:18] andrasio opened #666 "External commands call output expectations."
First released MVP we can do something like:

`echo "$(git log --pretty=format:'%h|%s|%aN|%aE|%aD' -n 2)" | lines | split-column "|" commit subject name email date` to get:

[code]

This is no longer possible because (with expected output) due to, possibly, the way we are giving output back.

With latest build from source we get:

[code]

This is possibly because our built-in `echo` simply prints

[2019-09-13 22:57] jonathandturner commented on #394
This now is supported with the `--collapse-empty` flag. The default behavior will leave the empty columns.

[2019-09-13 22:57] #394 closed

[2019-09-13 22:59] jonathandturner commented on #621
@androbtech - with your fix, should we check off `regex`?

[2019-09-13 23:00] jonathandturner commented on #558
I'm not sure if this is related to some of the parser work. Would you be able to confirm if this is still happening?

[2019-09-13 23:03] jonathandturner commented on #487
Recently @wycats landed some changes to external command support in the parser. It seems this is now fixed.

I'll close the issue, but please re-open if the issue is still happening with the latest code in master.

[2019-09-13 23:03] #487 closed

[2019-09-13 23:04] jonathandturner commented on #471
After #592, I believe we're now round-trippable.

I'm going to close the issue, but please re-open if you find cases that don't roundtrip successfully in the latest master.

[2019-09-13 23:04] #471 closed

[2019-09-13 23:05] jonathandturner commented on #457
Yes, we can definitely make it configurable how ctrl-c works.

[2019-09-13 23:06] jonathandturner commented on #446
We can move to the github version of rustyline. Would that help @vivainio?

[2019-09-13 23:08] jonathandturner commented on #439
Since rustyline fixed this, I think we should move to the github version of rustyline to help them test ahead of their next release.

[2019-09-13 23:10] luc1fe commented on #383
hmmm 😢

[2019-09-13 23:14] jonathandturner commented on #439
https://github.com/nushell/nushell/pull/667

[2019-09-13 23:15] jonathandturner commented on #422
@wycats - is this issue complete with your recent decimal work?

[2019-09-13 23:17] jonathandturner commented on #383
This should be fixed now with more recent work on decimals and the parser.

Closing, but if you find a case where decimals aren't supported, please reopen.

[2019-09-13 23:17] #383 closed

[2019-09-13 23:19] jonathandturner commented on #360
I'm going to close this issue since the root cause was fixed. We have another issue for a better location for the history file (#100) that caused the panic, so we can do the rest of the work on that issue.

[2019-09-13 23:19] #360 closed

[2019-09-13 23:19] jonathandturner commented on #302
This is now complete

[2019-09-13 23:19] #302 closed

[2019-09-13 23:20] jonathandturner commented on #256
@androbtech - can you confirm this is fixed now?

[2019-09-13 23:20] jonathandturner commented on #257
@androbtech - can you confirm this is fixed now?

[2019-09-13 23:21] jonathandturner commented on #207
@androbtech are there other checks that still need to be added to mark this complete?

[2019-09-13 23:21] androbtech commented on #256
Can confirm

[2019-09-13 23:21] jonathandturner commented on #193
Closing this for now, but we can still use the metadata for better filetype detection

[2019-09-13 23:21] #193 closed

[2019-09-13 23:21] androbtech commented on #257
Can confirm.

[2019-09-13 23:24] #256 closed

[2019-09-13 23:24] #257 closed

[2019-09-13 23:29] jonathandturner commented on #446
We're going to move to the git version of rustyline, which should fix this. https://github.com/nushell/nushell/pull/667

I'm going to close the issue, but please reopen and ;et us know if you still hear the bell on the recent master.

[2019-09-13 23:29] #446 closed

[2019-09-13 23:52] androbtech commented on #207
@jonathandturner Flag revisit and other than that... think we are Ok.

[2019-09-13 23:53] androbtech commented on #207
@jonathandturner Closing this. Will revisit and reopen if needed.

[2019-09-13 23:53] #207 closed

[2019-09-14 02:53] jonathandturner commented on #666
If I'm reading this right, this used to work because we were working through bash rather than nu being its own shell.

Have you tried calling out to sh with the text?

[2019-09-14 14:46] ralvessa commented on #648
I tried to install with:

```cargo +nightly install nu --features raw-key```

I got the same error as mentioned in this issue. However, it worked without the hyphen:

```cargo +nightly install nu --features rawkey```

Should the `README.md` be updated to use `--all-features` instead?

[2019-09-14 16:17] mcarifio commented on #549
Assuming that scripts will eventually be added https://github.com/nushell/nushell/issues/291, will idea1/vertical pipes be confusing? Perhaps you could introduce indentation to convey where a vpipe starts and ends(?). I'd also like to suggest some way of explicitly turning the syntax "on" with the default of "off", something similar to 'use strict'; in javascript. So perhaps `use vpipe something s

[2019-09-14 18:05] jonathandturner commented on #595
With #664, I believe I have fixed the underlying cause of the pauses/freezes. If you can, please give a recent checkout from master a try to see if it fixes the issue.

I'll close the issue for now, but please reopen if if you can still repro with the more recent nu.

[2019-09-14 18:05] #595 closed

[2019-09-14 19:27] BatmanAoD commented on #549
Personally, I find the proliferation of modes and feature flags in Bash more confusing than helpful, though some are probably unavailable (such as only loading startup files in "interactive" mode).

[2019-09-14 19:57] wycats commented on #666
It seems surprising that `^echo` didn't work, no?

[2019-09-14 22:55] andrasio commented on #666
@jonathandturner

[code]

[2019-09-14 22:55] andrasio commented on #666
@wycats Indeed. They work on the released version.

[2019-09-15 22:01] jonathandturner opened #673 "Latest changes break automatic textview"
It looks like textview now no longer works automatically.  I'd like to be able to `open README.md` and get the scrolling, colored textview by default.

[2019-09-15 22:20] jonathandturner opened #674 "rm does not confirm recursive delete"
If you type `rm <dir name>`, nu will recursively delete without asking for confirmation. This is a pretty dangerous default. We should at least confirm before we delete cursively, or make it easy to undo recursive deletes.

[2019-09-15 22:20] jonathandturner commented on #674
Ooops, nevermind, it does require the flag.

[2019-09-15 22:20] #674 closed

[2019-09-15 22:43] andrasio commented on #674
@jonathandturner ;)

It deletes it without a flag, if and only if the directory is empty.

[2019-09-16 13:30] Southclaws commented on #291
How about embedding [Deno](https://github.com/denoland/deno)? Maybe not for the prompt itself but for scripts? It's available as a Rust crate, it's security focused, it's a well-known syntax so there would be no inventing of yet another new language.

[2019-09-16 14:08] ubsan commented on #291
I would love some Ruby style closures -- `{ |$x, $y| $x + $y }`; one of my least favorite parts of pwsh is the length of `param` and how annoying they are to introduce

[2019-09-16 16:33] jonathandturner opened #676 "Internal command runner panics for some inputs"
Recent parser changes panic for some seemingly correct inputs. Here's one example:

[code]

[2019-09-16 21:10] waldyrious commented on #353
For future reference and cross-linking, the PR to Homebrew that introduced the formula was https://github.com/Homebrew/homebrew-core/pull/43440.

[2019-09-16 21:17] waldyrious commented on #353
Also, the formula is macOS-only for now. There's work for adapting it to Linux in https://github.com/Homebrew/linuxbrew-core/issues/15316 / https://github.com/Homebrew/linuxbrew-core/pull/15317.

[2019-09-16 22:16] cdhunt commented on #514
I give up. I can't find a way to get `vs-buildtools` installed to provide `link.exe`.

[2019-09-17 00:50] tfga commented on #549
@BatmanAoD

There's an entire category of languages used for this in the Bioinformatics world. E.g.:

* [CWL](https://en.wikipedia.org/wiki/Common_Workflow_Language)
* [Snakemake](https://snakemake.readthedocs.io/)
* [Nextflow](https://www.nextflow.io/)

See also: [Scientific workflow systems](https://en.wikipedia.org/wiki/Scientific_workflow_system).

[2019-09-17 01:12] lukesutton commented on #602
@andrasio Apologies fort the late reply. The commands I use heavily are:

- status
- log
- checkout
- branch
- push/pull

So bread and butter commands when doing coding work. My intuition is that most other people would use the same.

[2019-09-17 02:23] jonathandturner commented on #676
Will be fixed by #677

[2019-09-17 03:09] #676 closed

[2019-09-17 06:24] jonathandturner commented on #514
@cdhunt thanks for trying. I've never built a Windows container.

We're you using a container for your original report?

[2019-09-17 07:30] #411 closed

[2019-09-17 07:30] #435 closed

[2019-09-17 08:14] nickolay commented on #514
FWIW, I experienced the same problem on Windows, and the fix did help: the command from the first comment no longer hands (though the powershell command itself takes a while to finish).

[2019-09-17 12:24] cdhunt commented on #514
@jonathandturner No. I was originally using the 0.2.0 release on my workstation. I just don't want to pollute my workstation with the Rust toolchain to run a single build and from what I've read several people have a problem getting `link.exe` without containers being involved. However, that's all really a Rust issue and not Nu. Sounds like @nickolay verified it so I think you can close this out.

[2019-09-17 16:12] tlightsky opened #679 "Support for du command"
like the `du` command in linux or osx

[2019-09-17 16:29] jonathandturner commented on #514
Sounds good. (and thanks @nickolay for verifying)

We should be rolling out the next release in a couple weeks, which will include this fix.

[2019-09-17 16:29] #514 closed

[2019-09-17 16:32] jonathandturner commented on #679
We don't have aliases yet to make it short, but you can get `du`-like data from:

[code]

[2019-09-18 04:37] dbarnett commented on #441
I think I found my answer: they provide a `bind_sequence` method that can be used to configure rustyline, but it looks like nushell would need code to load inputrc and feed the config into rustyline for it to work. I posted on that rustyline issue to confirm that's the way to go.

[2019-09-18 07:43] #673 closed

[2019-09-18 08:32] meltinglava commented on #601
Well its just a placeholder for the last command typed. We are humans and make mistakes.

I just found it strange working in a linux shell that does not have the option. bash and zsh have them by default, and fish has an extention for it.

[2019-09-18 10:29] tlightsky commented on #679
[code]
my sys seems different

[2019-09-18 15:38] jankoprowski opened #681 "[packaging] Test package dependecies using sbuild"
We need to test package dependencies. The best way is to use the same tools Ubuntu developers use. They are using sbuild. Here is some documentation:

* https://wiki.debian.org/sbuild
* https://wiki.ubuntu.com/SimpleSbuild
* https://wiki.debian.org/HowToPackageForDebian
* http://packaging.ubuntu.com/html/packaging-new-software.html

ADAIK sbuild creates chroot, put some basic packages inside and t

[2019-09-18 15:40] jankoprowski opened #682 "[packaging] Generate changelog in debian/changelog format"
With each release debian/changelog format should be generated.
We need the script, the best place to put it is debian/packaging/tools generating this debian/changelog file based on git log.

[2019-09-18 15:42] jankoprowski opened #683 "[packaging] Introduce param to build different nushell version based on tag pushed to repository"
Right now we are always building 0.2.0 nushell version.
We need parameter giving us possibility to build different version of nushell package.

[2019-09-18 17:02] jonathandturner commented on #679
@tlightsky - what system and version of the system are you on? It looks like the software we use to detect the disks isn't working

[2019-09-18 17:04] jonathandturner commented on #441
@dbarnett - we could potentially add support for doing this. If it's a feature we want to support broadly be default, we can also bundle that settings file into Nu itself.

[2019-09-19 01:24] tlightsky commented on #679
OSX 10.14.6
nushell 0.1.3

[2019-09-19 04:39] jonathandturner commented on #679
@tlightsky - are you able to build nushell from source? We've done fixes to the `sys` command since that release, which might help fix the issue you're seeing.  We'll also be putting out a release in a few weeks, which will also have the fixes.

[2019-09-19 05:01] dbarnett commented on #441
I played around with it and found I can get the behavior I'm personally looking for by adding these lines into src/cli.rs:
[code]

Not sure if it can just be hard-coded without at least an opt-out though. I had been hoping it'd be possible to just read your system settings from inputrc so it could just "do the right thing" without getting too controversial, but that looks like it'd be extremely br

[2019-09-19 06:29] larsch opened #686 "Networks drives and subst'd drives on windows are replaced by canonical paths"
There are use cases where drive paths on Windows being canonical is not the most ergonomic. Especially since Windows lets drive letters be aliases for other things.

Subst'd drives get replaced by the original path:

[code]

Here I expected to be in a `D:\> _` prompt.

Network drives get expanded to their UNC path:

[code]

Here I expected to be in a `T:\> _` prompt.

This is especially problemati

[2019-09-19 06:32] larsch opened #687 "Support switching drive on Windows with `d:`, `e:`, etc."
This is a feature request to support the classic cmd.exe way of switching drives:

[code]

I think Windows user will be expecting this to work. Currently it does nothing (Probably because it runs the command in a cmd.exe, which just changes drive in the subprocess).

[2019-09-19 10:05] tlightsky commented on #679
`cargo run` in nushell master branch
[code]

[2019-09-19 13:52] ubsan commented on #687
This doesn't seem like that important of a feature, and would require a lot of Windows-specific code and contexts (for remembering what directory the drive's CWD is). I feel like it would be better to use multiple shells instead which you could switch to with `n` and `p`, although I also never use this feature, since almost all of my work stuff is on the `C:` drive.

[2019-09-19 15:33] jonathandturner commented on #687
@ubsan - this goes along with the muscle memory of a Windows user. There are techniques in Windows to be able to map drives to remove locations, working directories, etc, and being able to plug into some of those workflows could help Windows users transition to use Nu.

[2019-09-19 15:42] ubsan commented on #687
@jonathandturner I'd rather make it a common feature across operating systems, and (perhaps) have it under a config option -- one could, for example, give different shells names, and then switch between them with `<name>:`.

[code]

[2019-09-19 16:12] wycats commented on #687
I wouldn't mind supporting this feature if we could rationalize it as a language feature somehow. Nu has a fairly flexible syntax (initially in order to support the difference between internal and external commands, and shorthand blocks) so it seems possible that we could rationalize this feature. I would want to do that before adding support.

[2019-09-19 16:15] wycats commented on #687
Some notes:

- In nu, `C:` is a bare word (bare words support most idiomatic paths across our supported operating systems)
- Today, when the head of a command is a bare word, and that bare word is not a registered command, we try to execute it by interpreting it as a path pointing at an external command
- But if we fail to find an executable on the path with that name, we error
- `C:` points logic

[2019-09-19 16:21] jonathandturner commented on #679
@tlightsky - when building you may need to do `cargo build && cargo run` to make sure all the plugins are built.

[2019-09-19 18:12] jonathandturner opened #688 "`post` needs to be able to set content-type"
We need a way to pass in the content-type being posted as part of the `post` command.

Eg) being able to set it to "Content-Type: application/x-www-form-urlencoded"

[2019-09-19 18:44] pka opened #689 "Fuzzy search in history not working correctly in Windows"
PR #672 is not work correctly in Windows.

@jonathandturner writes:

[2019-09-20 01:50] tlightsky commented on #679
still no disks
[code]
btw, what i want is the `du` command to list all folders and the size of them inside current folder,
not `df` command which give me an overview of sytem disks status

[2019-09-20 05:42] andrasio commented on #679
I can confirm `disks` isn't displayed on my mac.

[2019-09-21 01:44] est31 commented on #621
This could help identify crates that impact build time: https://internals.rust-lang.org/t/exploring-crate-graph-build-times-with-cargo-build-ztimings/10975/2

[2019-09-21 05:08] andrasio commented on #621
@jonathandturner Direct dependency removed. However, there are some crates we depend on that also depend on it.

[2019-09-22 11:11] lienke opened #692 "Compile with **features** failed"
Compiled with:
`cargo build --all-features && cargo run --all-features`
and compile failed with several messages about `ld` not finding several items.

Recompiled with:
`cargo build`
and finished successfully.
Versions used:
[code]
Noted also at https://github.com/rust-lang/rust/issues/63848
cheers, drl

[2019-09-22 16:12] cHolzberger opened #693 "Crash on Windows"
nu is crashing on windows wenn entering "ö" and pressing TAB afterwards

[2019-09-22 16:20] jonathandturner commented on #692
@lienke - can you show the full report of what items weren't found?

[2019-09-22 16:32] jonathandturner commented on #362
I just saw in https://github.com/taiki-e/futures-async-stream#how-to-write-the-equivalent-code-without-this-api that they explain how to rewrite the code to not use the macro (and seemingly also the generators unstable feature)

I haven't had a chance to investigate further yet, but wanted to post it here in case someone else wanted to.

[2019-09-22 18:13] jonathandturner opened #694 "Build is currently broken for nightly CircleCI"
https://circleci.com/gh/nushell/nushell/338?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-09-22 18:20] jonathandturner commented on #679
@svartalf - do you happen to know why the disks aren't showing up for some folks?

[2019-09-22 19:46] lienke commented on #692
@jonathandturner: it looks like several items are being built, so from last, backwards (and I ran out of room in my shell output buffer -- if you really need more than this, I can try capturing stderr to a file, etc.):
[code]
Note that this is with the very recent nightly build of rustc ... cheers, drl

[2019-09-22 20:41] andrasio commented on #692
@lienke if you are building all features including optional ones please confirm [you've installed](https://book.nushell.sh/en/installation#debian-ubuntu) these packages on your box.

[2019-09-23 04:12] lienke commented on #692
@andrasio: thanks -- from looking at the link you gave, these are installed:
[code]
cheers, drl

[2019-09-23 04:16] andrasio commented on #692
@lienke What about the packages `libx11-dev` and `libxcb-composite0-dev`? Your latest build errors from `ld` are in those packages.

[2019-09-23 08:32] jdvr commented on #194
Hi, I have found https://github.com/ArturKovacs/trash

is it ok if I put some effort in make it works for OSx and the I integrate the crate into Nu?

What do you think ?

[2019-09-23 13:48] lienke commented on #692
@andrasio -- thanks: yes, it looks like I missed _libxcb-composite0-dev_, I'll install it and try again, but library _libx11-dev_ **was** installed:
[code]
I'll recompile and report a bit later ... cheers, drl

[2019-09-23 14:00] lienke commented on #692
The re-compile with _libxcb-composite0-dev_ installed  built successfully, but with warnings as noted ... thanks ... cheers, drl
[code]

[2019-09-23 17:30] jonathandturner commented on #679
@svartalf - as long as the version is published on crates.io, I'm okay moving to it

[2019-09-23 17:32] jonathandturner commented on #692
Looks like this is from using a nightly that's newer than the one the 0.2.0 was released for. I'll go ahead and close this, as it looks like you're able to build the full-feature release.

[2019-09-23 17:32] #692 closed

[2019-09-23 17:33] jonathandturner commented on #194
@jdvr - that sounds great

[2019-09-23 17:53] jonathandturner commented on #689
This appears to be related to https://github.com/TimonPost/crossterm/issues/250, as best I can tell.  I'm also going to tag this upstream, so we can come back to it later.

[2019-09-24 19:56] jonathandturner opened #701 "Git-tag publish didn't work"
Judging from https://github.com/nushell/nushell/commit/3f8448da0daeea30452e63080812caa2ce4a0e27/checks it looks like git-tag publishing isn't quite working yet.

cc @DrSensor

[2019-09-24 19:57] jonathandturner opened #702 "Can `cd` into a file"
You can `cd` into a file (which shouldn't be possible) and once you do, you get "stuck" there, as it won't let you `cd ..` back out.

We should probably fix the root cause, but it's just extra annoying to get stuck

[2019-09-24 21:00] #702 closed

[2019-09-24 21:01] andrasio commented on #702
@jonathandturner cc

[2019-09-25 00:35] altmind commented on #458
wouldn't "contains" be a better name?

[2019-09-25 10:27] DrSensor commented on #701
- I think the `DOCKER_REGISTRY` token is not set :thinking:

![Screenshot_20190925_165422](https://user-images.githubusercontent.com/4953069/65590428-fdff8700-dfb4-11e9-95e2-dcf54a430855.png)

---
- the `secrets.DOCKER_REGISTRY` should be set in order to publish it to github package registry.

![comment](https://user-images.githubusercontent.com/4953069/65590931-cf35e080-dfb5-11e9-9de3-88df1b58f78

[2019-09-25 12:09] futile opened #707 "Panic when running 'which raw | get value' (Linux, version 0.3.0)"
Running `nu` on `Linux 5.3.1-arch1-1-ARCH` (archlinux).

Error is:

[code]

(sadly no debug info in my build, but I can probably rebuild with debug info if necessary.)

Awesome shell btw!

[2019-09-25 15:20] dbarnett opened #708 "Interactive tree viewer to explore large trees"
It would be really useful to have an interactive tree view to explore large trees where you could collapse/expand subtrees.

[2019-09-25 15:21] dbarnett commented on #389
For a table view, instead of a plain old pager interface, it would be fantastic to drop straight into a list of rows with fuzzy matching.

I had an urge to hook up something like https://github.com/mooz/percol for exploring and manipulating long tables, but couldn't get useful results especially since piping to external commands is so limited. Doing it as a native nushell command could unlock some

[2019-09-25 15:59] jonathandturner opened #709 "Need better parser error for mistyped conditions"
Eg)

[code]

To someone not expecting that the spaces are required that will be confusion. Originally reported on [reddit](https://www.reddit.com/r/rust/comments/d8rz5v/nushell_030/f1dwgne/)

[2019-09-25 16:32] andrasio opened #711 "Documentation for Nu commands (NO programming experience needed)"
We need documentation for the following Nu internal commands in any speaking language of your choosing:

If interest in working on a command, [please read this first](https://github.com/nushell/nushell/blob/master/docs/commands).

Please note: These are **Nu commands**, they may be the same name as commands you might be familiar from other shells but their usage, flags, and functionality might be

[2019-09-25 21:22] #457 closed

[2019-09-26 01:03] est31 commented on #362
Alright, as nobody else seems to have stepped up, I've implemented @taiki-e 's suggestion from https://github.com/nushell/nushell/issues/362#issuecomment-526147894 in PR #713 (at least the lower hanging fruit).

[2019-09-26 01:24] JonnyWalker81 commented on #688
I took a quick look, if another named parameter is added `headers` to the command and the value for it would be a comma separated string of key, value pairs for the headers.  For example:

```post https://foo.com --headers "Content-Type=application/x-www-form-urlencoded,Content-Length=123"```

Does that seem reasonable?

[2019-09-26 02:28] bmurphy1976 commented on #639
Did some more digging, found a symlink that points at a file that no longer exists.  Some operations in that directory work, some fail.  Example:

[code]

[2019-09-26 06:18] jonathandturner commented on #701
@DrSensor with those steps it got closer. I'm not sure if you can see the results

[2019-09-26 10:27] SafariMonkey opened #714 "Ctrl-d treated the same as Ctrl-c"
I noticed in previous versions of nushell that Ctrl-d acted exactly like Ctrl-c (even printing "CTRL-C pressed"). This seems odd to me. And now, as of #706, Ctrl-d is now not able to be used to exit the shell.

Is this conflation of two historically very different hotkeys (two of my most used in Bash) deliberate? Or is there just some behaviour that you want both to share?

Oh, and [this](https://

[2019-09-26 11:11] futile commented on #707
Here is a trace with working debug info:

[code]

[2019-09-26 12:51] jonmast opened #715 "OpenSSL error with precompiled binary on Arch Linux"
I get the following error when running the latest 0.3 release:
`./nu: relocation error: ./nu: symbol SSLv3_client_method version OPENSSL_1.0.0 not defined in file libssl.so.1.0.0 with link time reference`

From a quick web search it appears this is because the openssl package on Arch is compiled without SSL3 support. The 0.2 release of nu does work fine though, so I'm guessing something changed in

[2019-09-26 13:26] jonathandturner commented on #701
![Screenshot from 2019-09-27 01-25-17](https://user-images.githubusercontent.com/547158/65691882-bcaacc80-e0c5-11e9-8a16-9db511c311aa.png)

Seems like something isn't finishing. I tried to cancel it, but I got this error:

![Screenshot from 2019-09-27 01-26-24](https://user-images.githubusercontent.com/547158/65691954-de0bb880-e0c5-11e9-8530-c501f55cb599.png)

[2019-09-26 14:16] eklmv opened #716 "Windows prebuild archive structure changed."
In 0.3.0 prebuild archive executables now nested in "nushell_0_3_0" folder, when in 0.2.0 there was just executables. What structure we can expect for future prebuild release archives?
I use [scoop ](https://github.com/lukesampson/scoop) as my "package manager" for windows and changing archive structure just brakes [my app manifest ](https://github.com/eklmv/scoop_bucket/blob/master/bucket/nushell

[2019-09-26 18:13] DrSensor commented on #701
Seems github action for organization has more bugs :thinking:
Try to force push the tag or create a new dummy tag. For example:
[code]

![Peek 2019-09-27 01-04](https://user-images.githubusercontent.com/4953069/65713344-31c8d280-e0c3-11e9-8898-2d5234632354.gif)

[2019-09-27 01:54] sorrell opened #717 "Unable to run nu binaries on Ubuntu 19.04 w/o libssl1.0.0"
Having issues with Ubuntu 18.04 and nu needing different libc versions, I upgraded to 19.04. After upgrading and trying to run nu, I hit this error

`nu: error while loading shared libraries: libcrypto.so.1.0.0: cannot open shared object file: No such file or directory`

libssl1.0.0 isn't available via apt, so I had to install the deb manually (https://packages.ubuntu.com/cosmic/libssl1.0.0)

Afte

[2019-09-27 06:04] jonathandturner commented on #717
There binary notes mention needing the dependencies (https://github.com/nushell/nushell/releases/tag/0.3.0) but they could be more clear.

Would it be better to not use the "all features" build (which requires the ssl lib)?

[2019-09-27 06:05] jonathandturner commented on #716
That's from me doing it by hand. I'm hoping in the future to have this a bit more automated so it could be consistent. It wasn't my intention to change the structure between releases.

[2019-09-27 06:09] jonathandturner commented on #693
Are you using the binary or building it?  If you're building it, it'd be helpful to know where it's crashing to see if we can fix it.

[2019-09-27 06:11] jonathandturner commented on #707
Thanks for the report, the full backtrace is helpful. Looks like the get_member isn't working with plain values.

[2019-09-27 06:13] jonathandturner commented on #715
Thanks for letting us know. We may use a different configuration in the future, so the ssl lib isn't required.

[2019-09-27 06:14] jonathandturner commented on #714
I believe this was a recent change that we may want to rethink. I agree that it's be good to keep them separate.

[2019-09-27 11:13] Nalleyer opened #718 ""last" panics when when input parameter is larger than the row of the output table"
# How to reproduce
[code]
# output
[code]
#environment
nu 0.3.0 windows binary, downloaded from github releases.
windows 10, Intel CPU 7700
(sorry for my poor English)

[2019-09-27 14:00] sorrell commented on #717
I am an admitted nu noob (nuub?), and those dependencies are clear, but as libssl1.0.0 wasn't available in the repos, I just wanted to throw this issue out there with steps on how to get it running on 19.04.  It wasn't a simple `apt install` is all, but no major hurdles.  What other builds exist than the "all features" build, and how do I run it? I didn't see info that, sorry if I missed it.

[2019-09-27 14:25] eklmv commented on #716
Can you ping me when structure becomes "stable"?
Fixed my manifest to expect folder there. As soon as structure become stable, it will be convenient to add my manifest to [extras](https://github.com/lukesampson/scoop-extras) bucket, where it will be auto updating and available to scoop regular users.

[2019-09-27 14:44] rirze opened #719 "Allow dashes in bare words"
Hi, I encountered the following error when trying to use the SSH command:

[code]

Where I am really expecting this error:
[code]

Escaping with the `^` character doesn't help either. Any clarification would be appreciated!

[2019-09-27 16:41] jonathandturner commented on #719
If you write this as `ssh "a@b-c"` does it work correctly?

It looks like we might have a bug in the parser.

[2019-09-27 16:43] jonathandturner commented on #717
Ah, that makes sense. Thanks for the clarification.

For the next release, we could do the default build, which has a few less features, but also has fewer system requirements.

If you like, I can create an additional linux release that's a default build.

[2019-09-27 17:25] rirze commented on #719
Yes, `ssh "a@b-c"` works!

Is this intended normal behavior-- should I be escaping parts of commands with quotes?

Thanks

[2019-09-27 17:59] jonathandturner commented on #719
I think this is because Nu doesn't treat `-` as part of the argument. I suspect we should.

[2019-09-27 18:20] jonathandturner commented on #708
Agreed, this would be a great viewer to have. Happy to mentor someone if they want to take this on.

[2019-09-27 19:45] sorrell opened #721 "Open command doesn't work on websites"
Ubuntu 19.04

`open` command with website target works in 0.2.0 (0.2.0 was the binary download but the binary indicates version 0.1.3)
![image](https://user-images.githubusercontent.com/763445/65797677-d556c900-e13d-11e9-854a-846916e5c896.png)

`open` command with website target gives `file not found` error in 0.3.0
![image](https://user-images.githubusercontent.com/763445/65797540-75f8b900-e13d-1

[2019-09-27 19:58] JesterOrNot commented on #168
Hey, can I help? if so am I correct in that you want it to be in Rust is Bash ok?

[2019-09-27 20:06] Nate-Watts opened #722 "Is there a help forum or ticket to answer questions?"
Looking for a resource or forum to ask simple questions not found in any documentation.

[2019-09-27 20:32] lefticus opened #723 "Issues with `+` in file name"
nightly build from Sept 25, 2019 (0.3.0 reported from command line)
OS: Linux, Manjaro

Example issue:

[code]

File name was auto completed with `tab`

Same issue if I escape the file name:

[code]

[2019-09-27 22:31] jonathandturner commented on #722
Yes, you can file an issue here, on the book repo (https://github.com/nushell/book), or on discord (https://discord.gg/NtAbbGn)

[2019-09-27 22:32] jonathandturner commented on #721
We split the `open` command into `open` (for files) and `fetch` (for urls)

[2019-09-27 22:33] jonathandturner commented on #718
Thanks for reporting this! We'll take a look

[2019-09-28 01:39] #362 closed

[2019-09-28 01:49] est31 commented on #362
Nushell now compiles on beta and once Rust 1.39.0 is released, it will compile on stable as well. Thanks everyone who helped with this! @djc @taiki-e @jonathandturner

[2019-09-28 07:35] Zooce opened #727 "auto sort-by name for ls on macOS"
Version: 0.3.0
Installed via Cargo

On my Windows machine, it seems that `ls` sorts the results by `name` automatically (not sure if this is a function of `ls` or `autoview`). I was also expecting this same behavior on my macOS machine, but it turns out that's not the case.

Is this an error on my end? Is this expected? Is there a way to configure this?

[code]

[2019-09-28 11:49] devurandom commented on #715
It appears nushell links against `libssl.so.1.0.0` (i.e. locking to a very specific version in addition to the ABI) instead of `libssl.so.1` (i.e. ABI version 1):
[code]

From a distro maintainer's perspective this seems wrong. Software should link against a specific ABI version (e.g. `libssl.so.1`, but not be more specific than that (e.g. `libssl.so.1.0` or `libssl.so.1.0.0`).

Any idea why this

[2019-09-28 16:13] jonathandturner commented on #715
This may be part of how the crate that uses ssl links to the library, though to be honest I'm not familiar with how dynamic libraries link to Rust binaries.

I think we should move off of using the ssl features for the binary build so that it's maximally portable.

If you're trying to build nushell, the latest version in the repo has moved from nightly to beta.

[2019-09-28 18:11] sorrell commented on #721
Ah, ok, thanks - I'll put in a PR for https://book.nushell.sh/en/loading_data

[2019-09-28 18:11] #721 closed

[2019-09-28 18:35] devurandom commented on #715
To be maximally portable, one could link statically against libssl -- `openssl-sys` supports that. But I would recommend against it, since you would not get any security updates from the system library / distro, which I would consider more important.

Linking against `libssl.so.1` (library name with ABI version, the `SONAME`) is generally very portable: Every distro release of the past years ships

[2019-09-29 02:12] JonnyWalker81 commented on #688
I created a PR for this issue, the PR adds support for a couple headers (e.g. Content-Type and Content-Length).

[2019-09-29 04:24] jolv1 opened #730 "New Rust Users"
The instructions tell you to install Rust and run the install command but do not mention to ensure the $PATH is correct for Cargo or to ensure the users install the nightly toolchain and instructions for that.

[2019-09-29 05:26] jonathandturner commented on #730
Thanks for the report. Were you installing using the README or the book?

We have a section in the book about this (https://book.nushell.sh/en/installation#installing-rust) but we don't make it as clear in the README.

[2019-09-29 12:10] tehmantra commented on #716
Hijacking this issue to suggest creating an "official" scoop manifest.
I just spent ~30mins creating [my own app manifest](https://github.com/tehmantra/scoop-bucket/blob/master/bucket/nushell.json) for nushell.
This makes installing nushell super easy:
[code]

Ideally, as the project grows this could be merged to the extras bucket as @eklmv suggests, meaning any user could install it:
[code]

This

[2019-09-29 14:30] cHolzberger commented on #693
no, its the binary release from "here"

[2019-09-29 22:09] rnxpyke opened #734 "continuing pipelines after consuming commands"
currently it is possible to write commands like `echo test | table | to-json` which correctly displays the table, but doesn't output any json.The 'correct' way to convert the text would be `echo test | to-json`.
Similar behaviour ocurrs with all consuming commands, e.g. autoview, tableview...

Using ` ... | table | ...` or similar commands should be invalid. Instead `.. | table ; ... ` should be u

[2019-09-30 05:15] jonathandturner commented on #688
Fixed in #729

[2019-09-30 05:15] #688 closed

[2019-09-30 05:15] jonathandturner commented on #718
Fixed by #737

[2019-09-30 05:15] #718 closed

[2019-09-30 09:16] alper opened #738 "The help command does not help"
When I type `help config` for instance to learn something more about the nu-shell built-ins, I get:

[code]

I think this is the result for all commands.

This is on macOS.

[2019-09-30 09:23] alper opened #739 "Make ls accept some of the default flags maybe?"
I have this reflex of typing `ls -al` and I would like that to not throw an error.

[2019-09-30 12:26] alper opened #740 "How do I separate multiple commands?"
Is there a way to separate multiple commands such as I would normally do with a semicolon in bash?

`git pull; git push`

Would it make sense to add a feature like that?

[2019-09-30 12:39] alper commented on #290
Do I get it right that arrow right completes the current suggestion but that this isn't documented yet?

[2019-09-30 15:05] vsoch opened #741 "Debian Packaging"
I reached out to @yarikoptic about proper Debian packaging (I've never done it!) and he has shared his wisdom! Here is his proposal for going about this:

closed in your first debian/changelog entry):

[code]

This doesn't really afford a complete GitHub or general CI release cycle, and for this reason we can definitely provide the Docker build, but maybe we should also try to do this proper? Thou

[2019-09-30 15:40] jonathandturner commented on #738
What version of Nu are you running? Also, did you build it yourself or use the pre-built binary?

[2019-09-30 16:02] alper commented on #738
I `brew install`ed it.

[2019-09-30 16:36] jonathandturner commented on #738
@alper - homebrew looks to be out of date:

[code]

[2019-09-30 16:40] jonathandturner commented on #738
Closing this. Please re-open if you can repro with 0.3.0 or later.

[2019-09-30 16:40] #738 closed

[2019-09-30 16:54] JesterOrNot commented on #730
Try the gitpod link in the readme to get up and running quickly

[2019-09-30 17:08] syvanpera commented on #290
Can I suggest you take some inspiration from fish shell on this. It's completions and suggestions work like magic and this is probably the biggest issue at least for me before I'd consider adopting nushell as my shell of choice

[2019-09-30 17:08] jonathandturner commented on #740
This isn't yet supported, but we'd like to add support for it, or something like it.

[2019-09-30 17:09] jonathandturner commented on #739
I hear you about muscle memory.

It's unlikely we'll add POSIX-style flags, though there may be ways to alias to them in the future

[2019-09-30 17:16] jankoprowski commented on #741
The question is how to create .dsc package?

[2019-09-30 17:29] vsoch commented on #741
I think the "dsc" file is just a metadata file that has package information (checksums, etc.) looking at this guide https://wiki.debian.org/SimplePackagingTutorial

And you can see an example in this repository:

https://github.com/trevorsandy/lpub3d/blob/master/builds/linux/obs/debian/lpub3d.dsc

The instructions for the simple packaging tutorial seem pretty straight forward, but I'll let @yariko

[2019-09-30 17:31] yarikoptic commented on #741
`dpkg-buildpackage` and (gbp buildpacke if you use it) would do that as a part of the overall procedure. You could also use `dpkg-source -b ` directly iirc but that one might not create .changes which you need to use for upload to Debian (mentors) using eg `dput`.

[2019-09-30 21:45] alper commented on #738
OK. I'll keep an eye out for when somebody updates the Homebrew. (I would learn how to do it but don't have the time right now.)

[2019-09-30 23:24] ayazhafiz commented on #194
@jdvr should be good to go after https://github.com/ArturKovacs/trash/pull/1 is merged.

[2019-10-01 01:03] marcelocg commented on #711
I'm picking `date`

[2019-10-01 08:02] zeenix opened #747 "options not visible on "Solarized" color scheme"
`Solarized` is a popular colorscheme and I'm using that in `gnome-terminal`. I was unable to read `--raw` option when and after typing it to `open` command. It's not visible even if i select it using the mouse.

[2019-10-01 08:05] zeenix commented on #747
![Screenshot from 2019-10-01 10-04-41](https://user-images.githubusercontent.com/2027/65944858-e9971080-e432-11e9-853e-d627953f4f8c.png)

[2019-10-01 08:13] zeenix opened #748 "Support vi keys for scrolling"
Most bearded old geeks are very used to vi keys for scrolling everywhere so kindly add them. They are readily supported by all unix/linux commands that has scrolling: less, git, etc

I'm a bit surprised that I couldn't find any open or closed issue for this. :)

[2019-10-01 08:19] alper commented on #738
I went through the rustup song and dance and with the latest version the help command works. Thanks!

[2019-10-01 08:33] zeenix opened #749 "tab completion for commands not working"
If i type `git comm` in `bash`, I cat hit TAB and either get the command completed for me. I'm sure many others are used to taking this very much for granted from a shell. It would be awesome if nushell also supported this.

[2019-10-01 08:55] boxed opened #750 "pick doens't produce error messages when given an invalid column name"
[code]

This seems wrong. An error message seems much more reasonable.

[2019-10-01 08:58] boxed opened #751 "Implicit cd in the trivial case"
[code]

This is a bit silly. Implicit cd like what fish does would be very nice!

[2019-10-01 12:38] coolshaurya commented on #751
I wonder if this is a feature needed by a lot of users and whether it is useful.

I personally do not appreciate this feature as I always just type `cd ` .

[2019-10-01 13:09] boxed commented on #751
Once you start using it you will never want to go back :P

[2019-10-01 13:11] ThomasTail opened #754 "Release binaries say that they are not trusted"
Perhaps you should include a certificate as to make people feel more secure?

[2019-10-01 13:14] coolshaurya commented on #751
We should let  the maintainers decide on this :) .

[2019-10-01 13:20] ThomasTail commented on #754
To be used for release signing, a Software Publisher Certificate (SPC), and its private and public keys, must be stored in a Personal Information Exchange (.pfx) file. However, some certificate authorities (CAs) use different file formats to store this data. For example, some CAs store the certificate's private key in a Private Key (.pvk) file and store the certificate and public key in a .spc or

[2019-10-01 13:20] ThomasTail commented on #754
Once the SPC and keys are stored in a .pfx file, they must be imported into the Personal certificate store on the signing computer.

[2019-10-01 13:46] yahsinhuangtw commented on #711
I'm picking `help`

[2019-10-01 15:39] dbarnett commented on #441
So could I just add that code and put it behind a config option? Any suggestions on what to call it and where to put it if so?

[2019-10-01 15:40] jonathandturner commented on #748
Is this related?  https://github.com/nushell/nushell/pull/407

[2019-10-01 15:41] jonathandturner commented on #749
We don't yet support command-based completions, but it's on the roadmap. Right now completions we support are for completing filenames and command names, but we'd like to grow that.

[2019-10-01 15:44] jonathandturner commented on #747
Agreed, we'd like to add support for getting the colors from the config file at some point. Are you interested in working on a PR by chance? I can point out a few places in the code to look at.

[2019-10-01 15:44] zeenix commented on #748
I saw that but I'm not sure cause it's already merged (I built this morning) and this is about scrolling view (although i'm not sure what editing mode is).

[2019-10-01 16:08] jonathandturner commented on #748
Ahh okay. Vi mode isn't on by default, but it may be only for editing and not for scrolling.

[2019-10-01 16:09] jonathandturner commented on #748
For scrolling, you don't mean the prompt but the textview (the scrolling text file viewer)?

If so, that wouldn't be hard to add.

[2019-10-01 17:06] jonathandturner opened #758 "Azure pipelines currently failing on Linux"
Judging from the error:

![image](https://user-images.githubusercontent.com/547158/65983715-ad1eef80-e4da-11e9-8c97-194d87fc188c.png)

It looks like we need to install the optional dependencies in Linux for Azure pipelines to work.

[2019-10-01 17:12] zeenix commented on #747
Interested, yes. :)

Please do point away. I might be able to get some time for it soon. If not, hopefully it'll help some other person who wants to contribute. :)

[2019-10-01 17:14] zeenix commented on #748
I did enable it as per your blog post but it didn't affect scrolling so yeah.

Indeed.

Cool. Same here, if you can point to the relevant parts of the code that needs changing and any other hints, you might be able to get a PR. :)

[2019-10-01 17:22] DaGuich commented on #711
I'm picking `echo`

[2019-10-01 17:32] jonathandturner commented on #748
Sure thing :)

The relevant lines for the scrolling text view are: https://github.com/nushell/nushell/blob/master/src/plugins/textview.rs#L150-L185

In theory, it should be as simple as adding a few more keys we're looking for there.

[2019-10-01 17:43] jonathandturner commented on #747
Sounds good :)

The prompt and input get colored here: https://github.com/nushell/nushell/blob/master/src/shell/helper.rs#L68 using the `paint_token_node` function later in the file.

An example of loading from config is at: https://github.com/nushell/nushell/blob/master/src/format/table.rs#L207-L213

What I'd probably start with is loading some color elements from config before the loop here: htt

[2019-10-01 17:58] jonathandturner commented on #747
It may make sense to make a couple color themes, and let the user choose between one of them, rather than configuring each color by hand. But I'll let you make the call there :)

[2019-10-01 18:51] vsoch commented on #758
Looks similar to this https://github.com/amethyst/evoli/issues/23

[2019-10-01 19:05] jonathandturner commented on #758
Yeah, it seems similar. Since we're building with `--all-features`, it would require a few optional dependencies installed (https://book.nushell.sh/en/installation#dependencies)

I'm just wondering what changed recently (maybe it changed on the Azure Pipelines side?). I don't remember seeing this before in Azure.

[2019-10-01 21:44] notryanb commented on #711
I'll grab `first` if that's okay. What about documenting plugins that are included in `help<command>` like `sum`?

[2019-10-01 22:10] jonathandturner commented on #711
@notryanb - those would be good to document, too

[2019-10-02 06:01] akramkazmi71 commented on #711
I would like to provide document for tree command

[2019-10-02 09:56] coolshaurya opened #763 "list AUR as an option to install nushell"
There are currently 3 AUR packages available for nushell. This is more convenient for for Arch Linux users and other AUR-supporting distros like Manjaro. Listing them would greatly help those users.

[2019-10-02 10:00] coolshaurya commented on #763
Those 3 AUR packages are -

[code]

[2019-10-02 12:50] avimar opened #765 "SSL error on 0.3.0 Release: on Debian GNU/Linux 9.9 (stretch)"
[code]

I even have the dependencies: `apt install pkg-config libssl-dev`

Seems related to  https://github.com/nushell/nushell/issues/646
I ran the related debug code: `ldconfig --verbose | grep ssl`:

[code]

[2019-10-02 15:35] CDRayn commented on #711
If no one minds. I'd like to work on documenting the `which` command.

[2019-10-02 15:48] codingonHP commented on #711
Can I take `clip` command.

[2019-10-02 15:51] andrasio commented on #711
@CDRayn go ahead!

[2019-10-02 15:51] andrasio commented on #711
@codingonHP no problem!

[2019-10-02 15:51] andrasio commented on #711
@akramkazmi71 thanks!

[2019-10-02 17:43] jonathandturner commented on #758
I think I have this fixed with #768

[2019-10-02 17:43] #758 closed

[2019-10-02 17:45] jonathandturner commented on #765
This sounds related to https://github.com/nushell/nushell/issues/717 (and some of the other SSL-related issues)

A similar fix may help for now until we roll out the next set of binaries (which, with luck, won't have this issue)

[2019-10-02 18:13] shorsher commented on #224
New to rust and just starting using nushell a bit a few days ago.  Really interesting in contributing and seems like a good issue to get my feet wet.  I'll give it a shot and I guess join the discord if I have any questions?

[2019-10-02 22:00] JackFly26 commented on #68
Maybe something with regex captures? like `match (.*): (.*) (.*)`?

[2019-10-03 00:45] exaos opened #774 "ArchLinux: "symbol SSLv3_client_method version OPENSSL_1.0.0 not defined""
- OS: ArchLinux, kernel 5.3.1, glibc 2.29
- openssl-1.0 1.0.2.s
- Nu Shell: 0.3.0, binary package

`./nu: relocation error: ./nu: symbol SSLv3_client_method version OPENSSL_1.0.0 not defined in file libssl.so.1.0.0 with link time reference`

[2019-10-03 01:06] gilesv commented on #711
I'm picking `where`.

[2019-10-03 01:13] hong-duc commented on #774
This is because archlinux disabled sslv3, this had reported here #715 you can follow it for more info

[2019-10-03 02:26] garrettqmartin8 commented on #711
I'll pick up `ps`

[2019-10-03 03:09] pema99 commented on #711
I'll whip up some documentation for the `lines` command.

[2019-10-03 03:32] jonathandturner opened #778 "Make internal->external protocol configurable"
Eg) https://twitter.com/saulfp/status/1179595380352147457?s=19

It would be helpful to be able to configure how values are serialized from internal commands to external ones. Eg you may want to configure it to use json if you predominantly user json-parsing externals.

[2019-10-03 04:06] saulpw commented on #778
I don't know about the internals of nushell, but would it be straightforward to check the environment for something like `NUTO=tsv`?

Also what is the `^echo $it`?

[2019-10-03 04:09] andrasio commented on #778
@jonathandturner Interesting.

@saulpw please see [escaping commands](https://book.nushell.sh/en/escaping)

[2019-10-03 04:50] adam-mcdaniel commented on #294
Repeatedly having problems on Zorin (Ubuntu).

My shell crashes a ton. Sometimes my shell will crash trying to run a program, and will immediately crash again when i run the program in a new instance of the shell again.

Love the shell, ive stopped using bash and everything else!

[2019-10-03 10:02] COLAMAroro commented on #98
Using `$true` and `$false` doesn't seems that bad, considering the use of `$it` when piping and the inspiration from PowerShell

[2019-10-03 10:09] jordelver opened #780 "`to-json` escapes quotation marks in JSON output"
I'm not sure if this is desired behaviour or not :)

When I pipe to `to-json` I get the output I expect.

[code]

But when I then save that to disk, the JSON output is changed to escape quotation marks.

[code]

I assume this is happening because when you save the output the whole thing is wrapped in quotation marks as it's a string and wouldn't be valid without escaping.

This is valid JSON, I ju

[2019-10-03 10:24] coolshaurya commented on #711
the commands `reverse`, `shells`, `version`, `exit`, `first` and, `where` are not checkmarked on the main issue comment although they [exist in the repo](https://github.com/nushell/nushell/tree/master/docs/commands).

The commands `clip` and `which` are checkmarked even though they are not yet on the repo.

[2019-10-03 11:10] coolshaurya commented on #711
I am doing `edit`

[2019-10-03 13:36] exaos commented on #774
Thanks. This issue should be closed now.

[2019-10-03 13:36] #774 closed

[2019-10-03 16:37] Nemikolh commented on #290
Would it be possible to consider having the autocompletion behaviour configurable?
In particular, I like a lot if for a directory containing `foobar`, `foobaz`, `foobar001`, ... , `foobaz125`. I start typing `f`, press `Tab` and get `fooba` instead of one of the possible entries.

I understand some folks like the current behaviour but I personally find it very frustrating when exploring the list o

[2019-10-03 17:03] Charles-Schleich commented on #711
Cool I will do `env` !

[2019-10-03 17:41] jonathandturner commented on #780
Ahh, we need a better way of warning what is happening in this situation.  You're actually converting to JSON twice in that pipeline.  The first time is with `t-json` and the second is with `save disks.json`.  `save` and `open` do the conversion for you automatically based on the filename.

In the future, we may want to detect this and warn that it's not necessary.

If you want to keep your pipeli

[2019-10-03 17:50] makarchuk commented on #100
The code in question (save `history.txt` area) seems to be recently updated (https://github.com/nushell/nushell/commit/df7a3a48636fb02e01f2933e9f27020ea898df72), and not it's stored in user home, so should this be closed?

[2019-10-03 18:09] jonathandturner commented on #693
I'm not able to reproduce this error in a recent version of Nu. Can you share the full command you're trying to run? Also, if possible, can you also share the version of Windows you're running?

[2019-10-03 18:15] jonathandturner commented on #748
This should be fixed with #775

[2019-10-03 18:15] #748 closed

[2019-10-03 22:15] rnxpyke opened #786 "iregular table layout crashes the shell"
The Shell crashes with some irregular data layout.

Opening these test.json files with `open test.json` works as intended:
`[{"name":"first"}]`
`[{"name":"first"}, {"name": "second"}]`
`[{1:1, 2:2}]`
`[{"name": "first"}, "string"]`

Whereas these crash:
`[{1:1, 2:2}, "string"]`
`[{1:1, 2:2}, 3]`
`[3, {1:1, 2:2}]`
`["string", {"name": "first", "other": "second"}]`

Using one of the failing examples

[2019-10-04 02:02] ajkerrigan commented on #778
This seems related to #412, but I can't tell if these are two separate concerns or just two pieces of the same question:

- How do we send data directly from an internal command to the stdin of an external one?
- How do we control the serialization/formatting along the way?

For VisiData specifically, I was wondering if it'd be useful to have a plugin that would let you do this:

```<internal comm

[2019-10-04 08:26] pizzafox opened #788 "`where ()` fatal error"
Running the following command will cause `nu` to totally crash (tested on the nightly version):
[code]

This error was printed to the console by the program I used to run `nu`:
[code]

[2019-10-04 10:39] jordelver commented on #780
Ah, that makes sense. `save` is smarter than I realized :)

Thank you 👍 Great work!

[2019-10-04 10:39] #780 closed

[2019-10-04 14:19] mfarberbrodsky commented on #711
I'll take `nth`.

[2019-10-05 01:12] matu3ba commented on #749
For the config file: I think a table-like format for a user-definable view on the table could make parsing the information much easier and faster.
You already have implemented a table view and nice filters, so that would fit quite nicely. Program shortcuts for the table views like filter and searches like htop coult be added later.

Specifically I was thinking of something like this for program ca

[2019-10-07 06:37] daveremy opened #798 "Plugin not installed on Ubuntu 19.04"
Using Ubuntu 19.04.

Created sample plugin in the contributors book in rust.

Did `cargo install --path .` which looked successful (`which nu_plugin_len` is found in the `.cargo/bin` directory) followed by `nu`.

Did `help commands` from the nu prompt and `len` does not show up in list of commands.

Also unable to use `len` as a filter command.

[2019-10-07 08:14] daveremy commented on #798
When using trace see this:
[code]
JsonRpc parse error?

[2019-10-07 08:47] daveremy commented on #798
Ok, figured it out, dependency on wrong version of nu.  The sample in the [contributor's book plugin section](https://github.com/nushell/contributor-book/blob/master/en/plugins.md) has dependencies 0.2.0:
[code]
Seems like it should pin to a major version?

[2019-10-07 10:52] jankeromnes opened #799 "Please enable prebuilt workspaces to accelerate Gitpod start-up times"
Hello 👋

I work on Gitpod, and find Nu Shell super cool, so I was pretty excited to see you have a Gitpod setup! 🚀 (Great work @JesterOrNot! 💯)

While trying it out, I noticed that you could easily improve your Gitpod start-up times by enabling [prebuilt workspaces](https://www.gitpod.io/docs/46_prebuilds/). This will automatically run `cargo build` on every repo push or Pull Request, saving your

[2019-10-07 11:17] #798 closed

[2019-10-07 13:49] empath75 opened #800 ""where" throws error when fields don't exist on all entries."
Is there a way to filter on the existence of a field?
[code]

[2019-10-07 17:11] jonathandturner commented on #799
Installed. Thanks for the heads up :)

[2019-10-07 17:11] #799 closed

[2019-10-07 17:25] akshat2654 commented on #224
Hey! @jonathandturner Can I take this issue?

[2019-10-07 21:17] jonathandturner commented on #224
@akshat2654 - please do! You don't need to do them all at once. You can file a PR with batches of fixes, if you like.

[2019-10-08 01:05] andrasio opened #801 "count command"
As discussed in our Discord [![Discord](https://img.shields.io/discord/601130461678272522.svg?logo=discord)](https://discord.gg/NtAbbGn) chat:

I'd be nice to be able and print the total number of rows that a command gives. Let's say we call the command `count`. Example:

[code]

Doing `ls | where name == "Cargo.toml" | count` should print `1`

[2019-10-08 03:34] JackFly26 commented on #801
I'll see what I can do tomorrow.

[2019-10-08 08:40] jdvr commented on #194
I have subscribe to the issue. Once is merged I will go ahead with this. Thanks.

[2019-10-08 11:01] Southclaws commented on #356
7 Emojis seems like enough interest, I have poked around the code and it seems easy enough but will require a PR to the Starship repo to make it more library-friendly as currently it just writes directly to stdout - would be neater if there was a neatly exposed function to return the prompt as a string.

I could make it invoke the starship command externally but it just seems like such a good oppo

[2019-10-09 12:03] est31 commented on #741
If you haven't already, you should contact the people from https://wiki.debian.org/Teams/RustPackaging

[2019-10-09 12:44] t-hart opened #807 "Use first line of output as table headers"
I work a lot with OpenShift, and nushell is actually really handy for it. The `oc get` command outputs a space separated table which can be easily parsed by nushell by piping it into `split-column " "`. However, the original table's headers get parsed as the first row of the table. Naturally I can `skip 1` and it works, but the resulting table doesn't have any headers.

Is there a way to make it p

[2019-10-09 17:14] jonathandturner commented on #807
A few ideas:

`split-column` takes an optional `--collapse-empty` (when we add aliases in the future, it should let you turn this into your default if you want). This should get you back to the 0.2 behavior.

If those columns are tab separated, you could also run it through the `from-tsv` command which will parse the first line as the headers.

[2019-10-09 22:06] t-hart commented on #807
Right! If ‘collapse-empty’ makes it work like in 0.2, then that’s great! Thanks!

As for using ‘from-tsv’: the columns seem to use spaces in this case. I did try ‘from-tsv’ and it parses the headers, but it turns them into one column. Similarly the remaining rows seem to arbitrarily decide whether to split or not, but there’s never more than one column.

[2019-10-09 22:11] jonathandturner commented on #807
Sounds good.

Makes me wonder if we want some kind of `from-ssv` :)

[2019-10-10 03:30] DrSensor commented on #763
as an Arch user, the main problem with those 3 packages is each of them is maintained by different person which is confusing. Also, `nushell` and `nushell-bin` has different version.

<https://repology.org/project/nushell/versions>

[2019-10-10 05:58] ArekMiszcz opened #809 "thread 'main' panicked at 'index out of bounds: the len is 0 but the index is 0'"
**This is what i did**

sudo find | where size > 4kb

**This is what i get**

thread 'main' panicked at 'index out of bounds: the len is 0 but the index is 0', /rustc/20cc75272619cc452e3ae6c131e61974f6aa9929/src/libcore/slice/mod.rs:2716:10
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace.

**This is what i expect**
Table of files paths which are size greater than 4kb

[2019-10-10 07:02] jonathandturner commented on #809
It shouldn't panic, but I think what you're trying to do will need a different command. `sudo fibd` doesn't return a table. Overall, it will return strings you will need to parse to use (using something like `split-column`

You can do something similar to what you're trying using the built-in `ls` command.

Someone like `ls ** | where size > 4kb`.

(I'm on my phone, apologies if this is inaccurate

[2019-10-10 09:45] ArekMiszcz commented on #809
It's ok but ls ** freezing shell. It looks like ls trying at first put everything into memory and after that print it to the output.

[2019-10-10 16:49] jonathandturner commented on #809
Indeed. The current version of `ls **` will put everything into memory.  With luck, that will get fixed this weekend, as we're currently changing it to output results as it finds them rather than trying to do them all at once.

[2019-10-10 16:55] jonathandturner commented on #807
Yup, sounds good

[2019-10-10 19:09] loksonarius commented on #168
Just tossing out a possibly farfetched solution, but how does having something like a `lua` command that reads inputs and passes each input to a (possibly in-line) LUA script that can do whatever transformations (including arithmetic calculation) per line and output each result as a row for an output table?
Doesn't necessarily have to be LUA, maybe a more functional language would be more appropri

[2019-10-11 17:05] #730 closed

[2019-10-12 05:34] taylorthurlow opened #811 "v0.3.0 build on nightly fails to compile enum-utils crate"
[code]

I'm building this on macOS 10.14.6. I'd open an issue in the [enum-utils repo](https://github.com/ecstatic-morse/enum-utils) but it seems like I'll probably get a quicker response here, and I'm sure if other people have this issue, they'll look here.

[2019-10-12 13:18] cHolzberger commented on #693
ok fixed with 0.3.0

[2019-10-12 13:18] #693 closed

[2019-10-12 16:53] nikolaof commented on #811
I'm dealing with this error too in Arch linux.

[2019-10-13 03:42] jonathandturner commented on #811
I wonder if one of the dependencies had a semver-incompatible change. Taking a look

[2019-10-13 04:20] jonathandturner commented on #642
This should be fixed by #812

[2019-10-13 04:20] #642 closed

[2019-10-13 04:21] jonathandturner commented on #640
Can you see if this has improved with #812, which we recently landed?

[2019-10-13 04:21] jonathandturner commented on #403
This should be fixed by #812

[2019-10-13 04:21] #403 closed

[2019-10-13 04:53] #811 closed

[2019-10-13 06:45] jonathandturner commented on #809
With #812, you should be able to use `ls **`

That said, I'd still like to fix the issue you found, also

[2019-10-13 14:16] thegedge commented on #679
Verified that `sys | get disks` is working for me with `0.8.0-alpha.1` (OSX 10.14.6). `0.8.0` is released now though, so I could go ahead and bump.

[2019-10-13 16:17] jonathandturner commented on #679
@thegedge sounds good, if you want to send a PR I'll approve

[2019-10-13 16:44] thegedge commented on #679
Looks like https://github.com/nushell/nushell/pull/813 actually bumped it in `Cargo.lock`. Probably no need to worry about bumping until the next release?

[2019-10-13 16:45] jonathandturner opened #815 "Panic if external command isn't found"
We recently regressed back to panicking if an external command isn't found. We should fix this up before the next release.

[2019-10-13 17:28] jonathandturner opened #816 "Internal -> External should not drain"
Currently, based on our previous model, we're draining the input into an external:

https://github.com/nushell/nushell/blob/master/src/commands/classified.rs#L227

We should instead take in the lines one at a time instead of draining all at once.  We can use the async generators approach we use for Internal's run (which is above it in the same file)

[2019-10-13 18:10] jonathandturner commented on #679
Ah, that's true. I wonder - still might be good to bump in the Cargo.toml too, so everyone gets the same version. I forgot to do that.

[2019-10-13 18:17] thegedge commented on #679
Sounds good! I'll send a quick PR.

[2019-10-13 18:20] thegedge commented on #639
I think https://github.com/nushell/nushell/pull/814 should probably resolve this issue, @bmurphy1976.

[2019-10-13 19:08] jonathandturner commented on #800
There isn't a way to filter yet, but that's definitely something we should add.

[2019-10-13 20:32] thegedge commented on #816
Hey, @jonathandturner. I'll try to tackle this one this weekend.

[2019-10-13 20:38] jonathandturner commented on #816
@thegedge sounds good - feel free to ping here or on the discord if you want to brainstorm at any point.

[2019-10-13 21:17] t-hart commented on #807
Hey! So I've implemented a `from-ssv` filter now and have written tests that mirror the ones for `from-ssv` (reading input and fetching expected values). They're passing and all is good, but when I try and build and run the project, the output I get from using the command is a blank table with one column named `value`. That said, I can work on the table as if it had all the expected columns, so it

[2019-10-13 22:24] jonathandturner commented on #807
@t-hart that's great! I'm not quite sure what it might be. It's probably easier to read over the code.

Feel free to post a Draft PR here and we can take a look.

[2019-10-14 03:37] chenrui333 opened #818 "nushell 0.3.0 upgrade issue"
Relates to https://github.com/Homebrew/homebrew-core/pull/44558

Currently, have build issue locally with the either `09-29` or `10-13` nightly-build.

[code]

Need some eyes to solve the issue.

[2019-10-14 04:26] jonathandturner commented on #818
This is fixed in master and should be part of the release coming out this week.

[2019-10-14 04:26] #818 closed

[2019-10-14 04:27] jonathandturner commented on #818
see also: https://github.com/nushell/nushell/issues/811

[2019-10-14 04:46] jonathandturner opened #819 "Coloring escaped externals eats character"
If you type this line:

[code]

Once you type the ^ you get an off-by-one issue with the coloring.

[2019-10-14 05:11] #815 closed

[2019-10-14 05:17] #809 closed

[2019-10-14 05:46] #707 closed

[2019-10-14 05:53] t-hart commented on #807
Ah, it was just me being careless. I'd forgotten to trim empty lines and an initial empty line had snuck into my input. I'll put some tests in for that and then get the PR open.

One thing, though: I've implemented the `headerless` option similarly to `from-tsv`, but the behaviour is a bit unintuitive to me. I'd expected `headerless` to mean that the first row of the input should be treated as dat

[2019-10-14 06:40] Escapingbug opened #823 "tilde "~" completion"
Right now "~" can correct expand to home, but it does not understand when doing completion. This means when we do things like:
[code]
We get nothing.

[2019-10-14 06:53] Escapingbug opened #824 "Unable to build"
[code]

Error message:

[code]

I understand that this error is from enum-utils, but still I have no workable plan to fix it.

[2019-10-14 07:21] jonathandturner commented on #824
This is a duplicate of #811. It should be fixed in the latest master.

[2019-10-14 07:21] #824 closed

[2019-10-14 07:40] Escapingbug opened #825 ""mv" command can't move file to a different driver on Windows"
Example:

[code]

The message says "System cannot move the file to a different disk driver".

[2019-10-14 18:17] benreyn opened #826 "equivalent to `CDPATH` environment variable?"
Does Nu have an equivalent environment variable to a typical bash shell's `CDPATH` variable? So many things about Nu just worked out of the box from my bashrc I was surprised when my `CDPATH`  did not.

[2019-10-14 19:28] #819 closed

[2019-10-14 20:44] thegedge commented on #816
When digging around, I found an issue and first decided to fix it first (see https://github.com/nushell/nushell/pull/829).

So my understanding is that we want to avoid the `into_vec()`, and rather stream out the items in `input.objects` one by one, correct? If so, this seems like a fairly straightforward task of iterating over the stream instead of collecting it into a vec, unless I'm missing som

[2019-10-14 22:45] jonathandturner commented on #679
I'm going to go ahead and close since the original issue should be fixed. I'd like to be able to add aliases to be able to squeeze this down to a `du` alias, but we're tracking that elsewhere.

Thanks again.

[2019-10-14 23:09] thegedge commented on #679
I intended to mention that one thing `du` does that `sys` doesn't seem to be able to provide is usage for directories. For example, in the `nushell` source directory:

[code]

`sys | get disks` seems more akin to `df`.

[2019-10-15 00:26] jonathandturner commented on #679
That's a good point. I was reading one and thinking the other. Let me reopen in case someone wants to create the du equivalent.

[2019-10-15 01:40] jonathandturner commented on #816
@thegedge - that's right. You might have seen us using `async_stream! { ... }`  Using this should let you iterate through each element rather than using `into_vec()` and send to the stdin of the external one line at a time rather than building something and then sending it all at once.

That's the theory at least :)

[2019-10-15 11:02] andrasio commented on #801
Closing this. Implemented recently.

[2019-10-15 11:02] #801 closed

[2019-10-15 11:36] waldyrious commented on #801
IIUC, that would be #33, right? If so, and just for reference: the command is currently named `size`, but there's discussion in #408 to rename it to `count`.

[2019-10-15 14:36] zcdunn commented on #601
`!!` is useful for jumping back into an editor or ssh session when I've exited before finishing something. And `!!` is only one of the standard history commands that standard shells have. There are some other useful commands. `!v` runs the last command that starts with _v_. So i might have a session like this:
[code]
I use this one all the time. There are a few more commands that are explained her

[2019-10-15 15:31] MarinPostma opened #834 ""~" cause crash on enter"
the command `enter ~` crashes with message:
[code]

`nushell 0.3.0`

[2019-10-15 15:58] jonathandturner commented on #834
This seems to be fixed in master.  We're about to put 0.4.0 out. If you still see it happening, please reopen.

[2019-10-15 15:58] #834 closed

[2019-10-15 19:23] sdfnz commented on #711
I'll do `sum`.

[2019-10-15 20:45] Falcz commented on #224
Looks like this issue is outdated as of #728 - `ShellError::string` has been replaced with `ShellError::untagged_runtime_error`

[2019-10-15 20:58] jonathandturner commented on #224
Thanks, I'll update

[2019-10-15 21:21] bmurphy1976 commented on #639
@thegedge I can confirm this is working for me now.  Thanks!

[2019-10-15 21:21] #639 closed

[2019-10-15 22:03] bmurphy1976 commented on #640
I let it run for 40 minutes.  Memory topped out at 500mb (which is significantly improved) before I had to kill it.  RAM usage has improved considerably.

CPU is still an issue although I have an epic amount of files in my home directory so that isn't too surprising.  I'll run again when I have more time and see if I can get it to run to completion.

[2019-10-15 22:06] jonathandturner commented on #640
@bmurphy1976 - you're using `reverse` and `sort-by` so perhaps the streaming isn't helping you much.  It's still going to have to consume the whole list to give you any output.

[2019-10-16 02:20] thegedge commented on #816
Given we have to construct a command string (e.g., `cmd <it1> && cmd <it2> && ...`) to pass to a shell, we're going to have to drain no matter what we do, right? Would the benefit here be that we could potentially do this without an intermediate `Vec`, or perhaps I'm missing something 😅

The only other option I can see is that instead of constructing an `&&` command string to pass to a shell, we h

[2019-10-16 03:39] tshepang opened #839 "getting panic when using 'enter' on non-existent file"
This is from current master (d91b73544275b1a889547311d0c7ad647f762f20):

not found"), style: Primary }] } }), cause: None }', src/libcore/result.rs:1165:5
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace.

[2019-10-16 03:58] tshepang opened #840 "strange behavior of "where size >""
I was puzzled by this (from current master... d91b735):
[code]
So, it says the dir is > 1gb, but not > 500mb.

[2019-10-16 04:33] jonathandturner commented on #840
@tshepang - can you tell us about what OS and version you're running Nu in?

I haven't seen this but it's possible it's only on some OSes.

[2019-10-16 04:50] wayneashleyberry opened #841 "link to full release notes is broken"
The link to full release notes in the [`0.4.0`](https://github.com/nushell/nushell/releases/tag/0.4.0) release is broken.

[code]

[2019-10-16 06:38] tshepang commented on #840
This is Debian 10

[2019-10-16 16:48] jonathandturner commented on #841
Tried to update this but github is giving us errors. Will try to update once github fixes the issue.

Thanks for the report :)

[2019-10-16 16:52] jonathandturner commented on #816
Oh that's a good point. It makes me wonder if we should move away from using && as well, and just evaluate the commands one after another instead.

I haven't thought through the impact of that, but I suspect we should investigate it.

[2019-10-16 18:22] gzsombor opened #843 "Inc command not behaves as expected"
I'm trying to do some minor xml manipulation, but it seems, that 'inc' command is fails to act on paths:
This works :
[code]

This also works:
[code]

However, this will cut out everything from the xml.
I hoped, I can do something like this
[code]

[2019-10-16 18:34] bmurphy1976 commented on #640
Right.  Anyway, I let this run for 4 hours and it's still not finishing.  My feelings are that the initial issue is resolved.  I don't feel the CPU/RAM is "excessive" anymore, it's just slow (relative to jDiskReport anyway).

[2019-10-16 18:34] #640 closed

[2019-10-16 19:18] thegedge commented on #816
One positive I can see is the ability to run a command against all inputs, regardless of whether or not one of the inputs results in the command failing (could be opt-in behaviour). Imagine something like this:

[code]

Where we can somehow process the results of these, and ignore the fact that `host asdjhasd.com` is an NXDOMAIN output with an exist status of 1.

[2019-10-17 06:40] jonathandturner commented on #640
Sounds good. If you're interested, we'd still like to track the performance of it. Ideally, it would be able to work with the filesystem in a more efficient way (like tools like jDiskReport)

[2019-10-17 06:44] jonathandturner commented on #816
If you're up for it, I think we should give it a try.  I agree that the logic of using && may not give you what you want (great example by the way)

Are you interested in refactoring and removing that assumption?  Seems like we could generally have a better experience using the more relaxed approach you're suggesting

[2019-10-17 13:44] Cykooz opened #846 ""Error: Io(Kind(InvalidData))" raised if press and hold Enter key."
[![asciicast](https://asciinema.org/a/chkcbVBLCzQZGx80eLsRbE1ix.svg)](https://asciinema.org/a/chkcbVBLCzQZGx80eLsRbE1ix)

[2019-10-17 14:39] est31 commented on #741
As is noted in the e-mail, both issues are bound to resolve. 1.39.0 release will happen on Nov 7, 2019, so in precisely three weeks, while futures 0.3.0 will likely have a release around that time as well: https://github.com/rust-lang-nursery/futures-rs/issues/1893

[2019-10-17 14:40] vsoch commented on #741
Great! So @est31 should we put a TODO to take a look on November 8th?

[2019-10-17 15:49] idanarye commented on #840
I'm on ArchLinux (`5.2.14-arch1-1-ARCH`) and I experience a similar problem. I experimented a bit and it looks like `where` is treating `GB` the same as `MB`.

[2019-10-17 16:17] tshepang commented on #840
In my case, that directory actually turns out to be > 1gb indded

[2019-10-17 16:45] jonathandturner commented on #846
Thanks for the report. After some investigation, it looks like the problem is in the crate we use to read the line.

I've filed this on the dependency. Once they fix it, we'll pull in their update: https://github.com/kkawakam/rustyline/issues/291

[2019-10-17 16:49] jonathandturner commented on #840
This looks suspicious:

https://github.com/nushell/nushell/blob/193b00764b0cf5ad0335446c55f6c8d3aeb388a9/src/parser/hir/syntax_shape/expression/unit.rs#L80-L83

Anyone want to send in a PR to fix? Should be pretty easy by the look of it

[2019-10-17 20:27] #840 closed

[2019-10-17 20:57] thegedge commented on #816
I'm up for it, if there's no urgency. I generally only have a little time on the weekends to work, and this weekend I won't have any 😅

Arguably, we could use `;` instead of `&&` to get a similar effect, but it's probably worth exploring doing all of this ourselves. I assume there's a long term goal to not have to shell out for these kinds of things?

[2019-10-18 10:23] avimar commented on #765
Still same error on 0.4.0

[2019-10-18 12:37] thomasheartman opened #849 "Case sensitivity in 'where'"
Hey,

The `where` command is case sensitive both for column names and values. Could there be a way to make it ignore case, especially in column names? I find that when working with generated data, column names often come out in all caps, so the filtering needs to use all caps too, which, while no big deal, is a little annoying.

Would it be an idea to have a flag to make the command case insensiti

[2019-10-18 12:39] jonathandturner commented on #765
So you still get this issue, even though libssl is provided as part of the .tar.gz?

Are you on a 32-bit system, by chance?

[2019-10-18 13:10] jdvr commented on #194
The task has been merged and the [crate](https://crates.io/crates/trash) has a new version.

I will try to draft something this weekend and create a PR.

[2019-10-18 13:30] avimar commented on #765
Nope, Linode: Linux worker-data 4.9.0-9-amd64 #1 SMP Debian 4.9.168-1+deb9u5 (2019-08-11) x86_**64** GNU/Linux

[2019-10-18 16:26] #807 closed

[2019-10-18 17:02] wagenet opened #850 "Release notes for 0.4.0 have wrong link"
It should be http://www.jonathanturner.org/2019/10/nushell-0_4_0.html, with a dash between nushell and 0.

[2019-10-18 17:34] jonathandturner commented on #194
Sounds great

[2019-10-18 17:37] jonathandturner commented on #850
Dupe of #841

Unfortunately, we're still waiting for github to fix the bug so we can update it

[2019-10-18 17:37] #850 closed

[2019-10-18 17:58] t-hart commented on #300
I'll cover **Unit.rs**.

[2019-10-19 10:35] jdvr commented on #194
Hi, I have made some progress. I will tested it on MacOs this afternoon and create a PR if everything goes well.

Demo.

[![asciicast](https://asciinema.org/a/T4FePfmfjPQ2s3v5WQuGZGlH1.svg)](https://asciinema.org/a/T4FePfmfjPQ2s3v5WQuGZGlH1)

[2019-10-19 15:50] lighth7015 opened #852 "Python virtualenv support?"
Is there a way to enter a python *virtualenv* from nushell?

[2019-10-19 18:29] jonathandturner commented on #852
I don't believe so. We're currently working on adding environment support, and this is a good test case for the kind of thing we should support.

[2019-10-19 18:31] jonathandturner commented on #849
I have mixed feelings. Mostly because data sources, with the exception of something like Windows filenames, are all going to be case sensitive for fields.

That said, it might make sense to have a relaxed mode, or to at least have a forgiving autocomplete, when we add that.

[2019-10-19 20:24] jdvr opened #853 "[Question] Different `ls` output for nushell and bash"
I am testing Nu and I have notice a different  output for `ls` when listing some directories for example:

[code]

Why inside null `ls ~/.local/` returns an empty list?

[2019-10-19 22:03] jonathandturner commented on #853
Can you say more about the contents of that directory? Is the file/directory there but hidden by default, by chance?

[2019-10-19 22:04] jonathandturner commented on #853
I agree that it is probably wrong, just trying to figure out what is going wrong

[2019-10-20 00:39] Matalus opened #855 "[Question] : what are the possible conditionals for the "where" command"
are there additional conditionals that can be used for the where command aside from ==, >, <

[2019-10-20 00:41] andrasio commented on #843
@gzsombor you should be able to do now:

[code]

[2019-10-20 16:21] jonathandturner commented on #194
Fixed by #854 (thanks @jdvr!)

[2019-10-20 16:21] #194 closed

[2019-10-20 17:57] #843 closed

[2019-10-20 18:03] andrasio commented on #843
@gzsombor I should work now. Try `... | inc [path] --patch`

[2019-10-20 18:19] jonathandturner commented on #100
@makarchuk - I think we can close this and track related questions separate.

[2019-10-20 18:19] #100 closed

[2019-10-20 20:35] t-hart commented on #300
I looked through a couple of these the other day and found that for some files, they're only unwrapping in the tests. Is that something that should be removed too?

I very much agree with not unwrapping in program code, but in testing it'd only make your tests fail, which is what they should do given an unexpected value. Just wondering whether that's something to look into or not.

[2019-10-20 20:38] jonathandturner commented on #300
@t-hart - unwrapping in tests is probably okay. Mostly, for unwraps, we're trying to remove places where the shell will panic when someone is using it.

[2019-10-21 06:09] jdvr commented on #853
It is a _dotted_ directory so is hidden by default on system file explorer and normal `ls` command at least you add `-a` flag.

The weird behavior here for me is that I am listing it manually so if it is hidden or not shouldn't be taken into account.

[2019-10-21 11:05] jdvr commented on #853
I have tested and it seems something related to tilde and `std::path::Path`

[code]

output:

point is dir: true

[2019-10-21 12:34] wagenet commented on #850
Whoops, sorry for the duplicate!

[2019-10-21 15:35] Charles-Schleich commented on #711
I'm going to do sort-by .

[2019-10-21 18:47] bgianfo opened #859 "Feature: Add the ability to clear the terminal."
Maybe I'm missing something, but I'm not able to find any way to clear the  command prompt besides control-l (so that the terminal emulator will clear it self). It would be nice if something like clear / cls was exposed in nushell.

[code]

[2019-10-21 20:14] pmeredit opened #860 "Index issue with XML"
[code]

I haven't been able to repro this with other file types.

Additionally:

[code]

It seems that it does not know about the item column, when it definitely exists:

[code]

link is also ungettable.

[2019-10-21 20:23] andrasio commented on #860
@pmeredit `open jonathan.xml | get rss.channel | pick item | nth 3 | get item.title`

[2019-10-21 20:25] andrasio commented on #860
@pmeredit looks like trickery with the way `rss` works.

[2019-10-21 20:44] pmeredit commented on #860
@andrasio Interesting :)

[2019-10-22 09:03] andrasio commented on #853
@jdvr Thanks! Nu is not expanding the `~` to your home directory and that's the reason it's not listing the contents. This is a bug.

[2019-10-22 09:57] Fenex commented on #485
I have built `nu` on arm arch sucessfully.

## Compile
To compile on ARM arch, you need clone my [fork](https://github.com/Fenex/nushell/tree/arm) of the repository and compile `arm` branch.

Run commands step by step:
[code]

If you use a device with 1GB RAM or less (e.g. Raspberry Pi 3b+ and older), you can need run compiling with single thread only:
[code]
And yes, full compile taken 50min on m

[2019-10-22 10:07] Fenex commented on #485
This is a fail of rustc, not crates. See issue rust-lang/rust#62896, PR rust-lang/rust#65302.

[2019-10-22 10:09] Fenex commented on #485
This is a fail of rustc, not crates. See issue rust-lang/rust#62896, PR rust-lang/rust#65302.

[2019-10-22 10:11] svartalf commented on #485
@Fenex it seems that `async-await` branch of `heim` (your PR were merged into it as we discussed) will not be released any time soon (that would require stable Rust 1.39), so I can backport your PR into `master` branch and publish it as a `0.8.1` version, so it can be used here. That would also get rid of the `futures-preview = "0.3.0-alpha.18"`/`-alpha.19` issue, as the `0.8.x` versions are using

[2019-10-22 10:22] Fenex commented on #485
@svartalf
I tested on below toolchain:
[code]
Anyway, your crate is not main problem, at the first we need to wait for a fix in `bson-rs`. So, no need publish fixed `heim` version right now, at least for `nu` project.

[2019-10-22 12:40] #839 closed

[2019-10-22 15:37] zbeekman commented on #841
I came here to report the same thing.

[2019-10-22 16:08] zbeekman commented on #714
@jonathandturner is CTRL-D supposed to work to exit the shell? I think it was for me in 0.2.0, but now in 0.4.0 it does not. I'm on macOS (and I have modifier keys re-mapped and a custom layout).

[2019-10-22 16:20] svartalf commented on #485
I added a bunch of ARM targets to the [`heim` CI](https://github.com/heim-rs/heim/blob/master/.github/workflows/tier2.yml#L15-L29), builds are [green](https://github.com/heim-rs/heim/commit/207a7a62a3b879189f9424360d408ff0373a56a4/checks?check_suite_id=276155879); @Fenex, you can try to switch to the `master` branch of `heim` now.
Let me know when you will need a release with your changes.

[2019-10-22 17:45] roeeyn commented on #711
Hey 👋  I'll pick up Docker 🐳

[2019-10-23 00:15] jonathandturner opened #865 "Running 'rm' requires flag at the end"
From a recent install from master, I noticed that you have to pass the `--recursive` flag at the end. I believe the intent was to allow it to come in the middle also.

![image](https://user-images.githubusercontent.com/547158/67345295-0b4d6880-f597-11e9-9e23-85ef0ab4f113.png)

[2019-10-23 06:34] andrasio commented on #841
@jonathandturner Maybe it'd be easier [to change](https://github.com/jonathandturner/jonathandturner.github.io/blob/master/_posts/2019-10-15-nushell-0_4_0.md) filename to the same as [release 0.3.0](https://github.com/jonathandturner/jonathandturner.github.io/blob/master/_posts/2019-09-24-nushell_0_3_0.md)?

Editing still not possible.

[2019-10-23 06:36] jonathandturner commented on #823
@Escapingbug - what OS are you on? I wonder if the behavior is platform-dependent

[2019-10-23 08:09] Escapingbug commented on #823
I'm using windows.

[2019-10-23 08:17] jonathandturner opened #868 "Create a GitHub issue template"
Things we probably want in an issue template:

* Version of Nu they're running
* Platform they're running Nu on
* What plugins are installed (if applicable)
* Where they installed Nu from

[2019-10-23 09:12] jdvr commented on #853
Yes.

`cd ~ ` and then `ls .local` works fine.

I can work on path expand if you want.

[2019-10-23 19:28] andrasio commented on #853
@jdvr That would require a change down to the parser level of Nu. If you are interested, dig down to the parser and find how the current `~` expansion is done. By the time a command (see `cd`) gets the data from Nu internals the path will be already expanded by the parser.

You'd need to do this expansion rule for a pattern as well since that's what `ls` asks Nu to get.

[2019-10-24 19:03] t-hart commented on #855
I've been wondering about this too. I'd love a `contains` or regex match (`=~`?) for strings, but it seems that's not in yet.

[2019-10-24 19:08] t-hart commented on #849
Yeah, I can see your point about data sources often being case sensitive. That said, SQL tends to be insensitive, doesn't it? I don't think it should be the default, but a relaxed mode / ignore-case flag could be a good idea.

The forgiving auto-complete might also be enough. Fish shell does this for paths on case sensitive file systems and that works great.

[2019-10-24 20:22] vsoch opened #869 "Different params with sink vs. filter plugin"
I'm not sure if this is a bug, but the "params" that are passed from nushell to the plugin seems to vary based on having a filter or a sink.

## Sink

Specifically, for a sink we get a list, where the first entry (index 0) is the args dict we are looking for:

[code]
And notice the index 1 (second entry) is an empty list.

## Filter
And for the filter, we get just the dictionary (this would be wha

[2019-10-25 17:13] oknozor commented on #711
i am picking `from-csv` !

[2019-10-25 17:15] #723 closed

[2019-10-25 17:15] #846 closed

[2019-10-25 17:26] jonathandturner commented on #823
@Escapingbug - plans to improve it, though I don't know if anyone is actively working on it. Right now we're using the rustyline file completion, but we may want to either improve theirs or add our own that can do more.

[2019-10-25 17:26] Nate-Watts commented on #823
cd ~ isn't working for me either right now. I'm on OSX mojave version 10.14.6

[2019-10-25 17:27] jonathandturner commented on #823
@Nate-Watts - can you confirm that other types of file completion work for you? @Escapingbug mentions that other types, like completing "../" don't seem to work either.

[2019-10-25 17:29] Nate-Watts commented on #823
As far as I've noticed ../ works fine, tab completion works fine

[2019-10-25 17:30] jonathandturner commented on #823
@Nate-Watts - also, what kind of tilde completion are you doing?  Something like "~<tab>" or "~/<tab>"?

[2019-10-25 17:31] Nate-Watts commented on #823
[code]

[2019-10-25 17:32] jonathandturner commented on #823
Oh so it's even just completion, it's any support for tilde at all?

[2019-10-25 17:32] jonathandturner commented on #823
@Nate-Watts - can you run the `version` command while in Nu and see what version you're running?

[2019-10-25 17:33] Nate-Watts commented on #823
Yeah, unless I need to hard restart my machine for the cargo update to take place.
nushell 0.4.0

[2019-10-25 17:35] jonathandturner commented on #823
It should "just work".  I'll try to dig into a bit to see what is happening on macOS that's making ~ not work.

[2019-10-25 18:07] jonathandturner commented on #823
@Nate-Watts - I'm definitely confused. Tilde works for me for completions and as a path in macOS. I'm on Catalina (10.15)

Other thoughts are that it's a different tilde than it's expecting. That doesn't sound very likely but something to look into.

[2019-10-25 18:15] notryanb opened #872 "`post` command is not parsing arguments correctly"
I am receiving errors when trying to use the `post` command to send a request with `Content-Type: application/json`.

I would love to help out and fix this issue.

Documentation from `post help` states this as the signature
`> post {flags} <path> <body>`

Some examples:
`post --content-type="application/json" http://localhost:50212/api/v1/test 'ryan'`
=> Parse Error: highlights entire line from th

[2019-10-25 18:54] oknozor commented on #711
Sorry it seems I messed up referencing the issue.
I did `from-toml` to by the way.

[2019-10-25 19:57] Nate-Watts commented on #823
@jonathandturner Will do. I'll let you know.

[2019-10-26 03:38] AlexDikelsky commented on #865
Just to add to this, when you type `help rm`, it tells you to put the flag between the command name and the filenames, but throws an error when you do.

![nu_documentation](https://user-images.githubusercontent.com/52082790/67613849-f11eb080-f777-11e9-9c7c-5ec2bbeac887.png)

[2019-10-26 12:03] cormacrelf commented on #823
I get that parse error on 10.14.6, but only inside `tmux`. Executed without tmux, tilde works as expected, including completion.

[2019-10-26 16:26] jonathandturner opened #875 "Using --headerless on --from-csv removes the first row"
Example:

[code]

[code]

I would expect the data in the first row of the csv file to be the first row of the table when using --headerless

[2019-10-26 16:33] terakilobyte commented on #859
I was looking at diving into this. Is the intention to have a command in addition to CTRL+L ?

[2019-10-26 16:56] jonathandturner commented on #859
@terakilobyte - I don't think clear works across platforms. Here's what I see on Windows:

[code]

I wonder if you're actually picking up the clear command on your system.

[2019-10-26 17:09] bgianfo commented on #859
@jonathandturner  I believe you are correct, on windows (in cmd/psh) cls is a internal shell command, On Linux clear is a an actual program (/usr/bin/clear).

[2019-10-26 19:59] jonathandturner opened #876 "Suggestion: rename `add` to `insert`"
Thinking about our command terms a bit, I feel like `add` is too overloaded. We have some math operations, and it's easy to see `add` and to think that it's one of the math operations.

I think we may want to rename it to `insert` to avoid confusion.

[2019-10-26 20:01] jonathandturner opened #877 "Feature: autostart commands"
Something I've noticed while dogfooding is that I may need to close Nu, or restart, and it'd be great to be able to pick back up where I was.

Short of having all the same history and whatnot, we might be able to approximate some of this by allowing you to configure a set of commands that runs when Nu starts up.

[2019-10-26 20:23] jonathandturner opened #878 "Feature: extend nth to take multiple arguments"
Right now `nth` lets you select a single row to return. I was thinking it would be handy to extend `nth` to work more like `pick`. The `pick` command lets  you pick the columns you want, we could let you pick the rows (rather than a single row) that you want with `nth`.

Eg) `ls | nth 1 2 5`

[2019-10-27 00:01] andrasio commented on #823
Related #853

[2019-10-27 02:27] terakilobyte commented on #859
Ah, got it.

[2019-10-27 07:04] vsaurabh04 commented on #876
Hi, I would like to work on it.

[2019-10-27 12:09] t-hart commented on #875
This is also the case with `from-ssv` as it was modeled after the `from-csv` command, as briefly mentioned in [this PR](https://github.com/nushell/nushell/pull/830#issue-327987498). I agree that it's counterintuitive and would be interested in making the required changes, especially in the `from-ssv` command, but would also be happy to take on the task in `from-csv` if no-one else wants it.

[2019-10-27 16:40] jonathandturner commented on #876
@vsaurabh04 - sounds good!

[2019-10-27 17:06] jonathandturner commented on #423
I've filed this issue upstream: https://github.com/kkawakam/rustyline/issues/297

[2019-10-27 19:28] andrasio commented on #875
@t-hart Please do! `from-tsv` as well. We are also interested in renaming the flags for each of these from `--headerless` to `--per-line`, if you are interested in these changes.

Also `from-json` renaming `--objects` to `--per-line`.

[2019-10-27 20:18] t-hart commented on #875
@andrasio Aight, cool. I'll get started on that over the next week, then. Seems like it'll be quite a few changes, so I'll stage them up in multiple PRs. If anyone else fancies doing any of them, I'd be happy to share too :)

Regarding the flag renaming, what's the logic behind the new name? `--headerless` makes it sound as if it's a file without headers to me, but I'm not sure what the `--per-lin

[2019-10-28 17:32] jetzerb commented on #717
I ran into this same issue, also on Ubuntu 19.04.  I downloaded the [0.4.0 release](https://github.com/nushell/nushell/releases/tag/0.4.0) of `nu` for [Linux](https://github.com/nushell/nushell/releases/download/0.4.0/nu_0_4_0_linux.tar.gz) and got an error message about not being able to find `libssl.so.1.0.0`.  I noticed that the library file was included in the release, so I updated my system c

[2019-10-28 20:54] t-hart commented on #875
I've been doing some scouting today and checked out the `csv` crate that's in use by `from-csv` and `from-tsv`: it's got a `has_headers` configuration option which is currently always being set to false. Using the headers functionality is probably the easiest way around this (as in [this example](https://docs.rs/csv/1.1.1/csv/struct.Reader.html#method.headers) from the docs).

I notice that there

[2019-10-29 02:43] coderkalyan commented on #168
Hey, is this open? I'd like to work on it! If its ok, I will open a simple PR with basic `calc` functionality, and @jonathandturner can let me know if there is anything in particular he needs (as I'm new to the repo)

[2019-10-29 02:51] coderkalyan commented on #224
Hi! @jonathandturner is there still stuff to do, that I can work on here? If so, I'd like to help, I'll probably do it one at a time since I'm new to the codebase

[2019-10-29 04:54] andrasio commented on #875
@t-hart Agreed. In that case let's first start working on the equivalent for `--headerless` first and revisit `--per-line` in the future.

[2019-10-29 06:20] coderkalyan commented on #711
I'll try from_json!

[2019-10-29 20:12] Flare576 opened #887 "Echo exhibits inconsistant behavior with sed"
Assuming
fileA:
[code]
The following works:
`open fileA | lines | split-column "=" Name Value | get Value | ^echo $it | sed -e "s/^\(.\{0,9\}\).*$/\1/"`
[code]

The following does not.
`open fileA | lines | split-column "=" Name Value | get Value | echo $it | sed -e "s/^\(.\{0,9\}\).*$/\1/"`
**Observed behavior is a system hang**

[code]

[2019-10-31 11:17] andrasio commented on #869
@vsoch Hi!

How are we doing on this issue? All questions answered?

[2019-10-31 11:19] #860 closed

[2019-10-31 11:22] andrasio commented on #853
@jdvr Fixed on master. Thanks for bringing it up!

[2019-10-31 11:22] #853 closed

[2019-10-31 11:23] #841 closed

[2019-10-31 11:25] andrasio commented on #826
@benreyn Sorry about that! We are working on environment variables at the moment. You can explore what we currently provide by running the `env` command.

`config` command is also interesting to look at.

[2019-10-31 11:25] andrasio commented on #825
@Escapingbug Thanks for reporting it!

[2019-10-31 11:28] andrasio commented on #823
@cormacrelf `ls ~` fixed now. Thanks for reporting it. Closing this. If problem still persists feel free to reopen the issue.

Thank you again.

[2019-10-31 11:28] #823 closed

[2019-10-31 11:30] andrasio commented on #816
@thegedge How are we doing? Got any updates?

[2019-10-31 12:00] DanCardin opened #893 "Use xdg paths for config/history (on macos)"
I noticed the use of app_dirs in the config handling which appears to use `$HOME/Library/Application Support/nu`, which is very much not what I'd want for non-gui applications. Most cli tools seem to overwhelmingly (annoyingly) shove stuff into $HOME/.<name>, or (happily) support XDG (on both linux and macos).

As someone who commits their dotfiles, and would love to eventually use this as my defa

[2019-10-31 12:02] andrasio commented on #750
@boxed Thanks for reporting it!

[2019-10-31 12:06] andrasio commented on #893
@DanCardin Thanks Dan. We may have to look into this more. You are correct regarding where the config gets saved.

[2019-10-31 12:57] vsoch commented on #869
hey @andrasio ! Apologies for not closing this, you answered it almost immediately on Discord! For future readers, the difference is that a filter is just passing a lookup with args, but for a sink we need to pass this same lookup (first index) and then the second index is the output if the sink is used as a pipe. E.g.,:

[code]
And this is the reason for the different structures. Thanks @andrasio

[2019-10-31 12:57] #869 closed

[2019-10-31 13:44] thegedge commented on #816
Been a little busy lately, but I should have some free time this weekend to give it a shot. If it's out of my reach, we can hand it off. How does that sound?

[2019-10-31 17:48] jonathandturner opened #896 "Column paths with string'd numbers still treated like a row number"
Eg)

[code]

The first one looks correct. The second one should treat "5" as a column name, so we have a way to use a number as a column name.

[2019-10-31 19:43] #896 closed

[2019-11-01 03:47] loksonarius commented on #711
Nabbing `tags` real quick

[2019-11-01 08:37] jonathandturner opened #900 "Wishlist for 0.5.0 (and soon after)"
- [ ] ~Using $it on a whole-stream command~
- [x] Allow for setting config variables from the pipeline
- [x] Echo that can echo any value, not just strings
- [x] Better internal->external support (we currently don't have any support to stream into the external command stdin)
- [x] Environment variable support (similar to how we have $nu:path now)
- [x] Plugins should respect $nu:path (they current

[2019-11-01 18:31] ghost opened #901 "Windows cmd.exe"
Launching this program with Windows, you get:

[code]

Where I assume the garbage is supposed to be color output. Further, the program
cannot be closed by any of Ctrl+C, Ctrl+D, Ctrl+Z.

[2019-11-01 18:53] jonathandturner commented on #901
Thanks for the report @cup. What version of Windows are you running in? (if Windows 10, do you know what date of Windows 10 you're running?)

[2019-11-01 18:55] cup commented on #901
Windows 7

[2019-11-01 19:22] jonathandturner commented on #901
Sorry to say, but we don't currently have plans for directly supporting Windows 7.

That's not to say it won't work with a bit of creativity. You may be able to run it through programs other than cmd.exe. Any of the true color terminals listed here should work for running Nu: https://gist.github.com/XVilka/8346728

To your other question, you exit the terminal by running `exit`.

[2019-11-01 20:30] cup commented on #901
@jonathandturner is the fact that Windows 7 is not supported documented?

[2019-11-01 20:51] wycats commented on #893
@DanCardin I'm a little confused. The justification I've always understood for using XDG paths is that you want to use the paths supported by the operating system, to facilitate things like proper backup handling.

Using XDG directories on OSX, rather than the operating system recommended path, seems to cut against that goal.

[2019-11-01 20:53] wycats commented on #868
If we do this, I'd like to add a command to nu that fills in the template for you.

[2019-11-01 23:05] jonathandturner opened #903 "Table commands - complete list"
Here's an effort to "tile the space" to look for gaps in our current ability to work with tables.

# Working with columns

| Capability | Nu Support |
| ------------- | ------------- |
| Filter to subset of columns  | `pick`  |
| Filter to a column by number  | MISSING  |
| Filter to range of columns | MISSING |
| Work with cell contents by column name | `get` |
| Reorder columns | MISSING |
| Sor

[2019-11-01 23:36] jonathandturner commented on #868
Sounds good. We have issue templates now, so we could look at creating a command

[2019-11-02 10:48] ronen25 opened #907 "Shell panics when attempting to get two columns"
**Describe the bug**
When attempting to `get` two columns from a command (for example, the `sys` command), where the first column exists and the second doesn't, the shell crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Use command `sys | get cpu whatever`
2. Observe the shell crashing.

**Expected behavior**
Getting an error on the column that doesn't exist.

**Configuration (please

[2019-11-02 18:37] #868 closed

[2019-11-02 20:14] #907 closed

[2019-11-02 21:16] andrasio commented on #800
#900

[2019-11-02 21:18] andrasio commented on #788
@pizzafox This is fixed. Please reopen if you still have issues. Thanks!

[2019-11-02 21:18] #788 closed

[2019-11-02 21:20] andrasio commented on #786
@rnxpyke This is fixed. Please reopen if you see issues. Closing for now. Thanks!

[2019-11-02 21:20] #786 closed

[2019-11-02 21:20] andrasio commented on #778
#900

[2019-11-02 21:22] andrasio commented on #412
#900

[2019-11-02 21:24] andrasio commented on #765
@avimar Hi! Are you still experiencing issues?

[2019-11-02 21:25] andrasio commented on #754
#900

[2019-11-02 22:16] andrasio commented on #878
#900

[2019-11-02 22:16] andrasio commented on #750
#900

[2019-11-02 23:42] andrasio commented on #749
#900

[2019-11-02 23:44] andrasio commented on #747
#900

[2019-11-02 23:46] andrasio commented on #741
Hi :)

How are we doing here? @vsoch @yarikoptic

[2019-11-02 23:46] andrasio commented on #741
#900

[2019-11-02 23:48] andrasio commented on #740
#900

[2019-11-02 23:48] vsoch commented on #741
@est31 said that a release will be in debian on November 7th, so I suggested looking on November 8th. It's still November 2nd @andrasio ! :)

[2019-11-02 23:50] #739 closed

[2019-11-02 23:53] andrasio commented on #727
#900

[2019-11-02 23:53] #722 closed

[2019-11-02 23:53] vsoch commented on #741
Also please read - even with the rust release it may be there are too many dependencies not packaged yet to do. https://github.com/nushell/nushell/issues/741#issuecomment-543200245, and time might be the best asset here. Note that I'm not an experienced debian maintainer (I know pretty much nothing) but I'm feeling out as I go!

[2019-11-03 00:03] est31 commented on #741
When I said that there will be a release on November 7th, I meant the upstream release, not the release in Debian. Not sure when it'll be in Debian. Debian unstable still has 1.37.0 and 1.38.0 is needed in Debian before it can upgrade to 1.39.0.

[2019-11-03 00:29] andrasio commented on #719
#900

[2019-11-03 00:30] andrasio commented on #717
#900

[2019-11-03 00:31] andrasio commented on #716
#900

[2019-11-03 00:33] andrasio commented on #715
#900

[2019-11-03 00:36] andrasio commented on #714
#900

[2019-11-03 00:38] andrasio commented on #711
#900

[2019-11-03 00:41] andrasio commented on #709
#900

[2019-11-03 00:42] andrasio commented on #708
#900

[2019-11-03 00:44] andrasio commented on #701
How are we doing on this end? @DrSensor @jonathandturner

[2019-11-03 00:45] #694 closed

[2019-11-03 00:46] andrasio commented on #689
#900

[2019-11-03 00:47] andrasio commented on #687
#900

[2019-11-03 00:49] andrasio commented on #683
#900

[2019-11-03 00:49] andrasio commented on #682
#900

[2019-11-03 00:50] andrasio commented on #681
#900

[2019-11-03 00:51] andrasio commented on #679
#900

[2019-11-03 00:58] #666 closed

[2019-11-03 00:59] andrasio commented on #637
#900

[2019-11-03 01:00] andrasio commented on #636
#900

[2019-11-03 01:01] andrasio commented on #440
@kbumsik For the moment since our latest release you could do

[code]

Inspecting the environment you can do with the `env` command.

[2019-11-03 01:08] andrasio commented on #440
@kbumsik `~` was also fixed. Thank you!!! Please reopen or open a new issue if you see something not working as expected.

[2019-11-03 01:08] #440 closed

[2019-11-03 01:10] andrasio commented on #751
#900

[2019-11-03 01:14] andrasio commented on #634
#900

[2019-11-03 01:15] #62 closed

[2019-11-03 01:17] andrasio commented on #282
#900

[2019-11-03 01:17] andrasio commented on #247
#900

[2019-11-03 03:08] jonathandturner opened #910 "from-ssv cuts off columns from lsmod"
**Describe the bug**
If you do `lsmod | from-ssv`, the results seem to cut the columns evenly without separating based on spaces. Example in screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. `lsmod | from-ssv`

**Expected behavior**
Even if columns don't perfectly line up, I think we want to "do the right thing" and just parse them based on the spaces rather than guessing the colum

[2019-11-03 03:08] jonathandturner commented on #910
cc @t-hart

[2019-11-03 03:11] jonathandturner commented on #901
I'll update the README to mention it.

[2019-11-03 03:41] ghost opened #911 "Document Visual C++ requirement"
From testing I discovered that Visual C++ 2015 (14.0) is a runtime requirement
for nushell, but I dont see that documented anywhere. This file is required for
use:

[code]

[2019-11-03 03:44] cup commented on #901
You should probably just go ahead and say that only Windows 10 is supported, as Windows 8.1 doesnt work either.

[2019-11-03 03:46] jonathandturner commented on #910
Just as one more data point: `lsmod | from-ssv` does seem to work in 0.4.0, so it may have been from the updated logic between 0.4.0 and now.

[2019-11-03 04:31] #910 closed

[2019-11-03 10:48] t-hart commented on #910
Ah, that's a great use case for it! Good one. It seems that the readme hasn't been updated, by the way (and I also notice that the format for flags for the `from-ssv` command is inconsistent with the other commands (`date`, `post`, `exit`, for instance). I don't know if that should be kept up to date continuously or updated once something has been properly settled.

Also, how should the command ha

[2019-11-03 15:01] notryanb commented on #878
@jonathandturner I was playing around with creating a `range` command where the user could express something like ` ls | range 3 6` instead of `ls | skip 3 | first 7` (I'm thinking this would be inclusive or have a flag to control that behavior). Would this be better included in the `nth` command where the user writes `ls | nth 3 6 --range` ?

It might be awkward to interpret when you have > 2 par

[2019-11-03 17:09] avimar commented on #765
Still broken.

[code]

Any further commands to for debugging?

[2019-11-03 17:18] jonathandturner opened #915 "Nu fails to start if config file can't be opened"
**Describe the bug**
If the config file can't be opened for some reason, Nu will fail to open.

**To Reproduce**
Steps to reproduce the behavior:
1. change the HOME environment variable inside of nu and save the config
2. everything breaks

**Expected behavior**
I'd expect a warning but otherwise Nu would keep working

[2019-11-03 17:20] jonathandturner commented on #80
This now supported as `$nu:path` and `$nu:env`

[2019-11-03 17:20] #80 closed

[2019-11-03 17:25] jonathandturner commented on #910
Good question - this feels like something we'll need a few examples from the real world to play with and try to understand how people who are using the command will need it to work.  Did you have a few examples lying around that you want to work? We could scrub them and use them in our tests/designs.

[2019-11-03 17:34] jonathandturner commented on #878
@notryanb - I wonder if we might want to update the parser to support ranges.  I think something like: `ls | nth 3..6` would read a bit better and also let you pass multiple ranges more easily.

cc @wycats for thoughts on parsing

[2019-11-03 18:35] notryanb commented on #878
I think a range type would be a better solution from a UI perspective.

One of the issue I ran up against was error handling, which would be nice to handle at the parser level instead of in the command/plugin. This way we wouldn't have to keep re-implementing checks for negative ranges.

[2019-11-03 20:15] andrasio commented on #166
I think we can close this issue now. It's too late. @jonathandturner @wycats

[2019-11-03 20:16] #338 closed

[2019-11-03 20:16] #167 closed

[2019-11-03 20:17] andrasio commented on #159
#900

[2019-11-03 20:19] andrasio commented on #21
#900

[2019-11-03 20:21] andrasio commented on #293
#900

[2019-11-03 20:22] andrasio commented on #168
#900

[2019-11-03 20:25] andrasio commented on #171
#900

[2019-11-03 20:26] andrasio commented on #276
#900

[2019-11-03 22:31] Hrxn commented on #166
*"With the right attitude, it's never too late"*
— unknown

[2019-11-03 22:32] thegedge commented on #816
So, after digging into this problem and sharing in Discord, it looks like @jonathandturner and I came to similar conclusions.

This is actually much more difficult than expected when we introduce `$it` to an external command. If we want nushell to be the orchestrator for each separate process, we'll have a separate `stdout` for every process. A naive approach to this would be to return a stream/ve

[2019-11-04 00:31] thegedge commented on #816
After digging around a ton, I think we need an abstraction of a pipe. That's really all that's happening when you do `foo | bar`, and I think we'll just need to manage this ourselves in nushell. Going to keep chipping away at this. I encourage others to take alternative approaches, but hopefully I can have a working prototype within a week 🤞

[2019-11-04 17:39] jChapman opened #918 "Link to blog in release 0.4.0 is broken/incorrect"
**Describe the bug**
The github release (https://github.com/nushell/nushell/releases/tag/0.4.0) contains a link which returns a 404

The bad link: http://www.jonathanturner.org/2019/10/nushell_0_4_0.html
The correct link: http://www.jonathanturner.org/2019/10/nushell-0_4_0.html

[2019-11-04 18:24] DanCardin commented on #893
My understanding of the justification of using xdg is more about organization and cross-operating-system compatibility. Keeping config/data/cache separate from one another, and putting all config in one non-$HOME folder so that backup/version tracking is basically just committing the whole folder. I can generally take my ~/.config folder between linux and macOS and get the same configured dotfiles

[2019-11-04 18:30] daschl opened #920 "Nested get path does not stream all the rows"
**Describe the bug**
When using `get foo.bar` on a table it does not behave the same way as `get foo | get bar` does. Looks like something is stopping the stream from progressing.

**To Reproduce**
Steps to reproduce the behavior:
Create an input file with this content (`input.json`):

[code]

Look at output for `open input.json | get results | get travel-sample` vs. `open input.json | get results

[2019-11-04 18:38] daschl commented on #920
I'll see if I can make my first contribution here in the next couple days, unless someone wants to snatch it immediately.

[2019-11-04 19:06] andrasio commented on #920
@daschl Looks like a list. Try `open input.json | get results.1."travel-site"`

[2019-11-04 19:49] lewisdiamond opened #921 "Pivot like Google Sheets Pivot Tables"
When dealing with data sets that have many columns, one may be interested in grouping them.

Take `ls` for example
[code]

Suppose you want the sum of size by type
[code]
Checkout Pivot tables in Google Sheet or MS Excel.

**Describe the solution you'd like**
`ls | pivot --on type --sum size --total`

**Describe alternatives you've considered**
I currently use Google Sheet for that (not for ls obv

[2019-11-04 20:01] daschl commented on #920
@andrasio it‘s actually the other way around. I expect the dotted syntax also to return the full list and not return a single entry.

[2019-11-04 20:04] andrasio commented on #920
@daschl Yes! investigating.

[2019-11-04 20:05] andrasio commented on #920
@daschl Can you try these?

[code]

[2019-11-04 20:06] andrasio commented on #920
#900

[2019-11-04 21:16] t-hart commented on #910
Sure do! A very stripped down version of the issue is the file:
[code]
When parsed without the --aligned-columns flag, you get this:
[code]

With --aligned-columns, you get this:
[code]
In this example, the table is clearly designed to be used with aligned columns, and so that naturally gives a better output, but what if the file looked like this?
[code]

In this case, the columns aren't aligned a

[2019-11-04 22:38] andrasio commented on #920
Just putting this json sample for reference

[code]

[2019-11-04 22:43] andrasio commented on #920
@daschl What you are expecting should definitively be implemented!

[2019-11-04 22:48] Flare576 opened #922 "Unquoted arguments to external commands not handled"
When calling an external command (`git` in this case), Un-quoted strings do not get properly passed into the command.

**To Reproduce**
Steps to reproduce the behavior:
1. run `git clone git@github.com:nushell/nushell.git`
2. See `fatal: You must specify a repository to clone.`

**Expected behavior**
The repository should begin cloning.

**Please Note** Adding quotes around the repository URL is a

[2019-11-04 22:59] jonathandturner commented on #922
It may be either the `@` or `:` that's causing the issue. We may need to extend the definition of "bare" words for external.

[2019-11-06 02:11] jonathandturner opened #923 "Rows in column paths should also work on streams"
Example:

[code]
This is related to #920

[2019-11-06 06:19] avimar commented on #765
/nushell_0_5_0# ./nu
./nu: error while loading shared libraries: libssl.so.1.0.0: cannot open shared object file: No such file or directory

[2019-11-06 07:19] kud1ing opened #926 "`ls` does not show files or directories on a Windows 10 network drive"
**Describe the bug**
`ls` does not show files or directories on a Windows 10 network drive

**To Reproduce**
Steps to reproduce the behavior:
1.  `cd` on a network drive
2. type `ls`
3. neither a file nor a directory is shown

**Expected behavior**
`ls` should show files and directories on a network drive.

**Screenshots**

`ls` does not show any files or directories, while `cd` can be used to cha

[2019-11-06 07:29] kud1ing opened #927 "`cd ..` on a subdirectory of a Windows 10 network drive gives "directory not found""
**Describe the bug**
`cd ..` on a subdirectory of a Windows 10 network drive gives "directory not found"

**To Reproduce**
Steps to reproduce the behavior:
1.  `cd` into a sub directory on a Windows network drive
2. `cd ..` gives `directory not found`

**Expected behavior**
`cd ..` should work on Windows network drives as it does on physical drives.

**Screenshots**

![nu_cd](https://user-images.g

[2019-11-06 07:52] kud1ing commented on #901
Not entirely sure whether this applies to this, but maybe it is helpful to anyone: `py-spy` needed [this adjustment](https://github.com/benfred/py-spy/commit/b32c4942e8db22883096f85e489039a41096d5b0) for Windows 7 which is based on https://docs.rs/console which seems to support colors.

[2019-11-06 09:51] Byron opened #928 "`open Cargo.toml | to-json | jq .` hangs forever"
**Describe the bug**
When using `jq` as external program, it fails to read the provided json from stdin and thus waits forever. `CTRL+C` has to be used to abort it.
When looking into the open files of the running `jq` process I noticed that its standard input was connected to the _TTY_, not the `nu` process producing the data.

**To Reproduce**
_(within nushell)_
1. cd nushell
_(the nushell reposi

[2019-11-06 13:53] Aloso opened #929 "Run programs at relative path (e.g. `./flutter`)"
**Is your feature request related to a problem? Please describe.**
It's very inconvenient to run a program in the current directory:

[code]

The solution is to specify the absolute path, which is much more verbose:

[code]

**Describe the solution you'd like**
If a command starts with `./` or `../`, run the program at the relative path.

**Describe alternatives you've considered**
Change nothing.

[2019-11-06 14:02] Aloso commented on #727
The files are unordered on Linux as well. I switched to [lsd](https://github.com/Peltoche/lsd) because of this.

[2019-11-06 16:52] jonathandturner opened #930 "Make --help work like "help <command>""
**Is your feature request related to a problem? Please describe.**
People's natural inclination coming from other shells will likely be to type --help on commands that they know about to learn more about them. We should allow them to use this muscle memory.

**Describe the solution you'd like**
We detect the --help flag, and if found, pass it to the `help` command. If we want to future proof, we m

[2019-11-06 17:40] jwoertink opened #931 "Weird installation with macOS Catalina"
**Describe the bug**
I just saw a tweet saying 0.5.0 was released, so I decided to give this a shot. I installed from brew (`brew install nushell`), but it installed a lower version. It says it installed version 0.2.0, but when I ran `nu -h`, it shows version 0.1.3.

**To Reproduce**
Steps to reproduce the behavior:
1. `brew install nushell`

**Expected behavior**
I expected to have version 0.5.0

[2019-11-06 17:49] jonathandturner commented on #931
This comes from a bug in the 0.2.0 release. We've fixed it in master, so the version should align with the release now.

Going ahead and closing as this should go away naturally once homebrew updates to the latest version.

[2019-11-06 17:49] #931 closed

[2019-11-06 17:51] jwoertink commented on #931
Ok cool. I guess I'll just keep checking for a homebrew update.

[2019-11-06 18:35] cauimsouza commented on #711
I'm picking "size"

[2019-11-06 20:45] thibran opened #932 "csv - support setting the separator character or auto-detect it"
**Is your feature request related to a problem? Please describe.**
Microsoft Exel saves .csv files in the german editon with `;` as separator character (don't ask me why).

**Describe the solution you'd like**
Auto-detect the csv separator. Also add an `--separator` flag to the csv command.

**Describe alternatives you've considered**
It is certainly possible to convert csv files into the right fo

[2019-11-06 20:48] rofrol opened #933 "error: Filename patterns error if it has square brackets in it"
**Describe the bug**

- No autoescape special chars like `[` or `]` when pressing `Tab`.
- Even when added escapes manually, does not work.
- Cannot rename such file even when wrapping with `"`.
- Can only move to some directory.

**To Reproduce**
Steps to reproduce the behavior:
1. `touch file[asdf].mkv`
2. `mkdir t`
3. `mv file[asdf].mkv t/`

this does not work

`mv file\[asdf\].mkv t/`

this wo

[2019-11-06 20:54] rofrol opened #934 "Ubuntu GUI login screen does not appear when nu set as shell with chsh"
**Describe the bug**

Cannot login to GUI Ubuntu when `nu` set as default shell with `chsh`.

**To Reproduce**
Steps to reproduce the behavior:
1. `> config --set [path $nu:path]`
2. `> config --set [env $nu:env]`
3. `sudo chsh -s /home/user/.cargo/bin/nu user`

**Expected behavior**
You see login screen.

**Configuration (please complete the following information):**
 - OS: Ubuntu 19.10
 - Versio

[2019-11-07 02:20] thegedge opened #935 "How should internal/external commands interact in a pipeline?"
Organizing ideas about how internal/external commands should interact in a pipeline.

| #  | source | sink | source transformation | example |
|----|--------|------|-----------------------|---------|
| 1  | Internal | Internal | Identity | `ls \| get name` |
| 2  | Internal (Primitive) | External | Stringify primitive | `ls \| get name \| nth 0 \| cat` |
| 3  | Internal (Row) | External | Join int

[2019-11-07 02:59] jonathandturner commented on #934
Did you happen to also add Nu as a shell in `/etc/shells`?

[2019-11-07 05:19] rusnasonov commented on #553
What about descending sorting? I didn't find option in sort-by to change ordering.

[2019-11-07 17:57] drmason13 commented on #750
I'd like to take a crack at this, if I may? Fair warning though, I'm new to this code base :)

At the moment pick sees "Nothing" as a completely valid response every time it runs `select_fields`, which is why the table with empty rows gets printed.

I'm struggling to see where to add the error checking code.
As far as I can see `pick` calls `select_fields()` which returns an `InputStream`.
My diff

[2019-11-07 22:42] jonathandturner opened #941 "Should `rm` recycle by default?"
from reddit:

"Wouldn't it be prudent to invert the behavior, rm sends to the trash by default and rm --no-backsies does a non-recoverable delete?"

[2019-11-08 07:12] kbd commented on #356
I always love feeling seen by fellow geeks. That’s how I do [my prompt](https://github.com/kbd/setup/blob/27218ba9f549c0ca838913987a478b18c7afd2b4/HOME/bin/shell_sources/prompt.sh#L191) and I wasn’t previously familiar with geometry.

[2019-11-09 04:54] andrasio commented on #876
Closing. Change already done in master.

[2019-11-09 04:54] #876 closed

[2019-11-09 04:59] andrasio commented on #921
@lewisdiamond There are many ways to accomplish it. Please let me know what you are thinking.

Few examples that come up my mind:

`ls | where type == File | get size | sum`
`ls | group-by type | get File | get size | sum`

There is a bug and doing `ls | group-by type | get File.size | sum`  that we are working on fixing.

[2019-11-09 08:42] HiruNya commented on #68
How would this differ from the ``read`` command introduced in version 5?

[2019-11-09 11:19] alteous commented on #941
From the Art of Unix Programming, 'file deletion is irrevocable' is listed under the 'What Unix Gets Wrong' section:

http://catb.org/~esr/writings/taoup/html/ch01s04.html

[2019-11-10 01:30] samford commented on #714
In the process of updating the Nushell formula in Homebrew from v0.2.0 to v0.5.0 (Homebrew/homebrew-core#46505), I also encountered this issue when the test wouldn't execute to completion and would simply hang until it timed out.

Basically, [the test](https://github.com/Homebrew/homebrew-core/blob/47437a918aec92a08d5cfaa8ea0428b8c91b6ed2/Formula/nushell.rb#L35) calls a function that opens `nu` an

[2019-11-10 03:43] jonathandturner opened #946 "`ls` of unknown directory doesn't error"
**Describe the bug**.
An `ls` of a directory that doesn't exist doesn't give an error.

**To Reproduce**
Steps to reproduce the behavior:
1. `> ls fsfasdf`

**Expected behavior**
An error should be printed that the directory doesn't exist

[2019-11-10 18:14] jonathandturner commented on #68
@HiruNya - good catch

This should be closed now. The command is now called `parse` for folks who find this later.

[2019-11-10 18:14] #68 closed

[2019-11-11 09:24] t-hart commented on #941
Hmm, so `rm`  would send to a recoverable trash can by default?

In my opinion, that'd be surprising in a bad way. I can't remember the last time I wanted to move anything to the trash upon deletion and it's a very different practice from what I'm used to.

Naturally, that it's different isn't a bad thing, though the principle of least surprise is a thing. That said, for people used to how it work

[2019-11-11 16:47] lewisdiamond commented on #921
I had 0.4.0 when I opened the issue, 0.5.0 released right after includes `group-by`. I'll first see what can be done with group-by (once the bug is resolved) and then I can update if there's a legitimate need for more.

One thing that, at first glance, would be missing is the ability to group in multiple levels and aggregate  multiple fields.

[2019-11-12 03:29] notryanb opened #953 "Parse Error for quoted arguments in non-nushell programs"
**Describe the bug**
When running a non-nu command that has argument values surrounded by quotes, a Parse error
 is raised.

**To Reproduce**
`git log --pretty="%h %cn - %cd"`

**Expected behavior**
Output of the git command using the formatter
ex.
[code]

**Error Output**
[code]

**Configuration (please complete the following information):**
 - OS: Windows
 - Nu: 0.5.0
 - All Features

[2019-11-12 04:18] jfkassam commented on #420
Am currently working on this -- have it working with RFC 3339 and am working on parsing more natural formats and relative formats.

[2019-11-12 15:25] thomasheartman opened #955 "from <format> commands (make <format> a subcommand of from)"
**Is your feature request related to a problem? Please describe.**
I wouldn't call it a problem as much as a quality of life-issue. When using the various `from-x` commands, the hyphen takes more work to type than a space.

**Describe the solution you'd like**
I'd like to be able to use the various formats as subcommands of a general `from` command, so that I could drop the hyphen. E.g.:
`open fil

[2019-11-12 16:49] jonathandturner commented on #955
👍

I definitely think we should consolidate them into one command and make the different ones add a subcommand to the main command.

One possibility - we've been wondering if we should piggyback on the new `parse` command. This would give you a verb to work from.  Same idea:

[code]

The current `parse` command could be another subcommand:

[code]

[2019-11-12 17:07] evanjs opened #956 "uniq / distinct / duplicate filtering"
**Is your feature request related to a problem? Please describe.**
Currently, we have no way to easily deduplicate data.

**Describe the solution you'd like**
I'd like to see an equivalent of bash's [uniq](https://en.wikipedia.org/wiki/Uniq), or `sort -u` [[1](https://unix.stackexchange.com/a/76050/226782)]

**Describe alternatives you've considered**
Super complex filters, while impractical, shou

[2019-11-13 21:12] DrSensor commented on #701
Waiting for the next releases to see if the latest merged PR works 😊

[2019-11-13 21:24] bndbsh opened #958 "Unclear error when attempting to directly save pipeline"
**Describe the bug**
The save command requires pipeline to be formatted (e.g. using to-json), however the error message seems to be missing completely.

**To Reproduce**
Steps to reproduce the behavior:
1. `ls | save result`

**Expected behavior**
Error suggesting to use `to-json` or similar before save.

**Configuration (please complete the following information):**
 - OS: Linux
 - Version master

[2019-11-13 22:22] devurandom commented on #389
Unlike the OP, when I type `ps` on my system (nushell 0.5.0), I get a bunch of tables, each a different number of lines long, with different widths each. That seems even more annoying than a single long table.

I like the idea of being thrown into a `$PAGER` when the output of a built-in command is longer than one screen. I wonder whether something like [bat](https://github.com/sharkdp/bat) could

[2019-11-14 21:14] BatmanAoD opened #959 "Queryable history for `config --load`"
**Is your feature request related to a problem? Please describe.**
In Bash, I often want to know which specific files have been sourced. I primarily want this in order to debug the shell configuration for terminal editor.

But Bash doesn't appear to keep any record of which files have been sourced by the current shell instance. `nu` can do better!

**Describe the solution you'd like**
I would like

[2019-11-14 22:56] Aloso commented on #941
I'd like to have a global configuration option.

- If it's enabled, `rm` moves the file to trash, and `rm --permanent` deletes it
- If it's disabled, `rm` deletes the file, and `rm --trash` moves it to the trash

[2019-11-16 15:50] Compro-Prasad commented on #714
Why is this the default behaviour? Can someone explain to me?

[2019-11-16 17:20] drmason13 opened #969 "combine csv and tsv functions behind [to/from]-[csv/tsv] commands"
Following on from #943 where a separator arg was added to `from-csv`.

I've now realized that `from-tsv` is just a specific case of `from-csv` (tab separated values).
I've also noticed that passing `--separator "\t"` to `from-csv` trips my uninspired check for a single character (it sees two characters, '\' and 't').

I'd like to propose having `from-tsv` and `from-csv --separator "\t"` do the sam

[2019-11-16 17:42] jonathandturner opened #971 "Add duration as a first-class value"
Right now, you can compare dates against a duration (eg `where accessed < 1d`), but we don't have durations as a first class value.

A better approach to supporting these kinds of comparisons is to make `1d` a duration instead of a datetime value, and then compare it uniquely to comparing two dates.

We may want to investigate how we print dates (eg from `ls`), or leave as the same.

cc @thegedge

[2019-11-16 17:52] jonathandturner opened #972 "Expand ~ when given to external commands"
**Describe the bug**
If ~ is used as part of a path to an external command, it's given as-is without any expansion.

**To Reproduce**
Steps to reproduce the behavior:
1. `vi ~/.config/starship.toml`
2. Notice it tries to create a new directory instead of going to the correct directory
3. sadness

**Expected behavior**
Expand ~ as a special symbol given to external

**Configuration (please complete

[2019-11-16 20:28] jonathandturner opened #974 "Improve starship functionality when entering non-directory"
For entering things other than files, we use cwd in different ways. It'd be great if we could drive starship a bit differently in those cases.

[2019-11-17 06:07] #971 closed

[2019-11-17 18:24] jonathandturner commented on #714
We want it to be in-line with Bash's behavior, as having them work the same is confusing. I believe it was changed as part of an unrelated fix, but it still needs to be reset back to working differently than Ctrl-C

[2019-11-17 19:22] #714 closed

[2019-11-17 19:29] jonathandturner opened #981 "Add "coming from Bash" guide"
It'd be awesome if we could help people already familiar with another terminal use that knowledge to move to nu.

Think cookbook/recipe style where we show the bash and nu equivalent side-by-side to help give a set of new patterns that build from the previous habits.

[2019-11-17 20:04] bndbsh commented on #958
Fixed in #976

[2019-11-17 20:04] #958 closed

[2019-11-17 21:13] jonathandturner commented on #714
I went ahead and reverted the changes that led to ctrl-d and ctrl-c being treated the same. We should be back to where ctrl-d works as expected.

[2019-11-17 23:06] Aloso opened #983 "Autocomplete of path with spaces is buggy"
**Describe the bug:**
When autocompleting a path containing spaces with <kbd>TAB</kbd>, the path is added in quotes, without removing the part before the last space:

[code]

(`<|>` is the position of the cursor before pressing <kbd>TAB</kbd>)

**Expected behavior:**
Either spaces are escaped with `\ `, or quotes are inserted at the correct places, if necessary.

**Configuration:**
 - OS: Manjaro

[2019-11-18 20:11] jonathandturner opened #985 "Need a way to easily view a row of tables as itself a table"
A not-uncommon situation is having data like this:

![image](https://user-images.githubusercontent.com/547158/69088915-87f73800-0aac-11ea-9e9d-3435b7c7763e.png)

It'd be great to be able to take that data and expand all the subtables in a way that you can see what they contain.  A kind of pivot+expand.

[2019-11-19 00:23] jonathandturner opened #987 "frecuency -> frequency"
Histogram's default column should be "frequency" instead of "frecuency"

[2019-11-19 12:22] oigi333 commented on #859
Should that be a plugin or an internal command?

[2019-11-19 15:04] drmason13 opened #989 "doc tests for command example snippets"
I've noticed there are some really good test features that let you describe a nushell "playground" or sandbox to run commands in. It's really nice to use even though I don't fully understand it.

It's also good that we're getting some documentation together of the commands complete with examples of usage and output. Some of these snippets seem to use files and examples taken from the playground us

[2019-11-19 15:37] zeenix commented on #749
@andrasio Which PR this got addressed in?

[2019-11-19 15:37] zeenix commented on #747
@andrasio same guestion here: Which PR/patch fixes this?

[2019-11-19 15:39] andrasio commented on #749
@zeenix Hi! Not fixed yet, just moved over the #900 meta issue.

[2019-11-19 15:39] andrasio commented on #747
@zeenix Same answer caballero.

[2019-11-19 15:41] boxed commented on #750
Was this fixed?

[2019-11-19 15:42] andrasio commented on #750
@boxed Not yet. We are tracking it from #900 now to avoid having so many open issues.

[2019-11-19 16:04] waldyrious commented on #389
Just keeping all tables with the same width (and maybe getting rid of the separation between the tables, leaving the heading rows as separators) would improve this a great deal.

In other words, instead of this:
<details>

[code]
</details>

I think this would be more readable:
[code]
</details>

[2019-11-19 16:18] zeenix commented on #749
Should meta-issues just track the actual issues? Having one big issue for multiple unrelated issues, seems a bit unorthodox to me. Just my two cents. Your project, your rules. :)

[2019-11-19 16:29] #969 closed

[2019-11-19 16:31] andrasio commented on #749
@zeenix What strategy do you suggest? There are currently ~150++ opened issues.

[2019-11-19 16:32] mosic opened #991 "Using nushell consumming commands with snap search breaks the table layout"
**Describe the bug**
Running `snap search` returns a table-like output, which I thought would be a nice input for the nushell's table functions, but it seems like it's actually worse.

**To Reproduce**

Steps to reproduce the behavior:

Run: `snap search anki | autoview`

**Expected behavior**
I expected to be able to see the nicely formatted table, and use the table helper functions with it.

**S

[2019-11-19 16:33] andrasio commented on #749
@zeenix Also, this one with consider it priority.

[2019-11-19 17:10] jonathandturner commented on #859
@oigi333 - I'd go with internal

[2019-11-19 17:14] andrasio commented on #749
@zeenix reopening them. Thanks for your valuable comments :P

[2019-11-19 17:15] boxed commented on #750
Now you're just making me confused! :)

[2019-11-19 17:17] jonathandturner commented on #989
This is a wonderful idea. Our plans with the snippets in documentation is also to turn them into templates you can find from inside of Nu's help. It'd be great to know that we're keeping these working as Nu matures.

[2019-11-19 17:19] andrasio commented on #989
@drmason13 Yes sir! That's among the goals regarding examples and documentation. Feel free to try out things and report back here or the Discord.

[2019-11-19 18:13] andrasio commented on #750
@boxed Heh, we decided to reopen them and track them in the meta-issue.

[2019-11-20 10:39] Voltra opened #992 "Loosen extension requirements for executable-like files"
**Is your feature request related to a problem? Please describe.**
Let's say we're on windows, in any terminal we can use `npm` to run it, not `npm.CMD`, just plain `npm`. In NuShell, `which npm` will find the correct file, however running `npm` will result in an error : `file not found. (os error 2)`. Using `npm.cmd` will run the program just fine.

**Describe the solution you'd like**
I'd like t

[2019-11-20 15:04] PSeitz commented on #855
If someone points me how I could add this.
So the [where](https://github.com/nushell/nushell/blob/388fc241914c11587006e32a872883428a75ccd3/src/commands/where_.rs) seems to have some `SyntaxShape::Block` with the condition? But in this file I don't understand whats happening
https://github.com/nushell/nushell/blob/388fc241914c11587006e32a872883428a75ccd3/src/parser/hir/syntax_shape/block.rs

[2019-11-20 19:18] oigi333 opened #993 "Sink plugin's stdout is not outputted to shell"
**Describe the bug**
Sink plugin's stdout is not outputed to shell.

**To Reproduce**
Steps to reproduce the behavior:
1.  Try using any sink plugin (eg. binaryview) on windows

**Expected behavior**
Sink plugins should be able to write directly to stdout

**Configuration:**
 - OS: Windows
 - Version 0.5.0
 - Optional features (if any)
binaryview

[2019-11-20 19:54] arnaldo2792 commented on #953
I had the same problem, but with `find`:

**To Reproduce:**
[code]
**Expected behavior:**
It should `echo` the files returned by the `find` command

**Error Output:**
[code]

**Configuration (please complete the following information):**
- OS: OSX
- Nu: 0.5.1
- All Features

[2019-11-20 20:19] t-hart commented on #955
Hmm, interesting. How does the parse command work? I can't find any clear docs for it, and I'm not sure where to find any describing tests. A quick grep didn't give me much.

But anyway, yeah, that sounds like a good idea to me!

[2019-11-20 20:39] t-hart commented on #855
I'd love to help out, but I'm not sure where to go either. If you look at `src/data/base.rs` you'll find an `impl Block` block which has an `invoke` function. Looks like this is used later on. Following on from that, in `src/evaluate/evaluator.rs`, you have the `evaluate_baseline_expr`, which evaluates expressions. It gets pretty abstract from there, but that might be a clue, at least.

[2019-11-20 22:17] devurandom commented on #389
Are there pagers that support a fixed heading? So the table heading could be pinned to the top of the screen and only the table content would scroll? That would be an amazing improvement over traditional line based output.

[2019-11-21 08:59] demilich1 opened #994 "[Documentation] Keyboard commands"
I would like to have a list of all keyboard commands nushell supports. This may seem like a trivial issue, but it could be useful especially for more inexperienced users. While many commands are pretty much universal across all shells, like Tab for completion or using the arrows to navigate the command history, I think there is still value in documenting that.

Also in my concrete case, I noticed

[2019-11-21 13:24] thomasheartman opened #995 "Numbers with suffixes as numeric / str --to-int / sort-by --numeric"
**Is your feature request related to a problem? Please describe.**
When reading output with numeric values that have a suffix, such as `%` it would be nice to be able to parse them as numeric values and sort by them.

E.g. it'd  be nice to get the following:
[code]
pipe it into `from-ssv` and then `sort-by "CPU%"`. At the moment, it sorts them as strings, so it would be ordered: `c, e, d, a, b`, w

[2019-11-21 17:08] jonathandturner opened #996 "Add CONTRIBUTING.md"
**Describe the bug**
We need an easy guide for contribute on the main repo

**To Reproduce**
Steps to reproduce the behavior:
1. Notice it's not there
2. Get sad
3. Want more

**Expected behavior**
Contributors have an easy way to find out what is available

[2019-11-22 02:25] JesterOrNot commented on #996
Created template PR to get things started!
#998

[2019-11-22 16:13] jzaefferer opened #999 "Paging/scrolling lists and tables"
**Is your feature request related to a problem? Please describe.**
Currently `open` supports scrolling large-enough files, similar to `less`, yet any output as tables will be printed in full. There's [table filters](https://github.com/nushell/nushell#filters-on-tables-structured-data) like `first`, `last` and `skip` to deal with that (is `skip-while` an inverted `where`?), but for exploration of l

[2019-11-22 18:09] jonathandturner opened #1000 "Inner tables with many columns need abbrev"
**Describe the bug**
With the latest master, we now see the names of columns inside of inner tables. This is a handy feature. Unfortunately, large inner tables can cause pages of text to be printed.

**To Reproduce**
Steps to reproduce the behavior:
1. open Cargo.toml from the Nu source
2. see large table
3. want a smaller inner table

**Screenshots**

![Screenshot from 2019-11-23 06-59-07](https:

[2019-11-22 22:28] jonathandturner opened #1001 "Table abbreviation is broken"
**Describe the bug**
With the latest changes to table formats, table abbreviation is currently broken.

**To Reproduce**
Steps to reproduce the behavior:
1. `ls` in 80x24
2. See that the row wraps when it should abbreviate

**Expected behavior**
The 0.5.0 abbreviation should still be the expected behavior.

[2019-11-24 04:02] avandesa opened #1005 "Starship - Prompt is mangled"
**Describe the bug**

When using `nu` compiled with starship prompt support, the prompt appears mangled. See screenshot.

[code]

The syntax highlighting appears to work though.

**To Reproduce**

Steps to reproduce the behavior:

1. `cargo install --path . --features starship-prompt --force`
2. `nu`

The problem appears with both alacritty and kitty. It occurs when nu is started from `zsh` or `ba

[2019-11-24 08:34] jonathandturner commented on #1001
Hopefully fixed by https://github.com/nushell/nushell/pull/1004

[2019-11-24 08:34] #1001 closed

[2019-11-24 08:36] jonathandturner commented on #1005
I don't *think* this will fix it, but do you get the same behavior with `cargo install --path . --force --all-features`?

[2019-11-24 11:28] richerve commented on #291
I also would vote for embedding a well known language if possible. I was thinking of playing with [Starlark](https://github.com/bazelbuild/starlark) that also has a Rust implementation [here](https://github.com/google/starlark-rust/). I think is a sufficiently mature language and it doesn't try to implement all features of a full-fledged language.

[2019-11-24 12:11] waldyrious commented on #353
Update: the formula now builds on Linux as well, following the release of Rust 1.39 which allowed the `nushell` formula to use the `rust` formula directly rather than compiling the nightly version! 🎉

[2019-11-24 16:37] avandesa commented on #1005
Same behavior, unfortunately.

[2019-11-24 16:47] JesterOrNot opened #1007 "Comments"
**Is your feature request related to a problem? Please describe.**
Yes #998 and https://github.com/nushell/nushell/issues/996 one thing that has prevented me from contributing is that it's hard to know what the code for nu shell does if you don't add comments
**Describe the solution you'd like**
I think we need to either
We need to give a tour of the source code in the new contributing.md or in th

[2019-11-25 04:00] jonathandturner commented on #1007
That's definitely something I'd like to get better about as we move the code from "make it work" to "this is good enough for 1.0"

Somewhere I was hoping to put some information is the contributor book (https://github.com/nushell/contributor-book/tree/master/en)

[2019-11-25 04:08] jonathandturner commented on #1005
I'm trying to figure out what might be causing it.  I'm able to run Kitty and Nu together with Nu as my main shell (though I needed to tweak Kitty a tiny bit to allow it):

![Screenshot from 2019-11-25 17-07-07](https://user-images.githubusercontent.com/547158/69511701-23eddb80-0fa6-11ea-8ae8-1f81a8f36b3f.png)

Let me also try running via bash

[2019-11-25 04:14] jonathandturner commented on #1005
Hmm, I'm also seeing it work correctly in Kitty with bash + nu:

![Screenshot from 2019-11-25 17-11-10](https://user-images.githubusercontent.com/547158/69511905-d1f98580-0fa6-11ea-8855-074f951d7ccb.png)

Trying to think what might be different. I'm using the default fonts on pop! OS: Fira Mono Regular.

If you run through something like GNOME terminal with the default color scheme, do you get the

[2019-11-25 12:59] JesterOrNot commented on #1007
@jonathandturner Maybe we should give "A Tour Through the Source Code" in contributing.md

[2019-11-25 18:45] avandesa commented on #1005
I was using Fira Code font with ligatures

* Disabling ligatures does not help (in Kitty or Alacritty)
* Switching to Fira Mono or DejaVu does not help (in Kitty or Alacritty)
* Switching to upstream alacritty (whatever Arch has) does not help
* Using GNOME Terminal out-of-the-box does not help
* Switching the colorscheme in Kitty does not help (I was using [this](https://github.com/dexpota/kitty-

[2019-11-25 21:04] sebastian-xyz opened #1010 "Mistyping '$it' doesn't error"
**Describe the bug**
Passing something else than `$it` after `$` doesn't error.

**To Reproduce**
Steps to reproduce the behavior:
1. `> ls | echo $ir`

**Expected behavior**
An error should be printed.

**Configuration:**
 - OS: Windows
 - Version 0.5.1

[2019-11-25 22:55] #878 closed

[2019-11-26 06:28] bndbsh commented on #458
@atomoton this should be available now since #997

[2019-11-26 16:04] atomoton commented on #458
Fixed in #997

[2019-11-26 16:04] #458 closed

[2019-11-26 17:11] jonathandturner opened #1013 "Tilde (~) doesn't expand in external command paths"
**Describe the bug**
Try running `vi ~/.config/starship.toml`. This will not open the correct file because ~ is not replaced with the home directory.

**To Reproduce**
Steps to reproduce the behavior:
1. vi ~/.config/starship.toml
2. opens the wrong file :(
3.

**Expected behavior**
Expand ~ even for external commands

[2019-11-26 17:52] jonathandturner commented on #1013
fixed in #1014

[2019-11-26 17:52] #1013 closed

[2019-11-26 18:57] notryanb commented on #994
@demilich1 I agree. I'm wondering where the best place to document this would be?
I've started working on the [nushell cookbook](https://github.com/nushell/cookbook)
which is very minimal at the moment.

Another possibility would be the [docs section of the nushell site](http://www.nushell.sh/documentation.html).

It might also be cool to have a `help` sub-menu which details all the shortcuts as w

[2019-11-26 19:14] notryanb commented on #956
Is anyone currently working on this issue?

[2019-11-27 00:02] jonathandturner commented on #956
@notryanb I don't know of anyone

[2019-11-27 00:25] notryanb commented on #956
@jonathandturner I'd like to work on this one if no one has any objections.

[2019-11-27 06:58] Tembocs opened #1018 "from-xlsx command"
The new Nushell 0.6.0 has the f`rom-xlsx` command. I tried to do the following.
`open some_excel_file.xlsx | from-xlsx`

I did get the following error message.
`error: Expected binary data from pipeline.`

What is the proper way to use it? I cannot find any documentation on the proper way to use it. I know this is an early release. I'm on Windows 10 x64.

[2019-11-27 07:05] sagis-tikal opened #1019 "Repology badge is out of date for crates.io"
**Describe the bug**
The Repology badge still shows that crates.io has version 0.5.0 even though it's been updated to 0.6.0.

![image](https://user-images.githubusercontent.com/46102019/69701121-d9c74000-10f4-11ea-8937-ce9c8c7b11fa.png)

I'm pretty sure you guys can't do anything to fix it, but maybe use a different provider who has better data :)

[2019-11-27 08:37] jonathandturner opened #1020 "`edit` needs to take column path"
**Describe the bug**
Try to do: `ls | edit name.1 "foobar"`.  This doesn't work but seems like it should.

**To Reproduce**
Steps to reproduce the behavior:
1. ls | edit name.1 "foobar"
2. This doesn't work :(

**Expected behavior**
`edit` and similar functions should take a column path so you can reach individual cells.

[2019-11-27 08:44] sagis-tikal opened #1021 "Issue compiling heim-common"
**Describe the bug**
Nushell 0.6.0 doesn't compile because of heim-common

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command `cargo install nu`
2. Wait.
3. Check out the compilation error

**Expected behavior**
I expected nushell to be successfully installed

**Screenshots**
![image](https://user-images.githubusercontent.com/46102019/69707041-a3dc8880-1101-11ea-91a7-0aee150fab0a

[2019-11-27 12:11] alvitawa commented on #1021
Same here, regardless of the features used (heim is actually only needed for the ps and sys features).

[2019-11-27 12:30] sagis-tikal opened #1022 "nushell doesn't parse "~" properly"
**Describe the bug**
For some reason nushell doesn't parse "~" as /home/<username> in any command (that I checked) other than ls.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any file command other than `ls` on a file that's in your home directory.
2. You may also compare it to other shells/other commands.

**Expected behavior**
I expected nushell to run the command for /home/<usernam

[2019-11-27 13:29] demilich1 commented on #994
I don't have a strong opinion whether the shortcuts should be in the cookbook or the docs section. However I agree it would be cool to have that information available inside the help menu as well!

[2019-11-27 14:11] nightscape opened #1023 "Make Github releases uniform"
I've installed nushell via [scoop](http://scoop.sh/).
Scoop auto-updates packages when there's a new Github release, but in order to do so each package description makes some assumptions how the release page looks like.
Here's the relevant part of nushell's package description:

[code]
You can see that the `checkver.regex` for matching a version used to be spelled with a capital `R` but in 0.6.0 i

[2019-11-27 14:47] sphinxc0re commented on #1005
Same problem here. Usually using zsh with starship prompt.

[2019-11-27 16:56] jonathandturner commented on #1018
You can use `open some_excel_file.xlsx` and it will do the import automatically. `from-xslx` is the command it will call for you (rather than having to do it manually)

[2019-11-27 17:02] jonathandturner commented on #1022
This should be fixed in 0.6.0.

Closing for now. If upgrading doesn't fix the issue please reopen and let us know.

[2019-11-27 17:15] m-rutter opened #1024 "Document Nu date usage in where"
**Is your feature request related to a problem? Please describe.**
It is possible to compare dates using `where`.

[code]

However, it doesn't appear to be documented how dates are represented on the RHS of the expression.

**Describe the solution you'd like**
Document all of the ways of representing dates on the RHS

**Describe alternatives you've considered**
If invalid input on the RHS is used

[2019-11-27 19:02] mgattozzi commented on #1005
I did some manual testing on osx

- Every terminal (alacritty, iterm2, builtin) was mangled if nu was run from the command line.
- exec nu where it should have replaced the zsh process did nothing
- Every terminal works with nushell if you put it in /etc/shells and then chsh your user to it

What this makes me understand is that unless it's your default shell it fails to produce non garbled output

[2019-11-27 19:30] mgattozzi commented on #1005
Some followup testing this is messed up from a zsh shell that isn't using starship as well.

[2019-11-27 20:49] tchak opened #1025 "Crash when running `ls` command"
**Describe the bug**

Crash when running `ls` command with the following message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. start `nu`
2. run `ls`
3.  get the exception

**Expected behavior**
I expect to see a list of files/folders

**Configuration (please complete the following information):**
 - OS: MacOS
 - Version 10.15.1 (19B88)
 - installed with `cargo install nu --all-fe

[2019-11-27 21:20] jonathandturner commented on #1025
Does it happen in any directory or just that one?  If it's just that one, do you know if it has anything special in there?

[2019-11-27 21:39] tchak commented on #1025
I can execute `ls` in an empty folder. But I just tried in the same empty folder `config` and `ps` and got the same exception.

[2019-11-27 21:49] tchak commented on #1025
I am very confused now. I just started a new terminal and tried `nu` in there and all commands work. But now I have something similar to #1005 going on...

I am sorry, I understand this is not very helpful.

[2019-11-27 21:56] jonathandturner commented on #1025
No worries. It's possible the issue here was whether the plugins could be found in the path. I haven't seen it crash like that before, so that's strange.

I'm glad it's working. *hopefully* we can figure out #1005, as I see a few people are hitting it.

[2019-11-27 21:58] tchak commented on #1005
Mine looks like this:
<img width="303" alt="Screenshot 2019-11-27 at 22 57 29" src="https://user-images.githubusercontent.com/12428/69762020-572c9800-1169-11ea-85dc-f617c272d55b.png">

I am assuming it's the same problem?

[2019-11-27 22:00] tchak commented on #1025
I restarted my computer to be sure and  it still working. I did try several install methods before 0.6 (I wanted to have starship support) so maybe I messed up something. I guess we can close it for now and I will reopen if I can find a more stable reproduction.

[2019-11-27 22:59] jonathandturner commented on #1025
Sounds good. Thanks for investigating!

[2019-11-27 22:59] #1025 closed

[2019-11-28 02:37] est31 commented on #1021
Upstream rust issue: https://github.com/rust-lang/rust/issues/66757

[2019-11-28 02:54] Avi-D-coder commented on #1005
This makes `nu` unusable for me.

[2019-11-28 05:01] jonathandturner commented on #1005
@avandesa - you can use Nu without this feature enabled. If your do `cargo install nu` it will give you the non-starship prompt

[2019-11-28 06:27] jonathandturner commented on #1005
In case anyone wants to help figure it out, these are the configurations I've tried:

Ubuntu/Pop! OS:
- Install zsh, chsh to zsh
- gnome-terminal:
  - Run `nu` from inside zsh (works)
- alacritty-fork mentioned in issue:
  - Run `nu` from inside zsh (works)
- kitty 9.0.0
  - Run `nu` form inside zsh (works)

Gnome terminal was using Fira Mono Regular

macOS 10.15.1 (default font):
- default termin

[2019-11-28 06:30] jonathandturner commented on #1005
@avandesa - Can you also post the font, starship config, and alacritty config?

I'm trying to think of other ways the systems might be different, or ways I could repro short of building an arch linux image.

[2019-11-28 13:18] avimar commented on #765
~/nushell_0_6_0# ./nu
./nu: error while loading shared libraries: libssl.so.1.0.0: cannot open shared object file: No such file or directory

[2019-11-28 16:04] naufraghi commented on #972
But do not expand always, for example in `nushell 0.6.0` running this:
[code]
results in an incorrect expansion:
[code]

[2019-11-28 16:11] naufraghi commented on #972
With a fast check with `echo ~` variations in bash, only these two patterns are expanded:

- `^~$`
- `^~/.*`

[2019-11-28 16:45] avandesa commented on #1005
Here are my configurations:

[code]

[alacritty.yml](https://gist.github.com/avandesa/721fd7f3b056cf25afa48f61deb44ee7)

[code]

[code]

[2019-11-28 16:45] jeffhertzler commented on #1005
I was seeing the same issue when I ran `nu` from `zsh`. What fixed it for me was disabling starship (commenting out the init line `# eval "$(starship init zsh)"`) in `zsh` before running `nu`.

[2019-11-28 16:54] avandesa commented on #1005
I can confirm what @mgattozzi said; If i `chsh -s $(which nu)`, everything works great. What's also interesting is if I launch a terminal with `nu` as the shell, launch zsh, from that, then launch nu, the prompt is broken. If I do what @jeffhertzler just said, the prompt works.

* `nu` works
* `bash -> nu` works
* `zsh -> nu` does not work
* `nu -> zsh -> nu` does not work
* `nu -> bash -> nu` wor

[2019-11-28 17:36] tchak commented on #1005
In my case I start `nu` from `bash` on MacOS. I tied to remove `eval "$(starship init bash)"` from my `.bash_profile` – it changes nothing.

[2019-11-28 19:43] jonathandturner commented on #1024
I've updated the where documentation to include more examples like this: https://github.com/nushell/nushell/blob/master/docs/commands/where.md

I'll close the issue, but please feel free to reopen if what we've added isn't sufficient.

We'd also like to fix being able to pass in date values, though we might want to track that as a separate issue.

[2019-11-28 19:43] #1024 closed

[2019-11-28 22:28] brasilikum opened #1027 "Question: How to change shell with command running?"
How can I switch shells while there is command running?
eg. a shell runs docker and I want to switch to another

[2019-11-29 14:38] thegedge commented on #1005
For those having issues, if you unset the `STARSHIP_PROMPT` environment variable when running nushell (for example, `STARSHIP_PROMPT="" nu`), do you still have the same issue?

[2019-11-29 14:42] tchak commented on #419
This is still an issue and it makes almost impossible to use piping/filtering with real-world data :(

[2019-11-29 16:31] tchak commented on #419
Update: it is possible to use `compact` or `default` command. Both are not documented on the website but can de found via `help commands`.

[2019-11-29 16:56] jonathandturner opened #1028 "Make more fallible packages features"
As we try to grow our support to build on more platforms, one code cleanup step we need to do is to move any fallible packages (those that may fall when being built) to features.

We can keep a healthy set of default features but it should be possible to turn off default features and get to a maximally portable Nu.

[2019-11-29 18:38] tchak commented on #1005
@thegedge it makes no difference for me

[2019-11-29 20:01] jonathandturner commented on #1005
I just landed a possible fix for this (https://github.com/nushell/nushell/pull/1029). For folks who are having this issue, can you try the latest master?

Once you check it out, you can build and run it with:
[code]

[2019-11-29 22:38] tchak commented on #1005
works for me

[2019-11-30 01:58] jonathandturner commented on #16
We may revisit, but this feels different than the direction we ended up going (using flags to confirm important steps)

[2019-11-30 01:58] #16 closed

[2019-11-30 01:59] jonathandturner commented on #66
We've done a bunch of this. I think for now I'll close this, but we may want to target specific areas of improvement, unwraps, or error reporting in the future.

[2019-11-30 01:59] #66 closed

[2019-11-30 02:05] jonathandturner commented on #67
We've added the support to do this and have laid in the groundwork for more, so going ahead and closing this

[2019-11-30 02:05] #67 closed

[2019-11-30 02:06] jonathandturner commented on #166
We could change it, but it'd need to be significantly better to handle all the drawbacks

[2019-11-30 02:08] jonathandturner commented on #224
Looks like almost all of these that can be converted have been converted.

Closing this, but we should keep a watch for any that we missed.

[2019-11-30 02:08] #224 closed

[2019-11-30 02:10] jonathandturner commented on #282
We have a few forms of this, so going ahead and closing this as complete now.

[2019-11-30 02:10] #282 closed

[2019-11-30 02:11] jonathandturner commented on #300
Closing this, but we should do a new one that's up to date.  We list removing unwraps in other issues, so that work is still being tracked.

[2019-11-30 02:11] #300 closed

[2019-11-30 02:15] #354 closed

[2019-11-30 02:17] jonathandturner commented on #356
As of 0.6.0, you can use starship. I'll close this issue, but if we feel like we want non-starship customization, we can explore that in a different issue.

[2019-11-30 02:17] #356 closed

[2019-11-30 02:18] jonathandturner commented on #361
I don't think we have an easy way to support Windows 7. I'll close this issue, but we can track Windows 7 support as a separate issue as it may require other changes.

[2019-11-30 02:18] #361 closed

[2019-11-30 02:20] jonathandturner commented on #406
We've updated the book to mention this, so going ahead and closing.

[2019-11-30 02:20] #406 closed

[2019-11-30 02:22] jonathandturner commented on #343
Tracking a set of possible command renames in #408. Closing this in favor of working on them there.

[2019-11-30 02:22] #343 closed

[2019-11-30 02:25] jonathandturner commented on #420
This is now part of Nu as of 0.6.0

[2019-11-30 02:25] #420 closed

[2019-11-30 02:28] jonathandturner commented on #436
@dbarnett - I missed this comment, but looks like it's still available to be fixed if you want to give it a go

[2019-11-30 02:29] jonathandturner commented on #439
I believe this is fixed now

[2019-11-30 02:29] #439 closed

[2019-11-30 02:32] jonathandturner commented on #489
@YuriGeinishBC - Does this still occur with more recent versions of Nu? I'm not able to repro in Linux.

[2019-11-30 02:33] jonathandturner commented on #493
`format` gives us a way to do this. Closing, though we may want to continue evolving this support

[2019-11-30 02:33] #493 closed

[2019-11-30 02:34] jonathandturner commented on #509
We now include this in our `where` documentation.

https://www.nushell.sh/commands/where.html

[2019-11-30 02:34] #509 closed

[2019-11-30 02:44] jonathandturner commented on #825
It seems that #960 fixed this. Closing, but please reopen if this is still an issue

[2019-11-30 02:44] #825 closed

[2019-11-30 02:45] jonathandturner commented on #855
This is now documented as part of the `where` command: https://www.nushell.sh/commands/where.html

[2019-11-30 02:45] #855 closed

[2019-11-30 02:48] jonathandturner commented on #932
This is now available with #943

[2019-11-30 02:48] #932 closed

[2019-11-30 02:49] jonathandturner commented on #987
Should be fixed now

[2019-11-30 02:49] #987 closed

[2019-11-30 02:50] jonathandturner commented on #1018
Closing, though we probably want to give a better error message for the above case, as the auto-import is surprising if you're not expecting it.

[2019-11-30 02:50] #1018 closed

[2019-11-30 02:50] jonathandturner commented on #1019
Should be up to date now.

[2019-11-30 02:50] #1019 closed

[2019-11-30 02:51] jonathandturner commented on #1027
We don't currently support this, but we'd like to add support in a future version of Nu.

[2019-11-30 06:50] #323 closed

[2019-11-30 06:51] jonathandturner commented on #352
We know install without rawkey, so closing. Please let us know if you see similar behavior in recent versions

[2019-11-30 06:51] #352 closed

[2019-11-30 06:54] jonathandturner commented on #474
@wycats does this work with your recent fixes?

[2019-11-30 06:59] jonathandturner commented on #918
We've fixed this with more recent releases

[2019-11-30 06:59] #918 closed

[2019-11-30 07:02] jonathandturner opened #1031 "Parser meta-issue"
This issue attempts to collect the parser bugs we'll need to fix to meet user expectation:

- [x] `where {$it.size > 10kb}` doesn't work: https://github.com/nushell/book/issues/37
- [ ]  boolean values can't be parsed: https://github.com/nushell/nushell/issues/98
- [ ] && not supported, but also doesn't error - https://github.com/nushell/nushell/issues/293
- [x] bare tokens should support `+` - ht

[2019-11-30 08:08] mgattozzi commented on #1005
Confirms this works for me!

[2019-11-30 13:07] rajdeepbharati opened #1033 "error[E0008]: cannot bind by-move into a pattern guard"
**Describe the bug**
I get the following error while building nushell from source:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cargo run

**Expected behavior**
Shouldn't get such an error
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Configuration (please complete the following information):**
 - OS: MacOS Catalina 10.15.1
 - Version: master branc

[2019-11-30 13:37] tchak commented on #711
I am working on `compact` and `default`. It seems they are not in the list.

[2019-11-30 15:22] avandesa commented on #1005
The fix works. I'll be closing this issue since it appears to be resolved.

Thanks so much for your help @jonathandturner!

[2019-11-30 15:22] #1005 closed

[2019-11-30 17:29] jonathandturner commented on #1033
What version of the Rust compiler are you using to build Nu? It requires at least 1.39 stable.

[2019-11-30 18:13] jonathandturner opened #1036 "rm should allow multiple files"
if I want to delete fileA and fileB, I should be able to write `rm fileA fileB`.  While this parses today, it doesn't appear to actually delete both fileA and fileB.

cc @andrasio

[2019-11-30 18:26] jonathandturner commented on #1023
I'll try to keep it consistently "<version> release" and name the releases with dots in the future.

[2019-11-30 18:45] #1023 closed

[2019-11-30 18:49] amichail opened #1037 "Remove homebrew requirement for dependencies on macOS. I don't want to install it."

[2019-11-30 19:30] jonathandturner commented on #1037
This repo is just for the Nushell project. Homebrew packages are handler by volunteers who work on homebrew. This issue is probably best filed on the homebrew repo.

[2019-11-30 19:30] #1037 closed

[2019-11-30 19:32] amichail commented on #1037
I don't want to use homebrew at all. Why would I contact anyone in the homebrew repo?

[2019-11-30 19:47] sjmackenzie opened #1038 "Back-grounding the Rust Amp editor leaves you with a black screen"
**Describe the bug**
After back-grounding the rust `amp` editor one expects to pop into nushell, instead a black screen appears leaving the user stranded with only a ctl-z as an exit.

**To Reproduce**
Steps to reproduce the behavior:
1. type `amp` to enter into the `amp` editor
2. press `z` to background `amp`
3. note the black screen

**Expected behavior**
After pressing `z` in `amp` we should e

[2019-11-30 21:11] jonathandturner commented on #1037
Ah, I misread your comment. I didn't understand what you meant.

[2019-11-30 21:20] amichail commented on #1037
So could you provide a way to install nushell on macOS without having to use homebrew for the dependencies?

[2019-11-30 22:13] jonathandturner commented on #1037
You can get pre-built binaries from our releases: https://github.com/nushell/nushell/releases/tag/0.6.1

Look under the assets link at the bottom

[2019-11-30 22:23] amichail commented on #1037
You also need to look at this for pre-built binaries:

`https://github.com/nushell/book/blob/master/en/installation.md#dependencies`

And there, it says you need homebrew to install the dependencies on macOS.

[2019-11-30 23:23] amichail commented on #1037
So I tried the pre-built binary and it worked without using homebrew to install the dependencies. So maybe remove the dependencies link for macOS as those dependencies seem to be already installed anyway?

[2019-11-30 23:33] rharriso opened #1040 "Unable to run executable from relative path."
**Describe the bug**
Running executable from local path results in error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run executable of compiled binary
`./target/debug/fd`
2. See error in console
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
 your problem.

**Configuration (please complete the following information):**
 - OS: ubuntu 19.10

[2019-12-01 00:47] andrasio commented on #711
Thanks! In the list now.

[2019-12-01 09:21] gilescope commented on #1040
Same. ~/.cargo/bin/cargo is another example that doesn't require any additional binaries :-),
but that also fails due to it not understanding '~'.
OS: OSX, cargo install nu +all features (so v0.2)

It's a nice shell - like the fish-like autocompletion!

[2019-12-01 11:57] rajdeepbharati commented on #1033
My bad. I was using 1.39.0 nightly. It's working with stable. Thanks

[2019-12-01 11:57] #1033 closed

[2019-12-01 18:54] rharriso commented on #1040
Should this be classified as an external Command? I'm working through line parsing right now but unfamiliar with the project.

I've attached the debug output (added some trace like statements to work my way through parsing)

[code]

[2019-12-01 19:00] brasilikum commented on #1027
If someone is aware of a workaround for now I would be interested

[2019-12-01 19:00] jonathandturner commented on #1040
@rharriso - yes, I believe it should be considered an external by the parser.

[2019-12-01 20:30] jonathandturner opened #1042 "Explore httpie for possible use cases"
We have some barebones fetch/post support, but it would be fun to explore a project like https://github.com/jakubroztocil/httpie to see what kind of fun features we could add that would fit well with nushell.

h/t @dherman

[2019-12-01 21:42] rharriso commented on #1040
Thanks @jonathandturner, I’ll spend some more time on this and update progress.

[2019-12-01 23:43] rharriso commented on #1040
Is it possible that the `DotOperator` has too high a priority when parsing? Or that a full path is never treated as a node? here is my debug output:

[code]

Notice the `parse_single_node` call after `CommandHeadShape::expand_syntax` only includes a span of 1.

[2019-12-01 23:45] rharriso commented on #1040
I'm not familiar with the dot operator, is it supposed to be separated by whitespace?

[2019-12-02 06:10] jonathandturner commented on #1040
@wycats - do you know ^ ?

[2019-12-02 14:10] coolshaurya commented on #426
I have the same  problem on kitty too. fish and bash work fine.

some photos -
![image](https://user-images.githubusercontent.com/32027323/69965896-3f735c00-153b-11ea-8408-f92038715ab2.png)

when cursor is on flag -
![image](https://user-images.githubusercontent.com/32027323/69966006-819c9d80-153b-11ea-9b8d-0c7b9472b254.png)

[2019-12-02 14:20] coolshaurya commented on #426
i messed around with other themes for kitty and it seems to work (taken from https://github.com/mbadolato/iTerm2-Color-Schemes/tree/master/kitty)

github theme -
![image](https://user-images.githubusercontent.com/32027323/69966567-ae04e980-153c-11ea-9b9f-30fa06f11c42.png)
![image](https://user-images.githubusercontent.com/32027323/69966590-ba894200-153c-11ea-9893-5226f9858cf3.png)

cobalt2 theme :

[2019-12-02 14:33] coolshaurya commented on #426
Digging a bit further into the issue, the problem seems to be the `color0` variable in the kitty conf file
matches with the `background` variable. Since `color0` is used as the color for that text and it's same as the background, this gives black text on a black background.

Possible fixes -

* switch to a different theme
* change the `color1` in your theme_name.conf
* make nu use something other

[2019-12-02 21:18] gilescope commented on #1040
Shouldn’t everything after ^ be external?

On Mon, 2 Dec 2019 at 06:10, Jonathan Turner <notifications@github.com>
wrote:

[2019-12-02 23:24] wycats commented on #1040
Looking into it!

[2019-12-02 23:27] wycats commented on #474
Yep!

[2019-12-02 23:27] #474 closed

[2019-12-02 23:30] wycats commented on #180
@jonathandturner Can we close this?

[2019-12-02 23:34] wycats commented on #422
Yep! I decided on BigDecimal, fwiw

[2019-12-02 23:34] #422 closed

[2019-12-02 23:36] wycats commented on #434
We currently treat bare tokens and external words differently. I'll look into why external commands don't support these characters.

[2019-12-03 01:18] jonathandturner commented on #180
@wycats we'll need to fix 1 when we do scripts and more complex pipelines, but it's not an immediate blocker

[2019-12-03 07:16] jonathandturner opened #1048 "Update lines to return actual lines"
With https://github.com/nushell/nushell/pull/1047 we can now tell a difference between a string and a line. As we read in input from stdin or from a buffer, it'd be nice for the `lines` command to give us a way to turn that stream of strings into actual lines.

[2019-12-03 08:14] jonathandturner commented on #434
after #1046 and #1047 this should be fixed.

[2019-12-03 08:14] #434 closed

[2019-12-03 08:15] jonathandturner commented on #922
This should be fixed with #1046 and #1047

[2019-12-03 08:15] #922 closed

[2019-12-03 14:46] mikheyevav opened #1050 "Crashes on Windows when Ctrl-L"
Env:
Win 10, v1803
NuShell 0.6.1

Nu shell crashes on ctrl -l.
With error message:
Error: Io(Os { code: 87, kind: Other, message: "Paramètre incorrect." })

[2019-12-03 16:05] provjeremys commented on #922
Confirmed fixed!

[2019-12-03 16:21] jonathandturner commented on #1050
I'm able to reproduce this when using the starship prompt. Ctrl-L should clear the screen, but with the starship prompt it looks like drawing takes just long enough to cause rustyline to fail.

Thanks for the report.

[2019-12-03 17:42] rharriso commented on #1040
@jonathandturner @wycats What is the role of the Dot operator? I can't find any usage or documentation for it.

[2019-12-03 22:38] tchak commented on #1042
I was thinking that something like https://github.com/ericchiang/pup would make much easier to work with html. I was able to pipe `pup` json output in to nu json table and it is very cool.

[2019-12-04 05:19] Ben-PH opened #1051 "Idiomatic regex filtering - feature or in documentation."
A very important part of productivity from the command line, is being able to filter using regex. For example, in bash, I might `ls \.*` to get all the hidden files/directories. I would like to see something like
[code]
In this case, column_list would default to just
e.g.
[code]
instead of
[code]

**Proposed solution** - assuming it's already in there and I've missed it
The Nu Book currently has a

[2019-12-04 13:22] Aloso commented on #1027
Note that in bash, you can append an `&` to start a command in a separate process:

[code]

17459 is the PID of the new process. When the shell is closed, this process is not terminated and becomes an orphan.

I would like to have something similar in nushell :)

[2019-12-04 16:18] Aloso opened #1053 "Feature: Preview intermediate results"
When building a more complex command, it would be very helpful if intermediate results were shown below the command line, **without needing to press Enter**.

Currently, when I type a complex command like this:

[code]

I usually press Enter after each step to inspect the intermediate result. Then I press ArrayUp to continue typing. The downside is that the intermediate results are visible when sc

[2019-12-04 16:54] jonathandturner commented on #1051
There are a couple of options available now:

You can use the `match` command:
[code]

For your particular example (I know  you meant something more general, but just for completeness):
[code]

[2019-12-05 16:26] jonathandturner opened #1057 "internal->external hangs in some cases"
**Describe the bug**
There are some cases where piping data from an internal command to an external command will hang.

**To Reproduce**
Steps to reproduce the behavior:
1. Run: `open Cargo.toml --raw | wc`
2. Notice it that it doesn't complete it a reasonable amount of time
3.

**Expected behavior**
This pipeline should finish almost immediately

**Configuration (please complete the following inf

[2019-12-05 20:49] jonathandturner commented on #1057
This seems to be because externals can't handle InputStream if there is no `$it` argument

[2019-12-06 15:58] naufraghi commented on #972
This test fails (modelled as `command_cd_tests.rs`, but just because I was searching for some `~`):

[code]

[2019-12-06 17:50] rharriso commented on #1040
@jonathandturner @wycats I have some time to work on a patch. I see two approaches.

1. Remove Dot operator: Adjust parsing to read '.' characters as part of a path string. (I don't know what the Dot operator is used for in this shell)
2. Adjust classification. Possibly during expand syntax. look ahead and try to join Dot operators and BarePaths into single path. Maybe in this function?
https://gi

[2019-12-06 19:16] mlh758 commented on #86
In other shells I use [direnv](https://direnv.net/) to put a `.envrc` file in some of my dev projects where the app is normally configured via environment variables. When deployed they would already be setup with Kubernetes or Chef or something but in development it saves me some typing.

[2019-12-07 02:19] sanxiyn commented on #741
Debian unstable now has 1.39.0: https://packages.debian.org/unstable/rustc.

[2019-12-07 03:39] jonathandturner commented on #972
@naufraghi - I just saw your comment today. Yes, that sounds good. If we follow Bash's logic, that sounds good to me.

[2019-12-07 17:20] vsoch commented on #741
okay I'm running the command again, the steps I took are:

 - pulled updates from nushell/nushell (upstream)
 - commented out #default-run: "nu" in Cargo.toml
 - deleted the Cargo.lock (got an error when I did not)
 - ran:

[code]
from the root of the repository,  and the updated output is here:

https://gist.github.com/vsoch/af0d7533775e3c21418e6b8a6a3825bd#file-cargo-debstatus-nu-0-3-0_12-07-201

[2019-12-07 22:22] avandesa opened #1067 "[Feature Request] Interpret `which` as a shell builtin"
**Is your feature request related to a problem? Please describe.**

Unix systems and shells typically include a utility or command called `which`, which, quoting the manpage,

GNU which also includes functionality to search shell aliases and functions.

Bash uses GNU `which`, while zsh ships its own version of `which` as a builtin command that searches builtin commands, aliases, shell functions, a

[2019-12-07 22:23] avandesa commented on #1067
If the maintainers want this as a feature, this is something I'd like to work on once I get through exams next week. I would probably need some guidance on design and implementation, however.

[2019-12-07 23:11] Rekihyt opened #1068 "Index out of bounds panic after " | table | textview ""
**Describe the bug**
Instead of failing gracefully, outputs the correct table and tries to use the second consumer, resulting in a panic.  This makes sense, the table is already consumed.

**To Reproduce**
Steps to reproduce the behavior:
1. ls | table | textview

**Expected behavior**
Graceful failure

**Configuration (please complete the following information):**
 - OS: Linux - Debian Buster
 -

[2019-12-07 23:38] jonathandturner commented on #1067
I like the idea of extending the internal `which` command to give more information if a command will resolve to an internal and also print an error message if it's not found.

I'm not sure if we want to print Rust-safe implementations (since we would have to curate that). That said, I like your idea of optionally printing all of the possible matches in a table so they know what it's resolving to a

[2019-12-07 23:39] jonathandturner commented on #1067
If you want to chat about implementation, I'm on the discord regularly. Just stop by and say hi :)

https://discord.gg/NtAbbGn

[2019-12-07 23:44] avandesa commented on #1067
Will do, thanks!

To clarify, by safe implementation, I meant a implementation of path searching in Rust, not looking for rust-safe implementations =)

[2019-12-08 00:51] jonathandturner commented on #1067
Oh, yes, makes sense now 😊

[2019-12-08 06:39] sanxiyn commented on #741
Of course there are *some* possible actions. For example,

[code]

shows subprocess needs to update crossbeam-utils dependency. Looking at subprocess repository, this is [already done](https://github.com/hniksic/rust-subprocess/pull/31), just not released. When it is released, nu can update subprocess dependency, etc.

It is somewhat daunting to go through the long list, but I think there is no wa

[2019-12-08 15:33] vsoch commented on #741
@sanxiyn could you explicitly state what you are suggesting that we can do? To go through the list, one by one, check the output and then package.. and then what?

[2019-12-08 20:36] naufraghi commented on #972
I can hardly follow the parsing code, do you have some hints where to start digging @jonathandturner ?

[2019-12-08 20:38] #1068 closed

[2019-12-09 05:09] jonathandturner opened #1074 "Update help for all new changes"
**Describe the bug**
Commands like `embed` have been changed it renamed. We should update help to reflect this.

[2019-12-09 05:28] jonathandturner commented on #972
I believe `~` is handled in a couple places.

For external commands, it's in: src/commands/classified/external.rs.  eg) lines 111, 113, 129, 131 (there may be others, but those are the ones I saw)

For internal commands I'm not exactly sure. @wycats - do you know where ~ is handled in the current parser?

[2019-12-09 16:58] jonathandturner commented on #1074
Include README updates, too

[2019-12-09 22:12] dbarnett commented on #436
Thanks, I still might but not sure how soon. Feel free to take it over in the meantime. Or even better, if you wouldn't mind walking me through some of the code changes it'll need, that could help me get familiar with the code overall.

[2019-12-12 09:20] naufraghi commented on #972
Ok, half way done, Linux passes the test (the parser seems to be OK and not splitting around `~`), but windows fails:

[code]

Here I have no idea of what is the expected result for a windows user.

[2019-12-12 22:50] jonathandturner commented on #972
@naufraghi - we're currently using https://crates.io/crates/dirs to help us with things like "what is the home directory?"  You can see some examples at that link for home_dirs for different OSes.

[2019-12-13 11:01] naufraghi commented on #972
At the and I modified the test to be less precise @jonathandturner . The correct expansion is delegated to `shellexpand` and, as annotated in the commit message, there is an open issue to move to `dirs` netvl/shellexpand#3. That should fix the windows compatibility problem just bumping the version used here.

[2019-12-13 16:46] #972 closed

[2019-12-15 19:59] vsoch commented on #741
@yarikoptic @sanxiyn and @est31 I'd like to help as much as I am able - can we choose one of the libraries that isn't on debian, and together walk through how we would package? If I am able to help with a single external dependency, then I can slowly work through some of the others, and at least get us closer.

[2019-12-16 09:58] Andrew-Webb opened #1083 "book website is down"
https://book.nushell.sh/ is not responding

[2019-12-16 11:08] sebastian-xyz commented on #1083
The book moved to [nushell.sh/book](https://www.nushell.sh/book/).

https://book.nushell.sh/ does currently not redirect to the new page.
  http://book.nushell.sh/ should work too :)

[2019-12-16 12:03] Andrew-Webb commented on #1083
Thanks; I created https://github.com/nushell/book/pull/54

[2019-12-16 12:03] #1083 closed

[2019-12-16 21:40] steveklabnik opened #1084 "Package `nu v0.6.1` does not have these features: `stable`"
**Describe the bug**

I was following the README, and tried to install nushell and it didn't compile, but gave an error.

**To Reproduce**

1. `git clone https://github.com/nushell/nushell`
2. `cd nushell`
3. `cargo install nu --features=stable`

**Expected behavior**

nu to be installed

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Configuration (please complete

[2019-12-16 21:49] steveklabnik commented on #1084
... i just realized what it is. the README is for `HEAD`, but describes installing from crates.io. The crates.io version doesn't have this feature, but master does.

[code]

boom.

[2019-12-16 21:49] #1084 closed

[2019-12-16 21:54] steveklabnik opened #1086 "nu does not properly display emoji(?)"
**Describe the bug**

Strange characters happen at my prompt.

**To Reproduce**

Run `nu`. I've tested in both Alacritty and in Powershell's native terminal emulator.

**Expected behavior**

I think this is supposed to be emoji?

**Screenshots**

Alacritty:

![image](https://user-images.githubusercontent.com/27786/70946107-33e46280-201c-11ea-9cc5-57d53fdb0ff9.png)

Powershell:

![image](https://us

[2019-12-16 21:55] steveklabnik opened #1087 "control-l crashes nu"
**Describe the bug**

I'm used to hitting `control-l` as a way of clearing my terminal.

**To Reproduce**
Steps to reproduce the behavior:
1. be in nu
2. hit control-l

**Expected behavior**

The screen to be cleared.

**Configuration (please complete the following information):**
- OS: Windows
- Version `fa9329c8e3032d71912ac51e35634a548d13537f`
- Optional features (if any) `stable`

Error messag

[2019-12-16 21:56] steveklabnik commented on #1087
sigh, sorry, just saw this is a dup of https://github.com/nushell/nushell/issues/1050

[2019-12-16 21:56] #1087 closed

[2019-12-16 21:56] steveklabnik commented on #1050
I am also hitting this issue.

[2019-12-16 22:17] jonathandturner commented on #1086
@steveklabnik we should document that - for Windows you'll probably want to use the new Windows Terminal https://github.com/microsoft/terminal/releases

[2019-12-16 22:52] steveklabnik commented on #1086
Ah okay; I am trying to keep it maximally Rust, so I haven't tried it yet. I've heard good things though!

[2019-12-16 22:54] jonathandturner commented on #1086
@steveklabnik if you want to keep what you have, you can configure starship.rs to be a bit less emoji-y

[2019-12-17 10:55] TimDeve opened #1088 "Installing via homebrew installs rust as a dependency"
**Describe the bug**
Installing nushell via homebrew installs rust as a dependency.

**To Reproduce**
Steps to reproduce the behavior:
1. run `brew install nushell`

**Expected behavior**
I would expect only the binary to be installed as rust seems only needed to build.

**Configuration:**
 - OS: macOS
 - Version: Mojave 10.14.6

Having a quick look at the [fd recipe](https://github.com/Homebrew/h

[2019-12-17 22:45] jonathandturner commented on #1088
The homebrew package is maintained by some of the homebrew contributors rather than by us. You might have better luck on the homebrew repo.

[2019-12-18 10:36] TimDeve commented on #1088
Thanks, I'll close this issue.

[2019-12-18 10:36] #1088 closed

[2019-12-18 22:14] cdhunt opened #1098 "The Azure CLI AZ command isn't shelling out"
With AZCLI installed on Windows 10, try to call `az`.

[code]
In PowerShell  and CMD the command works fine and other binaries are working as expected.

[code]

Nu Shell version 0.6.1.

[2019-12-18 23:56] jonathandturner commented on #1098
@cdhunt - I had this surprise too. You'll notice that `az` points to `az.cmd` which is a script file (rather than an .exe).  We don't yet support automatically calling the correct system to run the script, so you'll need to do it by hand.

You can do:

[code]

For me, that's:

[code]