[2020-07-28 03:45] JosephTLyons commented on #2258
That's cool.  I did create an issue in the `meval-rs` repo here:

https://github.com/rekka/meval-rs/issues/23

Not sure if the original author will be interested in adding it or not, but figured it wouldn't hurt to try.

[2020-07-28 13:46] fdncred commented on #2258
@JosephTLyons I prototyped this in `eval.rs` as @thegedge suggested.
[code]
Seems to work.
![image](https://user-images.githubusercontent.com/343840/88673742-991e2d00-d0ae-11ea-8874-16dd2895dae7.png)

Feel free to add it and other variables/constants you think are missing.

[2020-07-28 14:14] thegedge commented on #2226
From the PR fixing this, a big question surfaced for me:

[2020-07-28 20:54] 00krishna opened #2272 "Support for Anaconda `conda` environments from nushell"
**Is your feature request related to a problem? Please describe.**
I love nushell, but it seems that `nushell` is not currently compatible with the python Anaconda distribution. I was not sure where to direct this request, but I thought I would start with the nushell folks. So Anaconda is a python distribution for scientific computing. Users can create conda virtual environments and then activate

[2020-07-28 22:02] fdncred commented on #2263
Added rustyline PR for this. Cross your fingers they accept it. https://github.com/kkawakam/rustyline/pull/422

[2020-07-29 09:34] coolshaurya commented on #2208
I think there are 3 types of values that need to be handled separately when converting to HTML  -

1. Single value - a single value like `echo 10`. This will be transformed to HTML without any wrapping at all.
1. A list - a list of values like `echo 1..10`. This will produce an `<ul>`/`<ol>`.
1. A table - a table of values like `echo 1..10 | wrap num` or `echo 5 | wrap a`. This will produce a `<ta

[2020-07-29 10:37] jzaefferer commented on #2208
That sounds good to me! So the missing piece is the second item. I think a `<ol>` makes slightly more sense here, since the list is ordered.

[2020-07-29 19:43] charlespierce commented on #1541
Just confirmed this still happens on Nu 0.17.0 (which is using the updated `ichwh`). From looking at the linked merge request, I'm actually not sure if that change had an effect. From the docs for [is_symlink](https://doc.rust-lang.org/std/fs/struct.FileType.html#method.is_symlink), it calls out that if the metadata is fetched using `File::metadata`, then `is_symlink` will always be `false`. So I

[2020-07-29 20:24] fdncred commented on #1541
#2035 is what fixed `winget` which is an `AppExeCLink` according to powershell. `AppExeCLink` is neither a SymbolicLink nor a HardLink nor a Junction. I'm guessing `AppExeCLink` = `ReparsePoint`. That was fixed in the which-rs crate.

[This ](https://github.com/harryfei/which-rs/blob/209804c363b65c1c7cd05d421dbb4510cccae890/src/checker.rs#L42-L47)is what I added to which-rs. It appears that someth

[2020-07-29 22:01] charlespierce commented on #1541
@fdncred It looks like that change in `which-rs` is actually involved in this: By pulling `symlink_metadata` and checking for `is_file`, actual `symlinks` are excluded (because `symlink_metadata` doesn't follow symlinks, so `is_file` would return `false` while `is_symlink` would return `true`). I _think_ the fix would be to update `which` to check `is_file` _or_ `is_symlink` in that spot. I'll con

[2020-07-30 04:54] #2208 closed

[2020-07-30 06:08] KSXGitHub opened #2275 "Request: Publish WebAssembly package to NPM"
Node.js tooling is lacking a cross-platform shell (sh, bash, zsh, and batch are platform-specific while JavaScript itself is too verbose for a shell language).

[2020-07-30 06:31] warrenseine commented on #2141
Please re-open if there’s a bug (and I’m sure there will be!).

[2020-07-30 06:31] #2141 closed

[2020-07-30 08:25] warrenseine commented on #2261
I'm not sure my fix work. Now we get:

[code]

[2020-07-30 09:21] djc commented on #1157
Thanks for working on this! I just checked with 0.17.0 and it still shows what I would consider suboptimal behavior:

<img width="648" alt="Screen Shot 2020-07-30 at 11 19 58" src="https://user-images.githubusercontent.com/158471/88905445-9c541d00-d256-11ea-8249-4d68edc6eba9.png">

[2020-07-30 09:21] djc commented on #1157
(Also why is nu eating 9% CPU while idle?)

[2020-07-30 09:57] djc opened #2277 "Configuration book command for setting config value is outdated"
**Describe the bug**

The book doesn't seem to match (the 0.17.0 release of) the actual product:

![Screen Shot 2020-07-30 at 11 55 52](https://user-images.githubusercontent.com/158471/88909622-a3c9f500-d25b-11ea-8c19-c426e4ab1b52.png)

<img width="449" alt="Screen Shot 2020-07-30 at 11 57 00" src="https://user-images.githubusercontent.com/158471/88909755-ca882b80-d25b-11ea-8fd8-604dae0951e3.png">

[2020-07-30 11:31] djc commented on #1856
This is also happens if I run `starship prompt` outside nushell, so I suppose it's unrelated to nushell's embedding. I'll close this issue and pursue this further in https://github.com/starship/starship/issues/1133.

[2020-07-30 11:31] #1856 closed

[2020-07-30 14:49] thegedge commented on #1157
I don't think this is an issue with not using terminal width, but rather `ps` itself. Just run `ps -f` to see what I mean. You'll see columns with full strings that get wrapped across multiple rows.

[2020-07-30 14:50] thegedge commented on #2277
I think this will be fixed by https://github.com/nushell/book/pull/117

[2020-07-31 05:46] JosephTLyons opened #2279 "Proposal to Change `ls` and `ps` flag of `f`/`full` to `l`/`long`"
**Describe the bug**
The `f` flag on `ls` has always been pretty jarring to me.  `ls -la` (or `ls -al`) is such an extremely common command for me (and I assume many others).  Plainly put, typing `ls -fa` is a bit weird after years of using the `l` flag.  I'm not sure if this is something aliases could cover in the future, but I feel that using `l` for `long` is really just a fundamental thing tha

[2020-07-31 08:55] theduke opened #2280 "ps: add user column"
`ps` does not have a user column, even with the `-f/--full` flag.

[2020-07-31 08:59] theduke commented on #2280
This is  blocked on `heim` not providing user information: https://github.com/heim-rs/heim/issues/194

[2020-07-31 13:42] fdncred opened #2281 "ls fails when filtering"
**Describe the bug**
When listing c:\windows folder and filtering by where, nushell pukes midway through listing. I assume this is because of permissions again and not all files have a `type` for some reason. But I'm just guessing.

**To Reproduce**
Steps to reproduce the behavior:
1. ls c:\windows | where type == File
2.
3.

**Expected behavior**
results match my command

**Screenshots**
![image]

[2020-07-31 14:20] fdncred commented on #2272
I wonder if this is as simple as ensuring that the `activate.py` and other commands are in the path?

The exception is a `CommandNotFoundError`. You can see that [here](https://github.com/conda/conda/blob/568a948573a349cfa30b2fbb41ffc56014236887/conda/exceptions.py).

[2020-07-31 17:09] 00krishna commented on #2272
@fdncred thanks for the response. Yes, I use Ubuntu Linux exclusively, so `bat` files are not an issue thank goodness. So how would I try this from `nushell`? Like when you say that I need `activate.py` in the path, I am not sure which path you are referring to. Meaning that the `anaconda` folder is already in the `PATH` environment variable. Would I just have to start `nushell` and then `python a

[2020-07-31 17:20] fdncred commented on #2281
Ya, probably so. I'll close this one.

[2020-07-31 17:20] #2281 closed

[2020-07-31 17:29] fdncred commented on #2272
@00krishna Oh, I'm sorry. I thought this was in Windows.

When in nushell you should be able to do `echo $nu.path` and see what folders are in your path.

If you need to update your path in nushell you need to edit your config.toml file as this [page](https://www.nushell.sh/book/en/configuration.html) describes.

If your path in nushell already has the proper folder to access these files, then it'

[2020-07-31 17:35] fdncred commented on #1893
@JosephTLyons Where'd you get with this? I've been looking at https://github.com/sharkdp/lscolors and it seems to work pretty well for coloring files.

[2020-07-31 17:56] 00krishna commented on #2272
@fdncred No worries. This is actually very helpful, it gets me started. I will try out what you suggest and see what happens. But thanks for chiming in.

[2020-07-31 19:27] jonathandturner commented on #763
Would it be bad to just pick one? Looks like all the ones @DrSensor mentioned are currently up to date, so perhaps the situation has improved.

[2020-07-31 20:19] jonathandturner commented on #1695
I'm going to go ahead and close this as it's now powerful enough you can write some pretty complex prompts. I recently also ran powerline with it.

If there is more that's needed, please re-open or create a new issue.

[2020-07-31 20:19] #1695 closed

[2020-07-31 20:20] jonathandturner commented on #2275
For this to work well, we may need to add wasi(?) support as well so that you could access the local filesystem. To get around this in the demo, we're currently using a fake filesystem. For NPM, you'd want to be able to access the real one.

[2020-07-31 21:04] fdncred commented on #1541
Just so I can quit having to look it up in which-rs it's this [PR](https://github.com/harryfei/which-rs/pull/25)

[2020-07-31 21:37] JosephTLyons commented on #2279
I saw some thumbs ups here, so I went ahead and opened a PR.

[2020-07-31 22:48] klnusbaum commented on #1798
Hey folks, little update on this. I've been distracted with some other stuff as of late, but I'm hoping to resume work on this in the next month or so.

[2020-08-01 01:58] coolshaurya commented on #763
No but the others should be mentioned.

If one is being chosen, I'd recommend using the `nushell-bin` package as that doesn't require having Rust installed (and the others require Rust to be installed).

[2020-08-01 01:59] KSXGitHub commented on #2275
WASI is just an emulation of UNIX interface to enable porting old programs (ones that are not created with WASM in mind) to the web. I guess nushell's WASM in the web demo has an API? It would be more powerful if one can manipulate structured input/output of nushell (i.e. as JavaScript objects). I don't think nushell's API would be too complex to require WASI either, JS side can provide callbacks

[2020-08-01 03:49] JosephTLyons commented on #1893
@fdncred, well, when I was working on this, I was just trying to add a mechanism to allow data in the table to be colored.  I had it working at one point, but then the old nu-table was scrapped and a new one was added.  I tried re-writing the code for the new nu table and ran into some issues with certain structs we use from other packages not supporting some of the traits I would've need to get i

[2020-08-01 13:36] fdncred commented on #1893
@JosephTLyons Thanks for the recap. If you look at [this gist](https://gist.github.com/fdncred/94d197614a83eb96df3dc396f423147c), you'll see my inventory of how color is used in nushell. The idea is to abstract a renderer, perhaps like you're saying, and make it accessible with coloring/theming. This renderer could also render other things too, kind of like autoview was intended to do. We talked a

[2020-08-01 14:17] coolshaurya opened #2286 "Have `str collect` take an optional separator value"
**Is your feature request related to a problem? Please describe.**
It would be nice to have `str collect` take a optional separator value

**Describe the solution you'd like**
With this -
 `echo 1..5 | str from | str collect "|"`
will return
`1|2|3|4|5`

 `echo a b c d e f g h | str from | str collect  $(char newline)`
will return
[code]

**Describe alternatives you've considered**
Make a new subc

[2020-08-01 14:23] fdncred commented on #2286
oooh!  I like that idea!

[2020-08-01 15:03] oberien commented on #465
Is there an update on this? I'm very used to typing the beginning of a command and using arrow-up a few times to find a command in my history from the zsh feature and would love to see it in nushell.

If you can give me some hints I'm willing to implement this feature and create a PR.

[2020-08-01 18:27] jonknapp opened #2287 "`config load` does not appear to work"
**Describe the bug**
Running `config load nu.toml` to load a local configuration file called `nu.toml` shows table output as if it was loaded, but it does not change anything related to the current running nu shell. The same happens when I use an absolute path to the config file.

**To Reproduce**
Steps to reproduce the behavior:
1. copy config to a new file: `cp $(config path) nu.toml`
2. clear c

[2020-08-01 18:41] JosephTLyons commented on #2286
Is someone already working on this?  I can probably add it if not.

[2020-08-01 18:42] #2226 closed

[2020-08-01 19:52] jonathandturner commented on #465
@oberien - we currently use https://github.com/kkawakam/rustyline to do our line editing. If it gets implemented there, we should be able to add it nushell.  You might want to file an issue on that repo and see if it's being worked on. The bonus is that other people using rustyline would also benefit.

[2020-08-01 20:12] tannakartikey commented on #1762
@elichai @thegedge I am not able to replicate this issue on v0.17.0 (Ubuntu 18.04)

[2020-08-01 23:19] JosephTLyons commented on #2279
Closed via https://github.com/nushell/nushell/pull/2283

[2020-08-01 23:19] #2279 closed

[2020-08-02 07:29] #2286 closed

[2020-08-02 08:02] elichai commented on #1762
I don't know what to say, but I can't reproduce this either.
(it has also been too long for me to remember what was exactly happening)

[2020-08-02 17:48] thegedge commented on #1762
It's been long enough that we may have unintentionally, and unexpectedly, fixed the underlying issue. I'll close it for now, but we can reopen if it happens again.

Thanks for reporting, @elichai, and thanks for exploring, @tannakartikey.

[2020-08-02 17:48] #1762 closed

[2020-08-03 06:24] KSXGitHub opened #2295 "pipeline does not preserve JSON structure"
**Describe the bug**
An array of a single object will be forcefully converted to single object.

**To Reproduce**

[code]

**Expected behavior**
Prints original input (`[{"abc":123}]`).

**Actual behavior**
Prints the object inside (`{"abc":123}`).

**Screenshots**

**Configuration (please complete the following information):**
 - OS (e.g. Windows): Linux
 - Nu version (you can use the `version` c

[2020-08-03 10:40] pkondzior commented on #1960
Whats the status of this issue ? It doesn't seems that either rvm or rbenv works with nushell right now.

[2020-08-03 11:09] pkondzior commented on #1960
I've went through nushell plugin system and it feels that it should be easy enough to write rbenv support using it.

The idea for plugin would be:
1. Detect .ruby-version file in directory subtree
2. Detect if rbenv ruby shims exists in ~/.rbenv/shims/<ruby-version>
3. Scan all the shims and register them as possible external commands

This way nushell would leverage all the rbenv ruby environment

[2020-08-03 11:27] codri commented on #1462
Powershell also supports globs in cd, and glob expansion. That's a very handy feature for jumping around.
Ex, having the following folder structure:
[code]

You can do the following in Powershell
`cd *1` and enter to navigate to test1, or `cd *1<Tab>` to expand the glob, and cycle through multiple results.
`cd *st` and tab would cycle through all of the top level folders.
Globs also work for neste

[2020-08-03 17:15] fdncred commented on #1832
@Kelli314 Any update on this?

[2020-08-03 18:03] Kelli314 commented on #1832
I've made some progress. The root cause comes from the `with-env` command parsing only ever checking for one variable-value pair [here](https://github.com/nushell/nushell/blob/main/crates/nu-cli/src/commands/with_env.rs#L67). I'm working on how that can be parsed better. Any recommendations would be helpful.

[2020-08-03 18:19] jonathandturner commented on #1832
@Kelli314 - one possible direction would be to not update `with-env`, and instead wrap with new `with-env` for each variable.

Something like:

[code]

Could expand into:

[code]

[2020-08-03 19:18] almindor commented on #1832
I just started looking into this and it's a bit of a mess. From what I can tell `process_line` from `nu-cli` already pre-parses the `ENV1=1 ENV2=2` block as `command: ENV1=1` with args: `ENV2=2` which makes this pretty bad to go from.

I'm trying to wrap my head around how this shorthand detection and parsing could work so we don't break things even more.

[2020-08-03 23:51] thegedge commented on #2295
We turn an array of things into a stream. When there's one element in the stream, we assume it's meant to be just the element. If there's more than one element, we assume it's an array.

Unfortunately, I don't think there's an easy way for us to make this work, unless we embedded a table in a list. It would look like this:

[code]

which is unfortunately much more difficult to work with.

I can th

[2020-08-04 01:32] KSXGitHub commented on #2295
@thegedge I prefer the first solution.

[2020-08-04 02:33] andrasio commented on #2295
@KSXGitHub As a workaround you can use `--objects` instead.

[code]

[2020-08-04 11:14] KSXGitHub opened #2301 "stat/lstat command"
**Is your feature request related to a problem? Please describe.**
I need a command that get metadata of a file/directory.

**Describe the solution you'd like**
`stat` and `lstat` command. `stat` follows symlink ([`std::fs::metadata`](https://doc.rust-lang.org/std/fs/fn.metadata.html)), `lstat` does not follow symlink ([`std::fs::symlink_metadata`](https://doc.rust-lang.org/std/fs/fn.symlink_metad

[2020-08-04 15:45] yanganto opened #2302 "Get None when environment variable not exsist"
**Is your feature request related to a problem? Please describe.**
I try to use nu shell as a common shell both for Linux and Window by detecting the environment variable, and I got the shell error with a variable suggestion as following
[code]

**Describe the solution you'd like**
- Add a `None` element in UntaggedValue,
- Add a function `pub fn nun(env: &IndexMap<String, String>, tag: impl Into<

[2020-08-04 17:50] fdncred commented on #2302
@yanganto Good point. We should have a way to check for the existence of environment variables. We're still thinking about how to best do this.

Related to your specific example, @jonathandturner reminded me that checking for OS is handled by the `sys` command. So, I wrote this alias that might come in handy `alias host_is [host] { sys | if $it.host.name == $host {echo $true} {echo $false}}`. Then

[2020-08-04 18:00] thegedge commented on #2302
As for the solution you mentioned, @yanganto, we had some discussion and are hesitant on making variable access evaluate to `Nothing`. Some reasons for that:

- My own experience is that this kind of behaviour often leads to subtle bugs in scripts/systems, because you make a typo, but the thing that consumes the result of your variable access still functions fine.
- If we do this for variables, we

[2020-08-04 20:43] djc commented on #1157
Ah yes, you're right. Closing.

[2020-08-04 21:09] thegedge commented on #1157
@djc doesn't mean we can't keep this open and tweak the purpose. I don't think it's a bad idea to always show the full name here, or at least do so with a flag 🙂

[2020-08-05 00:38] jonathandturner commented on #2275
@KSXGitHub - I've been thinking about this issue. Are you interested in working on it, by chance? I can help mentor, though it seems you may know as much as I do (maybe more?)

[2020-08-05 00:57] KSXGitHub commented on #2275
@jonathandturner I have some other projects to do at the moment.

[2020-08-05 15:49] nickolay commented on #1162
rgwood: iTerm2 [tries to be "standards-compliant" by treating the Option key as ALT](https://gitlab.com/gnachman/iterm2/-/issues/5451) and lets the user [pick one of bundled presets - "Natural Text Editing"/"Terminal.app compatibility" - or change the mappings to `ESC+b` and `ESC+f` manually](https://stackoverflow.com/a/22312856/1026).

fdncred: customizable keybindings only expose the knobs that

[2020-08-05 16:09] yanganto commented on #2302
Thanks @fdncred, use following commands solve my problem.
[code]

Hi @thegedge
Thanks for your explanation.

My proposal is to use `$nu` for not allow `Nothing` and to use `$nun` to allow `Nothing`, and it still lacks consideration.

I think this is hard to be chosen because `Nothing` is good in some scenarios but truly leads to subtle bugs is some cases.

It may be a cool feature to give the powe

[2020-08-05 16:09] #2302 closed

[2020-08-05 16:13] nickolay opened #2304 "Autocomplete now always asks if it should display the possibilities even if there are only a few"
**Describe the bug**
`completion_type` / `completion_prompt_limit` defaults regressed since 0.17.0.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:nushell/nushell.git && cd nushell && cargo run`
2. Type the letters `ls`
3. Hit TAB twice

**Actual behavior**: displays only "Display all 8 possibilities? (y or n)"

**Expected behavior**: Display the first 100 options

[2020-08-05 16:36] thegedge commented on #2302
Thanks for bringing this up, @yanganto .

We were also thinking along the lines of making this more explicit — `$nun` could easily be a typo too 😱 – so we could create some helper commands to make this work, and when we have time to think about it more deeply, we could consider syntax. A couple of examples:

[code]

Don't want to rush to either of these, but you've got us looking into and thinking

[2020-08-05 17:08] fdncred commented on #2304
You're right. I defaulted to non-rustyline defaults when I made this change. I just submitted a PR to match most of rustyline's defaults https://github.com/nushell/nushell/pull/2305.

I'm not sure how completion_type is getting set to circular because if there's no completion_type, it defaults to a platform specific value. Will have to investigate further.

[2020-08-05 17:23] nickolay commented on #2304
The problem is that only happens if the [value is unknown](https://github.com/nushell/nushell/blob/6202705eb621dc9edaec0eca2556d665bac9140e/crates/nu-cli/src/cli.rs#L623) or if [the entire `line_editor` section does not exist](https://github.com/nushell/nushell/blob/6202705eb621dc9edaec0eca2556d665bac9140e/crates/nu-cli/src/cli.rs#L682). If the section does exist, but does not have an entry for co

[2020-08-05 17:41] fdncred commented on #2304
Maybe I should set all the defaults at the beginning of that function and then if others are set, they'll override the defaults.

[2020-08-05 17:55] nickolay commented on #2304
That's a great idea. I think you can also rely on rustyline's defaults where nushell doesn't need to override them (e.g. the `completion_prompt_limit`).

[2020-08-05 18:47] fdncred commented on #2304
@nickolay Just pushed this one to hopefully take care of this issue https://github.com/nushell/nushell/pull/2306

[2020-08-05 20:24] jonathandturner commented on #2275
@KSXGitHub - no worries, I thought I'd ask in case you were interested and had time.

[2020-08-05 22:50] fdncred commented on #2304
Should be fixed now. Thanks!

[2020-08-05 22:50] #2304 closed

[2020-08-05 23:07] nickolay commented on #2304
Yep, works fine now. Thanks for the quick fix!

[2020-08-05 23:56] thegedge opened #2307 "Establish (roughly) a grammar for parsing"
We can find a better place for this later, but I wanted to put it somewhere and iterate on it.

## Lite parsing

[code]

[2020-08-06 02:40] deoradh commented on #1933
So what's the resolution?  Is there a fix for this?

Windows 10, using Windows Terminal, with Cascadia Code PL font.

Custom prompt for PS + Posh is working.  Nu + Statship is showing the book.  Changing to use Fira Code doesn't change it.  Trying Nu in a standalone window (not WT) doesn't change it.

[2020-08-06 18:47] thegedge commented on #2295
Actually, @jonathandturner's [Data Frame RFC](https://github.com/nushell/rfcs/pull/3) should be able to address this, I believe.

[2020-08-06 20:51] jonathandturner commented on #1832
@almindor @Kelli314 - not sure if you ended up collaborating, but I'm happy to answer any questions here or on the discord.

[2020-08-07 08:46] agateau opened #2311 "Can't use ssh-add to unlock passphrase-protected keys"
**Describe the bug**

My ssh keys are protected by a passphrase, but typing that passphrase all the time is annoying, so I usually add them to ssh-agent using this command:

[code]

Then any ssh-based command (such as `ssh`, `rsync`, `git fetch` and `git push`) won't ask for the passphrase. Unfortunately, `ssh-add` does not work with Nushell. It fails like this:

[code]

Looking at the process lis

[2020-08-07 13:31] L-as commented on #485
I tried compiling on aarch64 today, and I get this:
[code]
I am wondering if a patch to libstd that just makes c_char and i8 on all platforms would fix this. It might break some FFI, but I honestly doubt it. In any case, this is hardly a nushell problem but a problem for the entire rust ecosystem that happened because of bad (IMO) design choices in libstd.

[2020-08-07 14:39] avandesa commented on #2287
I just ran into this same issue on Windows as well. On commit 724b177.

[2020-08-07 17:30] fdncred commented on #2311
If you set those $nu environment variables to what they should be, do the ssh-commands work? I'm wondering if the env vars are changing by a process spun up or restarted in bash and nushell isn't watching the vars for changes.  Just a guess.

[2020-08-07 19:05] ImGamez opened #2313 "Option to disable welcome message"
Add option in the config to disable the welcome message "Welcome to Nushell 0.17.0 (type 'help' for more info)".
Gives a cleaner look to the terminal.

[2020-08-07 19:09] jonathandturner commented on #2313
We should be able to add a `config` setting for this. Would be a good issue for people just getting started with working on Nu.

[2020-08-07 21:36] thegedge commented on #1157
Tagged this as a "good first issue", because I _think_ it would be simple to fix, but I could be wrong there. It's possible that this isn't nu, but whichever library we're using to list the processes, so whoever picks this up should take that into consideration.

[2020-08-07 22:35] JosephTLyons commented on #1157
This is an issue with Heim.  Here was a fix they did for Linux specifically.

https://github.com/heim-rs/heim/issues/154

[2020-08-08 04:47] tikue commented on #1848
I have this problem as well, but I'm not using tmux.

[2020-08-08 13:19] fdncred commented on #1848
This is a theming issue. This is what I said on Discord. At this time nushell really only looks good in dark terminals. That is because, currently, there is very little control over the theme. I think we limit you to changing the table header colors, textview themes, and `to html` output themes right now. However, we are very interested in themes and would love to have help doing it.

[2020-08-09 07:12] L-as commented on #485
FWIW disabling the bson and binaryview features makes it work fine without any problems.

[2020-08-09 07:23] jonathandturner commented on #485
@L-as that's great news! If you want, you could add a PR that lists the supported features for arm support. We do this for default, stable, and are working on a set for wasm.

[2020-08-09 08:14] L-as commented on #485
@jonathandturner where would I list that? I looked a bit inside the repo but I can't find any such place.

[2020-08-09 09:14] jonathandturner commented on #485
@L-as here is where the main feature groups start: https://github.com/nushell/nushell/blob/main/Cargo.toml line 65

[2020-08-09 13:56] coolshaurya commented on #1847
You can do this now with #2289. the command now will be - `your_pipeline | str collect $(char newline)`.

[2020-08-09 14:38] thegedge commented on #1847
☝️ And specifically, if we're talking about the reverse of `lines`, just a `str collect` will do (because `lines` includes the newline in each string).

But indeed, `str collect` is the inverse.

Perhaps we should make `lines` be `str split` instead, which makes it a clear inverse, and anyone could then make `lines` an alias. Something to consider another day 🙂

[2020-08-09 14:38] #1847 closed

[2020-08-09 14:55] coolshaurya commented on #2313
This issue should be closed as it has been fixed by #2314.

[2020-08-09 15:28] #2313 closed

[2020-08-09 15:41] coolshaurya commented on #1817
The new crates are drop-in replacements for the old ones and will be maintained unlike the original. Therefore I think nu should switch to the new crates.

[2020-08-10 09:07] oberien opened #2317 "Bash Braces Pattern"
Bash (and a lot of other shells) support [braces expansion](https://www.gnu.org/software/bash/manual/html_node/Brace-Expansion.html). In some cases it allows easier commands and reduces typing a prefix multiple times. For example `mv /foo/bar/baz/README.{txt,md}` expands to `mv /foo/bar/baz/README.txt /foo/bar/baz/README.md`. Another (more contrived) example is `echo {1..3}-{1,2}` expanding to `ec

[2020-08-10 09:22] oberien opened #2318 "`ls .file` doesn't list explicitly specified hidden files unless -a is passed"
**Describe the bug**
When using `ls` to list a hidden file which was explicitly passed as an argument, it isn't listed unless the `-a` flag is passed. In other shells (tested with bash and zsh), when using `ls` and passing a hidden file as explicit argument, that file is listed no matter if the `-a` flag is passed or not.

For glob patterns / [filename expansion](https://www.gnu.org/software/bash/

[2020-08-10 15:50] mhmdanas opened #2319 "After pasting, the cursor is before the last character in the pasted text instead of after it"
**Describe the bug**
After pasting some text, the cursor is before the last character in the pasted text.

**To Reproduce**
Steps to reproduce the behavior:
1.  Paste anything in Nu

**Expected behavior**
I expect the cursor to be after the last character in the pasted text.

**Screenshots**

![Bug-demonstration](https://user-images.githubusercontent.com/32234660/89802344-f12e4800-db20-11ea-8d5b-9

[2020-08-10 16:25] fdncred commented on #2319
I see the exact same thing. I'm guessing this has something to do with rustyline, the line editor we use, but I'm not sure.

[2020-08-10 20:07] rrichardson commented on #2115
I'd also like to point out that the `exitscript` presently runs *after* one changes directories, instead of *before*.. it also only seems to run if you cd into a subdirectory of the directory with the `.nu-env`

e.g. given a tree in a hypothetical directory called `nushell`
[code]

and a .nu-env file
[code]

If I `cd..` from the nushell directory.. nothing appears to happen.
if I `cd assets` from

[2020-08-10 20:09] rrichardson commented on #2115
alternatively...  exitscript might only run when one exits out of the nushell hierarchy entirely.. e.g.  when I cd into `assets`.. nothing happens (unless `assets` contains its own .nu-env, thus introducing a new context)

It should only run when I `cd..` or sideways into some other directory tree.

[2020-08-10 20:12] fdncred commented on #1541
@charlespierce I think this is finally done. We just need to bump the which-rs crate to 4.0.2. #2321

[2020-08-10 20:13] #1541 closed

[2020-08-11 06:13] jonathandturner opened #2324 "Date subcommands"
**Is your feature request related to a problem? Please describe.**
Looking at the `date` command, I see it doing different types of things. Might be nice to split this up into subcommands.

**Describe the solution you'd like**
Here's one way we could split up the subcommands:

* `date now` - return the current date
* `date to-utc` - convert the given date in the stream to UTC
* `date to-local` - c

[2020-08-11 09:49] samhedin commented on #2115
There is, unfortunately, no way to fix this without some major changes to how everything works. Autoenv works by looking at the current directory structure, marking any directories that existed previously but not anymore, then running those exitscripts. A workaround would be to run those exitscripts in the directory they were specified by `cd`-ing into that directory, running exitscripts, then `cd

[2020-08-11 15:22] agateau commented on #2311
I tried to, but the variable override system does not let me set more than one variable at a time, and setting only `SSH_AGENT_PID` fails :(

[code]

[2020-08-11 16:37] AdminXVII opened #2327 "Redox Support"
This is a summary on my work compiling nushell for Redox. I'd like to eventuallly have the stable feature compile on Redox. This is more of a report than a feature request per se.

Right now, compilation is blocked by those crates:
 - nix, which must be updated to 0.18.0 across the dep tree. Unlocks features uuid-support,term-support,ctrlc-support,director
ies-support,inc,match,trash-support,start

[2020-08-11 16:40] jonathandturner commented on #2327
@AdminXVII - If you manage to get it building with a subset of features, feel free to send a PR to create a feature group specifically for redox that only includes things compatible on that OS.

[2020-08-11 16:43] AdminXVII commented on #2327
Great I'll do so when nix is up to date everywhere.

[2020-08-11 17:21] fdncred commented on #2311
Right, but you could edit your `config.toml` file and in the `[env]` section put those variables and values in there, relaunch nu and see what happens.  Just trying to come up with different things. Obviously, this isn't a fix. I think #1832 is partially involved here with your last attempt to a work-around.

[2020-08-11 18:59] rrichardson commented on #2115
I just tested the latest build, and bye.txt is now placed into the parent directory when I `cd ..` .  bye.txt is no longer added at any other time, e.g. when I cd into any other child dir.
 hello.txt is placed into the nushell directory when I cd into it the first time.

So I think this works as intended.

I still would like to see the exit script use a *before* exit instead of after.. but I don't

[2020-08-12 02:46] jonathandturner commented on #602
@techthumb - I think this is a good idea. I'd like to keep it open so that we can add support in the future.

[2020-08-12 04:08] jonathandturner opened #2337 "`sleep` command"
**Is your feature request related to a problem? Please describe.**
Would be great to have a way to `sleep` inside of a script.

**Describe the solution you'd like**
I think we could start with a command called `sleep` that sleeps for the given direction. Like `sleep 1s` would sleep for one second.

**Describe alternatives you've considered**
You could also call it `delay`, though I think `sleep` r

[2020-08-12 07:16] ionutvmi opened #2338 "do -i { ... } shows the error message"
**Describe the bug**
I just upgraded to 0.18.1 and I noticed that do -i shows the error message.
I am using do -i to get the current git branch in the prompt similar to the examples from the following article: https://www.nushell.sh/blog/2020/06/30/nushell_0_16_0.html

**To Reproduce**
Steps to reproduce the behavior:
1. Open nushell
2. run `do -i {git status}` in a folder which is not part of a g

[2020-08-12 12:40] fdncred commented on #2338
Strange behavior. Am I trying to reproduce it right?
![image](https://user-images.githubusercontent.com/343840/90015787-b20e0d00-dc6e-11ea-9cde-e6956f634b0f.png)
I'm on Win 10.0.19041.388 with Nu 0.18.1 just built from main.

[2020-08-12 13:13] ionutvmi commented on #2338
Sorry, I got confused because the prompt was still active.
I disabled it and here are the steps:

![image](https://user-images.githubusercontent.com/3531898/90019083-9a5a7700-dcb6-11ea-9abd-6dd0fc9bbaa3.png)

It looks like the git command alone doesn't show an error, but I try to pipe it then it shows up.

[code]

[2020-08-12 13:25] fdncred commented on #2338
I ran into this exact problem the other day and @jonathandturner's suggestion was to move `trim` to the outside of the braces like this: `do -i {git rev-parse --abbrev-ref HEAD } | trim`. Does that work for you?

[2020-08-12 14:51] ionutvmi commented on #2338
Yes, it did.

Thank you very much for the tip !

[2020-08-12 14:51] #2338 closed

[2020-08-12 19:29] davidarmstronglewis opened #2342 "Nushell doesn't respect chosen terminal colors"
Specifically, when I run something like `ls`, I expect nushell to use my chosen color for bold fonts for the headers. Instead it's green, which doesn't need configuration. There's a configuration option to use bold colors for table headers, which still comes in as green.

I know this project is striving to be as cross-platform as possible, so is it just not feasibly to use a terminal emulator's ch

[2020-08-12 20:23] fdncred commented on #2342
Right. Nushell is not theme-able or theme-aware yet. We'd love it to be, but it's not yet. I've tried a couple of theme in Windows Terminal. This was done with windows terminal color schemes.
![image](https://user-images.githubusercontent.com/343840/90063916-aa228d00-dcaf-11ea-828f-35d9b69eb7cb.png)
![image](https://user-images.githubusercontent.com/343840/90063941-b27ac800-dcaf-11ea-96cc-1b3ac4d5

[2020-08-12 20:35] ajeetdsouza opened #2343 "Check for empty argument in if statement"
**Is your feature request related to a problem? Please describe.**
Currently, aliases do accept less than the defined number of arguments - however, there is no way to actually check if they've been left empty when called. This leads to things like equality checks failing (comparing `string` with `nothing`).

**Describe the solution you'd like**
It would be nice to be able to check if an argument

[2020-08-12 23:51] ryanpcmcquen commented on #2193
Is this fixed in `0.18.1`?

[2020-08-13 11:29] mborejdo commented on #2193
@ryanpcmcquen using the updated config (https://github.com/nushell/nushell/blob/main/docs/sample_config/config.toml) the history-size limit seems to be honored. At least I get more than 100 entries now

[2020-08-13 13:04] fdncred commented on #2343
I have to say that I really like `zoxide`. I'd love to just make it the `cd` we use with zero configuration and have it `just work` . It doesn't appear that it's available as a crate that we can just add but more of a cli app, if I read everything correctly.

This isn't the place for feature request for zoxide, but I'd also like to see a `--list` option to show what's in the db and I'd love it to

[2020-08-13 13:27] ajeetdsouza commented on #2343
Hey @fdncred,

- Thanks! Currently, zoxide is structured as more of a CLI app than a crate. However, if the maintainers of Nushell want to integrate it natively, I'd be very happy to refactor and help with the effort!
- The latest release actually does support `zoxide query --list`! I've thought of parsing history before, but I don't think it would be possible - we have to handle multiple shell in

[2020-08-13 14:04] fdncred commented on #2343
I'll have to check out the newest release. I built from the repo yesterday 0.4.3 but maybe it's changed since then.

I'll talk to the team about if we want to integrate. We have  meeting tomorrow.

I'm not sure what the problem is with the alias, it seems to work as in the screenshot.
![image](https://user-images.githubusercontent.com/343840/90143814-aa6c6800-dd43-11ea-9f99-9f88215b1b82.png)

[2020-08-13 14:25] ajeetdsouza commented on #2343
@fdncred I was hoping for this to work:

[code]

[2020-08-13 14:35] fdncred commented on #2343
Your `y` alias is wrong. You need a dollar sign on the last a. like this `alias y [a] { is_nothing $a}`. Also, I don't think you can just say `y`. You need to say `y some` = false or `y ""` = true.

[2020-08-13 14:47] ajeetdsouza commented on #2343
Ah, my bad. In that case, I don't think `is_nothing` would work for me - what I wanted was a mechanism to create an alias `z` that does the following:
- `z` does a `cd ~`.
- `z -` does a `cd -`.
- `z foo bar` does a `cd $(zoxide query -- foo bar)`.

[2020-08-13 15:03] ryanpcmcquen commented on #2193
@mborejdo or @JosephTLyons, did `history_size` change to `max_history_size`?

[2020-08-13 15:17] fdncred opened #2344 "Can't cd ~\Downloads even though it's auto completed but can cd ~/downloads"
**Describe the bug**
In Windows, I can't `cd ~\Downloads` even though `~\Downloads` is autocompleted by rustyline. However, I can `cd ~/downloads`

**To Reproduce**
Steps to reproduce the behavior:
1. cd ~\Down<TAB> then hit enter
2. watch it fail
3. cd ~/downloads then hit enter
4. watch it work

**Expected behavior**
Both scenarios should work

**Screenshots**
[code]

**Configuration (please com

[2020-08-13 15:17] mborejdo commented on #2193
@ryanpcmcquen as far as I understand, its rustylines config which is exposed directly to nushell. So I guess, its now the cariable name which rustyline uses/expects

[2020-08-13 16:27] andrasio commented on #2343
@ajeetdsouza might not solve it all together, try `empty?` command.

[2020-08-13 17:08] davidarmstronglewis commented on #2342
Seems this is something you're all aware of - should I keep this issue open or is this something already on the roadmap?

[2020-08-13 17:14] andrasio commented on #2343
@ajeetdsouza : There should be simpler ways to do it.

[code]

[2020-08-13 17:15] fdncred commented on #2342
Yes, we know about it. Yes, we can close this. Yes, it's on the roadmap. :) Sorry we don't have it yet.

[2020-08-13 17:15] #2342 closed

[2020-08-13 17:23] davidarmstronglewis commented on #2342
All good, it's just an itch I was personally having and felt strongly enough to come here. Thanks for communicating about it :heart:

[2020-08-13 17:41] ryanpcmcquen opened #2346 "`~` in aliased command not expanding correctly."
**Describe the bug**
I'm having trouble using `~` in an aliased command.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The command would run as expected. As you can see, the `~` gets added to the path.

I'm on nushell `0.18.1`.

[2020-08-13 17:57] fdncred commented on #2343
@andrasio Nice! Just got it working in windows.
Entries from my config. Had to change double quotes to single quotes.
[code]

[2020-08-14 04:04] ne-on opened #2349 "using alias with arg of 'inf' causes ParseBigIntError"
Using an alias that takes an argument like:

[code]

and typing this at the prompt

[code]

causes a BigIntParseError immediately upon typing `f`.

[code]

Running macOS 10.14, nushell 0.18.1 installed from brew.

[2020-08-14 04:52] ne-on opened #2350 "rm <symlink> removes target instead"
The following steps:

[code]

cause the file `test` to be removed instead of the link `t`.

Subsequent calls to `rm t` produce an error:

[code]

Running macOS 10.14, nushell 0.18.1 installed from brew.

[2020-08-14 05:22] castarco opened #2351 "Question: Do the "typed" streams rely on the standard file descriptors (stdin, stdout, stderr), or new ones?"
**Is your feature request related to a problem? Please describe.**
From what I read in the documentation, is not entirely clear to me if nushell tries to extract "meaning" from certain old plain text outputs, or if it's in fact able to deal with explicitly typed streams (lets call them `typedin`, `typedout` and `typederr`, with correspondent file descriptor numbers 3, 4 and 5; as an example).

I a

[2020-08-14 19:49] thegedge commented on #2351
All pipelines use internal streams to pass along the structured data.

There are two special cases.

The first would be external/legacy commands. When such a command is encountered in the pipeline, we:
1. take string data from the structured stream and write it the stdin of the command we spawn, and
2. read its stdout and feed it back into the internal stream as string data.

The second case are n

[2020-08-14 20:01] thegedge commented on #2344
Should hopefully be fixed once I get around to implementing our own path completer. We're hacking around rustyline's completer in several ways already, so I'd rather not hack on more 🙂

[2020-08-14 20:19] jonathandturner opened #2353 "Rename time units"
**Is your feature request related to a problem? Please describe.**
We currently support units on numbers, letting you type things like `10kb` and `1s`. This is pretty powerful, letting you work with numbers that carry their own type information with them in a way that's consistent for those quantities.

One issue we'll have as we expand larger is that some of the units we used early on will become

[2020-08-15 03:13] JosephTLyons commented on #2350
Hmm, I'm not experiencing this.  When I run `rm t`, it removes the symlink, not the `test` file.  I'm on macOS 10.15.6.

[2020-08-15 12:28] thegedge commented on #2350
☝️ same for me, both from master and Homebrew.

@ne-on can you verify? If it's actually deleting the target instead of the symlink, can you think of any other reasons why that may be happening?

[2020-08-15 17:50] ne-on commented on #2350
I went through the config file commenting things out.
I only seem to have the problem when `rm_always_trash = true`

[2020-08-15 19:03] jonathandturner commented on #2353
Fixed by #2356

[2020-08-15 19:03] #2353 closed

[2020-08-15 20:00] jonathandturner opened #2357 "`sort-by` should fail gracefully if mismatched types are compared"
**Describe the bug**
From discord just now:

[code]

`sort-by` should not crash Nu if mismatched types are used

**To Reproduce**
Steps to reproduce the behavior:
1. `echo [1 "foo"] | sort-by`
2. Look at sadness at your crashed shell

**Expected behavior**
We should detect this error and tell the user that the data could not be sorted

**Configuration (please complete the following information):**

[2020-08-15 20:06] jonathandturner commented on #2357
We should be outputting a ShellError instead of using `.expect` here: https://github.com/nushell/nushell/blob/6eb2c94209af69df0cf2e39b7f0624ea2300d7bb/crates/nu-cli/src/commands/sort_by.rs#L145

[2020-08-16 16:16] avrong commented on #2038
Having the same issue just pressing Ctrl+C in Windows Terminal after start and when running a command.

<img width="500" src="https://user-images.githubusercontent.com/6342851/90338784-c2b6de00-dff4-11ea-992c-3d3e87660513.png">

[2020-08-16 20:13] agateau commented on #2311
I found out the problem. Was my fault. For some reason my `config.toml` contained an `[env]` section filled with a "snapshot" of my environment from I don't know when.

:man_facepalming:

Deleting the section fixed the bug. Sorry for the noise.

[2020-08-16 20:13] #2311 closed

[2020-08-17 05:30] Havvy opened #2361 "POSIX `sh` compatibility with -c"
Programs in the wild (and in my case, VSCode), assume that the shell with `-c` will behave the way the POSIX standard says to behave. Specifically, as per https://www.man7.org/linux/man-pages/man1/sh.1p.html, it states:

                 value of special parameter 0 (see Section 2.5.2, Special
                 Parameters) from the value of the command_name operand and
                 the position

[2020-08-17 05:32] Havvy opened #2362 "BASH compatibility with `-l` (login shell)"
Filing this one on behalf of @jonathandturner , so I'll let his words speak:

jturner: might as well just support the -l for login shells

[2020-08-17 14:18] thegedge commented on #2350
Thanks, @ne-on . It's possible it's a bug in the crate we use to send files to the trash (https://crates.io/crates/trash). If so, we can keep this issue open until we fix it upstream and bump the version in nushell.

[2020-08-17 16:28] mhmdanas commented on #2319
Tried to reproduce this on Nu 0.18.1 and it seems like it was fixed. Closing this issue.

[2020-08-17 16:28] #2319 closed

[2020-08-17 16:37] fdncred commented on #2092
@rrichardson There are also string cases here https://github.com/nushell/nushell/projects/2#card-41184697

[2020-08-17 18:49] rrichardson commented on #2092
@fdncred - ah.. pad is a great idea..

Can someone share a use-case for `width`?   I guess if we have length, having a corresponding function for the number of bytes a string will use could be handy..

Also, while I am working with the inflector API, I was thinking of adding plural and singular because it won't be much additional hassle.

[2020-08-17 19:59] fdncred commented on #2092
@rrichardson I think `width` has to do with this issue https://github.com/nushell/nushell/issues/1784

[2020-08-17 20:04] jzaefferer opened #2367 "Add wasm build to CI checks"
As @jonathandturner mentioned on Discord ( https://discordapp.com/channels/601130461678272522/711672795565785169/744991976549777438 ), we should add a wasm build to the CI pipeline, to make sure that keeps building when making changes here (right?).

[2020-08-17 20:34] jonathandturner commented on #2367
Yup. The issue is that we have a `minimal` build that does `--no-default-features`, but that's not sufficient to catch issues with the wasm build. We should have a separate build that is specifically the wasm one. In the future we may want to add wasm-based tests also, but for now just ensuring the wasm build still builds is a good first step.

[2020-08-17 22:20] rrichardson commented on #2191
This might be more easily implemented as some sort of "default flag" concept that could be configured (and perhaps overidden with env vars)

I'm picturing something like

[code]

[2020-08-18 01:22] KSXGitHub opened #2368 "Idea: StructOpt-like argument parser for Nu scripts"
While working with BASH, I wished I could use something like [StructOpt](https://github.com/TeXitoi/structopt) so that I wouldn't have to write parsing algorithm and `--help` message on my own.

Regarding Nu, I think a parser like StructOpt would be a killer feature on its own.

I imagine it would work like this:
* User defines a schema in before all other commands but not before shebang.
* Built-

[2020-08-18 02:51] ne-on commented on #2350
Makes sense. Just glad to help, @thegedge, even if small. I really like what you all are doing here. Thanks.

[2020-08-18 06:10] jonathandturner commented on #2367
We can base what we test off the deploy steps for the demo: https://github.com/nushell/demo/blob/main/.github/workflows/deploy-pages.yml

I think all we need to do is to install wasm-pack and then build a small sample that depends on Nu as a similar way to the demo:

[code]

wasm-pack should build this sample with wasm as the target.

[2020-08-18 10:02] oberien opened #2370 "cd should only autocomplete folders"
**Describe the bug**
Currently the `cd` command autocompletes all files and directories in the working directory. However, it should only autocomplete folders, as those are the only useful arguments for `cd`.

**To Reproduce**
Steps to reproduce the behavior:
1. `mkdir folder`
2. `touch file`
3. `cd f<tab>`

**Expected behavior**
`cd` should autocomplete with `cd folder`. Instead on double-tab, it

[2020-08-18 14:58] thegedge commented on #2368
We haven't sketched it out, but we're hoping to have a concise way to express a `Signature` in scripts. For example, internally it looks like this:

https://github.com/nushell/nushell/blob/738541f7275fc82ab712343097a9d640e58e5740/crates/nu-cli/src/commands/du.rs#L39-L70

[2020-08-18 18:44] wdenton opened #2371 "Adding column headings when loading in data"
There seems to be no easy way to add column headings, for example when loading in data from a CSV file.  (This is the opposite of `headers`, which takes the headings from the first row.)

This works:

    open --raw file.csv | lines | split column "," "heading1" "heading2"

If there is an easier way, I didn't see it in the docs.  If there isn't, perhaps this could be added, so something like `open

[2020-08-18 19:30] LhKipp opened #2373 "Parser expects Tagged, eventhough Unit has to be parsed"
Current workaround at the end of this post
**Describe the bug**
A clear and concise description of what the bug is.
Parsing stage fails with error message: "Expected Tagged, found duration", when parsing SyntaxShape::Unit into Tagged<u64>.

/home/leonhard/programs/nushell(main)> sleep 1sec
error: Type Error
  ┌─ shell:1:7
  │
1 │ sleep 1sec
  │       ^^^^ Expected Tagged, found duration

**To Repr

[2020-08-18 19:35] jonathandturner commented on #2367
Fixed by https://github.com/nushell/nushell/pull/2372

[2020-08-18 19:35] #2367 closed

[2020-08-18 20:57] ryanpcmcquen commented on #1275
Doesn't seem that there is any way to change `completion_type` (formerly `completion_mode`) with `0.18.1`. No matter what I choose, I get `list` style completion.

[2020-08-18 21:30] thegedge commented on #2371
`split column <delim> [column names...]` is exactly the thing you're looking for 🙂

Another option, which may be a little clearer by technically more to write, would be:

[code]

In terms of seeking something "easier", do you mean you'd like to be able to not have to write `lines` also? If so, this is exactly what an alias should solve:

[code]

Then you could just write

[code]

Note, the `...` s

[2020-08-19 01:25] rrichardson opened #2375 "parse command - ignore whitespace - or some easy way to split words into columns"
I really like awk's "word" selection syntax:

[code]

It parses out words without me needing to worry about the whitespace between them

Most modern CLI tools are nice enough to pad and align all of the output, but when I parse them, I need a way to ignore  the additional whitespace.

The parse command is powerful, but right now it works too much like `scanf`  It treats the input tokens in the for

[2020-08-19 01:37] rrichardson commented on #2375
also.. it was pointed out that `from ssv` should work as well.... with some tweaks..

[code]

[2020-08-19 01:39] rrichardson commented on #2375
Side proposal:

Can we just change the name of the auto-generated columns to just their ordinal?  1, 2 3..
or if numbers won't work.. maybe just `C1`

The Prefix of Column seems a bit redundant.. since.. well.. it's a column in a table, so we know it's a column..

[2020-08-19 02:13] thegedge commented on #2375
Okay, there's a few things to dissect in here.

I think `split row` is the way to go if you just want to pull out a single thing:

[code]

or if numbers won't work.. maybe just C1

[code]

That's kind of like a "list", and those numbers aren't columns, but row indices. These are two different things, so there's room for confusion by just going for straight numbers.

Given that, if we were going to

[2020-08-19 04:14] ImGamez opened #2376 "Using '/' in relative paths is not valid"
When you try to open an executable in the current directory, if I type ./file.exe says that '.' isn't a valid command, needs to be .\file.exe to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to execute a file in the current directory using "./" to indicate the path.

**Expected behavior**
Both "./" and ".\" should be valid options to indicate that the file is in the current direc

[2020-08-19 12:45] fdncred commented on #2375
I added this in Discord. Is it what you're looking for?
[code]

[2020-08-19 12:50] fdncred commented on #2376
If `pwd` was always part of the path, I think it would fix part of this issue. Typically `\` is the path separator in Windows so `.\` should work on Windows and `/` is the separator on Linux & Mac so `./` should work there. I agree that we could probably make this more user friendly.

[2020-08-19 15:21] rrichardson commented on #2375
@thegedge - I definitely think option 3 looks good.

I think the magic of the `ws` command would be that it could also rename an arbitrary number of columns into their ordinals.
I am a bit skeptical of a configuration change that controls naming, because it could lead to a serious usability issue where people see examples and try to run them, but they don't work because the names are wrong.  IMO,

[2020-08-19 16:04] thegedge commented on #2375
With the ability to "splat" something over a "rest positional", which we'll need, this would be possible. `ws` could look a little like this:

[code]

Or if we implement data frames, it may be possible to directly get the count:

[code]

Just throwing ideas out there 🙂

[2020-08-20 17:44] LhKipp commented on #2373
Okay, I resolved this Issue partially. The above mentioned problem comes from not handling a Primitive::Duration in a match statement.

However, the sleep command doesn't work yet.
[code]
This problem arises from the additional_dur (type: Vec<Tagged<u64>>) of struct SleepArgs beeing processed as such:
[code]
The function: deserialize_seq in deserializer.rs doesn't handle such a case in the match s

[2020-08-20 17:46] LhKipp commented on #2337
See #2373 why SyntaxShape::Any has to be used right now and not SyntaxShape::Unit

[2020-08-20 17:50] jonathandturner commented on #2373
@LhKipp can you share the code for the SleepArgs and how you process the args? It seems something isn't quite lining up between the types, but it's a bit difficult to tell. From the logs it seems like it's related to the `rest` arg

[2020-08-20 17:50] jonathandturner commented on #2373
Oops, missed the link. Looking now :+1:

[2020-08-20 17:53] jonathandturner commented on #2373
@LhKipp your rest arg in the struct I believe needs to be called `rest` to line up with the rest argument. Once you rename it, it should start to work

[2020-08-20 19:20] 00krishna commented on #2272
@PranayAnchuri oh interesting. I use `zsh` too. I did not realize that the environment remains active inside of zsh, so that is nice to know. I have not had a chance to try out what @fdncred suggested, but I will give that a shot. I posted this to the `conda` team too and I think it got marked as a feature request. If I can get this working, as @fdncred suggested, then we can totally integrate thi

[2020-08-20 19:34] bambu opened #2380 "Chaining commands does not work with internal commands"
**Describe the bug**
New to nushell. Looking at the [coming from bash](https://www.nushell.sh/book/en/coming_from_bash.html) page it mentions that: `command1; command2` will "Run a command, and if it's successful run a second". This does not appear to work if the first command is a nushell command.

**To Reproduce**
[code]

**Expected behavior**
In all of the previous examples, the expected result

[2020-08-20 20:28] thegedge commented on #2380
So, this is expected behaviour. Basically, `pipeline1; pipeline2; ...; pipelineN` will execute pipelines 1 to N-1, but not show their outputs. You'll only see the output from the last pipeline. The internal `echo` command produces structured data into the pipeline, not print it to the screen.

So I see a few options:

1. We keep everything as is, clarify behaviour in the documentation.
1. We show

[2020-08-20 21:15] LhKipp commented on #2373
Thanks. That solves the problem.

[2020-08-20 21:16] #2373 closed

[2020-08-20 21:44] thegedge commented on #2380
@bambu I'd love to learn more about any confusion you experienced here. Were you expecting "echo" to immediately print to the screen? Or perhaps you understand what `echo` does in the nushell world, but expected both pipelines to show their results? Something else?

[2020-08-20 22:16] bambu commented on #2380
I was expecting both echo commands to output. When I tested it, I did something like `ps; ls` expecting to see both outputs.

I remember the pipeline chapter only mentioning `|` and not `;`. If this is expected behavior then I would suggest some further documentation explaining what other characters can be used in the pipeline and how.

So just to verify, when `cmd1; cmd2` are both internal it is

[2020-08-21 08:15] coolshaurya opened #2382 "Duplicate commands - `trim` and `str trim`"
**Describe the bug**
To trim strings both the `trim` and `str trim` commands can be used. I believe having 2 commands that do the same thing is not good and can be confusing to new users.

**To Reproduce**
Steps to reproduce the behavior:
N/A

**Expected behavior**
Only one command for trimming should be there, IMO.

**Configuration (please complete the following information):**
 - OS (e.g. Window

[2020-08-21 13:40] coolshaurya opened #2384 "touch should allow creating multiple files in a single command"
**Is your feature request related to a problem? Please describe.**
the `touch` command should be able to create multiple files in a single command. This matches

**Describe the solution you'd like**
`touch a b c d` to create 4 files instead of erroring.

**Describe alternatives you've considered**
none

**Additional context**
![image](https://user-images.githubusercontent.com/32027323/90896861-f5d

[2020-08-21 19:45] fdncred opened #2385 "Commit Hash in version"
**Describe the bug**
I thought we committed @coolshaurya 's `version` command that displayed the git hash? I can't make it work. All I ever get is this.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. build from main
2. run version from nu
3.

**Expected behavior**
Expect it to show a hash.

**Configuration (please complete the following information):**
 - OS (e.g. Windows): Windows V

[2020-08-22 00:08] #2384 closed, assigned to jzaefferer

[2020-08-22 03:22] #2385 closed, assigned to nobody

[2020-08-23 04:55] andrasio opened #2392 "Make it more clear commands that consume the stream."
Brainstorming with @jonathandturner .

At the moment, we've approached commands in a way that only perform the minimum amount of work to start streaming results. There are cases where a command needs to consume the stream (`group-by`, `str collect`, etc). There is no way to distinguish which commands consume all the stream, and which ones don't.

We could address this by naming commands and end th

[2020-08-23 09:23] jonathandturner opened #2393 "Completions of the first command can be a path"
**Is your feature request related to a problem? Please describe.**
It'd be nice if the new completions let you complete a path as the first argument. I remember using this at one point, though I'm not sure if it worked before or not.  Say I'm in directory:

[code]

should let me complete into `Source/nushell`

**Describe the solution you'd like**
See above. Not sure if there are alternatives, but

[2020-08-23 18:23] jonathandturner opened #2395 "Allow grouping and sliding windows for `each`"
**Is your feature request related to a problem? Please describe.**
Today's `each` is a handy tool for working on the stream one row at a time, even allowing you to number the rows as you go.

But what happens when you want to work with more than one row at a time?

**Describe the solution you'd like**
I propose we add a new subcommand to `each` called `group` that would let you work with groups of

[2020-08-23 19:45] ajeetdsouza commented on #2343
Also, @fdncred, did you have a chance to talk to the Nushell team about native zoxide integration?

[2020-08-23 20:17] micahsnyder opened #2397 "Email test file looks like phishing"
Minor complaint here. I was building nushell (`rust install nu`) and noticed that the `.eml` test sample is picked up as phishing/fraud.  I'm wondering if perhaps a different sample should be used.

https://www.virustotal.com/gui/file/3d8da836653a257dc1891fde0ce0fd007cda1b1cfdd9017477bdcf8151bea859/detection

The suspicious line, from ClamAV's perspective at least, is this link which claims to be

[2020-08-23 20:19] fdncred commented on #2343
@ajeetdsouza We did talk about it a little bit a couple Fridays ago but we made no decision.

[2020-08-23 20:34] micahsnyder commented on #2397
To follow up, I thought maybe removing the suspicious URL would disable the detection, but I guess ClamAV has 14 other signatures which also alert on this specific email. 😁

Replacing the file entirely with a benign email would probably be nice. Again -- super minor complaint.

[2020-08-23 20:45] ajeetdsouza commented on #2343
Fair enough. Do let me know if they decide on moving forward with it!

[2020-08-23 21:16] ritobanrc commented on #2395
I really like this idea, but `--overlap` feels clunky to me. If I want regular sliding windows (similar to `std::slice::windows` or `itertools::tuple_windows`), I need to manually subtract 1 from the amount I'm grouping by.

Maybe it makes sense to imitate the Rust standard library here and offer two different subcommands, `chunks` and `windows`. But this has the disadvantage of not being able to

[2020-08-23 22:32] jonathandturner commented on #2395
Agreed. Having two different subcommands also makes sense. I agree that having both flags feels a bit clunky. Taking @ritobanrc 's idea, how about this:

[code]
Would output every 3 rows as a group

[code]

By default would output 3 rows, slide over 1, output 3 and continue until finished.  We could add a `--skip` or maybe `--stride` to say how much to move the window each time.  I think maybe `gr

[2020-08-24 01:14] ritobanrc commented on #2395
Yeah, I agree. `group` is clearer than `chunk`, and I think `--stride` makes sense for windows. I'd like to try my hand at implemented this, if you don't mind.

[2020-08-24 01:40] jonathandturner commented on #2395
@ritobanrc - please do! I'll assign it to you

[2020-08-24 06:57] reillysiemens opened #2398 "Nushell crashes when using date with an invalid strftime string"
**Describe the bug**
Using the [`date` built-in](https://www.nushell.sh/commands/date.html) with an invalid [`strftime(3)`](https://linux.die.net/man/3/strftime) time causes Nushell to crash.

I mistakenly used the `date` with `%N` which formats nanosecond time in [`date(1)`](https://linux.die.net/man/1/date). I now see, however, that the docs say
[code]
, which I assume references [`strftime(3)`]

[2020-08-24 13:38] thegedge commented on #2393
Yeah, I think I missed this one when attempting to move everything over. This one's a little interesting, because you don't want to show paths all the time, only when you can guarantee that it's a path in the command position (or perhaps when the default completion set is empty?).

[2020-08-24 14:27] thegedge commented on #2392
I think this is part of learning the toolbox, but agree with @fdncred's points, in particular:

1. `!` feels like some kind of negation, and
2. some real examples would be helpful to show pipelines where this "consumes entire stream" can be confusing.

I'm also not for `x <- z` right now, until we figure out variables. That could easily be variable assignment 🙂

[2020-08-24 14:59] thegedge commented on #2397
Thanks for the report! There's definitely no need for us to link out to a potential phishing link. For whoever picks up this issue, I would just either

1. replace that link with something less sketchy, or
2. manually edit the entire body to just be a little bit of plaintext (for a test fixture, we just need the basics).

[2020-08-24 16:31] smaydew commented on #2052
@thegedge @jonathandturner I have some questions about implementation of the `random integer` sub-command. I'm trying to get connected to #developing on Discord, but can't find that group, or usernames. I've setup Discord and my tag is smaydew#6993

Is that the best place to discuss and get help, or is working here in the issue itself better?

[2020-08-24 18:31] jonathandturner commented on #2052
@smaydew those sound like a good starting set.

You could also allow people to pass in a range:

[code]

[2020-08-24 18:43] smaydew commented on #2052
Yep, that is on the list too.

[2020-08-24 19:02] vlmutolo opened #2400 "Crash on `inf` value in CSV"
**Describe the bug**
When the value `inf` is found in a CSV file, the BigDecimal `From<f64>` implementation crashes. I haven't finished investigating, but it seems like that crate assumes all `f64`s can be turned into a BigDecimal. Not sure they accounted for `inf` values. I was going to open a PR when I found the issue, but now I''m not sure if this is better solved in the BigDecimal crate or in

[2020-08-24 19:13] thegedge commented on #2400
Probably the same as https://github.com/nushell/nushell/issues/2349

`BigDecimal` can't represent infinity 😞

[2020-08-24 19:50] vlmutolo commented on #2400
Yeah, I also found that bug. Figured it was different enough (float vs int) to warrant another issue.

Good news is that there's a [PR in the `bigdecimal`](https://github.com/akubera/bigdecimal-rs/pull/65) crate to at least fix the `nan` and `inf` issue. Bad news is that it doesn't look like there's been any activity since late May.

[2020-08-24 23:04] andrasio commented on #2392
@thegedge Think of it like it Ruby when you do `collection.map vs collection.map!`

[2020-08-24 23:07] chenxiaolong opened #2401 "nushell sometimes crashes with InvalidInput under Windows Terminal (1.1.2233.0)"
**Describe the bug**

In Windows Terminal, once the scrollbar appears, some nushell commands cause nushell to crash. The error is always:
[code]

**To Reproduce**

1. Press enter enough times to make the scrollbar in Windows Terminal appear
2. Run `help`

**Expected behavior**

The help output should be printed and then the prompt should show up again.

**Configuration (please complete the followi

[2020-08-24 23:12] chenxiaolong commented on #2401
It seems the same happens with `sys | get host.sessions` as well. I can file that in a separate bug report if needed.
[code]

[2020-08-24 23:16] michaelkarlcoleman opened #2402 "Suggest install via 'anaconda' and/or 'spack'"
The current install methods don't look easy in an HPC environment.  (And Rust fills me with minor dread.)

Your shell looks interesting, though.  To widen your availability, perhaps an install via Anaconda or Spack would be useful.  Probably not hard to add.  Cheers!

[2020-08-24 23:18] chenxiaolong commented on #2401
It seems that this might only be happening when nushell is running under Windows Terminal (1.1.2233.0). Not sure why. When running under conhost.exe or Alacritty, I don't encounter this problem.

[2020-08-24 23:18] jonathandturner commented on #2402
Thanks for the suggestion! Are the pre-built binaries also difficult in HPC? https://github.com/nushell/nushell/releases/tag/0.18.1

(it's been a long while since I did much HPC)

[2020-08-24 23:32] michaelkarlcoleman commented on #2402
Sort of.  Didn't immediately spot those, and something like 'homebrew' doesn't seem like a good idea.  HPC is indeed a different world.

Our biggest problem is that we're locked to a distro version and cannot feasibly update for a long time.

Looking at the pre-compiled binaries with 'ldd', I get this:
[code]

Okay, stop laughing.  Anyway, when you're famous, we'll probably figure it out.  But rig

[2020-08-24 23:35] fdncred commented on #2038
Happens in mac too with 0.18.2

[2020-08-24 23:46] nu8 opened #2403 "Disable hints"
If I enter this command:

[code]

then press the letter `e`, the previous command is filled in. I dont want that.
is it possible to disable?

https://www.nushell.sh/book/en/configuration.html

[2020-08-24 23:48] jonathandturner commented on #2403
I was looking through the more recent settings, but I don't see it: https://github.com/nushell/nushell/pull/2238

I think what you're seeing is called 'hinting' in the line editor we use. In theory, there would be a way in the configuration to turn that off but looks like we don't yet support configuring it.

That's good feedback.

[2020-08-24 23:50] nu8 commented on #2403
Man, thats too bad. I am currently using PowerShell, and I would like to switch to NuShell as the Unicode support is way better. But that hinting is super annoying and dealbreaker for me. Hopefully in the future it will be configurable.

Thanks for fast comment.

[2020-08-25 00:21] chenxiaolong commented on #2401
This is what is logged when I set `RUST_LOG=trace`:
[code]
The error is being printed out here: https://github.com/nushell/nushell/blob/f078aacc25dfb9741f0c747f5e3a040cf58373cf/crates/nu-cli/src/cli.rs#L1186

I tried building with nightly and checking `.backtrace()` on that error object, but there's no backtrace attached.

[2020-08-25 00:40] thegedge commented on #2400
I also created https://github.com/akubera/bigdecimal-rs/issues/67, but if a PR has been sitting around this long, it may not end up getting addressed. If there's no movement, I think there are some other options:

1. find other crates that can represent infinity,
2. build checks to verify these special conditions, or
3. wrap these types ourselves and add the behaviour we need.

[2020-08-25 00:49] thegedge commented on #2038
Doesn't happen for me.

I have basically no configuration. @fdncred I know you have a custom prompt set up. What happens if you remove the prompt configuration?

[2020-08-25 00:53] thegedge commented on #2403
For anyone who's interesting in adding this configuration, we just need to make https://github.com/thegedge/nushell/blob/b72b66873100f65f93dad5201a2713e5be9a7575/crates/nu-cli/src/shell/helper.rs#L13-L18 support an optional hinter.

We could check configuration in `cli.rs`, and if disabled, supply `None` for the hinter.

[2020-08-25 07:35] amitdev commented on #2403
I was trying out nushell today and faced the same issue. Raised a PR based on the above comment by @thegedge : https://github.com/nushell/nushell/pull/2405. Let me know how it looks.

[2020-08-25 12:25] vkobel opened #2408 "How to apply an external transformation/command to a column?"
Hello, first, thanks a lot for this great project!

I'm struggling to apply a simple transformation to a column (e.g. convert a decimal number to hexadecimal, or really running any external tool/command using the value from an existing cell as input), I tried with `update`:

``... | update my_col $(printf %x `{{my_col}}`)``

I also tried a lot of variations of the above but to no avail...
Am I mis

[2020-08-25 14:25] fdncred commented on #2038
Makes no difference. With prompt commented out or not. I've tested in Linux/Mac/Windows in these environments.
Linux = Windows Terminal WSL2
Mac = iterm2
Windows = Windows Terminal
Windows = cmd.exe
I start nushell, once it starts and is waiting for me, I hit ctrl-c and it pukes.
[code]

[2020-08-25 14:40] amoldeshpande opened #2409 "cd driveletter: should just work"
**Describe the bug**
Currently I'm forced to specify a full path when switching between drives.  This is contrary to expected behavior on Windows.
**To Reproduce**
Steps to reproduce the behavior:
1. cd c:\
2. cd windows
3. cd d:\
4. cd c:

does nothing (it should at least print some message if it's not going to do anything)

**Expected behavior**
expect 4 to switch back to c:\windows

**Configura

[2020-08-25 14:43] amoldeshpande opened #2410 "Spelling correction"
**Is your feature request related to a problem? Please describe.**
One of my favorite features in tcsh (and I believe zsh) is spelling correction.  If you mistype a command, the shell will offer to correct it for you.
This is one of the main reasons I've never switched to another shell for interactive use.

**Describe the solution you'd like**
nush should support spelling correction

[2020-08-25 16:17] LhKipp opened #2411 "Configurable behavior on expression (not command) input | Unnamed alias"
Currently:
[code]
Would cd into the directory /etc
I want this behavior configurable. I would rather like the shell to ls /etc here.

As nushell is Syntax aware a mapping from
SyntaxShape1 -> alias
is possible as soon as aliases have signatures with meaning.

**Describe the solution you'd like**
[code]
nushell will now automatically deduct the type of path, check if one such mapping for this synta

[2020-08-25 17:36] thegedge commented on #2408
You can use a block whose output will become the replacement value

[code]

I couldn't get this to work with `printf` though:

[code]

So I think we're not running that block in an expected way 🤔

[2020-08-25 18:28] fdncred opened #2412 "Crash when parsing file"
**Describe the bug**
Run this command on this file and watch it crash.
`open dockps.txt | lines | split column " " --collapse-empty | headers`

**Expected behavior**
Not to crash

**Screenshots**
![image](https://user-images.githubusercontent.com/343840/91212453-d8ec2a80-e6d5-11ea-80b9-238ffe7d0425.png)

**Configuration (please complete the following information):**
 - OS (e.g. Windows): Version 1

[2020-08-25 18:35] jzaefferer opened #2414 "Improve error message for coercion errors"
**Is your feature request related to a problem? Please describe.**

From the one-year-of-nushell blog post:
[code]

**Describe the solution you'd like**
As the note in the blog post says: "note: we’ll be making this error better in the future" - a better error message makes sense!

Maybe something like "math error: trying to add incompatible types, duration and filesize"

I couldn't find an existi

[2020-08-25 18:37] fdncred opened #2415 "Inconsistent string/filepath handling"
**Describe the bug**
@rrichardson discovered this issue and we tried to fix it in discord.

Trying to cd to a path from which.

Doesn't work
1. `which nu | get path | dirname $it | cd $it`
2. `which nu | get path | cd $(dirname $it)`
3. `which nu | get path | cd $(dirname $it | trim)`

Does work
1. `which nu | get path | dirname $it | trim | cd $it`

We were originally theorizing the `cd` needed a

[2020-08-25 18:55] vkobel commented on #2408
Indeed, the same error I got.
Static parameters to printf work fine though: `... | update blocknb $(printf %x 15)`, it outputs `f` as expected. Maybe there's an interpolation or order of interpretation issue?

[2020-08-25 19:10] fdncred opened #2416 "alias inference bug?"
**Describe the bug**
Trying to create this alias and nu is not allowing it.
`alias is_empty [a] {if $(echo $a | empty?) == $true { echo $true } { echo $false }}`
[code]
I tried these alternatives
[code]

**Expected behavior**
evaluate to $true or $false

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/343840/91217087-9

[2020-08-25 21:40] ajeetdsouza opened #2419 "Aliases created via `config set startup` and `alias --save` are not deduplicated"
**Describe the bug**

If I create an alias `x` using `config set startup`, and then create another one using `alias x --save`, it does not overwrite the previous alias.

**To Reproduce**
Steps to reproduce the behavior:
1. `config set startup ["alias x [msg] { echo $msg }"]`
2. `alias x --save [msg] { echo $msg }`
3. `config get startup`

**Expected behavior**
`config get startup` should only outp

[2020-08-25 23:36] thegedge commented on #2410
How does the feature work? Does it correct it automatically while you type? Does it suggest the correct spelling after you enter the incorrect command? Do you press the TAB key and it'll fix it for you?

I use zsh and don't have this feature, so I'm unfamiliar. Perhaps I don't have it enabled though 🙂

[2020-08-25 23:42] thegedge commented on #2415
`dirname` is an external for me, and appears to behave in a weird fashion:

[code]

So it looks like we're not properly capturing the output when an external is at the end of a block? 🤔

[2020-08-26 00:23] amoldeshpande commented on #2410
it corrects after you hit return.   from some cursory googling,  this might show you how to enable it in zsh https://linux.die.net/man/1/zshoptions

Even in tcsh it can be a bit aggressive, but I like it nonetheless. zsh seems to have more granular control with a "nocorrect" prefix for commands that it habitually trips up on.

tcsh man page here https://linux.die.net/man/1/tcsh  (if you search for

[2020-08-26 02:22] thegedge commented on #2410
Thanks for clarifying, @amoldeshpande. There's a potential for some synergy between such a feature and completions, but a first attempt at this could focus on correcting the entire line.

[2020-08-26 02:24] nu8 opened #2420 "Tab complete current directory"
If I have a file on my `PATH`, for example `sunday.php`, I can type `su` then
press `tab` to have the rest filled in.

If I have the same file in the current directory, I can run it with
`./sunday.php` (or `.\sunday.php` on Windows).

However I noticed that with Nushell, if I enter `./su` or `.\su` and press
`tab`, nothing happens. This differs from other shells like Bash or PowerShell,
which will

[2020-08-26 02:26] nu8 commented on #1630
Closing this as I now use a Windows that has proper color support, and I expect those who dont are in the shrinking minority

[2020-08-26 02:36] thegedge commented on #1630
@nu8 if you don't mind, I'd love to keep this open.

Even if a terminal supports colour, there are scenarios where you may want to force no colour. For example:

[code]

[2020-08-26 02:38] thegedge commented on #2420
Duplicate of https://github.com/nushell/nushell/issues/2393

I think this worked before I made my changes to the completion engine. Definitely something I'd like to get fixed before our next release.

[2020-08-26 02:38] #2420 closed

[2020-08-26 02:43] thegedge commented on #2408
Oh, that's really interesting, and will really help exploring this bug.

I think we're doing something wrong when attempting to run an external command in a block. For example, this works:

[code]

but this doesn't (although the `f` does get echoed to stdout):

[code]

Those are all pretty verbose too, so there are improvements we could make there, but for this issue we'll focus on an external at

[2020-08-26 02:53] thegedge commented on #2411
There are two other possibilities:

1. `config set` where we have a config value with a block that runs on this behaviour, or
2. have nushell emit events that people can write scripts to hook into. Some examples of events:
    - before command execute
    - after parse
    - render prompt
    - non-executable path as command
    - exit/enter directory

We've definitely been thinking about hooks (o

[2020-08-26 02:59] nu8 commented on #2393
https://github.com/nushell/nushell/issues/2420

[2020-08-26 03:01] nu8 commented on #1630
No worries, if others feels its worth looking at, then I wont object

[2020-08-26 04:46] nu8 opened #2421 "Key binding: Insert and AcceptLine"
I would like to make a key binding, that move to the parent directory. I came
up with this:

[code]

but it requires the Enter key. Then I tried this:

[code]

but it just adds a literal Newline, then still wants and Enter key. Then I found
this:

[code]

but doesnt seem like both can be combined. I am currently using this with
PowerShell:

[code]

I what I am wanting possible with Nushell?

[2020-08-26 05:22] nu8 opened #2422 "Line continuation"
Other shells have a line continuation character. For example backslash (`\`)
with Bash and backtick (<code>`</code>) with PowerShell. Bash example:

[code]

In addition, lines can be continued in some cases even without a continuation
character. Bash example:

[code]

Nushell currently seems to not support either of these methods.

[2020-08-26 08:03] LhKipp commented on #2411
I agree. `config set` is the way to go.
I personally think when typing `$ path-to-cd-to` as a command (without name) to execute with `path-to-cd-to` as argument 1. Therefore I don't like alternative 2 that much, as it sounds more complicated.
I would like to reiterate, that I want a configuration option not only for the above mentioned use case, but a general one.
For every SyntaxShape nushell can

[2020-08-26 08:04] vkobel commented on #2408
Maybe this helps:

I was able to convert each cell (but there's only a single column...) like this:
[code]

But still no luck with `update` to make it work with a table:
[code]

[2020-08-26 15:30] fdncred opened #2426 "completion hangs sometimes"
**Describe the bug**
I've noticed, by accident, that if I'm in Ubuntu 20.04/WSL2 and I do the steps below, nu hangs for 20-40 seconds.

**To Reproduce**
Steps to reproduce the behavior:
1. Be in Linux or WLS2
2. from any nu prompt type `..\in<tab>`
3. you should now be hung up
4. neither ctrl+\ nor ctrl+c do anything until the 20-40 seconds elapses

**Expected behavior**
since there is no file nam

[2020-08-26 15:48] bailey-layzer commented on #2419
(2) ends up with an extra space between `x` and `[msg]` when it's saved.

[2020-08-26 16:16] andrasio commented on #2415
Possibly related to a recent fix I did with `$()` invocation, maybe. See: #2423

[2020-08-26 17:30] jakobhellermann opened #2427 "add suggestions for common commands, i.e. "It looks like you are using head, try first instead""
When starting to use `nushell`, you have to study `help commands` for a while to even know how to start using it.
Like the rust compiler, which recognizes common mistakes, nushell could see that you use commands like `tail`, `xargs` etc. and suggest a better replacement.

Of course this does not apply to usages like
[code]
but only to
[code]
since you may *want* to use the regular command.

I thin

[2020-08-26 18:49] fdncred commented on #2415
Related, I also just added a PR so that `dirname` and `filestem` are no longer external

[2020-08-27 07:03] VincentWo opened #2432 "cd . changes path"
**Describe the bug**
With the default prompt the command `cd .` changes the path (appends a '.'), this stacks and doesn't go away when changing paths.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to random directory
2. Type `cd .` once or more
3.  Observe the prompt changing

**Expected behavior**
The prompt shouldn't change when one does `cd .`

**Configuration (please complete the fol

[2020-08-27 07:05] VincentWo commented on #2432
I would also be open to try to fix this issue myself, if somebody could give me a general direction where the error could have originated (and if you think this is easy enough for a novice rusteacan.

[2020-08-27 14:00] dmeijboom opened #2436 "`open --raw` truncates files while `open` without `--raw` doesn't"
**Describe the bug**
While working with some data I encountered several small bugs. I was doing some magic on SQL files using something similar then this: `ls **/*.sql | insert migration_data { open --raw $it.name } | ^echo $it.migration_data > $it.name` (but more complicated). This works but when using `open --raw` it truncated 7 out of the 140 files. When omitting `--raw` it worked without any i

[2020-08-27 14:16] dmeijboom commented on #2436
I was able to reproduce this so updated the `To Reproduce` step.

[2020-08-27 15:30] dmeijboom commented on #2432
@VincentWo I believe you can add this behaviour in `crates/nu-cli/src/shell/help_shell.rs:175` and `crates/nu-cli/src/shell/value_shell.rs:146` because it seems like that's where the actual code for the `cd` builtin is being executed. I'm also quite new to this codebase but it might be an option to move some of the behaviour (how to deal with `.` and `..` for example) outside of those files as it

[2020-08-27 15:59] dmeijboom commented on #2412
I think I can make a PR to fix this. Seems like this command returns three rows with different headers but the `headers` command tries to get the headers from the first row. So if the second row has more columns than the amount of headers in the first row this fails.

It shouldn't panic but @fdncred I think you're looking for the `docker ps | from tsv` command, right?

[2020-08-27 16:29] fdncred commented on #2412
`from tsv` would've been another good way to try. The person who asked about this ended up using the json output of docker ps which seemed to work perfectly.

agreed. it shouldn't panic.

[2020-08-27 19:31] AndrewMorsillo opened #2438 "Add full program invocation to ps ("CommandLine" data on windows)"
**Is your feature request related to a problem? Please describe.**
ps doesn't give enough information on Windows to find the processes you want. For example this powershell snippet to kill all gradle processes isn't possible with nushell `ps`

`WMIC PROCESS where "Name like 'java%' AND CommandLine like '%GradleDaemon%'" Call Terminate`

This can't be done with nushell because `ps` doesn't provide

[2020-08-27 19:42] jonathandturner commented on #2438
For folks who want to help with this one, it looks like this is available via `heim` with this method: https://docs.rs/heim/0.0.10/heim/process/struct.Process.html#method.command

We should probably fold this into `--all`  or via another flag, rather than being in the default `ps` output.

[2020-08-27 20:26] ryanpcmcquen commented on #1275
@fdncred, any ideas on why it isn't working with the Homebrew 0.18.1 release?

[2020-08-27 21:21] ajeetdsouza commented on #2419
@bailey-layzer true, but shouldn't Nushell attempt to deduplicate aliases regardless of spacing?

[2020-08-27 21:26] fdncred opened #2439 "Span not reported properly"
**Describe the bug**
This command in step 1 or 2 below produces the output in the screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. ` ping -c 2 93.184.216.34 | rg -o --regexp '(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})' | lines | first | insert ip_addr $(= $it)`
2. `ping -c 2 93.184.216.34 | rg -o --regexp '(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})' | lines | first | insert ip_add

[2020-08-27 21:46] Lucretiel opened #2440 "nushell crashed in Windows Terminal when running the `help` command"
**Describe the bug**
When running the `help` command in nushell, I see the following output, followed by a crash:

[code]

This error seems to only occur in [Windows Terminal](https://github.com/microsoft/terminal), not in the older `powershell.exe` or `cmd.exe`. Additionally, this error only seems to occur with `help`, with no arguments; there is no such issue when running `ls`, `ps`, or `help co

[2020-08-27 21:56] Lucretiel commented on #2440
Update: This problem also appears in Alacritty 0.5.0

[2020-08-27 22:22] thegedge commented on #1275
I think it may be because we moved all of the things related to line editing to a `line_editor` section in the config (we eventually need to get better at config/data migration...). I don't know of a way of setting this without building up the table in a pipeline and `save $(config path)` or manually editing the config file.

Note, though, that we've moved to having completions handled entirely by

[2020-08-28 02:06] thegedge commented on #2419
My two preferred options here:

1. Wait until we have profile scripts, at which point we can eliminate aliases that are saved in config and ask users to put their aliases in the profile script.
2. Switch to a "table"-like configuration for saved aliases, so saving naturally overwrites (like reassigning to an existing key in a hash table would overwrite the previous value). We'd key on the name of

[2020-08-28 05:11] jonathandturner commented on #2440
We've seen issues like this as part of `rustyline`, the crate we use to do the line editing. Here's one example: https://github.com/kkawakam/rustyline/issues/359

I've filed https://github.com/kkawakam/rustyline/issues/433 as an upstream issue for this one. Hopefully they'll be able to fix it.

[2020-08-28 13:18] fdncred commented on #2415
These works now with the built in `dirname`:
1. `echo $(which nu | get path | path dirname)`
2. `which nu | get path | path dirname | cd $it`
3. `which nu | get path | path dirname | trim | cd $it`

These do not work, although that may be because nu is being misused.
1.
[code]
2.
[code]
3.
[code]

[2020-08-28 13:44] fdncred commented on #1275
@ryanpcmcquen Agree with @thegedge about the `[line_editor]` section. I've recently been experimenting with `zoxide` and `fzf` and it's currently working in nushell, at least on Windows. There may be some bug with `nushell` on `linux/mac` but I haven't got that far in my testing yet.

You can follow along here https://github.com/ajeetdsouza/zoxide/issues/69, if you're interested.

[2020-08-28 14:50] RoastVeg opened #2442 "Crash when creating a numeric range inside another array"
**Describe the bug**
I accidentally attempted to use `echo [x..y]` syntax to create a range of numbers, instead of the expected `echo x..y`.

**To Reproduce**
Steps to reproduce the behavior:
`echo [1..3]`

**Expected behavior**
Returning a single nested table of three rows, as per `[[1 2 3]]` for the example above.

**Configuration (please complete the following information):**
 - OS: Arch Linux

[2020-08-28 18:32] #2412 closed

[2020-08-28 18:38] #2370 closed

[2020-08-28 19:24] jonathandturner commented on #2440
@Lucretiel would you be able to build a debug-version of Nu? If we could see the backtrace when it crashes, we can hand that to the folks working on the `rustyline` crate so they can track down what's happening.

[2020-08-28 20:49] Lucretiel commented on #2440
Sure thing

[2020-08-28 21:54] Lucretiel commented on #2440
This isn't a "crash" in the traditional sense (uncaught panic), so I'm not getting a backtrace. It appears to be a normal debug print of some kind of error condition.

[2020-08-28 23:35] jonathandturner commented on #2440
Interesting. If you change the `?` in that `fn main()` to be `.unwrap()` we might be able to get a full panic and the full backtrace.

Hadn't even thought we might be hiding our backtraces like that before

[2020-08-29 00:00] Lucretiel commented on #2440
Unfortunately, despite replacing every `?` with `.unwrap()` in both `src/main.rs` *and* `nu-cli/src/lib.rs` *and* replacing all the `std::process::exit` calls with `panic!`, I'm still not able to get a backtrace. I can only assume that something deeper in the call tree is calling `process::exit`.

[2020-08-29 01:37] JosephTLyons commented on #2403
Closed via https://github.com/nushell/nushell/issues/2403

[2020-08-29 01:37] #2403 closed

[2020-08-29 05:03] nu8 commented on #2403
@JosephTLyons the issue closed itself?

[2020-08-29 05:07] JosephTLyons commented on #2403
Oops, fixed.

[2020-08-29 10:31] castarco commented on #2351
Thx for the explanation 👍🏻

[2020-08-29 10:33] castarco commented on #2351
Regarding the typed streams, I had this crazy idea of defining "type signatures" for cli applications, and storing them in some "standardized" directory (let's say `/etc/cli_stream_types/` just as an example), so it would be possible to statically validate some shell scripts using those available type definitions (similar to how Typescript interfaces with Javascript code).

[2020-08-29 16:57] #2397 closed

[2020-08-29 16:59] thegedge commented on #2351
Well, @castarco, this isn't crazy at all. This is actually where nushell is headed. A nushell command is built around a [signature](https://github.com/thegedge/nushell/blob/79ce2658b3a145cf15a038f073c7c39ad2c3a666/crates/nu-protocol/src/signature.rs#L97-L119), which can define the:

- flags the command receives, and the type of values (if it's a flag that receives a value),
- positional arguments

[2020-08-29 17:24] thegedge commented on #2421
Not at the moment. Since we use rustyline, it comes down to what it allows us to do, and looks like there's a request for this kind of a feature: https://github.com/kkawakam/rustyline/issues/306

[2020-08-29 17:35] thegedge commented on #2408
The @nushell/core-team discussed the invocation syntax not having clear/intuitive semantics in terms of what kind of data it receives. I think the above serves as good examples where it's hard to know what to do.

That being said,

[code]

Works on my machine when running from the `main` branch, so perhaps we've unexpectedly fixed it? 🤔

This also works, and would probably be the better option, si

[2020-08-29 17:40] thegedge commented on #2409
We _should_ be tracking the previous working directory on a drive, so this seems like a bug.

FYI nushell tracks its own working directory, so we don't get to take advantage of this behaviour. This helps us ensure behaviour is as consistent as possible across platforms 🙂

[2020-08-29 17:50] thegedge commented on #2427
Love the idea of improving the onboarding experience. I think it could potentially be quite difficult to implement, but maybe someone has some good ideas.

[2020-08-29 17:58] thegedge commented on #2135
☝️ Removed the "completions" label, which I've been using to mean "completion suggestions". This is what we call "hinting", where we hint to what the user wants the line to be, based on historical lines. A little pedantic, but this helps me focus my work around completions 🙂

[2020-08-29 17:59] thegedge commented on #2098
Duplicate of https://github.com/nushell/nushell/issues/2135

@ProgrammingLife I'm pretty sure I got that right ☝️ Let me know if your request is different.

[2020-08-29 17:59] #2098 closed

[2020-08-29 18:00] thegedge commented on #2098
Also something to note: we'll likely keep `<Tab>` the default key binding for completions, but key bindings are intended to be configurable, so you could always change this 🙂

[2020-08-29 18:02] thegedge commented on #2135
I think this is missing functionality in rustyline. If we take a look at https://docs.rs/rustyline/6.2.0/rustyline/enum.Cmd.html, the only option we have is `CompleteHint`. In other words, we can complete the entirety of the hint, but not partially. We'll either need rustyline to add:

1. partial hint completion, or
2. custom commands for key bindings.

[2020-08-29 18:20] thegedge commented on #2411
Thanks for expanding. That helps clarify your request.

I think that this is a fairly significant feature that would be good to explore in an RFC. I'd love to see us get rid of our hardcoded behaviour for "auto cd when directory" 🙂

[2020-08-29 18:47] jonathandturner commented on #2440
Not sure what to try next in Nu to see if we can find it.

One alternative thing to try is to build: https://github.com/kkawakam/rustyline and run examples/example and see if you see the same thing. It may take printing out a long bit of text like the help text, which would mean changing the example a bit.

That's really the only thing that comes to mind.

[2020-08-29 18:50] Lucretiel commented on #2440
How confident are we that rustyline is the underlying cause? I'm happy to dig into the nu codebase some more to see if I can find where it calls out to rustyline and see if that's where it's happening.

[2020-08-29 19:10] jonathandturner commented on #2440
I'd say fairly confident. While it's possible it's something else, we've seen this error come from rustyline a number of times in the past.

[2020-08-29 19:21] amoldeshpande commented on #2409
well, keeping track of the current working directory is one thing, but keeping track of working directories on other drives seems like a uniquely Windows issue.

 My fear with the shell doing its own tracking is that there will be subtle behavior differences.  However, I will leave that to your judgement.

thanks!

[2020-08-29 19:38] dmeijboom commented on #2442
I quickly looked at the codebase to see what's going on. It seems like this is simply not implemented yet (or so it seems). What I don't get though is why `[1..3]` is evaluated different then `1..3`. Because in the first scenario it panics in `shape.rs` but in the second scenario it simply works. If someone could shed a light on why this isn't recursively evaluated I could go for a PR but for now

[2020-08-29 19:41] dmeijboom commented on #2432
@VincentWo Please let me know if you have sufficient information to go for a PR. If not I can make a PR to fix this.

[2020-08-29 20:06] dmeijboom commented on #2398
This happens because in `date_to_value` (where the actual formatting stuff happens) we use the `format!` macro which can panic if the formatter returns an error. I'll make a PR to gracefully handle this and return an error instead. Thanks!

[2020-08-29 20:52] andrasio commented on #2408
Indeed. We need to look at externals too.

[code]

^ replacing the `echo` in the invocation with `printf` should work but it's not. For above example it works as expected since the arguments: `%x` and `$(= $it.n | str from)` will update the field with them as a table.

[2020-08-29 21:58] dmeijboom commented on #2438
@jonathandturner Looks like this is already implemented when using the `--long` flag. Currently it doesn't work on Windows though because of: `#[cfg(not(windows))]`. This was added in march because it crashed on Windows (see: commit 53c8185af386de682eccd9b7729a0b2327ed6421).

I quickly checked `heim` and it looks like it's still not implemented on Windows :/ (see: https://github.com/heim-rs/heim/b

[2020-08-29 22:22] thegedge commented on #2426
Okay, I can't reproduce this in an Ubuntu docker container. I'm not sure how to approach this right now. I'll try to get a Windows VM up and running with everything sometime soon, but I may not be able to get to this before the next release.

@fdncred does this happen only in WSL2, or do you see something similar happen in Windows too?

[2020-08-29 23:17] gillespiecd opened #2451 "Consider truncating long decimal numbers"
**Is your feature request related to a problem? Please describe.**

This came up in a PR review (https://github.com/nushell/nushell/pull/2447#issuecomment-683346088), I noticed that the `stddev` command can output a very long decimal number.

[code]

To compare, this is what happens in Python
[code]

**Describe the solution you'd like**
@thegedge had a good suggestion in the PR comment, there can

[2020-08-29 23:25] fdncred commented on #2451
What about this? `echo [1 4 6 10 50] | math stddev | str from -d 2`?

[2020-08-30 03:31] #2393 closed

[2020-08-30 04:43] Lucretiel commented on #2440
Alright, I'll keep looking. I'm fairly sure this is being caused by a process::exit somewhere, so it might be worth trying to replace those paths with errors + returns so that the control flow is less surprising

[2020-08-30 06:24] jonathandturner commented on #2442
@dmeijboom - missed that you were going to fix the crash and ended up putting the fix in https://github.com/nushell/nushell/pull/2455.

There's a question here of what would be expected. Would it make sense that `[1..3]` works the same as `1..3`?

@dmeijboom there are some other outstanding issues with ranges. If you're interested in working on them, I'd be happy to show you

[2020-08-30 07:03] #2442 closed

[2020-08-30 08:22] dmeijboom commented on #2442
That's okay! Didn't do any work yet :)

That would be great :+1: I can work on that.

[2020-08-30 17:24] #2432 closed

[2020-08-30 18:12] jonathandturner opened #2459 "No way of inclusive..exclusive ranges"
**Is your feature request related to a problem? Please describe.**
Current ranges, like `1..3` are inclusive on both ends, so what you get out would be 1, 2, 3.

It'd be nice to have a way of saying the right hand side was exclusive.

**Describe the solution you'd like**
We can start out with an addition to the current syntax. Here's the first one that came to mind:

* `1..3` - 1, 2, 3
* `1..<3` -

[2020-08-30 18:13] jonathandturner commented on #2442
@dmeijboom - here's one that came to mind: https://github.com/nushell/nushell/issues/2459

We also don't have a way of range over variables, which would be great.

[2020-08-30 18:21] fdncred commented on #2426
in wsl2 with this version, i can't reproduce it any longer. may be another accidental fix?
[code]

i haven't seen it hang in windows yet.

[2020-08-30 18:32] thegedge commented on #2451
@fdncred I think that would work in one-off cases, but wondering if we want the display precision to be configurable, at least in `autoview`? I'm thinking displaying more than half a dozen digits probably isn't valuable.

[2020-08-30 18:37] thegedge commented on #2426
ᕕ( ᐛ )ᕗ

Odd. I'll close, but reopen if you observe it again.

[2020-08-30 18:37] #2426 closed

[2020-08-30 18:37] fdncred commented on #2451
@thegedge if you're suggesting a config point called precision that works everywhere, I'd support that.

[2020-08-30 19:05] jonathandturner opened #2460 "`ls` still isn't as forgiving as it should be"
**Describe the bug**
A top-level `ls` will error out before printing all the rows.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `ls` at C:\ in Windows

**Expected behavior**
Just remove the ones I can't see, or limit the amount of information you show.

**Configuration (please complete the following information):**
 - OS (e.g. Windows): Windows
 - Nu version (you can use the `vers

[2020-08-30 19:39] xSke opened #2461 "Using Ctrl-C to cancel program ends Nushell process"
**Describe the bug**
When running a long-lived process in Nushell and hitting Ctrl-C in the terminal, the entire Nushell process will end instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a program that runs for a long time (meaning long enough to get a keypress in before it terminates naturally, so... a lot)
2. Hit Ctrl-C to stop that program

**Expected behavior**
I expected the

[2020-08-30 19:39] xSke commented on #2461
(whoops, submitted too early, will edit)

[2020-08-30 20:35] thegedge commented on #2451
Just to clarify, I was thinking "everywhere" as in everywhere we _display_ a decimal. Everywhere else we should maintain full precision so that results are correct.

But yep, that's what I'm suggesting! 🙂

My preference would be to show the elided form by default, because it displays nicely and is honest about there being more digits. We could also have a min/max precision for elision, which would

[2020-08-30 20:39] thegedge commented on #2459
Ruby uses `...` for inclusive on the right, `..` for exclusive on the right.

I'm sure it would be really difficult for us to get the parser to do this, but the mathematical notation would be square brackets for inclusive ("closed") ranges and open brackets for exclusive ("open") ranges. I think the only way we could make this work in nu, without ambiguity, would be something like this:

[code]

[2020-08-31 04:05] gillespiecd opened #2465 "size command: char definition"
For the `size` command, are chars supposed to represent the number of human readable chars (a.k.a graphmeme) or number of "chars" as in a Rust primitive?

To see what I mean:

[code]

If the behavior works as intended, maybe we could add another output or flag for human readable chars?

Additionally, it may be worth clarifying "max length" is the total number of bytes? I originally found the term

[2020-08-31 09:53] vkobel commented on #2408
I confirm the invocation example fails on **0.18.1**:
[code]
but on the same version, the block alternative works fine!
[code]

On **0.18.2** (889b67ca928e1bcf4c4170f2402c150da142f0f7), both invocation and block work as expected!

[2020-08-31 12:54] fdncred commented on #2136
Is there a way to turn of case sensitivity? I even added a PR to rustyline to disable that on Windows. By default, the windows file system is not case sensitive and it makes it harder to navigate if I have to remember which folders / file have upper case letters.

[2020-08-31 13:18] fdncred commented on #2136
Two items here.

1. `ls<tab>` changes it to `"ls "`
    Expected: Folder and file completions.
2. `ls<space><tab>` removes `ls` and replaces it with folders.
    Expected `ls<space>` and start completing folders and files.

![ls](https://user-images.githubusercontent.com/343840/91723761-e2f0ac00-eb61-11ea-9c56-aba3fb96bfbf.gif)

Version

|version|commit_hash|nushell_features|
|-|-|-|
|0.18.2|889b6

[2020-08-31 13:22] fdncred commented on #2136
Here's a test with spaces in the file names. Seemed to work well. It also shows it not completing `\pro` which it should if it were not case sensitive.

I goofed up at the end and hit enter without a quote.
![ls-spaces](https://user-images.githubusercontent.com/343840/91724467-f81a0a80-eb62-11ea-8e84-bd4f332a6f56.gif)

[2020-08-31 16:58] sanga opened #2469 "SQL join two tables"
**Is your feature request related to a problem? Please describe.**
I would like the ability to be able to join two tables together in the sql meaning of the word "join"

**Describe the solution you'd like**
Perhaps an example would be illustrative. Currently I'm trying to build a table containing all pertinent info for github PRs. Essentially to easily answer the question "what can currently be me

[2020-08-31 22:00] almindor opened #2470 "`mv` between devices bugged on Linux"
**Describe the bug**
`mv /some_disk/folder /other_disk/folder` fails on Linux because of [this code](https://github.com/nushell/nushell/blob/main/crates/nu-cli/src/shell/filesystem_shell.rs#L756-L764)

`std::fs::rename` fails expectedly (not a bug) because of cross-device linking.

`std::fs::copy` and `std::fs::remove_file` are bugged however because they're only meant to work on files, not folder

[2020-08-31 23:16] thegedge commented on #2465
Definitely worth doing two things here:
1. Emphasize if "length" is byte
2. Show both byte and char length

[2020-09-01 01:53] thegedge commented on #290
Update for anyone following this issue: I've been working on a custom completion engine for nushell (previously, we used the one built by rustyline). It's built around nushell's parser, which means it can take advantage of command signatures to provide really nice context to the completion engine. This will be available in tomorrow's release, but know that it's a work in progress so it's perhaps a

[2020-09-01 02:13] #2136 closed

[2020-09-01 02:19] jonathandturner opened #2475 "Cycling through completions gives extra characters"
**Describe the bug**
Not all characters are cleaned up as you cycle through completion options.

**To Reproduce**
Steps to reproduce the behavior:
1. Type `ls`
2. Then hit <tab><tab><tab><tab><tab>

**Expected behavior**
Going through the different completions options

**Screenshots**

![complete_extra_chars](https://user-images.githubusercontent.com/547158/91787501-28929f00-ec5e-11ea-97b1-85a03c5

[2020-09-01 04:10] #2475 closed

[2020-09-01 05:19] jonathandturner opened #2477 "Completions: auto-cd paths don't get quotes"
**Describe the bug**
Auto-cd doesn't properly quote in cases where `cd <path>` will.

**To Reproduce**
Steps to reproduce the behavior:
1. Use auto-cd to change to a directory with a space.
2. Compare to the result of typing `cd` first

**Expected behavior**
These should have the same quoting behavior.

**Configuration (please complete the following information):**
 - OS (e.g. Windows): Pop! OS
 -

[2020-09-01 07:23] castarco commented on #2351
I guess we need to figure out how to define some sort of "dependent types", this can be slightly more complex than in FP languages due to the fact that many cli applications follow different standards to parse options and arguments, but maybe this could be achieved by defining some sort of high level types that can be dynamically inferred given the "shape/structure" of the command (something like:

[2020-09-01 13:03] fdncred opened #2479 "Unexpected crash with rm when removing folder named with alias name"
**Describe the bug**
nu crashes when I remove a directory. It only occurs when a folder is the same name as an alias.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir x y z
2. mv x z
3. mv y z
4. make sure you have an alias named z
5. rm -r z (boom - watch it crash and completely exit everything)

my z alias in case it's important
```    "alias z [a b c d] {if $(echo $a | empty?) == $tr

[2020-09-01 14:44] thegedge commented on #2351
Sounds like you have the right ideas.

I think it's a big enough project that it's worth thinking about it a bit first before diving in, and then writing your thoughts down in an RFC (https://github.com/nushell/rfcs). We're starting to use the RFC process for these kinds of large, complex features 🙂

[2020-09-01 21:03] Lucretiel commented on #2440
Can you assign this to me in github so it stays in my dashboard?

[2020-09-01 21:16] jonathandturner commented on #2440
@Lucretiel done

[2020-09-02 01:11] Lucretiel commented on #2440
Well, I'm still trying to track down the exact failure moment, but my current guess right now is that there are some hardcoded constants on windows that are assuming you're using cmd.exe

[2020-09-02 04:38] tiffany352 opened #2484 "Panic in str to-datetime"
**Describe the bug**
Nu panics and exits to the parent shell when you use `str to-datetime` wrong.

**To Reproduce**
[code]
I accidentally ran into this while trying to import `journalctl` output as a way of learning to use Nu.

I tried running with `RUST_BACKTRACE` set but it just prints a bunch of `<unknown>` in the build I have installed. (Installed from Fedora package).

**Expected behavior**

[2020-09-02 06:25] kubouch commented on #1933
Now that [starship is not part of Nushell anymore](https://www.nushell.sh/blog/2020/09/01/nushell_0_19.html#starship-is-now-external), this is not a thing anymore.

[2020-09-02 06:25] #1933 closed

[2020-09-02 07:22] reflog opened #2485 "Settings starship prompt causes incorrect output"
**Describe the bug**
Starship prompt on nu is rendered incorrectly:

**To Reproduce**
Steps to reproduce the behavior:
1. install starship prompt
2. ```config set prompt `echo $(starship prompt)` ```

**Expected behavior**
Should look something like:
![image](https://user-images.githubusercontent.com/109876/91944055-27b54800-ed06-11ea-85c6-ce8c7a54a504.png)

**Screenshots**

![image](https://user-

[2020-09-02 07:27] jonathandturner commented on #2485
@reflog - are you running Nu inside another shell by chance? Some people have reported having issue that way, especially if both shells are using starship.

[2020-09-02 07:34] reflog commented on #2485
@jonathandturner - correct! running from zsh that also used starship.

[2020-09-02 11:32] DeadMozay commented on #934
openSUSE Tumbleweed GNOME, same problem, in `/etc/shells` added

[2020-09-02 16:54] #2465 closed

[2020-09-02 16:55] jonathandturner commented on #2485
@reflog - I'm not sure, but this may be a bug in starship. If you run only one copy of starship (the one in Nu), does it work correctly?

[2020-09-02 17:02] jonathandturner commented on #2485
It's also possible that starship is detecting that zsh is running and then outputs thinking the shell is zsh. You may need to set some environment variables so that it doesn't try to do that.

[2020-09-02 18:26] corbinu opened #2488 "Nushell 0.19 now requires updated openssl on MacOS"
**Describe the bug**
When updating to 0.19 this morning I ran into an issue that nushell now depends on git2 by default. That means that on newer versions of MacOS (10.10+) that either a newer OpenSSL needs to be installed via homebrew or nushell needs an option to use vendored SSL. (https://docs.rs/openssl/0.10.30/openssl/) Documentation on requirements should be added to the README about homebre

[2020-09-02 18:58] Lucretiel commented on #2440
This pull request should fix the crash, though there may still be underlying issues with the actual cursor movement. It's still not clear to me why that call fails in Windows Terminal and Alacritty but not cmd.exe. Maybe an ANSI thing?

[2020-09-02 19:32] jonathandturner commented on #2440
It could be. I run Nu via Windows Terminal directly and haven't seen the issue in a while, but I did see other folks saying they had various ANSI issues with Windows Terminal depending on the version of the terminal they were using.

[2020-09-02 19:45] Lucretiel commented on #2440
What version of windows terminal? Does this issue not reproduce for you?

[2020-09-02 19:50] jonathandturner commented on #2440
[code]

I can't reproduce it here.

[2020-09-02 19:53] jonathandturner commented on #2460
Fixed by #2466

[2020-09-02 19:53] #2460 closed

[2020-09-02 20:42] vpperego commented on #2469
This is an awesome feature and I believe it was already proposed in this [issue](https://github.com/nushell/nushell/issues/549).

[2020-09-03 02:24] itn3000 opened #2490 "set multiple environment variables temporaly"
**Is your feature request related to a problem? Please describe.**
In some development cases, multiple env variables are needed(like connection strings, loglevel).
But nushell now can set env variable once at a time(both `with-env` and `X=Y [command]`).

**Describe the solution you'd like**
`with-env` command accept multiple env variables like `with-env [X Y W Z] { echo $nu.env.W }`(currently, it

[2020-09-03 07:04] hrvolapeter commented on #378
@lpil I would like that very much too, however I'm not sure how well it combines with nu philosophy and maybe we just have to start thinking a new way

[2020-09-03 07:16] jonathandturner commented on #378
@lpil / @hrvolapeter - it'd be a good feature. I think there are a few pieces we need to add first, but adding support is definitely something we'd like to do.

[2020-09-03 09:18] DeadMozay commented on #934
The situation is strange, I checked it on another PC with the same OS, there is no such problem, there are only differences in the set of installed software, I did not find any errors in the logs that would indicate the reason. Does Nushell keep its logs? I would like to deal with the problem, on the problem PC this error was always

[2020-09-03 19:25] PunkIslamist opened #2493 "Interpret ranges for substring differently to allow more use-cases"
When I was looking for a way to strip the file extension off of file names, I thought I could just use `str substring`. Given the current way that the `range` argument is interpreted, this is not easy.

I think the following interpretation of the `start` and `end` of the range would cover more use cases than the current one:
- `echo 'good nushell' | str substring '5,12'` -> stays the same, returns

[2020-09-03 21:21] Zooce commented on #2485
I'm having a similar issue but it's just not using starship at all, starting nu from inside bash, but without using starship in bash, running the latest Pop!_OS.

[2020-09-03 23:44] #2470 closed

[2020-09-04 15:42] almindor commented on #1799
This should be added, `exec` is NOT a command/program like `ls` and is supposed to be a part of any shell on `*NIX` according to the `POSIX` standard.

`man exec` says (shortened):

[code]

[2020-09-05 02:27] thegedge commented on #1799
This should be fixed by https://github.com/nushell/nushell/pull/2495. Reopen if you're still having problems.

[2020-09-05 02:27] #1799 closed

[2020-09-05 03:58] vitiral commented on #291
I just came across nushell and love it. To point out some brainstorming I did which had a few similar ideas (but only implemented as a library... probaly won't implement now that I've seen how awesome nushell is), I thought of creating a shell called [jsh](github.com/vitiral/jsh). It's basic idea was to:

* Provide structured types to shells, even though those types are just json and possibly json

[2020-09-05 04:07] vitiral commented on #291
I was reading the book, from the README I see you basically already do this :+1:

[2020-09-05 21:31] colemickens commented on #485
Per https://github.com/NixOS/nixpkgs/pull/97262, this seems to just work now in `0.19.0`, maybe the default feature set changed? I'm currently running it on my pinebook pro.

[2020-09-06 02:56] peterthejohnston commented on #2414
I'd like to have a go at this if that's ok. Looking through the repo, it looks like all the uses of `CoerceError` are math-related, so an error message like you said could work.

But if `CoerceError` is meant to be used for a broader category of errors than just math, then maybe the language in the message should be kept more generic? Something like just "coercion error: incompatible types for ope

[2020-09-06 06:01] jzaefferer commented on #2414
I think the `=` clearly makes this in the context of math operations, so it should be fine to mention that in the error message.

If other commands end up with a similar pattern, we can still come up with a better message there.

[2020-09-06 16:35] thegedge commented on #2493
Resolved by https://github.com/nushell/nushell/pull/2499

[2020-09-06 16:35] #2493 closed

[2020-09-06 23:05] Avi-D-coder commented on #1005
This is broken again.
I have to use `unset STARSHIP_SHELL && nu` so the prompt does not get mangled.

[2020-09-07 05:54] #2395 closed

[2020-09-07 06:14] crides commented on #2485
I found this out as well right after installing 0.19.0. I think the problem comes from `STARSHIP_SHELL`. Try to check that env variable inside `nu`. For me, it's set to `zsh` no matter what, and I found out it comes from the config, when I followed the book and `config set env $nu.env`, which contained that env var set to `zsh`.

[2020-09-07 06:25] ritobanrc commented on #2485
I was having the same issue with zsh and nushell, but it works correctly when I have only one instance of starship running. However, I can use multiple instances of starship between zsh and bash or zsh and fish, so this still feels like a nushell bug.

[2020-09-07 10:50] gorogoroumaru commented on #2477
@jonathandturner, could you explain what "properly quote" means in detail?

[2020-09-07 17:20] jonathandturner opened #2510 "Range/math operations not yet optimized"
**Describe the bug**
Doing some simple math operations show that we're not yet tuned there:

[code]

Compare to python, for example:
[code]

(time in seconds above)

**To Reproduce**
Steps to reproduce the behavior:
1. See steps above

**Expected behavior**
It'd be nice to have tuned enough that we're with the same range as python for these kinds of operations. It will tax our number, boxing, comp

[2020-09-07 17:36] jonathandturner opened #2511 "Allow `math avg` to work on durations"
**Is your feature request related to a problem? Please describe.**
I just tried this, expecting to be able to average durations (for example, say you wanted to time something 10 times and get the average per run)

[code]

**Describe the solution you'd like**
Extend `math avg` to be able to handle durations

**Describe alternatives you've considered**
Can't think of any useful alternatives other th

[2020-09-07 18:13] arnaudgolfouse opened #2512 "Panic while adding Date with Duration"
**Describe the bug**
If we try to add a Duration to a Date, like so :
`ls | get modified | = $it + 1000000000000000000yr`
Then a panic occur if the Duration is too big (like here), or if the result overflows.

From what I can gather, these originate in *nu-data/src/value.rs*, when adding `Primitive::Date` to `Primitive::Duration`.

**To Reproduce**
[code]

or

[code]

**Expected behavior**
Either

[2020-09-07 22:23] jonathandturner commented on #2402
Sorry for the slow reply - no laughing here. It's mostly just a matter of finding people will the right expertise who are able to do the work.

For those folks who find this issue and would like to help out with one or both of these options, we're happy to collaborate and see if we can get them working and supported.

[2020-09-07 23:31] Ryan1729 commented on #2401
I have encountered this issue using Alacritty as well.

#### Versions
`nushell 0.19.0`
`alacritty 0.4.3 (c723247)`
`Windows 10.0 build 18363`

[2020-09-08 00:35] samuelvanderwaal commented on #2512
I'm interested in taking on this issue if no one else is working on it.

[2020-09-08 05:14] JosephTLyons commented on #2512
Hey @samuelvanderwaal, went ahead and assigned this to you.  There's no pressure here either if you end up changing your mind, just let us know.

[2020-09-08 09:06] Sympatron opened #2513 "Slashes are not supported as path separators on windows"
At the moment it is not possible to use slashes as a path separator in windows.

For example autocompletion does not work if you use a slash instead of a backslash (`cd ../<tab>` does nothing).

I don't know if this is expected behaviour, but the only why to run any file is to write `.\<file>`. `./<file` and just `program.exe` do not work ("error: Command not found"). The latter could be deliberat

[2020-09-08 19:57] LhKipp opened #2514 "Pattern / Wildcard not expanded"
**Describe the bug**
A clear and concise description of what the bug is.
A wildcard / pattern is not expanded.

**To Reproduce**
Steps to reproduce the behavior:
1. cd /
2. echo * #Pattern not expanded
3. rm * -rf #Pattern expanded

**Expected behavior**
Wildcards should always be expanded.

**Configuration (please complete the following information):**
 - OS (e.g. Windows): Arch Linux
 - Nu versi

[2020-09-08 20:33] forgiv opened #2515 "User Env & Path Not Being Merged w/ System Env & Path on Windows"
**Describe the bug**
In Windows there's a User Env that's separate from the System Env. These Envs are merged together by the shell and made available as a single Env. nushell isn't doing that. It's only making the System Env available while ignoring the User Env.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Environment Variables GUI in Windows and take note of the two separate s

[2020-09-08 20:59] jonathandturner opened #2516 "Durations should allow for decimals"
**Describe the bug**
`10.5sec` should parse but it's not currently allowed.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a decimal with a unit, like `10.5sec`

**Expected behavior**
This is a handy shorthand rather than having to write out the a decimal + unit. Some of these don't make sense, since `0.5ns` isn't currently supported, so we'd need to figure out how we want to do it.

**

[2020-09-08 21:44] samuelvanderwaal commented on #2512
I've had a look at the code and the panic is happening [here](https://github.com/nushell/nushell/blob/d9ae66791a6d5eca9e76422815a1f5d0075dd0ea/crates/nu-data/src/value.rs#L198)

[code]

when `into_chrono_duration` [experiences an overflow and returns a](https://github.com/nushell/nushell/blob/d9ae66791a6d5eca9e76422815a1f5d0075dd0ea/crates/nu-protocol/src/value/primitive.rs#L97) `ShellError`:

[co

[2020-09-08 21:46] samuelvanderwaal commented on #2512
Also, if you prefer to iterate through a PR I can create one instead of dialoging in the issue thread here.

[2020-09-09 00:08] tiffany352 opened #2518 "Better docs for `update`"
**Is your feature request related to a problem? Please describe.**
I was having a lot of trouble figuring out how to table a table, update 1 column, and then output a new table with that column updated. The `update` command's documentation only shows how to add a fixed value to the table, and not perform transformations of the old value.

**Describe the solution you'd like**

Better documentation,

[2020-09-09 05:37] jonathandturner opened #2519 "`open` should check file type before steaming output"
**Describe the bug**
If you do `open bigfile.png` or `open bigfile.txt` we stream the data out progressively, which makes it difficult to work with the data as we one did.

**To Reproduce**
Steps to reproduce the behavior:
1. See above
2.
3.

**Expected behavior**
We should check that the file is a file, and if so, to read the file.  If it's a character device, like /dev/random on Linux, then we c

[2020-09-09 06:05] jonathandturner commented on #2518
Agreed :+1: . The docs are definitely due a rewrite. This is one of those areas that really need to have whole new chapters, since we've changed a fair bit about how to work with tables since we first wrote those sections in the book.

[2020-09-09 12:48] fdncred commented on #2518
I had the same problem so I wrote this alias that I can refer to in order to remind me.
`alias nuver [] {version | update features {get features | str collect ', '} }`

Then I can do `nuver | to md` and get this table below.

|version|commit_hash|features|
|-|-|-|
|0.19.0|d9ae66791a6d5eca9e76422815a1f5d0075dd0ea|default, clipboard, trash|

[2020-09-09 12:49] fdncred commented on #2519
It seems like this would fix the emulator as well.

[2020-09-09 16:47] mhmdanas opened #2521 "Nu hangs when pipes have nothing on either side of them (excluding other pipes)"
**Describe the bug**
If you put nothing on either or both sides of a pipe, Nu will hang. This doesn't include other pipes.

**To Reproduce**

There are many ways to reproduce this behavior. They include, but are not limited to:
- `|`
- ` | ` (there's whitespace around this one but GitHub doesn't show it for some reason.)
- `| echo`
- ` | echo` (whitespace before pipe)
- `echo | |`
- `echo | | |`

[2020-09-09 18:44] AndrewMorsillo opened #2523 "0.19 autocomplete paths doesn't work on macos"
**Describe the bug**
Per title, autocomplete doesn't work for paths on macos. This is a bummer because path autocompletion is pretty much the most common operation in day to day use.

**To Reproduce**
Steps to reproduce the behavior:
1. `cargo install nu --features=extra`  (stable rust)
2. `nu`
3. `cd /Us<tab><tab>` -- no completion

**Expected behavior**
Autocomplete should work for paths on all

[2020-09-09 21:08] mhmdanas commented on #2523
This is odd. I'm using the same macOS and Nu version as you, but withoutoptional features. Path autocompletion is working flawlessly for me.

[2020-09-09 21:14] AndrewMorsillo commented on #2523
It is strange. A bell icon shows up on the top of iTerm2 when I press tab to complete a path. I can't debug further now but later I will try a reboot and reinstall nu without extra features to see if that's the issue.

[2020-09-09 22:34] thegedge commented on #2523
I just merged https://github.com/nushell/nushell/pull/2525, which I think should fix this issue. Would you be able to verify, @AndrewMorsillo.

[2020-09-10 00:46] AndrewMorsillo commented on #2523
@thegedge works fine with the change, thanks!

[2020-09-10 00:46] #2523 closed

[2020-09-10 04:58] coolshaurya opened #2527 "Nushell should modify the window title"
**Is your feature request related to a problem? Please describe.**
It would be nice to differentiate at a glance between different terminals that have different programs/directories open. Most programs like kakoune and bash change the window title.

**Describe the solution you'd like**

1. Nushell to change the window title to something  like `Nushell - ~/blah/meow` that shows the current director

[2020-09-10 06:56] AsafMah opened #2528 "pwd command crashes nushell on windows"
**Describe the bug**
Using the latest version on nu on windows 10, the pwd command crashes the program

**To Reproduce**
[code]
And then it crashes

**Configuration (please complete the following information):**
 - OS (e.g. Windows): windows 10
 - Nu version (you can use the `version` command to find out):  19.0

[2020-09-10 12:56] fdncred commented on #2527
@coolshaurya I'm guessing you're not talking about windows but from Windows I have this as the first line of my `startup` config.
[code]

What would be the trigger to update the title? Would it be when someone cd's? With a config entry that is something like this `title = $(pwd)`?

Theoretically, on Windows, one could update the title from the prompt like `prompt = title $(pwd) ; za $(pwd) ; other

[2020-09-10 13:06] fdncred commented on #2528
@AsafMah This is strange. I've seen that error before but I'm not sure where it's coming from.

I built from main this morning and `pwd` seems to be working for me on Windows. This is my version informatin.

|version|commit_hash|features|
|-|-|-|
|0.19.0|e9bb4f25eb22d527af2943e9b159e7026f9c8b1e|default, clipboard, trash|

[2020-09-10 13:31] yanganto opened #2531 "remove without check path exist, `rm -f`"
**Is your feature request related to a problem? Please describe.**
The nu shell can not delete a file or a folder, which does not always exist.

**Describe the solution you'd like**
It may be better to delete a file with `-f` option so that the shell script will not exist if the file is nonexistent.

**Describe alternatives you've considered**
use a command to check a file is exist with if conditi

[2020-09-10 14:05] marekkowalczyk commented on #291
Why not just adopt an existing language?

E.g., [ABS](https://www.abs-lang.org/); I don't know how good it is, though.

[2020-09-10 16:02] coolshaurya commented on #2527
Currently when I open a program that sets the title and then exit it the title persists. Therefore I think the title should be updated every time a command is executed.

Yes

[2020-09-10 16:37] TrevorAC99 opened #2532 "autoview crashes nushell when receiving data from `to json`, `to html`, or `to yaml`"
When `to json`, `to html`, or `to yaml` pipe their result into `autoview` explicitly or implicitly, it prints out the expected text and then prints out `Error: Io(Os { code: 87, kind: InvalidInput, message: "The parameter is incorrect." })` before crashing nushell.

**To Reproduce**
Steps to reproduce the behavior:
1. run `ls | to json`, `ls | to html`, or `ls | to yaml` with or without adding `|

[2020-09-10 17:30] fdncred commented on #2532
Related to #2528, #2401, #2440, maybe others

[2020-09-11 05:11] humancalico opened #2534 "Feature request: `exec` command"
from the man page of `fish`. This also works in other shells like `bash`
[code]

[2020-09-11 13:14] fdncred commented on #2534
I believe this was implemented in main branch https://github.com/nushell/nushell/pull/2495

[2020-09-11 13:20] #2534 closed

[2020-09-11 15:58] AndrewMorsillo opened #2535 "Forward slash / is not transparently translated on Windows, does not work with path completion"
**Describe the bug**
Forward slash `/` is not transparently converted to `\` on windows. On windows powershell you can use a `/` and it's automatically translated to a backslash `\`. It would be nice if Nushell emulated this behavior as it makes working across windows and unix machines much more ergonomic.

**To Reproduce**
There seem to be a few corner case behaviors here
1.  `cd my/directory` en

[2020-09-11 16:52] fdncred commented on #2440
Thanks for your help on this @Lucretiel

[2020-09-11 17:58] thegedge commented on #2535
I'm currently working on a path abstraction for nushell that should hopefully take care of all of these issues (and some others).

The only difference is that I don't intend to change forward slashes to backslashes in (2). My thought here is that if the user is using forward slashes, they'd prefer to continue seeing forward slashes.

[2020-09-11 21:30] EmNudge opened #2536 "Support alternative integer shapes, such as binary and hexadecimal"
**Is your feature request related to a problem? Please describe.**
I've gotten in the habit of using the Chrome console for binary and hexadecimal math using bitwise operators. It's nice, but having this possible in the terminal would be a nice QOL feature.
Atm `0b101011` and `0xffa3b` both are interpreted as strings.

**Describe the solution you'd like**
It would be fantastic to be able to expres

[2020-09-11 21:32] ndarilek opened #2537 "Can't paste via keyboard under Windows"
Recently switched to Windows and decided to give Nu a shot there. The biggest issue is that I'm unable to paste in text via the keyboard. Neither Ctrl-V nor Ctrl-Shift-V works.

Am I missing something?

[2020-09-11 22:01] jonathandturner commented on #2537
Are you running Nu inside of cmd or Windows Terminal? You should be able to use the paste that comes with either of those. If you can't, that's something we should look into.

[2020-09-11 22:22] fdncred commented on #2537
Traditionally `cmd.exe` allows you to paste via right click if you have it configured as such via the properties dialog. Here's a [link that explains this](https://www.howtogeek.com/howto/25590/how-to-enable-ctrlv-for-pasting-in-the-windows-command-prompt/).

With `Windows Terminal`, out of the box, Ctrl-C copy, Ctrl-V paste work. I can't remember what Ctrl-Shift-V does off the top of my head. Doc

[2020-09-11 23:48] ndarilek commented on #2537
So if I press Win-r, type nu, then press either Ctrl-V or Ctrl-Shift-V
with something in my clipboard, nothing pastes. Likewise if I run nu
from within cmd, not sure if that should make a difference.

I'm a blind screen reader user, so while right-clicking may in fact
paste, that requires me to pick up my mouse, make sure it's on, etc.
Those aren't huge blockers as such, but the mouse isn't a tool

[2020-09-12 02:40] Zooce commented on #2124
I this this was fixed in https://github.com/nushell/book/pull/104

[2020-09-12 04:08] Zooce commented on #2324
Looks like this can be closed, right?

[2020-09-12 07:44] jonathandturner commented on #2537
@ndarilek - totally understood, and thanks for explaining. Where we are right now, Nu will need to run under cmd or Windows Terminal. When you run it directly, it'll likely pick one of those and run it inside of that.

In the future, we'd like to make Nu more standalone, so that it's able to be used directly. This should help work around any of these issues. Once we do make the transition to being

[2020-09-12 08:05] coolshaurya opened #2539 "Change the `active` column in the `shells` command to output a boolean"
**Is your feature request related to a problem? Please describe.**
Changing the `active` column to a boolean rather than a string is more readable and nicer.

**Describe the solution you'd like**
The shells command should output the the active column as a boolean

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-09-12 08:20] fdncred commented on #2537
This is what you need to do.
1. Type Win-R to run nu.exe
2. Type Alt-Space to show this menu. It's also available by clicking the icon in the top left of the window.
![image](https://user-images.githubusercontent.com/343840/92990975-0393fc80-f4a6-11ea-819d-e8b28d979972.png)
3. Type P to select and activate the Properties Window which looks like this.
![image](https://user-images.githubusercontent.

[2020-09-13 04:25] #2539 closed

[2020-09-13 17:12] radekvit commented on #2459
I would like to work on an implementation for the Rust-consistent variant (`..` for right-exclusive and `..=` for right-inclusive) if that's OK.
That can be changed to the original proposed solution with `..<` relatively trivially.

[2020-09-13 20:36] sudomabider commented on #2461
Can confirm this has been happening for me since I started using nushell from `0.15`.  Happens in windows terminal, and integrated terminals such VS, vscode.

[2020-09-13 20:39] fdncred commented on #2537
@ndarilek Were you able to follow the procedure above I outlined?

[2020-09-14 17:13] thegedge commented on #2461
Let's try to narrow this down, as there's not too many places where nushell will exit. What do you see for:

[code]

[2020-09-14 17:20] xSke commented on #2461
Upgraded to 0.19.0, issue still persists:

[code]

Nothing for `ctrlc_exit`?

[2020-09-14 17:36] thegedge opened #2545 "Ctrl-D exits nushell, not current shell"
**Describe the bug**
Ctrl-D exits the nushell process instead of the current shell.

**To Reproduce**
Steps to reproduce the behavior:
1. `enter help`
2. Press Ctrl-D

**Expected behavior**
I would expect Ctrl-D to mimic the `exit` command and just exit the help shell, returning to the filesystem shell. Although the current behaviour is totally reasonable, I found it quite surprising.

**Configura

[2020-09-14 17:45] thegedge commented on #2461
I think the only other place we'd exit the process would be here: https://github.com/nushell/nushell/blob/0178b532893a0d06095a109586aa7444efd3ec57/crates/nu-cli/src/cli.rs#L775-L777

Which is likely due to a readline error. I'm thinking the process exiting when hitting Ctrl-C is a red herring, and this is actually just a manifestation of https://github.com/nushell/nushell/issues/2401. I think http

[2020-09-14 18:49] radekvit opened #2546 "Sleep command cannot be cancelled with Ctrl+C"
**Describe the bug**
The built-in sleep command cannot be stopped immediately by pressing Ctrl+C

**To Reproduce**
Steps to reproduce the behavior:
1. run `sleep 15sec`
2. Press Ctrl+C

**Expected behavior**
The `sleep` command immediately ends after pressing Ctrl+C

**Configuration (please complete the following information):**
 - OS (e.g. Windows): WSL2, Windows
 - Nu version (you can use the `v

[2020-09-14 21:55] ndarilek commented on #2537
Sorry, was away for the weekend.

But yeah, some combination of a) first running cmd and b) changing settings got paste working. For some reason, cmd lets me paste fine with Ctrl-v, so I assumed an issue on Nu's part.

Thanks for the clarification.

[2020-09-14 21:55] #2537 closed

[2020-09-14 22:32] rezural commented on #2484
I get this on nighgly, ubuntu 20.04,

thread 'main' panicked at 'invalid or out-of-range date', /home/rezural/.cargo/registry/src/github.com-1ecc6299db9ec823/chrono-0.4.15/src/naive/date.rs:173:51
stack backtrace:
   0: rust_begin_unwind
             at /rustc/73dc675b9437c2a51a975a9f58cc66f05463c351/library/std/src/panicking.rs:483
   1: core::panicking::panic_fmt
             at /rustc/73dc675b9

[2020-09-15 12:56] fdncred commented on #2461
As said above, this ctrl-c error has been happening for months. I've tested with the latest version of rustyline and the problem still exists. #2533 does not fix tihs issue on Windows. This issue is a duplicate of #2038.

#2440 is fixed by #2533.

This is the backtrace I created this morning.

[code]

[2020-09-15 12:57] thegedge commented on #2484
Looking at `dtparse` (what we currently use for datetime parsing), I think an "integer string" is intended to basically be `YYYYMMDDHHMMSS`, whereas I think you have a UNIX timestamp.

A couple of things here. First, We definitely shouldn't panic.

Second, we don't have any means to convert a UNIX timestamp to a nushell datetime. Given the above, it'd be hard to distinguish between a UNIX timestam

[2020-09-15 13:02] thegedge commented on #2461
That's definitely a panic-able line, @fdncred . Although it would break things for anyone that has this config set properly, we should probably use `as_bool` (so people would set it with `$true` inside the shell).

That being said, I don't think that's the issue. @xSke showed us that they don't have `ctrlc_exit` set, and yet are still seeing the issue. That line of code cannot be reached if the co

[2020-09-15 13:10] thegedge commented on #2546
An async version would probably be good, but I think for now we can just switch from a simple `thread::sleep`, to something like this (pseudo-rust):

[code]

[2020-09-15 13:14] thegedge commented on #2324
@Zooce at least from the original list, looks like we're still missing `date local` (I think `date expand` is no longer relevant).

[2020-09-15 13:18] fdncred commented on #2461
Changing from
[code]
to
[code]
fixed the problem for me.

I'll see if I can repro the problem without a config.

[2020-09-15 13:20] thegedge commented on #2124
Yep, I think those two cover this issue. Thanks, @Zooce !

[2020-09-15 13:20] #2124 closed

[2020-09-15 14:59] #2038 closed

[2020-09-15 14:59] radekvit commented on #2546
@thegedge
I actually tried to implement this using a future (https://rust-lang.github.io/async-book/02_execution is pretty much exactly it), but that didn't help either. My knowledge of futures is quite limited, so I may be just missing something there.

Also I'm not familiar with how nu handles Ctrl+C, there may be an issue there.

[2020-09-15 15:02] fdncred commented on #2461
Please test with latest main and let us know if you still have issues.

[2020-09-15 15:20] thegedge commented on #2546
If you want to take a shot at implementing a custom `Future`, go for it. I think we'll eventually choose a runtime to work with (like `smol`, `tokio`, or `async-std`), which will typically already have such a thing, but we haven't committed to one of those yet.

We just use a shared `AtomicBool`. It's the `ctrl_c` I showed above. You can access it via `CommandArgs` (`args.ctrl_c`), which the sleep

[2020-09-15 15:30] thegedge commented on #2514
I haven't 100% settled on whether or not we should expand globs yet, but I'm leaning far more towards not expanding. I have a lot of thoughts here, so bear with me 😅

## Command/script writers

On the one hand, I definitely can see that it's not as fun for the command/script writer to have to think about globs. Technically, command writers are thinking about it though, given they can specify `Synt

[2020-09-15 17:05] Parasrah opened #2549 "direnv support"
**Is your feature request related to a problem? Please describe.**

I use `direnv` in conjunction with `nix-direnv` for my development environments, so that my environment (and packages/dependencies) will automatically be loaded/unloaded as I enter the directory. To my knowledge I can't get this behaviour using the `direnv` replacement that ships with `nushell`

**Describe the solution you'd like*

[2020-09-15 17:10] thegedge commented on #2515
This is interesting. We do use `std::env::vars` to get env vars from the host, so at first glance it appears it could be a bug there.

I took a quick look, and it appears rust uses [`GetEnvironmentStringsW`](https://github.com/rust-lang/rust/blob/838325726a05855f10fbb6b3dc7165a7d8dde7b9/library/std/src/sys/windows/os.rs#L136), which from its docs says:

So it looks like it could be something on ou

[2020-09-15 17:33] thegedge commented on #2549
I think this is both a nushell issue and a `direnv` issue.

First, in `nushell`
1. hooking mechanism, and
2. a means to export env vars to the process.

We want to these regardless of `direnv`.

Once those things are available in `nushell`, `direnv` will need to be able to support a nushell-compatible hook and export.

I think normally we'd try to do this. I'm all for not building something new un

[2020-09-15 18:01] Parasrah commented on #2549
Okay that makes total sense, I'm guessing this ties into the same issues blocking `fzf` support right now? In any case thanks so much for the clarification on this, I'm really excited about `nushell` and think you are all doing a great job. Even though I don't use it as my daily driver yet, I still find myself running it a couple times a day to solve little things that would be so much harder in b

[2020-09-15 18:07] radekvit opened #2551 "The `sleep` internal command passes data through"
**Is your feature request related to a problem? Please describe.**
The sleep command can now only be used as a standalone command:
`sleep 5sec`
If it passed structured data through unchanged, it could be used inside pipelines:
`echo 1..10 | sleep 5sec | math sum`

**Describe the solution you'd like**
The sleep command passes the input data through to the output when it times out.

**Describe alter

[2020-09-15 18:51] ryanpcmcquen opened #2552 "Cannot `cd ~/` on Mac OS"
**Describe the bug**
I see that `~` expands with `ls`, but not with `cd`.

**To Reproduce**
Steps to reproduce the behavior:
1. Type `cd ~/Lib`.
2. Press <kbd>Tab</kbd>.
3. It should expand to `~/Library`, but it does not with the `cd` command.

**Expected behavior**
I would expect `cd ~/Lib` to become `cd ~/Library/` with tab completion.

**Screenshots**
![tilde_not_expanding_with_cd](https://use

[2020-09-15 19:26] radekvit commented on #2546
@thegedge I believe I have it. Turns out that a built-in Future from something like `tokio` or `async-std` wouldn't have worked anyways, since we have to check `ctrl_c` manually to return the result early.

Your pointers helped a ton, thank you.

[2020-09-15 19:27] thegedge commented on #2552
This was my bad. Rushed some of the new completion engine into 0.19.0, but it had a few bugs. https://github.com/nushell/nushell/pull/2525 fixed this issue (reopen if that's not the case).

[2020-09-15 19:27] #2552 closed

[2020-09-15 19:27] LhKipp commented on #2514
Let me note that you are using a glob pattern here:
[code]
as a set of filenames, while you are using a glob pattern in your example from below
[code]
for wildcard matching (Does the string $it match *.txt or \*csv (\* is to be interpreted as a wildcard)).

Both use cases are something totaly different from my pov. However they share syntax.
IMO: Expanding it once as a set of filenames, and not ex

[2020-09-15 19:34] ryanpcmcquen commented on #2552
Thank you @thegedge!

[2020-09-15 20:51] forgiv commented on #2515
I ran this code from the rust doc [here](https://doc.rust-lang.org/std/env/fn.vars.html)

[code]

This is the path that was returned:

[code]

When comparing to above I can see that the path does indeed have my user path merged into it.

I think that can confirm that's it's something on nushells end.

[2020-09-15 21:38] thegedge commented on #2514
tl;dr I see two major points from our discussion.

- There doesn't seem to be a clearly compelling argument for one way or the other. They both have pros and cons 🙂
- Your proposal seems to be a combination of two things: drop `SyntaxShape::Pattern`, but still support globs by expanding them into a list of matching files, which would work for `SyntaxShape::Path`. If I got that right, the first que

[2020-09-15 21:56] notryanb commented on #2227
@pegak I've updated the [cookbook documentation](https://www.nushell.sh/cookbook/en/git.html) as I ran into the same issue on nushell version `0.19` for Windows. You may also want to upgrade to the latest nu version. My understanding is that the parser has been changing since `0.16`

[2020-09-16 00:10] thegedge commented on #2546
Ah yes, you're totally right. In that case, we can eventually generalize the pattern you have here, similar to what I did with [`InterruptibleStream`](https://github.com/nushell/nushell/blob/main/crates/nu-cli/src/stream/interruptible.rs).

Even better, we should think about how we could handle Ctrl-C without having to have every command think about it. So many improvements we can make 🙈

[2020-09-16 00:33] thegedge commented on #2514
And just wanted to note, @LhKipp, I'm not trying to be all "NOOOO" here. I think there's a surprising amount of nuance here that I wanted to discuss, and I'm finding this discussion productive 🙂

[2020-09-16 00:48] thegedge commented on #2513
Duplicate of https://github.com/nushell/nushell/issues/2535

A little slowly, but I'm trying really hard to improve paths and completions 🙂

[2020-09-16 00:48] #2513 closed

[2020-09-16 05:46] Zooce commented on #2324
Hi @thegedge, thanks for the reply!

I was looking into the code and it seems that `date now` actually _kind of_ covers the `date local` case -- it gives the current date in the local timezone, but doesn't do any conversion.

I'm now wondering if the idea is still there to do conversions at all, since currently none of the `date` commands actually take any input for the purpose of converting the t

[2020-09-16 14:45] fdncred opened #2557 "to csv shouldn't enforce 1 character delimiters"
**Is your feature request related to a problem? Please describe.**
I should be able to do this.
`git log --pretty=format:"%h|%s|%aN|%aE|%aD" -n 10 | to csv --separator "\|"`

**Describe the solution you'd like**
Allow `to csv` to use multiple characters for separators

|version|commit_hash|nushell_features|
|-|-|-|
|0.19.0|f5fad393d0f07eeb0c3c2e9bd8d151dac8b1b8f0|default, clipboard, trash|

[2020-09-16 15:29] wycats commented on #291
@marekkowalczyk: It makes sense for us to be *inspired* by another language, but the scripting language should have more than a passing connection to the REPL language. We worked hard to make the REPL language a viable scripting language, so I think that's the direction that makes the most sense. 😄

[2020-09-16 16:15] thegedge commented on #2546
Fixed by https://github.com/nushell/nushell/pull/2550

[2020-09-16 16:15] #2546 closed

[2020-09-16 16:22] thegedge commented on #2515
Thanks for exploring that, @forgiv. Agreed, that confirms we must be doing something weird on our end.

There'll be some investigation, but I suspect this is a fairly easy fix, so I'm gonna tag this as a good first issue. I could be very wrong about that though 😅

[2020-09-16 16:32] gillespiecd commented on #2382
Per chat on discord, `trim` will be deprecated in favor of `str trim`. I can pick this up 👍

[2020-09-16 19:08] thegedge opened #2561 "`help commands` include subcommands"
**Is your feature request related to a problem? Please describe.**
`help commands` only shows the toplevel commands. There's no easy way to also enumerate the subcommands.

**Describe the solution you'd like**
Some ideas:

**Idea 1**
`help commands` would also show subcommands, all under the existing `name` column.

**Idea 2**
`help commands` would also show subcommands, but in another column:

|

[2020-09-16 19:14] alexandrestein commented on #934
I'm also affected by this issue on Debian 10.
I don't know if it can be related but I'm running on Wayland.

[2020-09-16 19:15] thegedge opened #2562 "Consistent naming for conversions"
We have some inconsistent naming. For example, we have `str to-datetime` and `str from`, but we don't have `date from` nor do we have `number to-string`.

I'd like to settle on a naming convention for these conversion methods. This should improve the user experience, since consistency allows you to take something you know and reapply it without having to go through a discovery process.

I see a fe

[2020-09-16 19:50] fdncred commented on #2562
I like verbosity such as:
* `str to-datetime` - This takes a string representation of a date time and converts it to a datetime object.
* `str from-datetime` - This takes a datetime object and converts it to a date time string.
* `date from` - I'm guessing this would create a datetime object from a string? if that's the case I'd rather name it `date to-string`
* `number to-string` - I like it. It

[2020-09-16 19:56] thegedge commented on #2562
Just a small note here: as long as we can easily invoke another command, there'd be no duplication, so no concern there 🙂

Similar to how `impl Into<A> for B` is implemented for `impl From<B> for A` in Rust, we can do something similar (`<A> from-<B>` is either an alias for or delegated to by `<B> to-<A>`).

[2020-09-16 19:59] #2382 closed

[2020-09-16 20:34] radekvit commented on #2535
Personally, I would prefer if it was the other way around, so that backslashes `\` were translated to `/` in displayed paths in Nu:
`C:/path/to/my/directory`
This would make nu more consistent across platforms.

(`cd Dir1\Dir2` would still work, of course)

[2020-09-16 20:44] radekvit commented on #2518
Apart from improving the docs, would this be a good new internal command?
Something like
`version | flatten features` =>
version | commit_hash | features
-- | -- | --
0.19.0 | d9ae667 | default, clipboard, trash

I could imagine variants
* `flatten` - flattens all columns
* `flatten column_name` - flattens single column
* `flatten -r`, `flatten -r column_name` - could handle tables within tables b

[2020-09-16 22:29] rezural commented on #2536
Probably relevent:

https://github.com/rust-lang/rfcs/issues/1098

[2020-09-16 22:33] rezural commented on #2536
Could do some matching in the first (2 & perhaps one character), and fall through to base10 if it is not 0x,0o, etc. (whatever rust's naming scheme is?

[2020-09-16 23:34] #2551 closed

[2020-09-17 00:00] thegedge opened #2564 "Have `str trim` apply to all relevant columns when none supplied"
**Is your feature request related to a problem? Please describe.**
We decided to have a single trim function in https://github.com/nushell/nushell/issues/2382. What I didn't realize was that `trim` had slightly different behaviour than `str trim`: it will trim ALL columns by default.

**Describe the solution you'd like**
Have `str trim`, without any arguments, trim all columns with `String` / `Lin

[2020-09-17 03:46] coolshaurya commented on #2561
I think it's a good idea to use nested tables for this. So `help commands` would have a `subcommands` column that has a table with all the subcommands in it with name and description like -

|name|description|subcommands|
|-|-|-|
|a|Description of command a||
|b|Description of command b|[table 2 rows]|
|c|Description of command c||
|d|Description of command d||
|e|Description of command e||

and t

[2020-09-17 06:03] jonathandturner commented on #2532
Should hopefully be fixed by https://github.com/nushell/nushell/pull/2565. If it's not, please reopen so we can investigate further.

[2020-09-17 06:03] #2532 closed

[2020-09-17 06:04] jonathandturner commented on #2528
Should hopefully be fixed by https://github.com/nushell/nushell/pull/2565. If it's not, please reopen so we can investigate further.

[2020-09-17 06:04] #2528 closed

[2020-09-17 06:04] jonathandturner commented on #2401
Should hopefully be fixed by https://github.com/nushell/nushell/pull/2565. If it's not, please reopen so we can investigate further.

[2020-09-17 06:04] #2401 closed

[2020-09-17 06:04] jonathandturner commented on #2440
Should hopefully be fixed by https://github.com/nushell/nushell/pull/2565. If it's not, please reopen so we can investigate further.

[2020-09-17 06:04] #2440 closed

[2020-09-17 06:05] jonathandturner commented on #2440
@Lucretiel  - and thanks for the original fix to rustyline!

[2020-09-17 06:20] Zooce commented on #2324
I think you're on to something there. Your solution certainly seems more Nushell-y, and I think it's the right direction to go (although I'm not the expert here, by any means).

I'm still unfamiliar with how the basic data structures in Nushell work (like `OutputSteam`, `Value`, etc.), I'm in the learning phase here, so I have a couple of questions (even if someone else decides to make this update

[2020-09-17 09:38] pegak commented on #2227
Yeah, I am already on 0.19 with features=extra. :)

[2020-09-17 09:39] pegak commented on #2227
And example works now.

[2020-09-17 09:39] #2227 closed

[2020-09-17 17:31] thegedge commented on #2324
Yep, looks like we're using `chrono::DateTime`.

All commands return a stream of `Value`s, so you'd be returning that. Specifically, you'll end up with something like `UntaggedValue::date(chrono_date_time)`, and that'll either be `.into_untagged_value()` if you don't have a `Tag`, or `.into_value(tag)` if you do have one (we often do, it's the thing that allows us to show in errors where a value c

[2020-09-17 18:37] LhKipp commented on #2514
So this is actually a great question, as it's one I've tossed around in my head lately. I really do like the idea of globs being a root type, because then (as mentioned earlier) we can statically verify the correctness of the globs.

For a pattern provided as an argument instead of a path (or multiple paths), one can verify at evaluation time, that the pattern is expandable to at least n paths.
I

[2020-09-17 20:27] thegedge commented on #2514
Okay, perhaps we should explore the splatting idea first. Once we figure out splatting, we could have a configuration option to enable automatic splatting (e..g, expand a `Pattern` for any signature that has 1+ positional `Path` arguments).

[2020-09-18 00:01] samuelvanderwaal commented on #2512
@JosephTLyons changing all the places that call `compute_values()` looks like a pretty large refactor so that's probably not what we want. Do you have any thoughts on how to handle this error or would it be better to handle the overflow some other way (e.g. just perform the operation with the overflow).

[2020-09-18 00:02] gillespiecd opened #2567 "Implement a way to identify commands as internal only"
There are some helper commands like `run_external` that are internal only meaning they aren't meant to be executed by end users. It would be helpful to have a way to identify and possibly filter out these commands from outputs such as `help commands`.

One option is to create a new default function on the `WholeStreamCommand` trait (e.g. `is_internal`) and then update internal commands to overwrit

[2020-09-18 09:17] Mart-Bogdan opened #2568 "time ls -d don't work correctly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. type `time ls -d`
2. runs zero seconds and outputs " . "

**Expected behavior**
Display list of all files and dirs with sizes and execution time

it's seems to work with `time ls`  but looking on output it's using /bin/ls, not built in command

**Screenshots**
![image](htt

[2020-09-18 13:17] radekvit commented on #2568
@jonathandturner
Do we currently have a way to run a `Block` from an internal command?

I would like to make a `time` internal command, and I'm trying to figure out how much effort it would take.
If we do that, we could make `time` more nushell-y.

[2020-09-18 14:46] fdncred commented on #2568
Have you tried the `benchmark` command? i.e. `benchmark {ls -d}`?

[2020-09-18 16:02] Mart-Bogdan commented on #2568
@fdncred it works:
[code]

So time is just call to platform executable ?

sadly that benchmark do not measure sys time.

[2020-09-18 17:11] fdncred commented on #2568
@Mart-Bogdan yes, I think `time` is the platform time command.

[2020-09-18 17:36] thegedge commented on #2568
@Mart-Bogdan we could look into expanding benchmark to include sys/user/cpu timings, as long as we can do so in a cross-platform manner 🙂

Note, `time ls -d` works as expected though. `time` in nushell is likely running `/usr/bin/time`, so we're in the world of "externals" (as nushell calls them). That means `ls -d` is the _external_ `ls`. You can run `^ls -d` to see that it just emits a dot. In a

[2020-09-18 18:34] jonathandturner commented on #2567
@gillespiecd that sounds like a good place to put it.

[2020-09-18 18:39] jonathandturner commented on #2545
In theory, this should be detect-able. I *think* this is the area that you'd change:

https://github.com/nushell/nushell/blob/main/crates/nu-cli/src/cli.rs#L528-L530

[2020-09-18 19:30] LhKipp commented on #2514
Agree!

Thanks for pointing out the zsh extended globbing syntax :). Valid example!

[2020-09-18 19:42] jonathandturner commented on #2511
Closed with #2529

[2020-09-18 19:42] #2511 closed

[2020-09-18 19:51] #2519 closed

[2020-09-18 22:00] tiffany352 opened #2572 "Rich clipboard support"
**Is your feature request related to a problem? Please describe.**
I want to clip NuShell table output in a way that I can easily paste it into Google Sheets, Confluence, etc.

**Describe the solution you'd like**
[code]
Make it so when you pass a table to clip it automatically fills the clipboard with relevant MIME types.

For example, if I copy some cells from Google Sheets and put it into [this

[2020-09-18 23:48] #2567 closed

[2020-09-19 01:45] coolshaurya opened #2574 "random integer panics when min number is greater than or equal to the max number"
**Describe the bug**
`random integer` panics when min number is greater than or equal to the max number.

[code]
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
run `random integer --min 2 --max 2` and `random integer --min 10 --max 1`

**Expected behavior**
If the minimum number is greater than the maximum number then error, otherwise if the minimum number is equal to the maximum

[2020-09-19 14:06] radekvit opened #2577 "Add passthrough mode to benchmark"
**Is your feature request related to a problem? Please describe.**
Sometimes, I would like to benchmark a specific part of a pipeline.
The current `benchmark` command throws the original output of the block away.
I would like to add a mode `-p, --passthrough` that would print the benchmark results to stdout and pass the result structured data through:
`echo 1..5000 | benchmark -p { sleep 500ms } |

[2020-09-19 18:30] Mart-Bogdan commented on #2568
Nice, didn't know about ^ [(command escaping)](https://www.nushell.sh/book/en/escaping.html) and about **benchmark**

Does the benchmark covered somewhere in the book?

[2020-09-19 19:09] Mart-Bogdan commented on #2568
![image](https://user-images.githubusercontent.com/775038/93687250-cc84a300-fac4-11ea-9d7e-291f87993fa5.png)
It works, thanks!

[2020-09-19 19:09] #2568 closed

[2020-09-19 19:11] Mart-Bogdan commented on #2568
I'm wondering what is idle time?

[2020-09-19 19:35] radekvit commented on #2568
@Mart-Bogdan It is the total available CPU time during execution, for all cores.

For example, if you have 2 CPU cores and 1 of them worked at 50% during your task, and the other at 0%, you will get 1sec real time, 0.5sec user time and 1.5sec idle time.

[2020-09-19 20:37] #2561 closed

[2020-09-19 20:41] #2574 closed

[2020-09-21 02:02] coolshaurya commented on #999
I think it'd be nice to have _horizontal_ as well as vertical paging for stuff that has a lot of columns like `ls -l` or `echo $nu.env` without autopivot

[2020-09-21 07:56] #2545 closed

[2020-09-21 17:30] #2577 closed

[2020-09-22 07:09] jonathandturner commented on #2572
For people looking into this - I'm not sure which clipboard crates support richer input, but this would be a cool feature if we can find one that supports it. When I originally implemented `clip` I just grabbed the first one I saw without looking for rich copy/paste support. Should be okay to swap them out if we can keep it generally cross-platform.

[2020-09-22 07:29] jonathandturner commented on #2564
Looks like this works now

[2020-09-22 07:29] #2564 closed

[2020-09-22 07:38] Delapouite opened #2589 "Implement from / to JWT commands"
**Is your feature request related to a problem? Please describe.**
JSON Web Token https://tools.ietf.org/html/rfc7519 is one the popular format to exchange authorization or authentication data in protocols like OAuth or OpenID Connect. At first, the token is not supposed to be interpreted by a human, but inspecting its content is often useful to debug and confirm info like the issuer, the expirati

[2020-09-22 13:59] luccasmmg commented on #2531
I don't think i quite understand the problem, so if someone can help me i would be happy to take this issue, if i'm understanding correctly, the issue is that if i for instance concat a "rm *" with another command (Ex: rm nonexistentfile | ls) the shell will jus show the "no valid paths" error. And the desired outcome is that if the -f is set (Ex: rm -f nonexistentfile | ls) the shell will give th

[2020-09-22 16:24] luccasmmg commented on #2531
Yes thanks for the explanation, i think i can take this issue, i can probably in two or three days get a solution, would that be ok?

[2020-09-22 18:18] thegedge commented on #2531
@luccasmmg definitely ok! I'll assign it to you.

[2020-09-22 21:11] #2531 closed

[2020-09-23 01:56] tikue opened #2592 "Table literals with nested tables incorrectly parse header as separate rows"
**To Reproduce**
[code]

**Expected behavior**
[code]

**Configuration**
 - OS: Mac
 - Nu version: 0.20.0
 - Optional features: none

[2020-09-23 12:00] yanganto commented on #2531
@luccasmmg Thanks for fix on this

[2020-09-23 16:09] thegedge commented on #2592
So what's interesting here is that I would have expected an error for what you describe. To expand what this looks like from a table literal perspective:

[code]

Notice how the first row is `[edit_mode max_history_size]; [vi 100]`, which isn't a valid literal. When you add one more set of square brackets, you get close to what one would expect:

[code]

The second part is correct, but it's imposs

[2020-09-23 19:24] ryanpcmcquen opened #2593 "`config.toml` path changed in 0.20.0"
**Describe the bug**
`config path` now points to: `"$HOME/Library/Application Support/org.nushell.nu/config.toml"`, in `0.19.0` and earlier it was: `"$HOME/Library/Preferences/org.nushell.nu/config.toml"`

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from 0.19.0 or earlier to 0.20.0.
2. Notice that your config is gone.

**Expected behavior**
We should probably add this to breaking

[2020-09-23 19:50] ryanpcmcquen commented on #1275
@fdncred or @thegedge, is there any way to enable fuzzy completion in 0.20.0? I'm using the version from Homebrew ... do I need to compile it from source? How can I check what features are enabled on this build?

[2020-09-23 20:52] fdncred commented on #1275
@ryanpcmcquen I use zoxide on windows and it works pretty good. You can see some tips and tricks [here](https://github.com/ajeetdsouza/zoxide/issues/69).

[2020-09-23 20:55] ryanpcmcquen commented on #1275
Seems that `[line_editor] completion_type = "fuzzy"` just defaults to `list` on my install. Is that expected behavior?

[2020-09-23 20:57] fdncred commented on #1275
I don't use `fuzzy` as a completion option. That option is built for `skim` which we don't support in nushell because it's not cross platform.

[2020-09-24 01:40] samuelvanderwaal opened #2596 "Hangs when command is followed by a Unix line ending character."
**Describe the bug**
NuShell native and external commands hang when followed by a newline/linefeed character.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a text editor.
2. Type `ls` followed by the `Enter` key.
3. Copy paste the entire text including the line return to the command line.
4. NuShell will try to execute the command immediately but hang and do nothing.
5. Tested on a va

[2020-09-24 01:54] jonathandturner commented on #2596
Doing some experimenting, this looks like an issue in rustyline.. When I do the repro in rustyline's example, I can get the same behavior, which means I have to manually hit enter after the paste to go to the next line.

It may be related to https://github.com/kkawakam/rustyline/issues/202 though might be worth filing a specific issue to see if it's the same.

[2020-09-24 01:56] jonathandturner commented on #2593
I'll add this to the breaking changes. Sorry about that.

We've been trying to find a supported directories crate, but unfortunately most had been abandoned until more recently.

[2020-09-24 03:00] ryanpcmcquen commented on #2593
No worries, it was an easy fix!

[2020-09-24 18:20] ryanpcmcquen commented on #1275
@fdncred, ah, I was confused because the config sample shows it as a choice:
https://github.com/nushell/nushell/blob/50cbf91bc56d37bdb145646f68f9478c2728007f/docs/sample_config/config.toml#L61

[2020-09-25 02:41] JosephTLyons commented on #2512
@samuelvanderwaal, I'm really sorry about my absence here.  I've been interviewing for multiple jobs and haven't had a lot of free time for Nushell.  That being said, I really don't know the best way of moving forward on this issue currently.  Maybe @jonathandturner or @thegedge would know of a good way to move forward.

[2020-09-25 03:36] samuelvanderwaal commented on #2512
No worries! I talked to Jonathan on Discord and will open a PR when I get a chance.

[2020-09-25 05:15] vksdev commented on #2263
Looks like rustyline development is very slow?

[2020-09-25 14:46] danilyanich commented on #2132
Hi everyone :wave:. Is this a relevant issue? If so, I'd like to work on it.

[2020-09-25 14:48] radekvit opened #2599 "Nu truncates u64 integers above 18446744073709550000"
**Describe the bug**
Nu doesn't correctly represent large numbers and unexpectedly truncates them to 18446744073709550000.

**To Reproduce**
Steps to reproduce the behavior:
1. `echo 18446744073709551615` prints 18446744073709550000
2. `random integer 18446744073709551615..18446744073709551615` prints 18446744073709550000

**Expected behavior**
Large integers are represented properly and not trunc

[2020-09-25 14:52] fdncred commented on #2132
+1 for asking. yes, it's relevant. I was hoping to replace our toml crate with toml_edit. I've done some [prototype work here](https://github.com/fdncred/toml_edit_test), just playing around with toml_edit. Feel free to use and abuse this code. The prototype code doesn't work the way I'd want it to in nushell but it may be helpful to look at for starting.

[2020-09-25 14:53] radekvit commented on #2599
From debug tracing, the integer gets truncated when converting the initial LiteBlock into ClassifiedBlock.

[2020-09-25 15:38] jansol commented on #389
Whatever solution ends up being used, it should also handle content with very long lines gracefully.

For example when using NixOS and doing `echo $nu.env` you currently get hit with a screen full of nothing but
`───┴────────────────────────────────────┴───────────┴────` because your PATH is 500 miles long due to the way Nix works (500 miles is an exaggeration, but a screen full of nothing but lin

[2020-09-25 22:57] #2239 closed

[2020-09-27 16:52] mhmdanas opened #2606 "Unmatched parens or quotes begin continuation without indicator"
**Describe the bug**
When `(`, `[`, `{`, `"`, ``, and `'` are unmatched with their counterparts, ~~Nu hangs~~ there's a continuation, but there's no indication of it at all.

**To Reproduce**
Many possible reproductions exists. Examples:
- `e(`
- `e (`
- `e ()(`
- `e (()`
- `e ))(`
- `e $(`
- `{)`

All bracket types and quote types produce the same behavior.

**Expected behavior**
~~Nu should repo

[2020-09-27 16:55] jonathandturner commented on #2606
If you're in the CLI, this behavior is expected, though unfortunately rustyline (the crate we use for line editing) doesn't give you an indicator that it's expected.  The unclosed paren allows you to continue typing on the next line and finish with the ending paren.  For example, it will let you type:

[code]

As three lines in the CLI.  I'd really like to rustyline to give us an indicator because

[2020-09-27 16:58] mhmdanas commented on #2606
First, thanks for the swift reply!

Second, yes, you're totally right. This is not actually a parsing issue like I thought. But as you say, there's no indication it's not a hang. Should I keep this issue open until it's clear this is not a hang?

[2020-09-27 17:01] mhmdanas commented on #2606
Actually, even #2521 is not a hang. This is a surprise.

[2020-09-27 17:03] mhmdanas commented on #2606
I was going to report another issue where repeated semicolons "hang" Nu, but now I see all my reports have pretty much the same cause. I apologize for the inconvenience.

[2020-09-27 19:27] fdncred opened #2607 "A more sql-like group-by"
**Is your feature request related to a problem? Please describe.**
I have a hard time remembering how to use `group-by` in `nushell` because I always end up with columns of rows or tables which I'm not looking for.

example:
`open movies-2.csv | select 'Lead Studio' 'Worldwide Gross' | group-by '"Lead Studio"' | pivot company gross_values`
[code]

**Describe the solution you'd like**
What I'd like

[2020-09-28 01:31] jonathandturner commented on #2606
@mhmdanas - no worries at all. I wonder if we should just rename this issue to be "Unmatched parens being continuation without indicator" or something like that?  That way we can turn this into an ask of the rustyline folks.

[2020-09-28 04:02] azriel91 opened #2608 "`select` for column names with spaces incorrectly keeps quote marks"
**Describe the bug**

When using quote marks to select a column name that contains spaces, the `select` command includes the literal quotes as part of the column name.

This means when using an operation that references column names afterwards (e.g. `sort-by`), one has to include literal quotes.

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Pipe a table with a multi word column n

[2020-09-28 04:23] kbd opened #2609 "Better ergonomics for command line usage from other shells"
I've recently been using `nu` happily for its table formatting. For example, I've been exploring the args to `git branch --format`:

[code]

Nu makes that output **much** easier to read! Though, I find myself frequently using idioms like `nu -c "cat | lines | split column ' '"`. In the Perl world, this is handled by [argument combinations](https://blogs.oracle.com/linux/the-top-10-tricks-of-perl-o

[2020-09-29 05:38] mhmdanas commented on #2606
That sounds reasonable.

[2020-09-29 07:23] xSke commented on #2461
Still on 0.19.0, but I'm not getting a backtrace from Nushell at all. Again can't repro this on PowerShell but using cmd.exe and setting RUST_BACKTRACE=1 just makes the issue happen as normal with on additional output. This doesn't seem to be a panic at all, given WT tells me `[process exited with code 3221225786]` - that exit code being `0xC000013A` or `STATUS_CONTROL_C_EXIT` (per https://stackov

[2020-09-29 07:26] xSke commented on #2461
@fdncred Update: can still reproduce on 0.20.0, unfortunately :/
![image](https://user-images.githubusercontent.com/16242158/94526462-d7160980-0235-11eb-8779-b8b22634a172.png)

[2020-09-29 08:50] JonathanArns commented on #2608
I am somewhat new to rust and nushell, but I would like to take a shot at this :)

[2020-09-29 09:04] demilich1 opened #2612 "mv allows moving a directory into itself"
**Describe the bug**
The **mv** command allows to move a directory into a subdirectory of itself. At least there is no error message but the end result is that the directory is gone (deleted)

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I would expect an error message of some kind, i.e. the standard linux **mv** command outputs
`mv: cannot move 'a' to a subdirec

[2020-09-29 09:32] jgelens commented on #2549
A temporary workaround for now:
``` direnv export json | from json | to toml | echo "[env]" $(char newline) $it | save .nu-env```

[2020-09-29 12:13] fdncred commented on #2461
@xSke Strange. I just did the same thing and it worked with a build from a couple days ago. I wonder what is different.
[code]

[2020-09-29 12:17] xSke commented on #2461
If more info about my environment helps, this is Windows Terminal 1.3.2651.0, Nushell 0.20.0 installed from scoop (https://github.com/ScoopInstaller/Main/blob/master/bucket/nu.json). This happens with any command, I just used `npm` as an example of something that executes slowly enough for me to hit Ctrl-C while running. And as mentioned before, I can *not* reproduce this running `nu` from PowerSh

[2020-09-29 12:38] luccasmmg commented on #2612
I would like to be assigned to this issue, if it is possible, will try to work on it tomorrow

[2020-09-29 15:49] fdncred commented on #2461
I can't figure out how to reproduce this problem.
I've used Windows Terminal 1.3.2651.0 and1.4.2652.0.
I've launched nu.exe
* from Win+R
* from both versions of windows terminal by setting nu up in the WT settings.json
* by launching cmd.exe and then running nu.exe
* by launching powershell.exe and then running nu.exe
* by launching pwsh.exe and then running nu.exe

In all situations I've tried Ct

[2020-09-29 15:51] xSke commented on #2461
Yes:

[code]

[2020-09-29 16:09] alexandrestein opened #2614 "Clip support non string value"
**Describe the bug**
I tried to clip some random value and calculation result but got an error.

**To Reproduce**
[code]
or
[code]
**Expected behavior**
Convert the int to string and get the string representation of the value into the clipboard.

**Screenshots**
![Screenshot from 2020-09-29 18-05-56](https://user-images.githubusercontent.com/5431025/94584134-88409200-027e-11eb-888a-61ea38a14bee.pn

[2020-09-29 19:45] pwnorbitals commented on #1130
how up-to-date is this issue ?

[2020-09-29 19:51] fdncred commented on #2461
So you should get the same `Terminate batch job (Y/N)?` that I do.

Do you get the same error if you build from main?

[2020-09-29 19:57] xSke commented on #2461
...I've worked it out. Looks like the key was that I installed Nushell through scoop, which wraps executables in a shim presumably to have a coherent PATH. I'm not sure what it's doing, but if I run nushell *directly* from the install directory, then the issue goes away? Which I guess is the solution, but this is still veeeeery weird. I'll close the issue and see if I have the energy to make an is

[2020-09-29 19:57] #2461 closed

[2020-09-29 21:00] #2608 closed

[2020-09-29 21:01] jansol opened #2615 "display return status of external programs"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when an application crashes with a segmentation fault or such and my shell just drops me into the prompt without saying what happened.

**Describe the solution you'd like**
I'd prefer a short message saying why the application terminated before the prompt, like bash does.

[2020-09-29 21:59] jonathandturner commented on #2596
Looks like there's a fix we can take for this, as part of our rustyline setup:

[code]

Let's see if that helps us work around this issue.

[2020-09-30 02:05] imranmaj commented on #2461
I'm not using scoop, but I'm still getting this error. It exits with:

```Error: Io(Os { code: 87, kind: InvalidInput, message: "The parameter is incorrect." })```.

[2020-09-30 06:53] jonathandturner commented on #1130
@pwnorbitals - looking through it, it's hard to see what still needs fixing and what needs documentation.

I think the unexpected arguments may still have cases that need fixing. Would be with exploring if someone wanted to see what we don't warn on.

[2020-09-30 13:04] fdncred commented on #2461
@imranmaj I've seen this error many times and it's usually due to a `rustyline` bug. There have been several of them fixed. My guess is that you're not using the latest version of nushell. If you are, please correct me.

[2020-09-30 13:24] gyakovlev opened #2618 "table output is vertical"
**Describe the bug**
I've built it on ppc64le system ( after fixing https://github.com/alkis/decimal/issues/52 )
for some reason output in the tables is vertical.

**To Reproduce**
Steps to reproduce the behavior:
1. `nu`
2. `ls`

**Expected behavior**
I expect output to be horizontal.

**Screenshots**
![image](https://user-images.githubusercontent.com/168902/94690432-96250000-02dc-11eb-99cf-6b689

[2020-09-30 13:32] fdncred commented on #2618
I've seen things like your screenshot before and it's usually because nushell's [crate that determines the terminal's width](https://crates.io/crates/term_size), `term_size` fails and returns the default of 20 columns wide. It might be worth testing `term_size` itself on your platform to see if it works.

The other error looks like the `chrono` crate is failing which appears to be an error message

[2020-09-30 13:43] gyakovlev commented on #2618
also tried in different terms (xterm console alacritty + tmux on top of some) - same result.
I'll try to dig it later if I  find time.

[2020-09-30 13:45] fdncred commented on #2618
It could very well be a bug in our term_width code that uses term_size. I have seen odd behavior in the past. Sorry that I can't quite pinpoint this for you.

[2020-09-30 16:21] gyakovlev commented on #2618
I see 3 ioctl errors coming before output coming from term_size
[code]
from term_size
[code]

so yeah, it's `dimensions()` returns nothing so default `20,20` gets assigned.
why it gets `ENOTTY` from ioctl on standard io descriptors though.

I've seen `TCGETS/TIOCGWINSZ/TIOCSWINSZ/termios` related bugs on ppc64 before, for example in `file` app
https://bugs.astron.com/view.php?id=168

this
https://

[2020-09-30 16:41] gyakovlev commented on #2618
also it somehow fixed `localtime` error, not sure how though... only thing different is fixup in `term_size` crate. but I built it without `extra` this time, maybe something in there uses chrono?
![image](https://user-images.githubusercontent.com/168902/94714507-b367c780-02f8-11eb-9e8d-60c4ea26bb5a.png)

[2020-09-30 16:58] alexandrestein opened #2620 "rm sockets"
**Describe the bug**
Can't remove sockets using `rm`:
[code]

**To Reproduce**
Have socket file and try to remove it.

**Expected behavior**
Simply remove the socket file as a regular file.

**Configuration (please complete the following information):**
 - OS: Linux Debian 10
 - Nu version: 0.20.0
 - Optional features:
   - default
   - clipboard
   - trash

[2020-09-30 17:22] fdncred commented on #2618
that's so strange. glad it's working for you. thanks for the research!

[2020-09-30 17:53] fdncred opened #2622 "prompt hook no longer works with some externals"
**Describe the bug**
My prompt stopped working with a particular commit. I used `git bisect` to figure out where it broke. Here are the results.
[code]

I use a somewhat complex prompt on windows in which I make calls to the external `git` and `zoxide`. Here's the setup.

Some aliases first
[code]
And here's the prompt
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Put the above conf

[2020-09-30 18:21] gyakovlev commented on #2618
actually I was wrong, still crashes in my homedir, I was just testing different one.
trying to figure out what's causing it.

[2020-09-30 19:00] imranmaj commented on #2461
Yes, I was on 0.18.1. I have updated to 0.20.0 and the issue seems to have been fixed. Thank you!

[2020-09-30 19:31] kbd commented on #2609
One more related suggestion for a command line flag that would make it easier to use Nu in a pipeline within other shells:

---

An additional idiom I find myself using with Nu is `cat | from {type} |`. For example, here's some `jq` I used last night (`cat test.json` substituting for real command):

[code]

For fun I wanted to see how that would translate to Nu:

[code]

Not bad, Nu is totally a g

[2020-09-30 19:41] gyakovlev commented on #2618
there's something here:
https://github.com/chronotope/chrono/issues/110

pinpointed it to my ~/Desktop directory

if it's present - it crashes.
if I `touch ~/Desktop` it no longer crashes.

it indeed has a very strange Access stamp very far in the future =)

[code]

looks like chrono bails out if it encounters that.
I don't know how I got this time on that file...

[2020-09-30 20:41] fdncred commented on #2618
lolz - year 4,461,565 - hope our code runs that long :)

[2020-09-30 21:53] jack-greenberg commented on #2596
Hi there! If no one else is working on this issue, I'd love to take a look! I am learning Rust currently and this will be my first open source contribution. Do you have any advice on where to get started?

[2020-09-30 23:41] gyakovlev commented on #2618
[code]

indeed, other tools also show it, but don't panic like chrono.

so epoch value is `140731247285392`

let's divide `LLONG_MAX` by `140731247285392`
it's around `65538.90635354418656539949` which is suspiciously close to `65535 / 0xFFFF`

also let's divide timestamp by `unit32_t` max
[code]
which is close to `32,767 / int16_t max`

and obviously with `uint32_t max`
[code]

so some userspace

[2020-10-01 01:01] #2612 closed

[2020-10-01 05:22] #2614 closed

[2020-10-01 06:08] pwnorbitals commented on #1703
How would one proceed to fix that ? Would a documentation update be sufficient. or did you have any idea about fixing it in code ?

[2020-10-01 06:35] pwnorbitals commented on #2241
@gerred Could you make any progress on this issue ? I’d like to help get this issue fixed

[2020-10-01 06:37] pwnorbitals commented on #1817
I’d advocate for switching.

Well I can see it has issues of its own too (#893)

[2020-10-01 18:58] fdncred commented on #2132
@danilyanich I forgot to mention that I had a draft PR already on this - feel free to use it or not use it - it's #2492

[2020-10-01 23:21] thegedge commented on #2620
If I had to guess, we're doing a "not a file" check and assuming "not a file" = directory. Given that assumption, I'll say this is probably an easy fix 🤞

Thanks for reporting!

[2020-10-02 01:13] #2518 closed

[2020-10-02 04:50] #2620 closed

[2020-10-02 15:38] fdncred commented on #2241
@gerred Any updates? If not, we can  assign this to @pwnorbitals to help out.

[2020-10-02 15:43] ngraham20 commented on #2357
Is this issue still open for contributions? I see that a PR was submitted a bit ago. What still needs doing and may I give a crack at it?

[2020-10-02 19:17] fdncred commented on #2615
Do you mean like catching the return status of external programs?

[2020-10-02 19:22] fdncred commented on #2609
I find it interesting that you're using `nu` like a program to parse data like `jq` by always using the `nu -c`.  Most people's use case is they use `nu` as a shell and work in it. I'm not saying that what you're suggesting is wrong or anything like that, just different. I wonder how many people exclusively use `nu` like `nu -c blah`.

[2020-10-02 19:23] fdncred commented on #2593
@ryanpcmcquen is it ok that we close this?

[2020-10-02 19:30] ryanpcmcquen commented on #2593
@fdncred, yep!

[2020-10-02 19:30] #2593 closed

[2020-10-02 19:33] davidarmstronglewis commented on #2485
I'm not so sure this is a nushell bug. I use starship with zsh and when I run `starship prompt` from within zsh I get a similarly messed up output. Has anyone interacted with the starship folks about this or know if there's an issue open on their end with regards to this?

[2020-10-02 21:44] kbd commented on #2609
I think it's Nu's explicit intention to be, in addition to a shell, a user-friendly system scripting language focusing on ad-hoc data-analysis. See these tweets from the past day by Andrés: https://twitter.com/andras_io/status/1311824167914934273

I don't see switching away from my very comfortable Zsh config anytime soon. Zsh is a great shell. I'm still really psyched about Nu. Even just as a for

[2020-10-02 22:33] jansol commented on #2615
Yes, that seems to be the way to handle this on *nix.

[2020-10-03 06:27] jonathandturner commented on #2622
@fdncred is this fixed now?

[2020-10-03 11:22] s-e opened #2633 "scoop install does not include ps and sys built-ins"
On Windows 10 (using Windows Terminal), Running `scoop install nu` results in a build (of 0.20.0) that apparently doesn't include `ps` or `sys` built-in commands, which is unfortunate as scoop is listed on the front page of the website as an installation method.

![image](https://user-images.githubusercontent.com/444502/94990263-976f5a80-0572-11eb-919e-99cf1caedc1f.png)

![image](https://user-imag

[2020-10-03 11:48] fdncred commented on #2633
I think this is because the plugin exe names changed recently to nu_plugin_extra and nu_plugin_core and the wix installer is not including them.

[2020-10-03 11:54] pwnorbitals commented on #2427
Love the idea too. I think we should start by listing the common commands (and use cases) and their `nushell` alternative. This could then be translated to rules we could apply in-code to warn the user

[2020-10-03 12:02] pwnorbitals commented on #637
I agree with the caching, but we may need a way to force a read if the contents are edited from outside nushell

[2020-10-03 16:12] fdncred commented on #2622
@jonathandturner Just tested. Looks good. All is working now.

[2020-10-03 16:12] #2622 closed

[2020-10-03 16:56] #2633 closed

[2020-10-04 03:45] JosephTLyons commented on #2357
It does seem that https://github.com/nushell/nushell/pull/2360 was the solution to the issue here, so I will close this out.

[2020-10-04 03:45] #2357 closed

[2020-10-04 05:37] JosephTLyons commented on #2081
Closed by https://github.com/nushell/nushell/pull/2249

[2020-10-04 05:37] #2081 closed

[2020-10-05 19:17] fdncred commented on #2241
@pwnorbitals I assigned you. Have at it.

[2020-10-05 22:39] jansol opened #2639 "Shell becomes unusable after some exploring with (tab) autocompletion"
**Describe the bug**
I was trying to parse filenames from the output of a command with the intention of passing them to another utility to read a checksum field from them, tried exploring the available builtins with tab completion and after a few failed attempts nu was using a gigabyte of RAM according to KSysGuard and became unusably slow (even typing would take 5s to register or not register at

[2020-10-05 23:12] fdncred commented on #2639
There were some changes in the 0.20 release. Could you try that version, or even the latest source, to see if the problem still exists?

[2020-10-06 04:12] pwnorbitals commented on #1007
To be honest, I’m not sure this issue is of any use : clean code (self-describing, commented, documented) is and will always be an issue, and it’s hard to track. Specific tools exist for this, though, if we really want to track something... but a generic issue doesn’t make a lot of sense imo

[2020-10-06 17:27] #2484 closed

[2020-10-06 17:30] #2599 closed

[2020-10-06 18:51] ngraham20 commented on #2596
@jack-greenberg have you started on this or are currently working on it? I'm also interested in this issue if not. If you are, I'll find another issue :)

[2020-10-07 05:27] pwnorbitals commented on #1243
This can also be organized at conferences / IRL meetings when possible, let the testing users try and feedback in-person. surveys and forms are inherently biased, and organizing user reachout campaigns on social networks and IRL might we a good way to avoid it, as long as we can transform the feedback into useful data afterwards.

[2020-10-08 00:28] zbraniecki opened #2648 "Support for mercurial bookmarks"
**Is your feature request related to a problem? Please describe.**

No, it's a regular feature request.

**Describe the solution you'd like**

Similarly to git branches, mercurial uses bookmarks. It would be great to have support for them in nushell just like we have support for git branches.

**Describe alternatives you've considered**

I was using zsh before and it has mercurial support, but I'm

[2020-10-08 00:53] zbraniecki opened #2649 "New terminal opens always in home directory when called from Tilix"
**Describe the bug**
When a terminal is open to some directory in Tilix and I open a new one, bash and zsh will open it in the same directory as the previous terminal, but after setting Nushell as the default it always opens in home directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Install tilix
2. Set nushell as the default shell with `chsh`
3. Open terminal in tilix
4. Navigate to

[2020-10-08 02:24] jack-greenberg commented on #2596
Hey @ngraham20! I haven't done anything, mostly because I am not sure where to start haha. Feel free to go ahead, and I'll follow along so I can see what you do!

[2020-10-08 03:20] Anthuang commented on #2557
Hey, first time contributor here, happy to give this a shot if this is something I could tackle?

[2020-10-08 10:12] fdncred commented on #2557
Thanks. I'm assigning to you. I've researched this a bit myself and in order to do this, it looks like, we may have to switch away from the csv crate we're using. I'd be happy for you to prove me wrong.

[2020-10-08 10:14] fdncred commented on #2648
Can you expand on this support a bit? Do you mean adding support in the prompt or somewhere else?

[2020-10-08 10:25] fdncred commented on #2649
It looks like tilix must be [passing the path](https://github.com/gnunn1/tilix/blob/af24bb68a0fed78c6b0a2f1efc4617887752ce30/source/gx/tilix/terminal/terminal.d#L2676) to the terminal but I'm not sure exactly how it works under the hood.

[2020-10-08 20:15] Anthuang commented on #2557
It seems like there is no intention of supporting multi-character delimiters in the `rust-csv` crate. Also, it seems like generally multi-character delimiters aren't supported, e.g. in Python:
[code]

[2020-10-08 20:54] fdncred commented on #2557
I've used them for years and they are supported with proper tools. I do it a lot with SQL Server imports because sometimes people give complete garbage data, so in order to use a fool-proof ETL process you have to use multi-character delimiters so that you can be sure that there your delimiter is not mistaken. I try my best not to use python that much but I bet there's a way to use multi-character

[2020-10-08 21:28] Anthuang commented on #2557
Got it, that's a valid point. I've just checked with Pandas and it seems like it's very much supported! I will ask upstream and see if they have any intention of supporting it.

[2020-10-08 21:41] zbraniecki commented on #2648
When I'm in a directory with git repo, I see:

[code]

where `(master)` is a git branch I'm on.

When I'm in mozilla-unified directory, I see:

[code]

while I'd like to see:

[code]

where `central` is my bookmark.

I assume that what git does is that it checks if there's a `.git` directory in the path and then calls `git branch` and shows it. For mercurial you'd check if there's `.hg` directory

[2020-10-08 22:34] Anthuang commented on #2557
Also, for the use case listed in the issue description, this works:

[code]

[2020-10-09 06:27] #2400 closed

[2020-10-09 12:44] fdncred commented on #2648
One possible solution to this is to modify your prompt by editing the `config.toml` file.

In mine I have something like this:
```# prompt = "= `{{$(git_br)}}`"```

`git_br` is an alias that looks like this:
`"alias git_br [] {echo [ $(ansi gb) $(pwd) $(ansi reset) '(' $(ansi cb) $(do -i { git rev-parse --abbrev-ref HEAD  } | str trim | str collect ) $(ansi reset) ')' $(char newline) $(ansi yb) $(

[2020-10-09 12:49] fdncred commented on #2557
@Anthuang yes, that may work in non-windows environments, up until the point where you have a pipe character in any of your columns. Here's the output of that command on windows.
[code]

I have learnd that `git log --pretty=format` behaves differently on mac/linux/windows. I'm not sure why.

[2020-10-09 16:24] RedlineTriad commented on #2036
This can probably be closed, but it seems #2160 didn't have a `close` or `fixes` before the PR number so it didn't get auto-closed.

[2020-10-09 16:48] jonathandturner commented on #711
Let's go ahead and close this, and we can reopen when we can get a list

[2020-10-09 16:48] #711 closed

[2020-10-09 16:49] jonathandturner commented on #2036
@RedlineTriad good catch.

[2020-10-09 16:49] #2036 closed

[2020-10-09 20:28] Anthuang commented on #2557
Interesting, I can't seem to reproduce that on my Windows machine. Does this only happen on Nushell, or just in any shell?

[2020-10-09 20:53] fdncred commented on #2557
I'm using this version of nushell

|version|commit_hash|features|
|-|-|-|
|0.20.0|153320ef335d96a35d8a61d6c11767ebd09c3284|default, clipboard, trash|

with this version of windows `Microsoft Windows [Version 10.0.19041.508]`

with this version of `Windows Terminal Preview 1.4.2652.0`

Well, i can't run `from csv --headerless --separator "|"` in any other shell, but if I take that off powershell lo

[2020-10-09 21:12] gillespiecd commented on #2349
I believe this should be fixed by https://github.com/nushell/nushell/pull/2652

I was able to run this without issue:
[code]

[2020-10-10 03:27] jonathandturner opened #2657 "Table wrap of a utf-8 value gives incorrect width"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. See above

**Expected behavior**
The above should be able to have the table properly aligned

**Screenshots**

![Screenshot from 2020-10-10 15-51-07](https://user-images.githubusercontent.com/547158/95644087-7679ad00-0b10-11eb-8bd7-85bbc82c4435.png)

[2020-10-10 05:30] #1470 closed

[2020-10-11 15:27] jankoprowski commented on #2515
I built nu from latest sources under Windows today and I do not see repro.

OS: `Windows 10`
Command used to build nu: `cargo build`

![image](https://user-images.githubusercontent.com/125283/95682690-f114fc00-0be6-11eb-8edf-1a29f16fd8b3.png)
![image](https://user-images.githubusercontent.com/125283/95682708-0d189d80-0be7-11eb-86f4-8768338fe0a5.png)

[2020-10-11 17:09] jankoprowski commented on #2240
`.\file.bat` works for me:

![image](https://user-images.githubusercontent.com/125283/95684964-33453a00-0bf5-11eb-98f1-2014450796ec.png)

[2020-10-11 22:47] jansol commented on #2639
Can't repro on 0.20.0

[2020-10-11 22:47] #2639 closed

[2020-10-12 20:08] wcarss commented on #2596
Sorry to scoop the issue @ngraham20, in case you were in the middle of working on it.

I think @jonathandturner's paste above got clipped a little. In the linked thread, @erikgrinaker says to try:
[code]
and that seems to go roughly here: https://github.com/nushell/nushell/blob/main/crates/nu-cli/src/cli.rs#L672

As a penance for scooping the issue, I wrote up my process of finding and making this

[2020-10-12 20:11] ngraham20 commented on #2596
All good, I hadn't started yet 👍🏻

[2020-10-12 20:29] gerred commented on #2241
Thanks @pwnorbitals for taking this on - I'm doing a bit of a sabbatical and wasn't checking up on this issue.

[2020-10-12 21:08] thegedge opened #2660 "Signature-based completions"
Tracking issue for https://github.com/nushell/rfcs/pull/2

I started some work here to move us towards fully implementing this PR, but due to a lack of time I may not be able to fully take on this work right now.

Things left to do:

1. Improve the mapping of the parse result + cursor position to a "completion location". There are some heuristics and hacks to get it working right now, but I'm thin

[2020-10-13 03:54] andrasio commented on #2268
I believe this is fixed. Please reopen if not.

[2020-10-13 03:54] #2268 closed

[2020-10-13 03:54] #2267 closed

[2020-10-13 03:55] #2211 closed

[2020-10-13 03:56] andrasio commented on #2092
All implemented it seems. Please re-open if not.

[2020-10-13 03:56] #2092 closed

[2020-10-13 03:57] andrasio commented on #2000
@xolve Hey, how are we doing?

[2020-10-13 03:59] #1883 closed